input.form-control,
button {
  box-shadow: none;
  outline: none;
}

input.form-control:focus {
  box-shadow: none;
  outline: none;
}

button:focus {
  box-shadow: none;
  outline: none;
}
.btn_style {
  width: 120px;
  min-height: 36px;
  /* line-height: 18px; */
  background: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-family: "poppins";
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 600;
  color: #53b2e8 !important;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.icon-information{
  color: #53b2e8 !important;

}
.btn_style:hover {
  color: #fff !important;
  background-color: #77c6e9;
}

.custom_select {
  height: auto;
  display: inline-block;
  border-radius: 20px !important;
  min-width: 200px;
  min-height: 52px;
  line-height: 52px;
  border: 1px solid #e5e9ec;
  margin: 0;
  padding: 0;
  width: 100%;
}
.custom_select:hover{
  border: 1px solid #53b2e8;
}
header {
  background-color: #fff;
  padding: 19px 35px;
  box-shadow: inset 0px -1px 0px #e5e9ec;
}

header .logo {
  max-width: 136px;
}

header .logo img {
  max-width: 100%;
}

.content_outer {
  padding-top: 45px;
  padding-bottom: 36px;
}

.breadcrump_top a {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #777cea;
}

.breadcrump_top a span {
  color: #494949;
  font-size: 14px;
  margin-right: 3px;
}

.page_heading {
  margin-top:50px;
}

.page_heading h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  color: #494949;
  margin-top: 15px;
  text-transform: capitalize;
  word-break: break-word;
text-align: center;
}

.side_bar .progress-title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  margin: 0 0 20px;
}

.side_bar .progress {
  height: 8px;
  background: #e5e9ec;
  border-radius: 2px;
  box-shadow: none;
  margin-top: 55px;
  overflow: visible;
}

.side_bar .progress .progress-bar {
  position: relative;
  -webkit-animation: animate-positive 2s;
  animation: animate-positive 2s;
  overflow: visible;
  width: 0%;
  background: #53b2e8;
  border-radius: 20px;
}

.side_bar .progress .progress-value {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #53b2e8;
  position: absolute;
  top: -15px;
  right: 0px;
}



.initial-alpha-profile {
    position: relative;
    background: #dcf3ff;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    display: block;
    margin: 0px auto;
    text-align: center;
    overflow: hidden;
}
.initial-alpha-profile h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #53b2e8;
  font-size: 50px;
  line-height: 75px;
  font-weight: 700;
  font-family: "poppins";
  text-transform: capitalize;
}


@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

.side_bar {
  width: 100%;
  max-width: 232px;
  display: inline-block;
  padding-right: 30px;
  border-right: 1px solid #C4C4C4;
  margin-right: 40px;
}

.side_bar .complete_score {
  margin-top: 7px;
}

.side_bar .complete_score p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #494949;
}

.side_bar .complete_score p span {
  color: #fa627d;
  float: right;
  font-size: 14px;
}

/* side menu css start */

.side_menu {
  margin-top: 30px;
}

.side_menu ul li {
  margin: 0 0 5px 0;
}

.side_menu ul li:last-child {
  margin: 0;
}

.side_menu ul li a {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
  padding: 9px 16px;
  display: inline-block;
  width: 100%;
  border-radius: 30px;
}

.side_menu ul li a {
  position: relative;
  transition: 0.8s;
}

.side_menu ul li a.active,
.side_menu ul li a:hover {
  background: rgba(238, 249, 255, 1);
  box-shadow: inset 0px -1px 0px #e5e9ec;
  color: #53b2e8;
}

.side_menu ul li a.active::after {
  background-color: #777cea;
}

/* start content_right css */

.MainContent {
  display: flex;
}

.content_right {
  width: 100%;
  float: right;
  /* max-width: 855px; */
}
.content_right.content-right-overflow{overflow: hidden;}

.content_right .personal_details {
  background: #f2f2f2;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 50px 70px 40px 70px;
  margin-top:50px;
}

.content_right .guardian_outer {
  background: transparent;
  box-shadow: none;
  padding: 0;
  border-radius: 0;
}

.content_right h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;
  color: #494949;
  margin: 0;
}

.details_form {
  display: inline-block;
  max-width: 440px;
  width: 100%;
  margin-top: 21px;
}

.details_form .form-group {
  position: relative;margin-bottom: 10px;
}

.details_form .form-group .mat-form-field {
  width: 100%;
}

.details_form .form-group .mat-chip.mat-standard-chip {
  background:  #ffffff;
  border-radius: 40px;
  border: solid 1px #53b2e8;
  color: #53b2e8;
}

.details_form .form-group .mat-chip.mat-standard-chip .mat-chip-remove {
  color: #53b2e8;
  opacity: 1;
  margin-bottom: 6px;
  margin-right: 2px;
}

.details_form .form-group.delete_account a {
  color: #53b2e8;
}

.details_form .form-group.delete_account {
  margin-top: 40px;
}

.form-group label {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  /* text-transform: capitalize; */
  color: #494949;
  padding: 0px;
  width: 100%;
}
.form-group .form-control,
.form-group input {
  width: 100%;
    min-height: 52px;
    height: auto;
    font-size: 13px;
    color: #494949;
    transition: 0.8s;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #E5E9EC !important;
    box-sizing: border-box;
    border-radius: 20px !important;
}
.form-group .form-control:hover,
.form-group input:hover{
  border: 1px solid #53b2e8 !important;
}
.modal_custom .modal-body {
  padding: 20px 15px 30px;
}
.mt-20{margin-top: 20px;}

.form-group textarea.form-control {
  min-height: 180px;
  resize: none;
}

.details_form .form-group .input_outer {
  position: relative;
}

.details_form .form-group .input_outer::after {
  position: absolute;
  /* content: "\e900"; */
  font-family: "poppins" !important;
  font-size: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 9px;
  color: #fa627d;
  opacity: 0;
}

.details_form .form-group .input_outer:focus::after,
.details_form .form-group .input_outer:focus-within::after {
  opacity: 1;
}

.form-group .form-control:focus,
.form-group input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #666;
}

.profile_img {
  max-width: 180px;
  max-height: 150px;
  width: 100%;
  height: 100%;
  float: right;
}

.profile_img img {
  max-width: 100%;
  min-height: 150px;
  object-fit: cover;
}

.profile_img.edit {
  background: #e5e9ec;
  border-radius: 4px;
  text-align: center;
  position: relative;
}

.profile_img a {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #494949;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile_img .icon-edit_profile {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  margin-bottom: 10px;
}

.back_arrow {
  font-size: 13px;
  line-height: 16px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #494949;
}

.bottom_arrow {
  /* padding: 11px 0;
  background: rgba(255, 255, 255, 0.1); */
  /* box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1); */
  width: 100%;
  margin-top: 30px;
}
span.parent-close {
  position: absolute;
  top: 40px;
  right: 20px;
}
.personal_details .social-icons img {
  height: 25px;
  width: 25px;
  margin-left: 10px;
}

.personal_details .social-icons {
  margin-top: 30px;
}

.back_arrow span {
  vertical-align: middle;
  margin-right: 14px;
}

/* .btn_style.save_btn {
  float: right;
} */

/* guardins page css */

.profile_list .list_box {
  display: inline-block;
  width: 100%;
  max-width: 120px;
  margin-right: 13px;
  margin-bottom: 20px;
}

.personal_details .margin_top {
  margin-top: 38px;
}
.margin_bottom{margin-bottom: 15px;}

/* .activity .media-left {
  max-width: 230px;
  max-height: 200px;
  position: relative;
}

.activity .media-left .share_icon {
  position: absolute;
  top: 12px;
  right: 14px;
} */
.media-left.size-increase.activity-imgs {
  max-width: 300px;
  width: 300px;
  height: 200px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.activity .media-left img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}
.activity .media-left img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.activity .media-body {
  padding: 20px;
  padding-left: 26px;
}

.list p {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #494949;
}

.list p img {
  margin: 0 8px 0 0;
  vertical-align: middle;
}

.activity .media-body h3 {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #53b2e8;
}

.activity .media-body h2 {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.001em;
  color: #53b2e8;
  margin: 0;
}

.recomend_images {
  margin-top: 10px;
}

.recomend_images a {
  margin-right: 10px;
}

.recomend_images a:last-child {
  margin: 0;
}

.recomend_images img {
  max-width: 21px;
}

.recomend_btn {
  margin-top: 28px;
}

.recomend_btn a {
  min-width: 104px;
  min-height: 20px;
  font-size: 12px;
  color: #f15c20;
  line-height: 20px;
  border: 1px solid #f15c20;
  border-radius: 3px;
  padding: 0 8px;
  transition: 0.8s;
}

.recomend_btn a:hover {
  background-color: #f15c20;
  color: #fff;
}

.details_outer {
  margin-top: 40px;
}

.details_outer .row {
  margin-bottom: 30px;
}

.details_outer .list {
  margin-top: 9px;
}

.details_outer .list_outer {
  border: none;
  border-radius: 0;
  margin-bottom: 0;
}

.activity {
  border: 1px solid #e5e9ec;
  border-radius: 4px;
}

.rating_box {
  text-align: right;
}

.share_icon {
  text-align: right;
}

.share_icon a {
  margin-bottom: 10px;
  display: inline-block;
  width: auto;
  text-align: center;
}

.share_icon div {
  display: inline-block;
}

.share_icon .bookmark_icon {
  margin: 0 0 0 9px;
}

.rating_box a {
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  color: #494949;
}

.row.bottom_margin {
  margin-top: 26px;
}

.form-group .add_child {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
  margin: 13px 0 0 17px;
  display: inline-block;
}

.form-group .add_child .icon-plus {
  color: #53b2e8;
  font-size: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.media.account_name {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 21px 15px;
  margin-bottom: 6px;
}

.media.account_name .media-left {
  max-width: 46px;
  max-height: 46px;
  border-radius: 5px;
}

.media.account_name .media-left img {
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.media.account_name .media-body {
  padding-left: 24px;
}

.media.account_name .media-body h4 {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #777cea;
}

.media.account_name .media-body p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
  margin: 3px 0 0 0;
}

.form-group.add_interests .input_outer {
  border: 1px solid #e5e9ec;
  padding: 14px;
}

.form-group.add_interests .input_outer a {
  background: #777cea;
  border-radius: 40px;
  min-width: 119px;
  line-height: 30px;
  min-height: 30px;
  font-size: 12px;
  display: inline-block;
  text-align: center;
  color: #ffffff;
  margin-right: 2px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.form-group.add_interests .input_outer a:hover {
  background-color: #296eb9;
}

.form-group.add_interests .input_outer::after {
  content: none;
}

.form-group.add_interests .input_outer .icon-close {
  vertical-align: middle;
  margin-right: 13px;
  font-size: 15px;
  float: right;
  margin-top: 7px;
}

/* start search page css */

.search_portion {
  box-shadow: inset 0px -1px 0px #e5e9ec;
  background: #ffffff;
  display: inline-block;
  padding: 10px 45px;
  width: 100%;
}

.left_search {
  float: left;
}

.left_search input::placeholder {
  color: #e5e9ec;
}

.left_search input::-moz-placeholder {
  color: #e5e9ec;
}

.left_search input::-webkit-placeholder {
  color: #e5e9ec;
}

.right_search {
  float: right;
  padding-top: 6px;
}

.right_search a {
  display: inline-block;
  color: #c5ced6;
  font-size: 20px;
  margin: 0 0 0 11px;
}

.right_search a.active {
  color: #f15c20;
}

.switch.notification {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 17px;
  margin: 0 0 0 12px;
}

.switch.notification input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch.notification .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch.notification .slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch.notification input:checked + .slider {
  background-color: #f15c20;
}

.switch.notification input:focus + .slider {
  box-shadow: 0 0 1px #f15c20;
}

.switch.notification input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}

/* Rounded sliders */

.switch.notification .slider.round {
  border-radius: 34px;
}

.switch.notification .slider.round:before {
  border-radius: 50%;
}

.category_list {
  display: inline-block;
  width: 100%;
  padding: 10px 46px 17px;
  box-shadow: inset 0px -1px 0px #e5e9ec;
}

.category_list li {
  display: inline-block;
}

.category_list li a {
  font-size: 13px;
  color: #494949;
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0 15px;
  min-height: 36px;
  line-height: 36px;
  display: inline-block;
  margin-right: 7px;
  transition: 0.8s;
}

.category_list li a:hover,
.category_list li a.active {
  background-color: #ffb206;
  color: #fff;
  border-color: #ffb206;
}

.search_activity {
  padding: 0 0 0 46px;
}

.search_activity .list_left {
  padding-top: 20px;
  padding-right: 20px;
}

.search_activity .activity {
  margin-bottom: 8px;
  position: relative;
}

.search_activity .activity:last-child {
  margin: 0;
}

.search_activity .map_section img {
  max-width: 100%;
}

.select_avtar p {
  font-weight: 600;
  font-size: 10px;
  text-transform: capitalize;
  color: #c5ced6;
  margin: 14px 0 0 0;
}

.select_avtar {
  text-align: center;
  width: 100%;
  float: right;
  max-width: 180px;
}

.select_avtar a {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #777cea;
}

.select_avtar a img {
  margin: 0 0 0 5px;
}

header .navbar {
  padding: 0;
}

header .navbar-light .navbar-nav .nav-link {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  color: #494949;
  padding: 9px 0;
  margin-right: 25px;
}

header .navbar-nav .btn_style {
  font-family: "poppins";
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-weight: 600;
  font-size: 13px;
  color: #fff;
}

/* start activity_category css */

.activity_category {
  padding: 140px 0 54px 0;
}

.activity_category h2 {
  font-family: "poppins";
  font-weight: normal;
  font-size: 28px;
  line-height: 18px;
  color: #3d3789;
}

.activity_category_list {
  padding-top: 48px;
}

.activity_category .category_list_box {
  max-height: 276px;
  border-radius: 4px;
}

.category_list_box {
  overflow: hidden;
  position: relative;
}

.activity_category .category_list_box img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.category_list_box .category_title {
  position: absolute;
  bottom: 23px;
  left: 33px;
}

.category_list_box .category_title p {
  font-family: "poppins";
  font-weight: normal;
  font-size: 28px;
  line-height: 18px;
  color: #ffffff;
}

.category_list_box .category_title {
  position: absolute;
  bottom: 23px;
  left: 33px;
  z-index: 1;
}

/* start notifications page css */

.notifications h3 {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #53b2e8;
}

.notifications .switch.notification {
  margin: 14px 0 0 0;
}

.notifications .switch.notification input:checked + .slider {
  background-color: #53b2e8;
}

.ch-radio {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ch-radio * {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.ch-radio input[type="checkbox"],
.ch-radio input[type="radio"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.ch-radio input[type="checkbox"]:checked + span:before,
.ch-radio input[type="checkbox"]:checked ~ span:before,
.ch-radio input[type="radio"]:checked + span:before,
.ch-radio input[type="radio"]:checked ~ span:before {
  border-color: #53b2e8;
  background-color: #53b2e8;
}

.ch-radio input[type="checkbox"]:checked + span .ch-icon,
.ch-radio input[type="checkbox"]:checked ~ span .ch-icon,
.ch-radio input[type="radio"]:checked + span .ch-icon,
.ch-radio input[type="radio"]:checked ~ span .ch-icon {
  opacity: 1;
}

.ch-radio span {
  display: block;
  overflow: hidden;
  line-height: 16px;
  position: relative;
  padding-left: 30px;
  font-size: 13px;
  font-weight: normal;
  color: #494949;
}

.ch-radio span:before {
  content: "";
  background-color: transparent;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 15px;
  height: 15px;
  -webkit-transition: inherit;
  transition: inherit;
  border: 1px solid #c5ced6;
  border-radius: 1px;
}

.ch-radio span .ch-icon {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 9px;
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  line-height: 17px;
}

.check_list {
  margin-top: 23px;
}

.check_list .ch-radio {
  display: inline-block;
  margin-right: 44px;
}

.textarea_length {
  position: absolute;
  bottom: -4px;
  right: 12px;
}

.textarea_length p {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

/* VALIDATION ERROR  */

.form-error-msg {
  color: red;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}

/* matform chips css & ng-autocomplete*/

.form-group .input_outer .ng-autocomplete {
  width: 438px !important;
}

.form-group .input_outer .mat-form-field {
  width: 100%;
}

.form-group .input_outer .mat-chip.mat-standard-chip {
  background: #f15c20;
  border-radius: 40px;
  min-width: 119px;
  line-height: 30px;
  min-height: 30px;
  font-size: 12px;
  display: inline-block;
  text-align: left;
  color: #ffffff;
  margin-right: 2px;
  transition: 0.8s;
  margin: 0 0 0 11px;
  padding: 0 15px;
}

.form-group .input_outer .mat-standard-chip .mat-chip-remove.mat-icon {
  font-size: 0;
  opacity: 1;
  width: 0;
  height: auto;
  right: 27px;
}

.form-group .input_outer .mat-standard-chip .mat-chip-remove.mat-icon:before {
  content: "\e900";
  font-family: "poppins" !important;
  font-size: 15px;
  color: #ffffff;
}

.details_form .mat-form-field-infix {
  border-top: none;
  padding: 0;
}

.details_form .mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
  /* background-color: #f00; */
}

.mat-form-field-infix {
  border: none;
  padding: 0;
}

.demo-chip-list.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0 !important;
}

.form-group .input_outer .demo-chip-list {
  position: relative;
}

.form-group .input_outer .demo-chip-list .mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.form-group .input_outer .demo-chip-list::after {
  content: "";
  background-color: #fff;
  position: absolute;
  bottom: 18px;
  height: 4px;
  width: 100%;
}

::ng-deep.autocomplete-container .input-container .x i{
  display: none !important;
}

.my_class {
  display: none;
}

.profile_img {
  background: #e5e9ec;
  border-radius: 4px;
  text-align: center;
  position: relative;
}
/* 
.notifications {
  margin-top: 28px;
} */

.profile_outer {
  max-width: 148px;
  position: relative;
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto; 
}

.profile_outer .profile_image {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  overflow: hidden;
}

.profile_outer .profile_image img {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.profile_outer .edit_profile {
  background: #fa627d;
  border: 2px solid #ffffff;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.Children_table .edit_profile {
  width: 22px!important;
  height: 22px!important;
  line-height: 15px!important;
  left: 0;
  right: -60px;
  margin: 0px auto; 
}
.Children_table .edit_profile a label img {
  width: 10px;
}
.btn-bg-blue{
    color: #fff!important;
    background-color: #53b2e8!important;
    border-color: #53b2e8!important;
}

.mb-50{margin-bottom: 50px!important;}
.guardian_table .guardian_profile {
  width: 97px;
  height: 97px;
  border-radius: 50%;
  overflow: hidden;
}
.Children_table .page_heading .profile_outer {
  max-width: unset;
  padding: 0px;
}
.Children_table .page_heading {
  margin-top: 0;
}
.Children_table .content-childrenpart {
  padding: 0px 20px 0px 35px;
}
.Children_table .content-childrenpart p {
  font-size: 12px;
  line-height: 18px;
}
.Children_table .content-childrenpart .content-btn button.btn_style {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  min-height: unset;
  padding: 6px 12px!important;
  margin: 0px 10px 10px 0px!important;
}

.guardian_table tr td,
.guardian_table tr th {
  vertical-align: middle;
  border: none;
}

.guardian_table tbody tr {
  background: #f2f2f2;
}

.guardian_table tbody tr td {
  background: #f2f2f2;
}

.guardian_table tbody tr {
  position: relative;
}

.guardian_table .table {
  border-collapse: separate;
  border-spacing: 0 19px;
}

.guardian_table tbody tr td:first-child {
  border-radius: 20px 0 0 20px;
}

.guardian_table tbody tr td:last-child {
  border-radius: 0 20px 20px 0;
}

.guardian_table tr th {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
}

.guardian_table tr td {
  font-family: "Poppins";
  font-size: 16px;
  color: #4f4f4f;
  position: relative;
}

.guardian_table .guardian_profile img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.guardian_table .dropdown-menu {
  padding: 15px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: none;
  min-width: 180px;
  left: auto !important;
  right: -37px;
  top: -8px !important;
}

.guardian_table .dropdown button {
  background: transparent;
  border: none;
  box-shadow: none;
}

.guardian_table .dropdown button:focus {
  box-shadow: none;
  outline: none;
}

.guardian_table .dropdown .dropdown-toggle::after {
  content: none;
}

.guardian_table .dropdown .dropdown-toggle span.icon-more {
  color: #53b2e8;
}

.guardian_table .dropdown .dropdown-item {
  border-radius: 20px;
  padding: 8px 12px;
  color: #494949;
  font-size: 14px;
}

.guardian_table .dropdown .dropdown-item:hover {
  background: #eef9ff;
}

.guardian_table .dropdown .dropdown-item .icon {
  color: #53b2e8;
  margin: 0 13px 0 0;
  vertical-align: middle;
  font-size: 17px;
}

.details_form .form-group .word_limit {
  font-size: 13px;
  line-height: 18px;
  font-family: "poppins";
  position: absolute;
  right: 19px;
  bottom: 15px;
  color: rgba(0, 0, 0, 0.3);
}

.content_right .activity {
  border: none;
}
/* chat css starts */
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat li {
  margin-bottom: 40px;
  padding-bottom: 5px;
  /* border-bottom: 1px dotted #B3A9A9; */
  margin-top: 10px;
  width: 80%;
}

.chat li .chat-body p {
  margin: 0;
  /* color: #777777; */
}

.chat-care {
  overflow-y: scroll;
  height: 350px;
}
.chat-care .chat-img {
  width: 50px;
  height: 50px;
}
.chat-care .img-circle {
  border-radius: 50%;
}
.chat-care .chat-img {
  display: inline-block;
}
.chat-care .chat-body {
  display: inline-block;
  max-width: 80%;
  background-color: #f2f2f2;
  border-radius: 12.5px;
  padding: 15px;
}
.chat-care .chat-body strong {
  color: #0169da;
}

.chat-care .admin {
  text-align: right;
  float: right;
}
.chat-care .admin p {
  text-align: left;
}
.chat-care .agent {
  text-align: left;
  float: left;
}
.chat-care .left {
  float: left;
}
.chat-care .right {
  float: right;
}

.clearfix {
  clear: both;
}

/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
} */

/* ::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
} */

/* ::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
} */
.card.chat {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
  border-radius: 20px;
  padding: 10px;
  margin-top: 15px;
}
.card-body.chat-care {
  padding: 2px;
}
.col-md-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.row.contact1 .col-6 {
  padding-left: 5px !important;
}
.card.chat .card-header {
  color: #53b2e8;
  font-size: 14px;
  background-color: #fff;
}
span.three_dots {
  float: right;
}
.chat_time {
  font-size: 14px;
  color: #bdbdbd;
  text-align: center;
  padding-bottom: 10px;
}
.chat-body.clearfix.send {
  background-color: #eef9ff;
}
.card-footer {
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 20px !important;
  background-color: #ffffff;
  padding: 10px;
}
.card-footer .input-group input#btn-input {
  border: none;
}
span.add_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
span.add_file {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(0 0 0 / 0%);
  background-color: #ffffff;
} */
/* ::-webkit-scrollbar-thumb {
  display: none;
} */
.card.contacts {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 10%);
  border-radius: 20px;
  min-height: 477px;
  padding: 10px;
  margin-top: 15px;
}
.chat_searchbar {
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 20px !important;
  background-color: #ffffff;
  padding: 10px;
  display: flex;
}
.chat_searchbar input#btn-input {
  border: none;
}
span.search_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact_list {
  padding-top: 20px;
  overflow-y: scroll;
  height: 350px;
}
.contact_image svg {
  border: 1px solid #53b2e8;
  border-radius: 40px;
}
.contact_list .col-3 {
  padding-left: 0px;
  padding-right: 5px;
  display: flex;
  justify-content: center;
}
.contact_list .col-6 {
  padding: 0px;
}
.contact_name {
  font-size: 14px;
  color: #53b2e8;
}
.contact_msg {
  font-weight: 600;
  font-size: 12px;
  color: #828282;
}
.chat_time1 {
  font-size: 10px;
  color: #bdbdbd;
}

.row.contact1 {
  padding-bottom: 20px;
}
.img_msg_send {
  height: auto;
  width: auto;
  max-width: 200px;
}
.img_msg {
  height: auto;
  width: auto;
  max-width: 200px;
}

.no_chat {
  margin-top: 5px;
  font-family: "Poppins";
  color: #828282;
  text-align: center;
}
.disable_send {
  pointer-events: none;
}
.no_chat_img {
  max-height: 80px;
  max-width: 80px;
  margin: auto;
  margin-right: auto;
  margin-top: 30%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.grown-uptext h1 {
  display: flex;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #858585;
  justify-content: center;
  align-items: center;
  height: 475px;
}
/* chat css end */
.disable_next {
  background-color: #b5e4f9 !important;
  pointer-events: none !important;
}

@media (max-width: 991px) {
  .content_right .personal_details {
    padding: 47px 20px 38px 37px;
  }
  .content_right .personal_details {
    padding: 47px 20px 38px 24px;
  }
  .content_right h2 {
    font-size: 20px;
  }
  .side_bar {
    margin-right: 10px;
  }
  .content_right .personal_details {
    padding: 58px 34px 38px 50px;
  }
}

@media (max-width: 767px) {
  .my_class {
    display: block;
    position: absolute;
    right: 17px;
    margin: -19px 0 0 0;
    background-color: #ff4242;
    color: #fff;
    border: none;
    box-shadow: none;
    min-width: 47px;
    font-size: 25px;
    min-height: 16px;
    line-height: 36px;
  }
  .btn_style {
    width: 100px;
    min-height: 26px;
    line-height: 26px;
  }
  .side_bar {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #ffffff;
    width: 100%;
    max-width: 310px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block !important;
    z-index: 1;
    padding: 0 26px 20px;
    height: 100vh;
    overflow: hidden;
    scrollbar-color: #ddd #ccc;
    scrollbar-width: thin;
    overflow-y: auto;
  }
  .side_bar::-webkit-scrollbar {
    width: 6px;
    height: 4px;
  }
  .side_bar::-webkit-scrollbar-track {
    background: #ddd;
  }
  .side_bar::-webkit-scrollbar-thumb {
    background: #ccc;
  }
  .side_bar.side_bar_hide {
    left: 0;
    display: block !important;
    -webkit-box-shadow: 0 10px 16px 11px rgba(24, 87, 171, 0.08);
    box-shadow: 0 10px 16px 11px rgba(24, 87, 171, 0.08);
  }
  .MainContent {
    width: 100%;
  }
  .page_heading h2 {
    font-size: 21px;
  }
  .content_right .personal_details {
    padding: 15px 10px;
  }
  .content_right h2 {
    font-size: 18px;
  }
  .profile_list {
    text-align: center;
  }
  .profile_img {
    min-height: 150px;
  }
  .profile_img img {
    min-height: 150px;
  }
  .btn_style.save_btn.cursor {
    margin-top: 11px;
  }
  .bottom_arrow .btn_style.save_btn.cursor {
    margin-top: 0;
  }
  .personal_details .margin_top {
    margin-top: 38px;
    width: 100%;
    margin: 0;
  }
  .guardian_table {
    width: 100%;
    display: inline-block;
    overflow: hidden;
  }
  .guardian_table .table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  .guardian_table .guardian_profile {
    width: 77px;
    height: 77px;
  }
  .guardian_table .dropdown-menu {
    left: 0 !important;
  }
  .form-group .input_outer .ng-autocomplete {
    width: 100% !important;
  }
}

@media (max-width: 340px) {
  .side_bar {
    max-width: 250px;
  }
  .content_right h2 {
    font-size: 15px;
  }
  .btn_style {
    min-width: 75px;
    width: auto;
  }
  .form-group textarea.form-control {
    min-height: 134px !important;
  }
}

/* -------------------card---------------------------------------------------------- */
.description_text {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 50px 35px;
  margin-bottom: 50px;
  position: relative;
}

.description_text:last-child {
  margin: 0;
}

.media {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.activities_slide {
  background: #ffffff;
  border-radius: 20px;
  max-width: 321px;
  -webkit-filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.1));
  display: inline-block;
}
h2.description-activities {
  padding-bottom: 20px;
}
/* .imgsvg {
  filter: invert(61%) sepia(59%) saturate(442%) hue-rotate(159deg)
    brightness(95%) contrast(93%);
} */
.activities_slide .slide_image {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
  border-radius: 20px 20px 0px 0px;
  max-height: 321px;
  max-width: 100%;
}

.activities_slide .slide_image img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.activities_slide .slide_text {
  padding: 12px 19px;
}

.activities_slide .slide_text h3 {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 30px;
  color: #494949;
}

.activities_slide .slide_text .rating_box {
  float: right;
  font-size: 12px;
}

.activities_slide .slide_text .rating_box span {
  vertical-align: middle;
  margin-left: 6px;
  color: #494949;
}

.activities_slide .slide_text .date_age p {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  font-family: "poppins";
  color: #494949;
  margin: 0 13px 0 0;
  vertical-align: middle;
}

.activities_slide .slide_text .date_age p img {
  margin-right: 6px;
}

.activities_slide .slide_text .date_age p:last-child {
  margin: 0;
}

.activities_slide .slide_text .sports_btn {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.activities_slide .slide_text .sports_btn span {
  font-family: "poppins";
  background: #e2f5ff;
  display: inline-block;
  border-radius: 20px;
  min-width: 100px;
  min-height: 28px;
  line-height: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #53b2e8;
  padding: 0 10px;
  margin-right: 11px;
}

.description_text.slider {
  margin-top: 50px;
}

.activity .coding_text {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.activity .coding-text-2 {
  margin-left: 10px;
}
.activity .price-box span {
  color: #55b8f0;
}
.activity .coding_text h3 {
  padding-right: 10px;
  padding-left: 10px;
  line-height: 29px;
  border-radius: 20px;
  background-color: #e2f5ff;
  display: inline-block;
  color: #53b2e8;
  font-size: 11px;
  letter-spacing: 0.01em;
  text-align: center;
}

.rating_box {
  float: left;
}

.rating_box a {
  font-size: 12px;
  line-height: 16px;
  text-align: justify;
  color: #494949;
}
.list_outer.row .icon-grpcalender {
  display: flex;
  padding-top: 12px;
  padding-bottom: 5px;
}
.media.activity.spacing-media.ng-star-inserted .rating_box {
  margin-top: 3px;
}
.media-body.size-increase-123 .share_icon.sk-1234 {
  padding-right: 20px;
}
.media.activity.spacing-media.ng-star-inserted .price-box {
  padding-top: 5px;
}
/* .media-left.size-increase {
  max-height: 400px !important;
  max-width: 250px !important;
} */
.activity .media-left .share_icon {
  position: absolute;
  top: 12px;
  right: 14px;
}
.media.activity.spacing-media.ng-star-inserted {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 2px 4px rgba(0, 0, 0, 0.14);
  border-radius: 20px;
}

.share_icon.sk-1234 {
  float: right;
}

.check_list h5 {
  font-size: 10px;
}

.check_list {
  display: flex;
}

.btn_noti {
  position: relative;
  margin: 26px 0px 0px 0px;
}

.smsNoti {
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0px 0px;
}

/* children */

.guardian_outer.personal_details.children a.btn_style.save_btn.cursor {
  float: right;
}

.Children_table {
  padding: 20px 20px 20px 30px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 20px;
  /* padding-top: 35px;
  padding-bottom: 40px; */
  display: flex;
}
.guardian_table .dropdown {
  position: absolute;
  top: 20px;
  right: 30px;
}
.Children_table .page_heading h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.001em;
  color: #494949;
  text-align: center;
  text-transform: capitalize;
  margin-top: 5px;
  padding-left: 0px;
}
.Children_table .page_heading h3 {
  font-family: "Poppins";
  font-style: normal;
  letter-spacing: 0.001em;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #53b2e8;
  margin-left: -11px;
}
.page_heading.small-box {
  width: 25%;
  border-right: 1px solid #e0e0e0;
}
/* .Children_table .profile_outer {
  padding-left: 28px;
} */
.edit_profile.edit-12354 {
  background: #53b2e8 !important;
}
.content-childrenpart h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #494949;
  margin-top: 3px;
  margin-left: 8px;
}
.content-childrenpart h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px !important;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: #494949;
  margin-top: 3px;
  margin-left: 8px;
}
.Children_table .content-img img {
  width: 98px;
  height: 98px;
  border-radius: 100%;
  object-fit: cover;
}
.content-childrenpart .ist-contentimg {
  display: flex;
  align-content: center;
  margin-top: 6px;
}

.content-childrenpart p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #494949;
  padding-top: 20px;
}
.content-childrenpart {
  padding: 20px;
  width: 70%;
}
.content-btn button.btn_style.save_btn.cursor span {
  padding-right: 14px;
  padding-left: 10px;
}
.content-btn button.btn_style.save_btn.cursor {
  width: auto;
  padding: 0px;
  text-align: left;
  padding-left: 18px;
  padding-right: 18px;
  margin-left: 3px;
  margin-top: 5px;
}
.content-btn {
  padding-top: 10px;
}
.text-form {
  position: relative;
}
span.text-absolu {
  position: absolute;
  bottom: 14px;
  right: 34px;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #e5e9ec;
}
.text-form input.form-control {
  background: #ffffff;
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 9px;
  min-height: 84px !important;
}
.text-form .form-group textarea.form-control {
  min-height: 80px;
  resize: none;
}
.account-setting-modal {
  margin-left: 20px !important;
}
.notifications h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #494949 !important;
}
.notifications h3 label.switch.notification {
  margin-left: 10px !important;
}
.notifications h6 label.switch.notification {
  margin-left: 10px !important;
}
.notifications.down-spacing {
  display: flex;
  column-gap: 20px;
  padding-bottom: 80px;
}

.notifications.down-spacing h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #494949;
}
.modal_custom .modal-content.child-modal {
  border: none;
  background: #ffffff;
  border-radius: 20px;
}
.modal-content.child-modal .modal-body {
  padding-top: 50px;
}
.modal-content.child-modal .form-group label {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-transform: capitalize;
  color: #494949;
  padding-left: 0px;
}
.modal-content.child-modal .profile_outer .profile_image {
  width: 108px;
  height: 108px;
  margin-left: 12px;
}
.modal-content.child-modal .profile_outer .edit_profile {
  left: 100px;
}
span.parent-edit {
  position: absolute;
  top: 14px;
  right: 13px;
}

.modal-content.child-modal .form-group.interest label {
  font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    text-transform: capitalize;
    color: #494949;
    padding-left: 0px;
}
.beta-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.beta-heading h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #494949;
}
.beta-heading h2 {
  font-style: normal;
  font-weight: normal !important;
  font-size: 18px !important;
  line-height: 18px !important;
  letter-spacing: 0.005em;
  color: #53b2e8 !important;
  margin-right: 20px !important;
}
.beta-heading button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  background: #53b2e8;
  border-radius: 50px;
  border: 0px;
  padding: 8px;
  padding-left: 25px;
  padding-right: 25px;
}
.table-beta {
  margin-top: 30px;
}
.table-beta td {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
}
.table-beta th {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #757575;
  padding-bottom: 25px;
}
tr.beta-row {
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 20px;
}
.table-beta td {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #4f4f4f;
  padding-top: 30px;
  padding-bottom: 30px;
}
#betaInvite input.form-control {
  background: #ffffff;
  border: 1px solid #e5e9ec;
  box-sizing: border-box;
  border-radius: 20px !important;
}
#betaInvite label {
  padding-left: 10px !important;
}
#betaInvite .btn_style {
  float: none;
  padding: 4px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
  width: auto !important;
  font-family: "poppins";
}
/*Empty checkbox*/
.k-checkbox {
  background: transparent;
  color: white !important;
}

/*Checked checkbox*/
.k-checkbox {
  border-color: rgba(0, 0, 0, 0.08);
  color: transparent;
  background-color: #fff;
}
.k-checkbox {
  border-radius: 2px;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  line-height: initial;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-appearance: none;
}
.k-checkbox.k-checked::before,
.k-checkbox:checked::before {
  border-radius: 2px;
  -webkit-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
}
.k-checkbox::before {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: scale(0) translate(-50%, -50%);
  -ms-transform: scale(0) translate(-50%, -50%);
  transform: scale(0) translate(-50%, -50%);
  overflow: hidden;
  position: absolute;
  top: 54%;
  left: 48%;
  content: "\2713";
  font-family: "poppins";
}
.form-check.copy-link {
  padding: 0px !important;
  color: #53b2e8;
}
.checkbox-ask .form-check {
  padding: 22px;
  padding-left: 0px;
}
input#flexCheckDefault {
  border: 1px solid #53b2e8 !important;
  top: -2px;
}
.k-checkbox:checked {
  background: #53b2e8;
  color: white !important;
}
#betaInvite span.invite-clr {
  float: right;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #53b2e8;
}
#betaInvite h2.title {
  text-align: left;
}
#ImageModal .modal-body {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 0px;
}
#ImageModal .profile_image {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
    margin-right: auto;
    display: block;
}
#ImageModal .profile_image img {
  max-width: 100%;
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#ImageModal button.close {
  margin-left: auto;
    margin-right: 25px;
    margin-top: 10px;
}
#ImageModal .upload-btns button:first-child {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #53B2E8;
  border: 1px solid #53B2E8;
  box-sizing: border-box;
  border-radius: 50px;
  background: transparent;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
#ImageModal .upload-btns .save-new {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #fff;
  background: #53B2E8;
  border: 1px solid #53B2E8;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 50px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}
#ImageModal .upload-btns{
  margin-bottom: 30px;
  margin-top: 30px;
}
#ImageModal .modal-content {
  background: #FFFFFF;
  border-radius: 20px;
}


/**   new intrest child  **/

.small_boxes .my_box {
  box-sizing: border-box;
  /* border-radius: 20px; */
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
  object-fit: contain;
}
.small_boxes .col-3 {
  padding: 6px 4px;
  text-align: center;
  /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  .small_boxes .row {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .small_boxes {
    margin-top: 30px;
  }
  .box-border{
    border: 1px solid #c4c4c4;
    height: 90px;
    width: 90px;
    border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.category_lists span {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  letter-spacing: 0.001em;
  color: #858585;
  cursor: pointer;
}

.category_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  margin-bottom: 10px;
}


 /* search check box CSS  */
 .search-checkbox-info {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #53B2E8;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  padding: 15px 0px 15px 30px;
  margin-top: 4px;
}
.search-checkbox-div {
  padding: 5px 20px 5px 0px;
  max-height: 176px;
  overflow-y: auto;
}
.box-checkbox-txt {
  display: block;position: relative;
  padding-left: 20px!important;
  margin-bottom: 12px!important;
  cursor: pointer;
  font-family: 'Poppins'!important;
  font-style: normal;
  font-weight: 400!important;
  font-size: 14px!important;
  line-height: 21px!important;
  letter-spacing: 0.001em;
  color: #494949!important;
  text-transform: capitalize!important;
}
.box-checkbox-txt input {cursor: pointer;display: none;}
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 14px;
  width: 14px;
  padding: 5.5px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #494949;
  box-sizing: border-box;
  border-radius: 1px;
}
.checkmark:after {content: "";position: absolute;display: none;}
.box-checkbox-txt input:checked ~ .checkbox-txt{color:#53B2E8!important;}
.box-checkbox-txt input:checked ~ .checkmark:after {display: block;}
.box-checkbox-txt .checkmark:after {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 14px;
  height: 14px;
  background: #53B2E8;
  border: 1px solid #53B2E8;
  box-sizing: border-box;
  border-radius: 1px;
}
ul.ul-tag-checkbox-child {
  margin-left: 20px;
}
ul.ul-tag-checkbox-info ul.ul-tag-checkbox-child .checkmark {
  border: 1px solid #858585;
}
ul.ul-tag-checkbox-info ul.ul-tag-checkbox-child .checkbox-txt {
  color: #858585;
}
.my-saved-prodivers-section {
  margin-top: 35px;
}
.my-saved-prodivers-section h2.save-title-h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #494949;
  margin-bottom: 40px!important;
}
.my-saved-prodivers-info {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 20px;
  position: relative;
  display: block;
  padding: 40px;
  margin-bottom: 10px;
}
.media-top-txt-div .left-icon-h2 h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.001em;
  color: #494949;
  max-width: 280px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.media-top-txt-div {
  display: flex;
  -moz-column-gap: 10px;
  column-gap: 10px;
  align-items: center;
}
.media-top-txt-div img {
  width: 100%;
  max-width: 60px;
}

.my-saved-body-content .media-scroable {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
.my-saved-body-content .media-activity {
  min-width: 220px;
  max-width: 220px;
  border: 0px;
  margin: 0px;
  padding-bottom: 30px;
  position: relative;
  display: flex;
  align-items: flex-start;
}
.justify-content-right {
  justify-content: right;
}
.my-saved-body-content .media-top-txt-div a.btn-show-all-program {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.001em;
  text-decoration: underline;
  color: #53B2E8;
  cursor: pointer;
}
.my-saved-carousel-slider .media-scroable .media-body{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
  position: relative;
  border-radius: 18px;
  padding: 20px;
  margin-right: 5px;
  margin-left: 5px;
  min-height: 205px;
}
.my-saved-carousel-slider .media-scroable .media-body .media-right-icon-h2 {
  display: grid;
  grid-template-columns: auto 30px;
  margin-bottom: 10px;
}
.my-saved-body-content {
  border-bottom: 1px solid #E0E0E0;
  margin-bottom: 20px;
}
.my-saved-carousel-slider .media-scroable .media-body .media-right-icon-h2 h2.cursor {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  letter-spacing: 0.001em;
  color: #53B2E8;
  max-width: 100%;
  display: -webkit-box;
  min-height: 45px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.my-saved-carousel-slider .media-body .left-icon-box-media {
  display: grid;
  grid-template-columns: 15px auto;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 4px;
}
.my-saved-carousel-slider .media-body .left-icon-box-media p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #494949;
  padding-top: 2px;
}
.no-saved-content h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #494949;
  letter-spacing: 0.001em;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.no-saved-content {
  padding: 55px 0px;
}
.media-top-txt-div .share_icon a {
  margin-bottom: 5px;
}
.no-saved-content a.explore-link {
  text-align: center;
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.001em;
  text-decoration-line: underline;
  color: #53B2E8;
  cursor: pointer;
  text-transform: capitalize;
}
.grid-label-checkbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  align-items: center;
}
.mb-20{margin-bottom: 20px;}
 /* End search check box CSS  */


::ng-deep.chips-box span.mat-form-field-label-wrapper {
  display: none;
}
::ng-deep.mat-chip-list-wrapper{
  margin: 0px !important;
}

.star-daialogbox {
  top: 45px;
}

.my-saved-prodivers-info h3{
font-family: "Poppins";
font-size: 20px;
line-height: 30px;
color: #494949;
}
.list_outer .col-md-12:last-child .left-icon-box-media {
  margin-bottom: 0px!important;
}
.my-saved-prodivers-info .my-saved-body-content:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
/* start slider arrow css */
.my-saved-carousel-slider {
  position: relative;
  padding-bottom: 20px;
}
.my-saved-carousel-slider .left-resourcebtn .carousel-nav-icon,
.my-saved-carousel-slider .right-resourcebtn .carousel-nav-icon {
  height: 40px;
  width: 40px;
  background: #fff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  color: #494949;
  border-radius: 50%;
  top: 34%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
}
.my-saved-carousel-slider .left-resourcebtn .carousel-nav-icon {left: -20px;}
.my-saved-carousel-slider .right-resourcebtn .carousel-nav-icon {right: -20px;}
.my-saved-carousel-slider .left-resourcebtn .carousel-nav-icon svg,
.my-saved-carousel-slider .right-resourcebtn .carousel-nav-icon svg  {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: flex;
  align-items: center;
}
.my-saved-carousel-slider .left-resourcebtn .carousel-nav-icon svg {
  transform: rotate(180deg);
  filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.my-saved-carousel-slider .right-resourcebtn .carousel-nav-icon svg {
  filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
  -webkit-filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
}
/* end slider arrow css */

.dob-flex {display: flex;column-gap: 20px;}
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mb-10{margin-bottom: 10px;}

.add-ph-no, .add-profile-pic {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.add-ph-no-h3 h3, .add-profile-pic h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #494949;
  letter-spacing: 0.01em;
  text-transform: capitalize;
}
.profile-completeness-h3 {
  color: #53b2e8 !important;
  text-decoration: underline;
}
.gry-dot-circle {
  width: 24px;
  height: 24px;
  display: block;
  background-color: #d9d9d9d9;
  border-radius: 50px;
}
.blue-dot-circle {
  width: 24px;
  height: 24px;
  display: block;
  background-color: #53b2e8;
  border-radius: 50px;
}
.add-child-txt-h4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #53b2e8;
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}
.toltip-bdm-txt{position: relative;}
.toltip-bdm-txt:before {content: attr(data-title);position: absolute;top: 30%;left: 63px;z-index: 1;width: 100%;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;color: #494949;letter-spacing: 0.001em;background: #CECECE;border-radius: 6px;padding: 5px 7px;display: none;}
.toltip-bdm-txt:hover:before{display: block;}
.mb-40px {
  margin-bottom: 40px;
}
.mt-0{margin-top: 0px;}
#intrestModal.modal_custom .modal-dialog {
  max-width: 880px;
}
#intrestModal.modal_custom .modal-body {
  padding: 20px 35px 30px;
}
.chips-scrollbar {
  padding: 9px 10px 0px 10px;
}
.chips-scrollbar .btn-flex-info button.btn-child-cstm:last-child {
  margin-bottom: 0px;
}
.content-btn button.btn-child-cstm {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
/* Carousel btns info css */
.chips-scrollbar .btn-flex-info button.btn-child-cstm{max-height: 42px;}
.btn-child-inter-info .btn-flex-info{margin-bottom: 0px;}
.carousel-btns-info {position: relative;margin-bottom: 20px;}
.carousel-btns-info .carousel-nav-icon {height: 44px;width: 44px;background: #fff;border: 1px solid #ededed;box-sizing: border-box;color: #494949;border-radius: 50%;cursor: pointer;box-shadow: 2px 10px 20px rgb(0 0 0 / 10%);}
.carousel-btns-info .left-resourcebtn {left: -44px;}
.carousel-btns-info .right-resourcebtn {right: -44px;}
.carousel-btns-info .left-resourcebtn,
.carousel-btns-info .right-resourcebtn {top: 18%;position: absolute;z-index: 1;}
.carousel-btns-info .left-resourcebtn .carousel-nav-icon svg,
.carousel-btns-info .right-resourcebtn .carousel-nav-icon svg {width: 16px;height: 16px;margin-left: auto;margin-right: auto;display: block;margin-top: 13px;}
.carousel-btns-info .left-resourcebtn .carousel-nav-icon svg {
  transform: rotate(180deg);
  filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.carousel-btns-info .right-resourcebtn .carousel-nav-icon svg {
  filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
  -webkit-filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
}
.slider-btns-info {display: flex;width: 100%;height: auto;padding: 10px 5px;overflow: hidden;white-space: nowrap;scroll-behavior: smooth;}
.slider-btns-info .resourves-width {margin-right: 20px;}
.slider-btns-info .resourves-width button {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;color: #909090;border: none;border-bottom: 2px solid #E5E9EC;background-color: #fff;display: inline-block;padding: 10px 0px;}
.slider-btns-info .resourves-width.active button {color: #53B2E8;border-bottom: 2px solid #53B2E8;}

::ng-deep.drag-scroll-content {
  overflow: hidden !important;
  height: 100% !important;
}
.phone-alert {
  border: 1px solid red !important;
}
.account-btn {
  cursor: pointer;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #53B2EA;
}