.pt-60px {
    padding-top: 60px;
}

.mb-70px {
    margin-bottom: 70px;
}

.mb-60px {
    margin-bottom: 60px;
}

.header-image-logo {
    width: 100%;
    max-width: 225px;
    margin-bottom: 60px;
}


/* Start Parent First Section CSS */

.parent-landing-page .container {
    max-width: 1920px;
}

.parent-first-section h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    color: #494949;
}

.parent-first-section p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #494949;
    max-width: 480px;
    margin-bottom: 40px;
}

.parent-first-section .colm-right-info img {
    width: 100%;
}

button.btn-getstarted {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #53B2E8;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 100px;
    border: none;
    padding: 19px 10px;
    max-width: 200px;
    display: block;
    width: 100%;
}

.gallery-imgs-ul {
    display: flex;
    align-items: end;
    justify-content: right;
    column-gap: 20px;
    margin-bottom: 20px;
}


/* Start Parent Second Section CSS */

.parent-second-section h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    color: #494949;
    margin-bottom: 74px;
}

.parent-second-section .icon-box-media {
    text-align: center;
    max-width: 450px;
    margin: 0px auto;
    padding: 0px 20px;
}

.parent-second-section .icon-box-media h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #494949;
    text-align: center;
    margin-bottom: 10px;
}

.parent-second-section .icon-box-media p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #494949;
    text-align: center;
}

.parent-second-section .bg-clr-light-blue {
    background: #DCF3FF;
    border-radius: 20px;
    padding: 60px 0px;
}

@media (min-width: 1441px) {
    .parent-first-section {
        padding-top: 100px;
    }
    .parent-first-section .colm-right-info {
        margin-top: -50px;
    }
    .parent-landing-page .container-info {
        padding: 0px 50px;
    }
    .parent-first-section h1 {
        font-size: 52px;
    }
}

@media (min-width: 1730px) {
    .parent-first-section {
        padding-top: 160px;
    }
    .parent-first-section .colm-right-info {
        margin-top: -100px;
    }
    .parent-landing-page .container-info {
        padding: 0px 100px;
    }
    .parent-first-section h1 {
        font-size: 64px;
    }
    .parent-second-section .icon-box-media {
        padding: 0px;
    }
}

@media (max-width: 1440px) {
    .parent-first-section {
        padding-top: 60px;
    }
    .parent-first-section .colm-right-info {
        margin-top: -20px;
    }
    .parent-landing-page .container-info {
        padding: 0px 40px;
    }
    .parent-first-section h1 {
        font-size: 44px;
    }
    .parent-first-section p {
        font-size: 20px;
    }
}

@media (max-width: 1200px) {
    .parent-first-section .colm-right-info {
        margin-top: 0px;
    }
    .parent-first-section h1 {
        font-size: 38px;
    }
    .parent-first-section p {
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    .header-image-logo {
        max-width: 165px;
        margin-bottom: 40px;
    }
    button.btn-getstarted {
        padding: 15px 10px;
        max-width: 150px;
    }
    .parent-second-section h2 {
        font-size: 34px;
        margin-bottom: 40px;
    }
    .parent-second-section .icon-box-media h3 {
        font-size: 20px;
    }
    .parent-second-section .icon-box-media p {
        font-size: 16px;
    }
    .parent-second-section .icon-box-media {
        padding: 0px 15px;
    }
}

@media (max-width: 992px) {
    .parent-second-section .icon-box-media {
        margin-bottom: 30px;
    }
}