<div class="page-body-info parent-landing-page">
  <!-- Start Parent First Section -->
  <section class="parent-first-section mb-70px">
    <div class="container-info">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-4 pr-0">
            <div class="colm-left">
              <img src="assets/logo.png" alt="Logo" class="header-image-logo" />
              <h1 class="mb-3">Kids’ Activities. Simplified.</h1>
              <p>Welcome! Start discovering activities for kids just got way easier.</p>
              <button class="btn-getstarted" (click)="clickStarted()">Get Started</button>
            </div>
          </div>
          <div class="col-md-12 col-lg-8 pl-0">
            <div class="colm-right-info">
              <img src="assets/Group-9405.png" />
              <!-- <div>
                                <ul class="gallery-imgs-ul">
                                    <li><img src="assets/Rectangle-3237.png" /></li>
                                    <li><img src="assets/Rectangle-3235.png" /></li>
                                </ul>
                            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Start Parent Second Section -->
  <section class="parent-second-section mb-60px">
    <div class="container-info">
      <div class="container bg-clr-light-blue ">
        <div class="row">
          <div class="col-md-12">
            <h2>What’s here?</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div class="icon-box-media">
              <img src="assets/Capa-2.png" class="icon-img-media mb-3" />
              <h3>Seamless Discovery</h3>
              <p>Our search helps you find something that perfectly suits your child from a variety of activities.</p>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="icon-box-media">
              <img src="assets/icon-park-outline-bookshelf.png" class="icon-img-media mb-3" />
              <h3>Free Bonus Content</h3>
              <p>Printable activities for kids to do at home, blogs packed with parenting hacks, hilarious tweets from
                parents like you, ...and more!</p>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="icon-box-media">
              <img src="assets/Group-9288.png" class="icon-img-media mb-3" />
              <h3>Personalized Activity Recommendations</h3>
              <p>We suggest activities based on your child’s age and interests, so your kids can start having fun
                faster.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
