<app-header></app-header>

<body>
  <div class="main_outer common-headermargin">
    <div class="container">
      <div class="terms_outer">
        <div class="terms_top">
          <h1>{{ terms[0]?.Title }}</h1>
          <h3>
            Last modified: {{ terms[0]?.updated_at | date: "medium" }}
          </h3>
          <p>{{ terms[0]?.Content }}</p>
        </div>

        <div class="terms_content_outer" *ngFor="let t of terms | slice: 1:16">
          <div class="terms_box">
            <h2>{{ t?.Title }}</h2>
            <p [innerHTML]="t?.Content | markdown"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<app-footer2></app-footer2>
<!-- loader -->
<ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
<ng-template #foregroundSpinner>
  <app-loader-file></app-loader-file>
</ng-template>
