<div class="new-landing-page-info common-headermargin">
  <!-- Start First Section -->
  <section class="landing-page-first-section first-section-content bg-img-first-section">
    <div class="container">
      <div class="left-bgimage-first-section">
        <div class="colm-right">
          <img src="assets/group-9246.svg" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="colm-left">
            <img src="assets/logo.png" alt="Logo" class="header-image-logo" />
            <h1>Hi {{firstName}}. Welcome to Wondrfly!</h1>
            <p>Discovering kids’ activities just got way easier.</p>
            <a class="btn-getstarted cursor" routerLink="/login">Get Started</a>
          </div>
        </div>
      </div>
      <div class="right-image-first-section">
        <div class="colm-right">
          <img src="assets/group-9251.png" />
        </div>
      </div>
    </div>
  </section>
  <!-- End First Section -->

  <!-- Start Second Section -->
  <section class="landing-page-second-section second-section-content bg-img-second-section">
    <div class="right-bg-img-1st">
      <div class="colm-right">
        <img src="assets/group-5825.png" />
      </div>
    </div>
    <div class="container">
      <div class="row equal mb-40px">
        <div class="col-md-6">
          <div class="colm-left bg-clr-seam-disc">
            <h2 class="clr-pink mb-35px">Seamless Discovery</h2>
            <style>
              ul.ul-tag-reviews-img li::before {
                content: url(assets/star-yellow-icon.png);
              }

            </style>
            <ul class="ul-tag-reviews-img">
              <li>Our advanced, filtered search helps you find exactly what your child needs.</li>
              <li>Choose from over 2000 actvities for kids.</li>
              <li>Saving and sharing your favorite activities is a breeze!</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="colm-right">
            <img class="seamless-disc-img" src="assets/group-9254.png" />
          </div>
        </div>
      </div>
    </div>
    <div class="left-bg-img-2nd">
      <div class="colm-right">
        <img src="assets/left-bg-img-2nd-vector.png" />
      </div>
    </div>
    <div class="container">
      <div class="row equal mb-90px">
        <div class="col-md-6">
          <div class="colm-right">
            <img class="pers-activity-img" src="assets/group-9255.png" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="colm-left bg-clr-pers-activity">
            <h2 class="clr-purple mb-35px">Personalized Activity Recommendations</h2>
            <p>We suggest activities based on your child’s age and interests, taking all the hard work out of activity
              discovery so your kids can start having fun faster.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="right-bg-img-3rd">
      <div class="colm-right">
        <img src="assets/right-bg-img-3rd-vector.png" />
      </div>
    </div>
    <div class="right-bg-img-4th">
      <div class="colm-right">
        <img src="assets/group-5826.png" />
      </div>
    </div>
    <div class="container">
      <div class="row equal mb-90px">
        <div class="col-md-6">
          <div class="colm-left bg-clr-bonus-content">
            <h2 class="clr-orange mb-35px">Free Bonus Content</h2>
            <p>Printable activities for kids to do at home, blogs packed with parenting hacks, hilarious tweets from
              parents like you, ...and more!</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="colm-right">
            <img class="bonus-content-img" src="assets/group-9256.png" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Second Section -->

</div>
<app-footer></app-footer>
<reg-wall></reg-wall>
