.mb-35px{margin-bottom: 35px;}
.mb-40px{margin-bottom: 40px;}
.mb-90px{margin-bottom: 90px;}
.align-center{text-align: center;}

/* Start First Section Css */
.header-image-logo {width: 100%;max-width: 270px;}
.header-image-logo {margin-bottom: 132px;}
/* .left-bgimage-first-section img {max-width: 560px;} */
.left-bgimage-first-section {position: absolute;left: 0;}
.bg-img-first-section{
    background-repeat: no-repeat;
    background-size: 36%;
}
.first-section-content .colm-left h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    color: #494949;
    margin-bottom: 20px;
}
.first-section-content .colm-left p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    color: #494949;
    margin-bottom: 45px;
}
.first-section-content .colm-left a.btn-getstarted {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #FFFFFF;
    background: #53B2E8;
    border: 1px solid #53B2E8;
    border-radius: 50px;
    padding: 15px;
    display: block;
    width: 100%;
    max-width: 200px;
}
.right-image-first-section {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    text-align: right;
}
.first-section-content .right-image-first-section .colm-right img {
    width: 100%;max-width: 800px;
}
/* End First Section Css */

/* Start Second Section Css */
.clr-pink{color: #FA627D;}
.clr-purple{color: #777CEA;}
.clr-orange{color: #F99964;}
.landing-page-second-section {
    position: relative;
}
.right-bg-img-1st {
    position: absolute;
    right: 0px;
    top: -70px;
}
.right-bg-img-1st img {
    width: 100%;
}
.left-bg-img-2nd {
    position: absolute;
    left: 0;
    margin-top: -25%;
}
.right-bg-img-3rd {
    position: absolute;
    right: 0;
    margin-top: -25%;
    text-align: right;
}
.right-bg-img-4th {
    position: absolute;
    right: 5%;
    margin-top: -13%;
    text-align: right;
}
.seamless-disc-img {
    max-width: 728px;
    width: 100%;
    margin-top: -68px;
}
.pers-activity-img {
    max-width: 728px;
    width: 100%;
}
.bonus-content-img {
    max-width: 728px;
    width: 100%;
    margin-top: -50px;
}
.second-section-content h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 150%;
}
ul.ul-tag-reviews-img {
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #494949;
    margin-left: 47px;
}
ul.ul-tag-reviews-img li {
    margin-bottom: 45px;
}
ul.ul-tag-reviews-img li::before {
    position: absolute;
    left: -47px;
}
.bg-clr-seam-disc {
    background: #FFF8F9;
    border-radius: 40px;
    padding: 50px;
    position: relative;
    height: calc(100% - 16%);
    z-index: 1;
}
.bg-clr-pers-activity {
    background: #F0F0FD;
    border-radius: 40px;
    padding: 50px;
    position: relative;
    height: calc(100% - 5%);
    z-index: 1;
}
.bg-clr-bonus-content {
    background: #FFE5D7;
    border-radius: 40px;
    padding: 50px;
    position: relative;
    height: calc(100% - 5%);
}
.second-section-content p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #494949;
}
.row.equal .colm-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* End Second Section Css */

/* Responsive Mediya Query CSS */
@media (min-width: 1440px) and (max-width: 1800px){
 .container, .container-lg, .container-md, .container-sm, .container-xl {max-width: 1140px;}
}
@media (min-width: 1440px){
section.landing-page-first-section {margin-bottom: 6%;padding-bottom: 7%;}
}
@media (max-width: 1439px){
.new-landing-page-info {padding-top: 50px !important;}
.header-image-logo {max-width: 150px;}
.header-image-logo {margin-bottom: 60px;}
.first-section-content .colm-left h1{font-size: 55px;line-height: 120%;}
.first-section-content .colm-left p{font-size: 24px;line-height: 34px;margin-bottom: 30px;}
.left-bgimage-first-section img {max-width: 260px;}
.left-bgimage-first-section {margin-top: 255px;}
section.landing-page-first-section {margin-bottom: 13%;padding-bottom: 11%;}
.right-bg-img-1st{width: 215px;}
.left-bg-img-2nd img, .right-bg-img-3rd img {width: 70%;}
.right-bg-img-4th img {width: 60%;}
}
@media (max-width: 1199px){
 .new-landing-page-info .container {max-width: 1440px;padding-left: 5%;padding-right: 5%;}
 section.landing-page-first-section {margin-bottom: 10%;padding-bottom: 10%;}
}
@media (max-width: 1082px){
.header-image-logo {max-width: 110px;}
.header-image-logo {margin-bottom: 40px;}
.first-section-content .colm-left h1{font-size: 34px;line-height: 110%;}
.first-section-content .colm-left p{font-size: 20px;line-height: 27px;margin-bottom: 25px;}
.first-section-content .colm-left a.btn-getstarted{font-size: 16px;line-height: 21px;padding: 10px;max-width: 140px;}
.left-bgimage-first-section img {max-width: 190px;}
.left-bgimage-first-section {margin-top: 130px;}
section.landing-page-first-section {margin-bottom: 13%;padding-bottom: 11%;}
.right-bg-img-1st{width: 150px;}
.left-bg-img-2nd img, .right-bg-img-3rd img {width: 40%;}
.right-bg-img-4th img {width: 40%;}

.second-section-content h2{font-size: 22px;}
ul.ul-tag-reviews-img, .second-section-content p{font-size: 14px;}
.bg-clr-seam-disc{padding: 20px}
ul.ul-tag-reviews-img li {margin-bottom: 20px;}
.seamless-disc-img{margin-top: -44px;}
.mb-35px {margin-bottom: 20px;}
}