﻿<div class="online-searchresult">

  <div class="search-results" *ngFor="let provider of provider_programs; let providerIndx = index">
    <!-- start without map   -->
    <div class="map-without-page-info">
      <div class="map-without-section-info">
        <div class="media-top-content-info media-full-row-info">
          <div class="row row-0 mt-0">
            <div class="col-md-4">
              <div class="media-top-txt-div">
                <div class="left-icon-img">
                  <img src="{{baseUrl+provider?.categories[0]?.logoUrl}}" />
                </div>
                <div class="left-icon-h2">
                  <div class="tooltip-div map-h2-tooltip">
                    <h2>
                      {{provider.user[0].firstName}}
                      <span class="tooltip-text">{{provider.user[0].firstName}}</span>
                    </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="media-top-txt-div max-width-400">
                <div class="review-starsearch-info cursor" data-toggle="collapse"
                  [attr.data-target]="'#collapseExamplestar' + providerIndx"
                  (mouseover)="isRating=true;$event.target.click()" (mouseout)="isRating=false;$event.target.click()"
                  (click)="getRating(provider._id,providerIndx)">
                  <!-- <div class="rating-starsearch">
                                <p class="cursor">
                                    <span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star-half-o checked"></span>
                                    </span>
                                </p>
                            </div> -->

                  <div class="rating-starsearch">
                    <p>
                      <span *ngIf="provider.user[0]?.averageFinalRating==0">
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating==1">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating>1 && provider.user[0]?.averageFinalRating<2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating==2">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating>2 && provider.user[0]?.averageFinalRating<3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating==3">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-o"></span>
                        <span class="fa fa-star-o"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating>3 && provider.user[0]?.averageFinalRating<4">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                        <span class="fa fa-star-o"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating==4">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-o"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating>4 && provider.user[0]?.averageFinalRating<5">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star-half-o checked"></span>
                      </span>
                      <span *ngIf="provider.user[0]?.averageFinalRating==5">
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                      </span>
                      <a class="no-underline"><span class="no-underline">(</span><a class="reviews-underline"
                          *ngIf="provider.user[0]?.totalReviews">{{provider.user[0]?.totalReviews }}</a>
                        <a class="reviews-underline" *ngIf="!provider.user[0]?.totalReviews">0 </a><span
                          class="no-underline">)</span> </a> </p>
                  </div>

                  <div *ngIf="provider_programs[providerIndx]?.isCollapsed" class="star-daialogbox">
                    <!-- <button type="button"
                                class="close star-daialogicon" aria-label="Close">
                                <span aria-hidden="true"><img
                                        src="assets/grey-close.png" /></span>
                            </button> -->
                    <app-rating *ngIf="provider_programs[providerIndx]?.rating"
                      [rating]="provider_programs[providerIndx]?.rating" [user]="provider.user[0]">
                    </app-rating>
                  </div>
                </div>
                <div class="view-less-div">
                  <div class="view-less-txt-info">
                    <a *ngIf="provider.collapsed" class="btn-view-less" (click)="provider.collapsed=false"
                      aria-expanded="false" aria-controls="collapseDosing">Show activities <i
                        class="fas fa-chevron-down"></i></a>
                    <a *ngIf="!provider.collapsed" class="btn-view-less" (click)="provider.collapsed=true"
                      aria-expanded="false" aria-controls="collapseDosing">Hide activities <i
                        class="fas fa-chevron-up"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="media-share-icon max-width-400">
                <ul class="ul-tag-share_icon">
                  <li><a class="cursor" data-toggle="modal" data-target="#ShareModal"
                      (click)="selectedShareData = provider"><img src="assets/save-blue-icon.svg" /></a></li>
                  <li>
                    <a *ngIf="provider?.isFav && parentRole && isLogin" (click)="saveUnsaveProvider(providerIndx,false)"
                      class="cursor"><img src="assets/bookmark-active-min.svg" /></a>
                    <a *ngIf="!provider?.isFav && parentRole && isLogin" (click)="saveUnsaveProvider(providerIndx,true)"
                      class="cursor"><img src="assets/bookmark-active.svg" /></a>
                    <a *ngIf="!isLogin" class="cursor" routerLink="/login"><img src="assets/bookmark-active.svg" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse" [id]="'programDiv'+providerIndx"
          [ngClass]="{'collapse': provider_programs[providerIndx].collapsed, 'collapsed': !provider_programs[providerIndx].collapsed}">
          <div class="map-carousel-slider map-without-slider-info">
            <div class="left-resourcebtn" *ngIf="provider?.programs?.length>5">
              <a>
                <div class="carousel-nav-icon" (click)="scrollLeft(providerIndx)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                      d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                  </svg>
                </div>
              </a>
            </div>
            <div [id]="'widgetsOnline'+providerIndx" class="media-scroable">
              <div *ngFor="let program of activitySorting(provider?.programs) ; let programIndx = index"
                class="media activity">

                <div class="media-body">
                  <div class="media-right-icon-h2">
                    <div>
                      <div class="tooltip-div">
                        <h2 class="cursor">
                          <a (click)="addAction(userData?.id)" style="color:#53B2E8;" class="cursor"
                            routerLink="{{goToProgramDetail(program)}}"> {{ program?.name }}</a>
                          <span class="tooltip-text">{{program?.name}}</span>
                        </h2>
                      </div>
                    </div>
                    <div class="media-right-share-icon text-right">
                      <div class="bookmark_outer">
                        <a *ngIf="!program?.isFav && isLogin"
                          (click)="addFavProgram(userData.id, provider_programs[providerIndx]?.programs[programIndx]?._id, providerIndx,programIndx)"
                          class="bookmark_icon cursor"><img src="assets/bookmark-active.svg" alt="Menu Image " /></a>

                        <a *ngIf="!isLogin" routerLink="/login" class="bookmark_icon cursor"><img
                            src="assets/bookmark-active.svg" alt="Menu Image " /></a>

                        <a *ngIf="program?.isFav && isLogin"
                          (click)="deleteFavProgram(provider_programs[providerIndx]?.programs[programIndx]?._id, providerIndx,programIndx)"
                          class="bookmark_icon cursor"><img src="assets/bookmark-active-min.svg"
                            alt="Menu Image " /></a>
                      </div>
                    </div>
                  </div>
                  <div class="list_outer row row-0">
                    <div class="list col-12 mt-2 mb-1">
                      <p>by {{ program?.programOwner }}</p>
                    </div>
                    <div class="rating-starsearch">
                      <p (click)="
                                          getRating(program,programIndx);
                                          programOwnerData.firstName = program?.programOwner
                                        " class="cursor" role="button">
                        <span *ngIf="program?.averageFinalRating == 0">
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="program?.averageFinalRating == 1">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
                                            program?.averageFinalRating > 1 &&
                                            program?.averageFinalRating < 2
                                          ">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="program?.averageFinalRating == 2">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
                                            program?.averageFinalRating > 2 &&
                                            program?.averageFinalRating < 3
                                          ">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="program?.averageFinalRating == 3">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
                                            program?.averageFinalRating > 3 &&
                                            program?.averageFinalRating < 4
                                          ">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="program?.averageFinalRating == 4">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
                                            program?.averageFinalRating > 4 &&
                                            program?.averageFinalRating < 5
                                          ">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                        </span>
                        <span *ngIf="program?.averageFinalRating == 5">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                        </span>
                        <span class="no-underline">(</span><a *ngIf="program?.totalReviews">{{program?.totalReviews }}
                          reviews</a>
                        <a *ngIf="!program?.totalReviews">0 reviews</a><span class="no-underline">)</span>
                      </p>
                      <div *ngIf="rating" class="collapse star-daialogbox" id="collapseExamplestar{{ programIndx }}">
                        <button type="button" data-toggle="collapse"
                          [attr.data-target]="'#collapseExamplestar' + programIndx" class="close star-daialogicon"
                          aria-label="Close">
                          <span aria-hidden="true"><img src="assets/grey-close.png" /></span>
                        </button>
                        <app-rating [rating]="rating" [user]="programOwnerData"></app-rating>
                      </div>
                    </div>
                    <!-- <div class="coding_text">
                                        <div *ngIf="program?.subCategoryIds?.length || program?.category?.length"
                                            class="coding-text-1">
                                            <h3 class="cursor" *ngFor="
                                            let cat of program?.category"
                                                (click)="selectedCat='';categoryId='';selectedSubCategories=[];subCats=[];searchedSubCategory=cat?.name; categoryId = cat._id;programFilter() ">
                                                {{ cat?.name }}
                                            </h3>
                                            <h3 class="cursor" *ngFor="
                                            let subCat of program?.subCategoryIds | slice: 0:2
                                          " (click)="selectedCat='';categoryId='';subCats=[];searchedSubCategory=subCat?.name; selectedSubCategories[0] = subCat?._id;programFilter() ">
                                                {{ subCat?.name }}
                                            </h3>
                                            <h6 *ngIf="program?.subCategoryIds?.length > 2" class=""
                                                data-toggle="collapse" href="#morecategories"
                                                [attr.data-target]="'#morecategories' + i">
                                                +{{ program?.subCategoryIds?.length - 2 }} more
                                                <div class="collapse main_collpases verification_modal"
                                                    id="morecategories{{ i }}" data-parent="#accordionExample">
                                                    <div class="collpase_content">
                                                        <div class="categories-content">
                                                            <span><img src="assets/grey-close.png" /> </span>
                                                            <h5 *ngFor="
                                                    let subCat of program?.subCategoryIds
                                                      | slice: 2:program?.subCategoryIds?.length
                                                  " class="collapse-btn cursor"
                                                                (click)="selectedCat='';categoryId='';subCats=[];searchedSubCategory=subCat?.name; selectedSubCategories[0] = subCat._id;programFilter() ">
                                                                {{ subCat?.name }}
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </h6>
                                        </div>
                                    </div> -->
                    <div class="col-md-12" *ngIf="program?.inpersonOrVirtual=='Virtual'">
                      <div class="without-location-online-btn">
                        <button class="loc-without-online">Online</button>
                      </div>
                    </div>
                    <div class="col-md-12" *ngIf="program?.inpersonOrVirtual=='Inperson'">
                      <div class="left-icon-box-media">
                        <div><img src="assets/calender-icon-img1.png" alt="calender-icon" />
                        </div>
                        <div>
                          <p>{{program?.date?.from | date:"EEE, MMM dd"}} - {{program?.date?.to | date:"MMM dd"}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="left-icon-box-media">
                        <div><img src="assets/watch-icon-img.png" alt="calender-icon" /></div>

                        <div>
                          <p *ngIf="!program?.isTimeNotMention">
                            {{program?.time?.from | timeConvert | date:'h:mm a'}} –
                            {{program?.time?.to | timeConvert | date:'h:mm a'}}</p>
                          <!-- <p *ngIf="program?.isTimeNotMention">Time not mentioned</p> -->

                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="left-icon-box-media">
                        <div><img src="assets/user-icon-img.png" alt="School image " /></div>
                        <div>
                          <p>{{ program?.ageGroup?.from + "-" + program?.ageGroup?.to }} Yrs</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div
                        *ngIf="(!program?.isFree && program?.pricePerParticipant)|| (program?.isFree && !program?.pricePerParticipant)"
                        class="price-box left-icon-box-media">
                        <div><img src="assets/price-doller-icon.png" /></div>
                        <div>
                          <p *ngIf="!program?.isFree && program?.pricePerParticipant">
                            <span>{{
                                                        program.pricePerParticipant
                                                        }}<span *ngIf="program?.pricePeriod?.periodAmount">/{{
                                                            program?.pricePeriod?.periodAmount
                                                            }}</span></span>
                          </p>
                          <p *ngIf="program?.isFree && !program?.pricePerParticipant"><img
                              src="assets/price.svg" /><span> Free</span></p>
                          <!-- <p *ngIf="!program?.isFree && !program?.pricePerParticipant"><img src="assets/price.svg" /><span> Price Not Mentioned</span></p> -->
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12 display-none">
                      <p *ngIf="!program?.isDateNotMention">
                        <img src="assets/calendar.svg " alt="School image " />{{
                                            program?.date?.from | date: "MMM d " }} – {{ program?.date?.to |
                                            date:
                                            "MMM d " }}
                      </p>
                      <!-- <p *ngIf="program?.isDateNotMention">
                        Ongoing
                      </p> -->
                    </div>
                  </div>

                </div>
              </div>

              <!-- --------------------------------------------------Suggested Div Between programs--------------------------------------------------- -->
              <!-- <div *ngIf="suggested?.length && contentLoaded && programs?.length  && (!isTypeFilter && !isDaysFilter && !isTimeFilter && !isTopFilter && !isAgeFilter && !isDateFilter)"
                            class="suggested-searchresult">
                            <div class="suggested-result suggested-text in-built">
                                <h3>You might want to explore similar Categories</h3>
                                <div class="similar-categories container">
                                    <div class="row">
                                        <div class="col-md-4 cursor" *ngFor="let subCategory of suggested" (click)="selectedCat='';categoryId='';subCats=[];searchedSubCategory=subCategory.name; selectedSubCategories[0] = subCategory.id;
                                            programFilter()
                                          ">
                                            <div class="similar-cate">
                                                <img src="assets/similarcategories1.png">
                                                <img [defaultImage]="defaultImage" [lazyLoad]="subCategory?.iconUrl" />
                                                <h1>{{ subCategory?.name }}</h1>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
            </div>
            <div class="right-resourcebtn" *ngIf="provider?.programs?.length>5">
              <a>
                <div class="carousel-nav-icon" (click)="scrollRight(providerIndx)">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                      d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                  </svg>
                </div>
              </a>
            </div>
            <!-- <div class="show-all-program-btn cursor" *ngIf="provider?.programs?.length>1">
                        <a class="btn-show-all-program" (click)="goToProviderProfile(provider.user[0])">show all {{provider?.programs?.length}} programs</a>
                    </div> -->
          </div>
        </div>

      </div>
    </div>
    <!-- end  without map   -->
    <div *ngIf="suggested?.length" class="suggested-searchresult">
      <div class="suggested-result">
        <h3 class="suggested-searcxhtext">
          You might want to explore similar Categories
        </h3>
        <div class="similar-categories">
          <div class="row">
            <div class="col-md-3 cursor" *ngFor='let suggestedTag of suggested | slice:0:4'
              (click)="setCategoryId(suggestedTag)">
              <div class="similarcate-flex">
                <div class="similar-cate">
                  <img [defaultImage]="defaultImage" [lazyLoad]="suggestedTag?.imageUrl" />
                  <h1>{{suggestedTag?.name}}</h1>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
  <div *ngIf="!provider_programs?.length">
    <div class="suggested-text">
      <h1>Sorry no results found :(</h1>
    </div>
  </div>
</div>
<share-popup [shareData]="selectedShareData" [isProvider]="true"></share-popup>
