<!-- ==================NEW DESIGN==================== -->

<!-- <mat-progress-bar class="progress-bar" mode="determinate" [value]="progressBarVaue"></mat-progress-bar> -->
<!-- <app-landing-new *ngIf="step0" (showHide)="nextStep()"></app-landing-new> -->
<app-parent-landing *ngIf="step0" (showHide)="nextStep()"></app-parent-landing>
<div class="main_container" [ngStyle]="{'display': step0 ? 'none' : (step0 ? 'display' : 'block') }">
  <div class=" upper-sectionpwa">
    <div class="row">
      <div class="col-12">
        <div class="header_right">
          <circle-progress [percent]="100*finished/total" [backgroundStroke]="'#fff'" [subtitleFormat]="formatSubtitle"
            [space]="-5" [showTitle]="false" [showUnits]="false" [subtitleFontSize]="15" [radius]="19"
            [outerStrokeWidth]="5" [innerStrokeWidth]="5" [outerStrokeColor]="'#53B2E8'" [innerStrokeColor]="'#fff'"
            [animation]="true" [animationDuration]="300"></circle-progress>
          <span class="upper-headingsec">Get Started!</span>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-main">
    <div class="menu-box">
      <span class="wnderfly-btn">© {{currentYear}} WONDRFLY Inc.</span>

      <!-- <div *ngIf="step0" class="welcome-popup-box box text-center bg-white"
        style="background-image: url(assets/wel-top-bg-img.svg), url(assets/wel-bottom-bg-img.svg);">
        <h2 class="wlc-h2">Hi {{firstName}}. Welcome to Wondrfly!</h2>
        <div class="laststep-onboarding">
          <p>You’re about to discover a whole new world <br> of activities for your little ones!</p>
        </div>
        <div class="N_btns">
          <div class="row mt-70 justify-content-center">
            <div class="col-12">
              <div (click)="nextStep()" class="next_btn cursor">
                <a> Get Started </a>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div [hidden]="!step1" class="box text-center bg-white">
        <h2 class="my_heading1">Your location</h2>
        <p class="pt-1">
          Your location will help us to find the best activities near you
        </p>
        <form [formGroup]="locationForm">
          <div class="N_inputs_container">
            <div class="business_name">
              <input class="my_inputs" placeholder="Type" [(ngModel)]="location" [ngModelOptions]="{standalone: true}"
                (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off"
                #search />
            </div>
          </div>
          <div class="img_container">
            <div class="map">
              <agm-map [latitude]="+parent?.lat" [longitude]="+parent?.lng" [zoom]="zoom" [zoomControl]="false"
                [styles]="mapTheme.customStyle" [streetViewControl]="false">
                <div>
                  <agm-marker [iconUrl]="markerUrl" [latitude]="parent?.lat" [longitude]="parent?.lng">
                    <strong>{{ parent?.firstName }}</strong>
                  </agm-marker>
                </div>
              </agm-map>
            </div>
          </div>
        </form>
        <div class="N_btns">
          <div class="row">
            <div class="col-6">
              <div (click)="backStep()" class="back_btn cursor">
                <a> BACK </a>
              </div>
            </div>
            <div class="col-6">
              <div [ngClass]="{ disable_next: !location}" (click)="nextStep()" class="next_btn cursor">
                <a> NEXT </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div [hidden]="!step2" class="box text-center bg-white">
        <h2 class="my_heading1">About your Child</h2>
        <p class="pt-1">
          This will help us personalize Wondrfly for your child.
          <!-- These details will help us find personalized activity recommendations <br> based on your child's age, interests and availability -->
        </p>
        <form [formGroup]="addChildForm">
          <div class="N_inputs_container">
            <div class="business_name">
              <div class="N_container_box_input_heading">Child Name or nickname</div>
              <input type="text" placeholder="ex. Jane, Billy, Bob, Spidey, etc." maxlength="25"
                [formControl]="addChildForm.controls['name']" class="my_inputs" [(ngModel)]="kidName" />
            </div>
            <div class="business_name datef">
              <div class="dob-flex">
                <div>
                  <div class="N_container_box_input_heading toltip-bdm-txt"
                    data-title="This allows you to find age appropriate activities">Birth Month</div>
                  <div class="custom_select">
                    <select id="dropdown" name="month-name" [formControl]="addChildForm.controls['month']"
                      name="kidMonth" [(ngModel)]="kidMonth">
                      <option [value]="1">January</option>
                      <option [value]="2">February</option>
                      <option [value]="3">March</option>
                      <option [value]="4">April</option>
                      <option [value]="5">May</option>
                      <option [value]="6">June</option>
                      <option [value]="7">July</option>
                      <option [value]="8">August</option>
                      <option [value]="9">September</option>
                      <option [value]="10">October</option>
                      <option [value]="11">November</option>
                      <option [value]="12">December</option>
                    </select>
                  </div>
                </div>
                <!-- <input type="number" id="m" placeholder="Month" class="my_inputs"   /> -->
                <div>
                  <div class="N_container_box_input_heading toltip-bdm-txt"
                    data-title="This allows you to find age appropriate activities">Birth Year</div>
                  <input type="text" id="y" placeholder="Year" class="my_inputs" name="kidYear"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                    [(ngModel)]="kidYear" maxlength="4" [formControl]="addChildForm.controls['year']" />
                </div>
              </div>
              <!-- <input type="date" id="listingDate" min='2007-01-01' placeholder="mm/dd/yy" [formControl]="addChildForm.controls['dob']" class="my_inputs" [(ngModel)]="kid.dob" /> -->
            </div>
          </div>
        </form>


        <div class="N_btns">
          <div class="row">
            <div class="col-6">
              <div (click)="backStep()" class="back_btn cursor">
                <a> BACK </a>
              </div>
            </div>
            <div class="col-6">
              <div [ngClass]="{ disable_next: !kidName || !addChildForm.value.month || !addChildForm.value.year }"
                (click)="validAge2()" class="next_btn cursor">
                <a> NEXT </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="step3" class="box text-center bg-white">
        <h2 class="my_heading1 mb-40px">What’s {{kidName}} interested in?</h2>
        <div class="child-interested-slider-info">
          <div class="carousel-btns-info">
            <div class="left-resourcebtn">
              <a (click)="moveLeft()">
                <div class="carousel-nav-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                      d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                  </svg>
                </div>
              </a>
            </div>
            <drag-scroll class="slider-btns-info justify-center-slider" #catArray [scroll-x-wheel-enabled]="true">
              <div class="resourves-width" *ngFor="let category of categories"
                [ngClass]="{ 'active': selectedCatId === category.id }" drag-scroll-item
                (click)="selectedCategory(category)">
                <button>{{category?.name}}</button>
              </div>
            </drag-scroll>
            <div class="right-resourcebtn">
              <a (click)="moveRight()">
                <div class="carousel-nav-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                      d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!-- <h2 class="my_heading1">Which Activities is <span style="color:#FF6F1F">{{kid?.name}}</span> Interested in?</h2> -->
        <!-- <div class="btn-child-show-all-align">
          <button *ngIf="!categories[0]?.clicked" class="btn-child-cstm btn-child-show-all"
            (click)="showAllTags();categories[0].clicked=true">Show all</button>
        </div> -->
        <!-- child interested button info -->
        <div class="btn-child-inter-info">
          <!-- <div class="btn-row-info" *ngFor="let category of categories; let i = index"> -->
          <!-- <h3>{{category?.name}}</h3> -->
          <div class="btn-flex-info">
            <button class="btn-child-cstm" *ngFor="let tag of tags;let j=index" (click)="selectDeselectTags(tag,j)"
              [class.active-tags]="kidsTagCheckId(tag)"><img [class.change-my-color]="tag?.selected"
                [src]="'https://wondrfly.com/'+tag?.icon" />{{tag?.name}}</button>
            <!-- <button *ngIf="category?.tags?.length>=4 && !category.isClicked" class="btn-child-cstm btn-child-show-all" (click)="showAllTags(i);category.isClicked = true">Show all</button> -->
          </div>
        </div>
        <!-- </div> -->
        <!-- end child interested button info -->

        <div class="N_btns">
          <div class="row">
            <div class="col-6">
              <div (click)="backStep()" class="back_btn cursor">
                <a> BACK </a>
              </div>
            </div>
            <div class="col-6">
              <div [ngClass]="{ disable_next: kid.interestInfo?.length <= 0 }" (click)="addUpdateChild();keyword=''"
                class="next_btn cursor">
                <a> NEXT </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div [hidden]="!step4" class="box text-center bg-white">
        <h2 *ngIf="kids.length==1 && !isAddAnother" class="my_heading1 mb-30px">Great! Your child has been added</h2>
        <h2 *ngIf="kids.length>1 && !isAddAnother" class="my_heading1 mb-30px">Your Kids</h2>
        <h2 *ngIf="isAddAnother" class="my_heading1 mb-30px">Add another child</h2>
        <form [formGroup]="addChildForm" *ngIf="isAddAnother">
          <div class="N_inputs_container mb-30px">
            <div>
              <div class="N_container_box_input_heading">Child Name or nickname</div>
              <input type="text" placeholder="ex. Jane, Billy, Bob, Spidey, etc." maxlength="25"
                [formControl]="addChildForm.controls['name']" class="my_inputs" [(ngModel)]="kidName" />
            </div>
            <div class="business_name datef">
              <div class="dob-flex">
                <div>
                  <div class="N_container_box_input_heading toltip-bdm-txt"
                    data-title="This allows you to find age appropriate activities">Birth Month</div>
                  <div class="custom_select">
                    <select id="dropdown" name="month-name" [formControl]="addChildForm.controls['month']">
                      <option [value]="1">January</option>
                      <option [value]="2">February</option>
                      <option [value]="3">March</option>
                      <option [value]="4">April</option>
                      <option [value]="5">May</option>
                      <option [value]="6">June</option>
                      <option [value]="7">July</option>
                      <option [value]="8">August</option>
                      <option [value]="9">September</option>
                      <option [value]="10">October</option>
                      <option [value]="11">November</option>
                      <option [value]="12">December</option>
                    </select>
                  </div>
                </div>
                <!-- <input type="number" id="m" placeholder="Month" class="my_inputs"   /> -->
                <div>
                  <div class="N_container_box_input_heading toltip-bdm-txt"
                    data-title="This allows you to find age appropriate activities">Birth Year</div>
                  <input type="number" id="y" placeholder="Year" class="my_inputs"
                    [formControl]="addChildForm.controls['year']" />
                </div>
              </div>
              <!-- <input type="date" id="listingDate" min='2007-01-01' placeholder="mm/dd/yy" [formControl]="addChildForm.controls['dob']" class="my_inputs" [(ngModel)]="kid.dob" /> -->
            </div>
          </div>
        </form>
        <form [formGroup]="addChildForm">
          <div class="bg-clr-add-child-div">
            <!-- <div class="your-kids-h4">
              <h4>Your kids:</h4>
            </div> -->
            <div class="top-field-add-child-container">
              <div class="business_name" *ngFor="let kid of kids;let i = index">
                <div class="add-another-child-info">
                  <div class="add-another-box" [ngClass]="{'is-edit-mode':!isAddAnother}">
                    <div class="child-name-dob-info">
                      <div>
                        <h4 class="child-name-h4 name-fix-width" data-toggle="tooltip" data-placement="bottom"
                          title={{kid.name}}>{{kid?.name.split(' ')[0]}}</h4>
                      </div>
                    </div>
                    <div class="child-edit-delete-info">
                      <div>
                        <h4 class="child-dob-h4"><img src="/assets/calendar-black-icon.svg" />{{kid?.age}} Years old
                        </h4>
                      </div>
                      <div class="child-interests-btn-info" *ngIf="kid?.interestInfo?.length && !isAddAnother">
                        {{kid?.interestInfo?.length}} Interest<span *ngIf="kid?.interestInfo?.length>1">s</span>
                      </div>
                      <div class="child-interests-btn-info" *ngIf="kid?.interestInfo?.length && isAddAnother">
                        {{kid?.interestInfo?.length}} Interest<span *ngIf="kid?.interestInfo?.length>1">s</span>
                      </div>
                      <div class="edit-child-btn cursor" data-toggle="tooltip" data-placement="bottom" title="Edit"><img
                          (click)="editKid(kid)" src="/assets/edit-blue-icon.svg" /></div>
                      <div class="delete-child-btn cursor" data-toggle="tooltip" data-placement="bottom" title="Delete">
                        <img (click)="deleteKidById(kid)" src="/assets/delet-blue-icon.svg" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-flex-info" *ngIf="kid?.interestInfo?.length && !isAddAnother">
                  <button *ngFor="let intrest of kid?.interestInfo; let j =index" class="btn-child-cstm"><img
                      [src]="'https://wondrfly.com/'+intrest?.icon" /> {{intrest?.name}} <img class="btn-cros-img-cls"
                      (click)="remove(i,j)" src="/assets/gray-cros-icon-btn.svg" /></button>
                </div>
              </div>
            </div>
          </div>
          <div class="add-another-child-txt pt-3 mt-15" *ngIf="!isAddAnother">
            <h4 class="add-child-txt-h4 text-center" (click)="addAnotherButton()">+ Add Another Child</h4>
          </div>
        </form>

        <div class="N_btns">
          <div class="row">
            <div class="col-6">
              <div *ngIf="!isAddAnother" (click)="backStep()" class="back_btn cursor">
                <a> BACK </a>
              </div>
              <div *ngIf="isAddAnother" (click)="cancleAnotherKid()" class="back_btn cursor">
                <a> BACK </a>
              </div>
            </div>
            <div class="col-6">
              <div *ngIf="!isAddAnother" [ngClass]="{ disable_next: !kids.length }" (click)="nextStep()"
                class="next_btn cursor">
                <a> SAVE </a>
              </div>
              <div *ngIf="isAddAnother"
                [ngClass]="{ disable_next: !kidName || !addChildForm.value.month || !addChildForm.value.year }"
                (click)="validAge2()" class="next_btn cursor">
                <a> NEXT </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="step5" class="save-setting-popup-box box text-center bg-white">
        <h2 class="wlc-h2">Save your settings</h2>
        <div class="laststep-onboarding">
          <p>Choose a strong password only you know.</p>
        </div>
        <form [formGroup]="setpasswordForm">
          <div class="N_inputs_container">
            <div class="business_name">
              <div class="N_container_box_input_heading">Email or Username</div>
              <input class="my_inputs" placeholder="Type" formControlName="userName" [(ngModel)]="parentEmailOrName" />
            </div>
            <div class="business_name">
              <div class="N_container_box_input_heading">Set a Password</div>
              <div class="pwd-with-ic-info">
                <input class="my_inputs" [type]="hidePassword ? 'password' : 'text'" placeholder="Type" value=""
                  formControlName="password" autocomplete="off" [(ngModel)]="parent.password" />
                <img class="cursor" [ngClass]="{'pwd-opn-ic-info':!hidePassword}" (click)="hidePassword=!hidePassword"
                  src="assets/pwd-opn-ic.svg" />
              </div>
            </div>

          </div>
        </form>
        <div class="N_btns">
          <div class="row mt-40 justify-content-center">
            <div [ngClass]="{'col-12':parent?.onBoardingCount?.count>3,'col-7':parent?.onBoardingCount?.count<=3}">
              <div [ngClass]="{ disable_next: !parentEmailOrName || !parent.password }" (click)="updateParent()"
                class="next_btn cursor btn-save-cstm">
                <a> SAVE </a>
              </div>
            </div>
            <div class="col-5" *ngIf="parent?.onBoardingCount?.count<4">
              <div (click)="skip()" class="back_btn cursor btn-skip-cstm">
                <a> SKIP </a>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-40 justify-content-center">
          <div class="col-12">
            <div class="bottom-txt-onbording-popup">
              <p>Your data security and privacy is important to us! <span class="clr-blue cursor"
                  (click)="privacyPolicy()">Privacy
                  Policy</span> </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
