<div class="common-headermargin">

  <section class="beta-upperpart">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Join the Beta!</h1>
          <p>We’re looking for Beta Users to make Wondrfly the best it can be!</p>
        </div>
      </div>
    </div>
  </section>
  <section class="webelieve-wonderfly">
    <div class="container">
      <div class="row">
        <div class="col-6 terms_box">
          <h1>Why Become a Beta User?</h1>
          <p>
            <br>
            To see all Wondrfly has to offer, Join the Beta!
            <br>
            <br> Beta Users gain early access to all Wondrfly’s features and a unique voice in the evolution of
            Wondrfly.
            <br><br>You’ll make a terrific Wondrfly Beta User if: <br>
          </p>
          <nav>
            <ul>
              <li>you’re constantly curious</li>
              <li>you have a thriving inner child</li>
              <li>you’re searching for the best in kids’ activities</li>
              <li>you believe fun and learning go hand-in-hand</li>
              <li>and, you live in Jersey City!</li>
            </ul>
          </nav>
          <p>
            <br> If you don’t live in Jersey City never fear!
            <br> Wondrfly is coming soon to a city near you.
          </p>

          <button class="Submit_btn webelieve-wonderfly" type="button" [routerLink]="['/join-the-beta']">Join
            Beta</button>
        </div>
        <div class="col-3 image-sec-1">
          <img class="mt-5 image-sec-1-1" src="assets/about-beta1.png">
          <img class="mt-4 image-sec-1-2" src="assets/about-beta2.png">
        </div>
        <div class="col-3 image-sec-2">
          <img class="image-sec-2-1" src="assets/about-beta3.png">
          <img class="mt-4 image-sec-2-2" src="assets/about-beta4.png">
        </div>
      </div>
    </div>
  </section>

  <section class="family-wonderfly">
    <div class="container">
      <div class="row">
        <div class="col-5 family-text">
          <h1>
            Beta Users Receive Unique Benefits.
          </h1>
          <ul>
            As a Beta User, you’ll be the first to experience all of Wondrfly’s features as they are released.
            <br>
            <br> You’ll also have the opportunity to give feedback on everything, meaning you’ll have a one-of-a-kind
            voice in shaping the Wondrfly experience.
            <br>
            <br> You even have the exclusive power to grow the Beta program by inviting friends and family!
            <br>
            <br> More perks of becoming a Beta User include:
            <br>
            <li> Unlimited kids’ activity searches. </li>
            <li>Exclusive content and downloadable resources. </li>
            <li>Personalized activity recommendations</li>
          </ul>
          <button class="Submit_btn webelieve-wonderfly" type="button" [routerLink]="['/join-the-beta']">Join
            Beta</button>
        </div>
        <div class="col-7">
          <div class="image-section">
            <img src="assets/about-beta5.png">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="beta-questions">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="search-result">
            <h1>Have a question?</h1>
            <div class="tab1-data">
              <div *ngFor="let ques of categories?.questions;index as i ">
                <h6 class="cursor" data-toggle="collapse" href="#bet1" *ngIf="!ques?.collapsed" data-toggle="collapse"
                  (click)="ques.collapsed = true" [attr.data-target]="'#collapseExample' + i" role="button"
                  aria-expanded="false" aria-controls="collapseExample1">
                  {{ques?.question}}
                  <span class="plus-src cursor">
                    <img _ngcontent-rxp-c9="" src="assets/plus.png" />
                  </span>
                </h6>
                <h6 class="cursor" *ngIf="ques?.collapsed" data-toggle="collapse" (click)="ques.collapsed = false"
                  [attr.data-target]="'#collapseExample' + i" role="button" aria-expanded="false"
                  aria-controls="collapseExample1">
                  {{ ques?.question }}
                  <span class="plus-src cursor">
                    <img _ngcontent-rxp-c9="" src="assets/minus.png" />
                  </span>
                </h6>
                <div class="collapse beta-show inner-temp" id="collapseExample{{ i }}"
                  [innerHtml]="ques?.answer | markdown" id="bet1">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="wondrfly-beta">
    <div class="container">
      <div class="row">
        <div class="col-12 subscribe">
          <h1>Spots are limited. <br> Join the Wondrfly Beta community today!</h1>
          <div class="search_bar">
            <button class="Submit_btn" type="button" [routerLink]="['/join-the-beta']">Join Beta</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- loader -->
<ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
<ng-template #foregroundSpinner>
  <app-loader-file></app-loader-file>
</ng-template>
