footer {
  padding-top: 28px;
  padding-bottom: 16px;
}
.footer_inner {
  background-color: #ffffff;
}

.footer_logo {
  display: inline-block;
  width: 100%;
}

.footer_logo a img {
  max-width: 78px;
}

.footer_menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* .footer_menu ul {
  margin-top: 7px;
} */

.footer_menu ul li {
  display: inline-block;
  margin: 0 27px 0 0;
}

.footer_menu ul a {
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
}

.footer_menu ul a:hover {
  color: #53b2e8;
}

.copyright_text {
  margin-top: 32px;
  clear: both;
}

.copyright_text p {
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  color: #494949;
}

ul,
li,
a {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.footer-icons a {
  margin-left: 12px;
}
/* .footer-icons {
  float: right;
  margin-top: -10px;
} */

.footer-icons a.fb:hover img {
  filter: invert(38%) sepia(7%) saturate(4607%) hue-rotate(182deg)
    brightness(96%) contrast(86%);
}
.footer-icons a.insta:hover img {
  filter: invert(31%) sepia(100%) saturate(1050%) hue-rotate(308deg)
    brightness(88%) contrast(103%);
}
.footer-icons a.tweet:hover img {
  filter: invert(47%) sepia(92%) saturate(1449%) hue-rotate(176deg)
    brightness(99%) contrast(91%);
}
.footer-icons a.pin:hover img {
  filter: invert(14%) sepia(71%) saturate(5505%) hue-rotate(342deg)
    brightness(91%) contrast(115%);
}
.footer-icons a.link:hover img {
  filter: invert(33%) sepia(47%) saturate(2010%) hue-rotate(173deg)
    brightness(94%) contrast(101%);
}
