.otp_form {
    max-width: 440px;
    margin: 0 auto;
}

.otp_form .form {
    margin-top: 50px;
}

.otp_form .otp_logo {
    position: absolute;
    top: 40px;
}

.otp_form .form .form-group {
    margin: 0 0 49px 0;
}

.otp_form .form .form-group.email_text h2 {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 30px;
    color: #494949;
    text-transform: capitalize;
}


.email_text h1 {
    font-family: 'Poppins';
    font-size: 36px;
    line-height: 37px;
    color: #53B2E8;
    font-weight: 400;
    line-height: 45px;
    margin-top: 31px;
}

.otp_form .form .form-group .input_outer {
    position: relative;
}

.otp_form .form .form-group .input_outer:focus::after,
.otp_form .form .form-group .input_outer:focus-within::after {
    opacity: 1;
}

.ch-radio input[type="checkbox"]:checked+span:before,
.ch-radio input[type="checkbox"]:checked~span:before,
.ch-radio input[type="radio"]:checked+span:before,
.ch-radio input[type="radio"]:checked~span:before {
    border-color: #27AE60;
    background-color: #27AE60;
}

.reset_btn {
    text-align: center;
    margin: 91px 0 0 0;
}

.ResetBtn {
    background: #53B2E8;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    min-width: 210px;
    min-height: 51px;
    line-height: 51px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    margin: 0 auto;
}

.ResetBtn:hover {
    background: #53B2E8;
}

.otp_img {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.otp_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    /* background: linear-gradient(214.99deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%); */
}

.otp_outer {
    position: relative;
}

.otp_outer .email_register {
    position: inherit;
}

.go_back_page {
    position: absolute;
    bottom: 27px;
}

.go_back_page p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    color: #494949;
}

.go_back_page p a {
    color: #53B2E8;
}

button[disabled] {
    background-color: #ebccc0;
    border: 1px solid #ebccc0;
}

button[disabled]:hover {
    background-color: #ebccc0;
    border: 1px solid #ebccc0;
}

mat-icon.field-icon {
    float: right;
    margin-right: 10px;
    margin-top: -38px;
    position: relative;
    z-index: 2;
}

.otp_img img.img-fluid {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.col-md-6.img-box {
    padding: 0px;
}
#forget-modal h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 20px !important;
  color: #494949 !important;
}
.go_back_page.forget-pop {
  text-align: center;
  position: relative;
  top: 20px;
}
#forget-modal .sign_in_btn {
  margin-bottom: 25px;
}
@media (max-width: 1024px){
    .otp_outer .email_register{
        position: inherit;
        height: 100vh;
    }
}
