<body>

  <div class="otp_outer">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-6 email_register">
          <div class="otp_form">
            <div class="otp_logo">
              <a href="#">
              </a>
            </div>
            <div class="form-group email_text">
              <h1>Forgot Password
              </h1>
            </div>

            <div *ngIf="isFindAccount" class="form" [formGroup]="findAccountForm">
              <div class="form-group email_text">
                <h2>Please enter username</h2>
              </div>
              <div class="form-group">
                <label>Email or Username</label>
                <div class="input_outer">
                  <input type="text" class="form-control" placeholder="Enter Email or Username"
                    [formControl]="findAccountForm.controls['userId']">
                  <small
                    *ngIf="findAccountForm.controls['userId'].touched && findAccountForm.controls['userId'].hasError('required')"
                    class="form-error-msg">Email or Username is required</small>
                </div>
              </div>
              <div class="reset_btn">
                <button class="ResetBtn" [disabled]="findAccountForm.invalid" (click)='otpRequest()'>Find</button>
              </div>
              <div class="go_back_page">
                <p> Go back to <a [routerLink]="['/login']">SIGN IN</a> </p>
              </div>
            </div>


            <div *ngIf="isForgot" class="form" [formGroup]="otpSendForm">
              <div class="form-group email_text">
                <h2>Register your email address</h2>
              </div>
              <div class="form-group">
                <label>Email</label>
                <div class="input_outer">
                  <input type="text" class="form-control" placeholder="Type"
                    [formControl]="otpSendForm.controls['email']" [(ngModel)]="credentials.email">
                  <small
                    *ngIf="otpSendForm.controls['email'].touched && otpSendForm.controls['email'].hasError('required')"
                    class="form-error-msg">Invalid Email</small>
                </div>
              </div>
              <div class="reset_btn">
                <button class="ResetBtn" [disabled]="otpSendForm.invalid" (click)='addEmail()'>Register</button>
              </div>
              <!-- [disabled]="otpSendForm.invalid"
                                    (click)="otpRequest()" -->
              <div class="go_back_page">
                <p> Go back to <a [routerLink]="['/login']">SIGN IN</a> </p>
              </div>
            </div>


            <div *ngIf="isOTP" class="form" [formGroup]="otpVerifyForm">
              <div class="form-group email_text">
                <h2>Please enter the one time password sent to your email</h2>
              </div>
              <div class="form-group">
                <label>One Time Password</label>
                <div class="input_outer">
                  <input type="password" class="form-control" placeholder="Password" maxlength="4"
                    [formControl]="otpVerifyForm.controls['otp']" [(ngModel)]="credentials.otp">
                  <mat-icon *ngIf="otpVerifyForm.valid" class="field-icon"><svg width="12" height="10"
                      viewBox="0 0 12 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M4.59502 9.13831C4.48047 9.25353 4.32419 9.31782 4.16185 9.31782C3.99951 9.31782 3.84322 9.25353 3.72868 9.13831L0.269259 5.67834C-0.089753 5.31932 -0.089753 4.73716 0.269259 4.37882L0.702429 3.94554C1.06155 3.58653 1.64304 3.58653 2.00205 3.94554L4.16185 6.10545L9.99792 0.269259C10.357 -0.089753 10.9391 -0.089753 11.2975 0.269259L11.7307 0.702542C12.0897 1.06155 12.0897 1.6436 11.7307 2.00205L4.59502 9.13831Z"
                        fill="#27AE60" />
                    </svg></mat-icon>
                  <small
                    *ngIf=" otpVerifyForm.controls['otp'].hasError('minLength') && otpVerifyForm.controls['otp'].touched"
                    class="form-error-msg">Four Digit No. Required</small>
                  <small
                    *ngIf=" otpVerifyForm.controls['otp'].hasError('maxLength') && otpVerifyForm.controls['otp'].touched"
                    class="form-error-msg">Four Digit Required</small>
                  <small
                    *ngIf=" otpVerifyForm.controls['otp'].hasError('required') && otpVerifyForm.controls['otp'].touched"
                    class="form-error-msg">OTP Is Required</small>

                </div>
              </div>
              <div class="reset_btn">
                <button class="ResetBtn" [disabled]="otpVerifyForm.invalid" (click)="otpVerify()">Verify</button>
              </div>
              <div class="go_back_page">
                <p> Go back to <a [routerLink]="['/login']">SIGN IN</a> </p>
              </div>
            </div>

            <div *ngIf="isNewPassword" class="form" [formGroup]="passwordResetForm">
              <div class="form-group">
                <label>New Password</label>
                <div class="input_outer">
                  <input type="password" class="form-control" [formControl]="passwordResetForm.controls['newPassword']"
                    [(ngModel)]="credentials.newPassword">
                  <small
                    *ngIf=" passwordResetForm.controls['newPassword'].hasError('required') && passwordResetForm.controls['newPassword'].touched"
                    class="form-error-msg">Can't Leave It Blank</small>
                </div>
              </div>
              <div class="form-group">
                <label>Confirm new Password</label>
                <div class="input_outer">
                  <input type="password" class="form-control"
                    [formControl]="passwordResetForm.controls['confirmPassword']"
                    [(ngModel)]="credentials.confirmPassword">
                  <small *ngIf=" passwordResetForm.controls['confirmPassword'].hasError('equalTo')"
                    class="form-error-msg">Password Do Not Match</small>
                </div>
              </div>
              <label class="ch-radio">
                <input name="hiring" type="checkbox">
                <span>
                  <!-- <i class="ch-icon icon-tick"></i> -->
                  All devices will be required to sign in with new
                  password.
                </span>
              </label>
              <div class="reset_btn">
                <button class="ResetBtn" [disabled]="passwordResetForm.invalid" (click)="resetPassword()">Reset</button>
              </div>
              <div class="go_back_page">
                <p> Go back to <a [routerLink]="['/login']">SIGN IN</a> </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 img-box">
          <div class="otp_img">
            <img class="img-fluid" [defaultImage]="defaultImage" [errorImage]="errorImage" lazyLoad="{{forgotImage}}" />
            <div class="otp_img_overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div data-toggle="modal" data-target="#forget-modal" id="sendotp"></div>
  <div class="modal fade verification_modal Location-Modal forget-modal" id="forget-modal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="close" id="close_modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-close"></span>
        </button>
        <div class="modal-body">
          <div class="location-popup">
            <span><img class="logo-img" src="assets/logo.png" /></span>
            <h2>
              We sent an email to {{accountResponse?.email}} with further instructions.
            </h2>
          </div>

          <div class="sign_in_btn">
            <button data-dismiss="modal" type="submit" class="SignBtn">
              Ok
            </button>
          </div>
          <div class="go_back_page forget-pop cursor">
            <!-- <p>Not a member yet?  <a [routerLink]="['/join-the-beta']">Join The Beta</a> </p> -->
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
<!-- loader -->
<ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
<ng-template #foregroundSpinner>
  <app-loader-file></app-loader-file>
</ng-template>
