.program_outer #bannerimage {
    background-size: cover!important;
    background-repeat: no-repeat !important;
    background-position: right top!important;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    height: 200px!important;
  }
  .mb-70px {
    margin-bottom: 70px !important;
}
  .program_images {
    width: 100%;
    display: flex;
  }
  a.business_btn.cursor.contact {
    min-width: 100% !important;
    max-width: 100% !important;
    margin-top: 10px !important;
    min-height: 30px !important;
    line-height: 30px !important;
    padding: 0px 14px !important;
    font-size: 13px !important;
  }
  .program_images .program_box {
    width: 100%;
    max-width: 350px;
    margin-right: 5px;
  }
  .description_text.people_section {
    padding: 25px 20px;
  }
  .health-upper {
    clear: both;
  }
  .health-upper span {
    margin-left: 10px;
    margin-right: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.001em;
    color: #494949;
  }
  .pencil-right {
    float: right;
    filter: invert(61%) sepia(59%) saturate(442%) hue-rotate(159deg)
      brightness(95%) contrast(93%);
    border-radius: 0px !important;
  }
  .health-lower h1 {
    margin-top: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #53b2e8;
  }
  .health-lower h1 span {
    color: #000;
  }
  .health-upper img.i-big {
    height: 14.27450942993164px;
    width: 14px;
  }
  .program_images .program_box:last-child {
    margin-right: 0;
  }
  
  .program_images .program_box img {
    max-width: 100%;
  }
  
  .program_text {
    margin-top: -40px;
  }
  
  .program_text .CategoryText .edit_icon {
    right: 35%;
  }
  .btn-unsave-search {
    background: #53B2E8 !important;
    color: #fff!important;
  }
  .program_text .CategoryText h5 {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #777cea;
    text-transform: capitalize;
  }
  
  .program_text .CategoryText .shareIcon {
    display: inline-block;
  }
  
  .program_text .CategoryText .shareIcon a {
    display: inline-block;
    margin: 0 0 0 11px;
    vertical-align: super;
  }
  
  .program_text .CategoryText .learn_code {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    margin: 0px auto;
    text-align: center;
  }
  
  .program_text .CategoryText .learn_code img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: 0.7s;
  }
  
  .program_text .CategoryText h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 130%;
    color: #494949;
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
    width: 70%;
    align-items: center;
    display: flex;
    text-transform: capitalize;
  }
  
  .program_text .CategoryText h3 .edit_name {
    position: absolute;
    right: -36px;
    top: 0;
  }
  .custom_select {
    border-radius: 0px !important;
  }
  button.camp-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #494949;
    background: #ebebeb;
    border: none;
    border-radius: 20px;
    padding: 7px 8px;
    margin-right: 12px;
    margin-bottom: 2px;
    width: 120px;
    text-align: center;
    cursor: default;
  }
  
  /* button:not(:disabled) {
    cursor:auto;
  } */
  
  
  .special-groups span {
    margin: 0px 15px 0px 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #494949;
    border: 1px solid #53B2E8;
    border-radius: 120px;
    padding: 9px 15px;
    /* cursor: pointer; */
  }
  .special-groups {
    padding-bottom: 20px;
    display: flex;
    position: relative;
  }
  
  .special-groups span img {
    margin-right: 6px;
    max-width: 27px;
  }
  .session_details {
    margin-top: 10px;
    align-items: center;
    /* padding-left: 25px; */
    padding-bottom: 20px;
  }
  .clr-online-pink{color: #FA627D !important;}
  .mt-20px{margin-top: 20px;}
  
  .session_details .programText {
    margin-top: 53px;
    padding-left: 10px;
  }
  
  .session_details p, .session_details p a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #494949;
    display: inline-block;
    margin: 0 20px 0 0;
    vertical-align: middle;
  }
  .session_details p a{
    margin: 0;
  }
  
  .session_details p img {
    margin-right: 6px;
    vertical-align: middle;
  }
  
  .insured_outer {
    border-top: 1px solid #e5e9ec;
    padding: 31px 0 0;
    margin-top: 0;
  }
  
  .insured_outer p {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #748494;
    margin: 0 35px 0 0;
  }
  
  .insured_outer p img {
    max-width: 27px;
    margin-right: 12px;
  }
  
  .batch_outer .batch_left {
    background: #ffffff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 30px 35px;
    position: relative;
  }
  
  .batch_outer .batch_left h2 {
    font-family: "Poppins";
    font-size: 26px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #777cea;
  }
  
  .batch_box {
    border: 1px solid #e5e9ec;
    border-radius: 4px;
    padding: 16px 28px;
    margin-top: 11px;
  }
  
  .batch_box .batch_title p {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #828282;
    margin: 0 0 5px 0;
  }
  
  .listing_outer {
    margin-top: 29px;
  }
  
  .batch_outer .batch_right {
    background: #ffffff;
    border: 1px solid #e5e9ec;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 21px;
    margin-bottom: 21px;
    position: relative;
  }
  
  .batch_outer .batch_right:last-child {
    margin: 0;
  }
  
  .batch_outer .batch_right img {
    max-width: 100%;
  }
  
  .batch_outer .batch_right.border_none {
    border: none;
    text-align: center;
    padding: 32px;
    border-radius: 20px;
    margin-top: 90px;
  }
  
  .batch_outer .batch_right h2 {
    margin-bottom: 30px;
  }
  
.batch_outer .batch_right p a {
    /* font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px!important;
    line-height: 24px;
    letter-spacing: 0.001em; */
    color: #494949;
    margin: 0!important;
  }
  
  .batch_outer .batch_right a.business_btn {
    min-height: 36px;
    line-height: 36px;
    width: auto;
    max-width: 100%;
    min-width: 203px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.005em;
    padding: 0 10px;
    display: inline-block;
    margin-top: 32px;
    transition: 0.8s;
    background: #53b2e8;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    text-transform: capitalize;
    font-weight: 600;
    font-family: "Poppins";
  }
  
  .batch_outer .batch_right a.business_btn:hover {
    background: #3f9fd6;
  }
  
  .batch_list_outer {
    display: flex;
  }
  
  .batch_list_outer .batch_listing {
    display: inline-block;
    margin: 0 15px 0 0;
  }
  
  .batch_list_outer .batch_listing label {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #53b2e8;
    text-transform: capitalize;
    width: 100%;
  }
  
  .batch_list_outer .batch_listing .batch_profile {
    width: 22px;
    height: 22px;
    border-radius: 4px;
    display: inline-block;
    margin-right: 14px;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .batch_list_outer .batch_listing .batch_profile img {
    max-width: 100%;
    height: 100%;
  }
  
  .batch_list_outer .batch_listing p {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    display: inline-block;
    color: #748494;
    margin: 0;
  }
  
  .description_text {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 20px;
    position: relative;
    padding: 30px;
    margin-bottom: 20px;
  }
  
  .description_text:last-child {
    margin: 0;
  }
  
  .edit_icon {
    position: absolute;
    right: 30px;
    top: 24px;
  }
  .clr-blue{color: #53B2E8!important;}
  .description_text h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.005em;
    color: #494949;
    margin-bottom: 20px;
  }
  
  .description_text p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #494949;
  }
  .font-size-14{
    font-size: 14px !important;
    line-height: 18px !important;
  }
  
  .description_text label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #FA627D;
  }
  .clr-49-black{color:#494949;}
  
  .description_text h4 .view_all {
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-transform: capitalize;
    color: #53b2e8;
    float: right;
    cursor: pointer;
  }
  .description_text .company_info{
    margin-bottom: 20px;
  }
  .description_text .company_info .media-body{
    margin-left: 15px;
  }
  .mb-0{margin-bottom: 0px;}
  .mb-10{margin-bottom: 10px;}
  .reviews_outer {
    margin-top: 36px;
  }
  
  .reviews_outer .media {
    margin: 0 0 15px 0;
  }
  
  .reviews_outer .media .media-left {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .reviews_outer .media .media-left img {
    max-width: 100%;
    height: 100%;
  }
  
  .reviews_outer .media .media-body {
    padding: 0 0 0 12px;
  }
  
  .reviews_outer .media .media-body label {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #777cea;
  }
  
  .reviews_outer .media .media-body p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #748494;
    margin: 0;
  }
  a{
    word-break: break-all !important;
  }
  .menu_control {
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
  }
  
  /* start program detail2 page css */
  
  /* Pricing box css */
  .pricing-content-info .description_text h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #494949;
    margin-bottom: 20px !important;
  }
  .lesson-txt-h3 h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #494949;
    margin-bottom: 10px;
  }
  .pricing-dollor-h4 h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #494949;
    margin-bottom: 10px;
  }
  .prc-disc-opt h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #B5B5B5;
    word-wrap: break-word;
  }
  .pricing-dollor-h4 h4 span.clr-gry {
    color: #B3B3B3;
  }
  /* end pricing box css */
  
  .batch_outer.detailed2 {
    padding: 30px 0 0 0;
  }
  
  .batch_outer.detailed2 .program_text {
    padding: 0 0 31px 0;
  }
  
  .learn_code.left img {
    max-width: 100px;
  }
  
  .description_text .des_media {
    margin: 0;
  }
  
  .description_text .des_media:last-child {
    margin: 0;
  }
  
  .description_text .des_media .media {
    margin-top: 17px;
  }
  
  .description_text .des_media .media-body {
    padding: 0 0 0 20px;
  }
  
  .description_text .des_media .media-body p {
    margin: 0;
  }
  
  .subscription_text {
    margin-top: 56px;
  }
  
  .subscription_text .subscription_box {
    display: inline-block;
    vertical-align: top;
    margin: 0 161px 0 0;
  }
  
  .subscription_text .subscription_box:last-child {
    margin: 0;
  }
  
  .social_media {
    margin: 9px 0 0 0;
  }
  
  .social_media a .icon {
    color: #748494;
    margin: 0 6px 0 0;
    font-size: 19px;
  }
  
  .featured_text .rating_box {
    position: absolute;
    right: 0;
    bottom: 13px;
    top: auto;
  }
  
  .featured_text .feature_box p {
    margin: 0 16px 0 0;
  }
  
  .featured_text p {
    color: #777cea;
  }
  
  .featured_img .coding_text {
    position: absolute;
    bottom: 9px;
    left: 9px;
  }
  
  .featured_img .coding_text h3 {
    min-width: 75px;
    min-height: 21px;
    line-height: 21px;
    background: #f15c20;
    border-radius: 10.5px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    letter-spacing: 0.01em;
    text-align: center;
    text-transform: capitalize;
  }
  
  .featured_text .featured_btn {
    border: 1px solid #f15c20;
    color: #f15c20;
  }
  
  .featured_text .feature_box {
    margin: 5px 0 12px 0;
  }
  
  /* program edit page css */
  
  .batch_outer .batch_right.active_edit {
    padding: 30px;
    text-align: left;
  }
  
  .batch_outer .batch_right.active_edit h2 {
    margin: 0;
  }
  
  .batch_outer .batch_right .price_child {
    margin-top: 8px;
  }
  
  .batch_outer .batch_right .price_child h3 {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #748494;
    display: inline-block;
  }
  
  .batch_outer .batch_right .price_child p {
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    color: #748494;
    display: inline-block;
    margin: 0;
  }
  
  .batch_right_form {
    margin-top: 0;
  }
  
  .batch_right_form .form-group {
    margin-bottom: 2px;
  }
  
  .batch_right_form .adult_assistance {
    width: 100%;
    display: inline-block;
    margin-top: 5px;
  }
  
  .batch_right_form .form-group.date_time .input_outer {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e5e9ec;
    min-height: 52px;
  }
  
  .batch_right_form .form-group.date_time .input_outer input {
    max-width: 45%;
    border: none;
    display: inline-block;
  }
  
  .batch_right_form .form-group.date_time .input_outer input.right_input {
    text-align: center;
  }
  
  .batch_right_form .form-group.date_time .input_outer .arrow_img {
    display: inline-block;
  }
  
  .batch_right_form
    .form-group.date_time
    .input_outer
    input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  
  .batch_right_form .form-group .udpate_btn {
    width: 100%;
    max-width: 352px;
    background: #f15c20;
    font-family: "Poppins";
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    min-height: 52px;
    line-height: 52px;
    border-radius: 4px;
    border: none;
    box-shadow: none;
    font-size: 26px;
    color: #fff;
    transition: 0.8s;
  }
  
  .batch_right_form .form-group .udpate_btn:hover {
    background: #c74009;
  }
  
  .edit_icon {
    position: absolute;
    right: 30px;
    top: 24px;
  }
  
  .description_text .map_img {
    border: 1px solid #e5e9ec;
    border-radius: 2px;
    padding: 24px;
  }
  
  .description_text .des_media .media-body.social {
    padding: 0 0 0 40px;
  }
  
  .completion_score {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .completion_score p {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #748494;
    display: inline-block;
  }
  
  .completion_score a {
    margin: 0 6px 0 0;
  }
  
  .completion_score .profile_score {
    display: inline-block;
  }
  
  .description_media .edit_icon {
    top: 0;
  }
  
  .completion_score.logout {
    top: 20px;
  }
  
  /* ------------style.css-------------- */
  
    /* .form-group label {
      font-weight: 600;
      font-size: 10px;
      line-height: 14px;
      text-transform: capitalize;
      color: #494949;
      padding: 0 0 0 0px;
    } */
  
  /* .form-group input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #e5e9ec;
    min-height: 52px;
    height: auto;
    font-size: 13px;
    color: #748494;
    transition: 0.8s;
    padding: 14px;
  } */
  
  /* Rounded sliders */
  
  .switch.notification .slider.round {
    border-radius: 34px;
  }
  
  .switch.notification .slider.round:before {
    border-radius: 50%;
  }
  
  /* ---------------------------------- */
  
  .switch.notification {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 17px;
    margin: 0 0 0 12px;
  }
  
  .switch.notification input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch.notification .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .switch.notification .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .switch.notification input:checked + .slider {
    background-color: #f15c20;
  }
  
  .switch.notification input:focus + .slider {
    box-shadow: 0 0 1px #f15c20;
  }
  
  .switch.notification input:checked + .slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
  }
  
  /* Rounded sliders */
  
  .switch.notification .slider.round {
    border-radius: 34px;
  }
  
  .switch.notification .slider.round:before {
    border-radius: 50%;
  }
  
  .description_text h2 a {
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-transform: capitalize;
    color: #53b2e8;
    float: right;
  }
  
  .description_text.people_section .list_box {
    display: inline-block;
    margin-top: 42px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    padding: 23px 34px;
    max-width: 321px;
    margin-right: 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  
  .description_text.people_section .media .people_profile {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-top: 0px;
    margin-left: 6px;
    overflow: hidden;
  }
  
  .description_text.people_section .media .people_profile img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  .description_text.people_section .media .media-left {
    text-align: center;
  }
  
  .description_text.people_section .media .media-left h4 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #828282;
    margin-top: 15px;
  }
  
  .description_text.people_section .media .media-left h5 {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #494949;
    margin-top: 6px;
  }
  
  .skills_sec {
    margin-top: 30px;margin-bottom: 10px;
  }
  .skills_sec .skill_outer span {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    /* color: #494949; */
    color: #53B2E8;
    background: #FFFFFF;
    /* border: 1px solid #494949; */
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 4px 14px;
    margin-right: 11px;
    cursor: pointer;
  }
  
  
  .description_text.people_section .media .media-body h3 {
    margin-top: 18px;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
  }
  
  .activities_slider {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    
  }
  
  
  .activities_slide .slide_text h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 15px;
  }
  
  .activities_slide .slide_text .rating_box {
    float: right;
    font-size: 12px;
  }
  
  .activities_slide .slide_text .rating_box span {
    vertical-align: middle;
    margin-left: 6px;
    color: #494949;
  }
  
  .activities_slide .slide_text .date_age p {
    display: inline-block;
    font-size: 12px;
    line-height: 16px;
    font-family: "Poppins";
    color: #494949;
    margin: 0 13px 0 0;
    vertical-align: middle;
  }
  
  .activities_slide .slide_text .date_age p:last-child {
    margin: 0;
  }
  .activities_slide .slide_text span.title {
    white-space: normal;
  }
  .batch_outer .batch_right.map_provider {
    padding: 0;
    border-radius: 20px;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1)); */
    margin-bottom: 14px;
  }
  .batch_outer .batch_right.map_provider .description_text {
    box-shadow: none;
}
  
  .batch_outer .batch_right.map_provider img {
    border-radius: 20px;
  }
  agm-map {
    padding: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    height: 288px;
  }
  ::ng-deep.agm-map-container-inner {
    width: inherit;
    height: inherit;
    border-radius: 20px;
  }
  .batchOuter {
    margin-top: 30px;
  }
  
  .description_text.people_outer {
    margin-top: 50px;
  }
  
  .description_text.people_section .media h4 {
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    color: #494949;
    margin-top: 0px;
  }
  
  .description_text.people_section .media h5 {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-transform: capitalize;
    color: #494949;
    margin-top: 6px;
  }
  
  .edit_logo {
    background: #fa627d;
    border: 2px solid #ffffff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    position: absolute;
    bottom: 0px;
    right: 45px;
  }
  
  .batch_outer[_ngcontent-jvi-c2]
    .batch_right[_ngcontent-jvi-c2]
    P[_ngcontent-jvi-c2] {
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #494949;
    margin: 27px 19px 0 0;
  }
  
  .program_outer .btn.btn-Grade {
    background: #53b2e8 !important;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%) !important;
    border-radius: 20px !important;
    color: #ffffff !important;
    font-family: "Poppins";
    font-size: 12px !important;
    font-weight: 500 !important;
    text-align: center !important;
    min-width: 120px !important;
    line-height: 28px !important;
    min-height: 28px !important;
    margin: 45px 0px 1px -17px;
  }
  .programInfo {
    width: 100%;
      line-height: 25px;
      margin-top: 0px;
  }
  
  @media (min-width: 768px) {
    .edit_logo {
      bottom: 15px;
      right: 36px;
    }
  }
  @media (max-width: 769px) {
    .edit_logo {
      bottom: 15px;
      right: 36px;
    }
  }
  
  @media (max-width: 1024px) {
    .batch_outer .batch_right.border_none {
      padding: 20px;
    }
    .batch_outer .batch_right a.business_btn {
      min-width: 170px;
    }
    .program_outer {
      padding: 0 20px 30px;
    }
    .batch_outer .batch_right h2 {
      font-size: 20px;
    }
    .insured_outer p {
      margin: 0 11px 10px 0;
    }
    .program_text .CategoryText .learn_code {
      width: 104px;
      height: 104px;
    }
    .session_details .programText {
      margin-top: 34px;
    }
    .program_text .CategoryText h3 {
      font-size: 24px;
    }
    .session_details p {
      margin: 0 21px 0 0;
    }
    .activities_slide {
      max-width: 280px;
      margin: 0 26px 26px 0;
    }
  }
  .scrollmenu {
    overflow: auto;
    white-space: nowrap;
    padding: 8px;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  
  .form-group.participant_input .input-group-text {
    padding: 0 21px;
    background-color: #fff;
    border: 1px solid #e5e9ec;
  }
  .form-group.participant_input input.form-control {
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
  
  .upload_btn .btn.btn-Grade {
    position: relative;
  }
  .upload_btn .btn.btn-Grade::after {
    content: "UPLOAD";
    background-color: #53b2e8;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  .verification_outer > h2 {
    text-align: center;
  }
  
  ::ng-deep .modal {
    z-index: 1001 !important;
  }
  
  ::ng-deep .modal-backdrop {
    z-index: 1000 !important;
  }
  
  ::ng-deep .pac-container {
    z-index: 1055 !important;
  }
  
  .lock-screen {
    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;
  }
  
  .program_text .CategoryText .provider_name {
    color: #494949;
    font-size: 24px;
    padding: 10px 0 15px 0px;
    display: flex;
    align-items: center;
  }
  
  /* -------------------------------------------------------people card-------------------------------------------------------- */
  
  .description_text.people_sectionn .media .people_profile {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
  }
  .btn-style{
    background: #53B2E8;
    border: 1px solid #53B2E8;
    border-radius: 20px;
    box-shadow: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 9px 0px;
    color: #fff;
    cursor: auto;
    width: 100px !important;
    margin-left: 20px;
  }
  .description_text.people_sectionn .media .people_profile img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
  
  .description_text.people_sectionn .media .media-left {
    text-align: center;
    max-width: 21%;
  }
  
  .description_text.people_sectionn .media .media-left h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    text-transform: capitalize;
    color: #494949;
    margin-top: 15px;
  }
  
  .description_text.people_sectionn .media .media-left h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #53b2e8;
    margin-top: 6px;
  }
  
  
  .description_text.people_sectionn .media .media-body h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 10px;
  }
  .description_text.people_section.people_outer .people_list {
    display: flex;
    overflow: scroll;
  }
  .description_text:last-child {
    margin: 0;
  }
  
  .activities_slider {
    display: inline-block;
    width: 100%;
    margin-top: 40px;
    cursor: pointer;
  }
  
  .activities_slide {
    background: #ffffff;
    border-radius: 20px;
    max-width: 321px;
    height: 100%;
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin-top: 5px;
  }
  
  h2.description-activities {
    margin-top: -5px;
    padding-bottom: 35px;
  }
  .activities_slide .slide_image {
    border-radius: 20px 20px 0px 0px;
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 9%);
    background: #FFFFFF;
  }
  
  .activities_slide .slide_image img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    transform: scale(1.05);
    height: 132px;
  }
  
  
  .activities_slide .slide_text {
    padding: 20px;
  }
  
  .activities_slide .slide_text .rating_box {
    float: right;
    font-size: 12px;
  }
  
  .activities_slide .slide_text .rating_box span {
    vertical-align: middle;
    margin-left: 6px;
    color: #494949;
  }
  
  .activities_slide .slide_text .date_age p {
    font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #494949;
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: middle;
  }
  
  .activities_slide .slide_text .date_age p img {
    margin-right: 6px;
  }
  
  .activities_slide .slide_text .date_age p:last-child {
    margin: 0;
  }
  
  .activities_slide .slide_text .sports_btn {
    display: inline-block;
  }
  
  .activities_slide .slide_text .sports_btn span {
    font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 16px;
      text-align: justify;
      letter-spacing: 0.001em;
      color: #53B2E8;
      background: #E2F5FF;
      border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
   .description_text.slider {
    margin-bottom: 20px;
    margin-right: 15px;
    margin-left: 15px;
    padding: 40px 30px;
  }
  .disable_next {
    background-color: #b5e4f9 !important;
    pointer-events: none;
  } 
  
   .carousel-cat {
    position: relative;
  }
  
  .carousel-inner {
    padding-bottom: 20px;
  } 
   .forth_section_heading span.blue_heading {
    float: right;
    text-decoration: underline;
  }
  .forth_section {
    padding-top: 50px;
  }
  .forth_section_heading h2 {
    margin-bottom: 30px;
  }
  .forth_section_title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #494949;
    padding-bottom: 10px;
    padding-top: 5px;
  } 
  img.forth_section_image {
    padding-bottom: 17px;
    width: 357px;
    height: 238px;
    object-fit: cover;
  }
  .forth_section_image_section {
    padding-bottom: 45px;
  }
  .interested_title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #494949;
    text-align: center;
  }
 .small_section {
    display: flex;
    align-items: center;
  }
   span.blue_heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #53B2E8;
  } 
  span.more-programscolor {
    color: #53b2e8;
  }
  .people-block {
    margin-bottom: 20px;
  }
  .share_icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px;
    width: 30%;
    position: absolute;
    top: 6px;
    right: 3px;
  }
  button.addimagebtn {
    background: #53b2e8;
    border: 1px solid #393d3f;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 50px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: -30px;
    left: 920px;
  } 
  .rating-starsearch {
    position: relative;
    top: -3px;
    left: 10px;
    min-width: 175px;
  }
  .star-daialogbox {
    position: absolute;
    z-index: 5;
    width: 400px;
    left: -112px;
  }
  .star-daialogcontent {
    left: 0px !important;
  }
  .subCat {
    color: #53b2e8;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .carousel-nav-icon {
      left: 884px;
    }
    button.addimagebtn {
      left: 760px;
    } 
  }
  
  .close {
    position: absolute;
    top: 18px;
    right: 17px;
    z-index: 1;
  }
  .close span {
    color: #8e8f90;
    font-size: 25px;
  }
  button.bt-chat {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #53b2e8;
    background: #ffffff;
    border: 1px solid #53b2e8;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }
  .mb-30 {margin-bottom: 30px!important;}
  .text-align-unset {text-align: unset!important;}
  .flat-right{float: right!important;}
  .body-detail-info .list_outer .left-icon-box-media {
    display: grid;
    grid-template-columns: 15px auto;
    column-gap: 5px;
    align-items: center;
    margin-bottom: 4px;
  }
  .media-body.body-detail-info {
    padding-bottom: 15px!important;
  }
  .body-detail-info .list_outer .left-icon-box-media p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
    padding-top: 2px;
  }
  .body-detail-info h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: unset!important;
    letter-spacing: 0.001em;
    color: #53B2E8;
    max-width: 100%;
    display: -webkit-box;
    max-height: 45px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px!important;
  } 

  /* map popup */
  .map-popup h1 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 10px;
  }
  .map-popup h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 10px;
  }
  .map-locationtext h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #828282;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
  }
  .map-locationtext {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
  }
  button.map-buttonas {
    background: #53b2e8;
    border-radius: 25.1946px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  ::ng-deep .gm-style-iw-d {
    overflow: auto !important;
  }
  ::ng-deep .gm-style .gm-style-iw-t::after {
    width: 0px !important;
  }
  ::ng-deep .gm-style .gm-style-iw-c {
    background: #ffffff !important;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
    border-radius: 20px !important;
    top: 20px !important;
    max-width: 220px !important;
    min-height: auto !important;
  }
  ::ng-deep button.gm-ui-hover-effect {
    top: 0px !important;
    right: 0px !important;
    display: none !important;
  }
  ::ng-deep .gm-style-iw-d {
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
  }
  .initial-alpha-profile {
    position: relative;
    background: #dcf3ff;
    width: 154px;
      height: 154px;
      border-radius: 50%;
      display: inline-block;
      overflow: hidden;
  }
  .initial-alpha-profile h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #53b2e8;
    font-size: 40px;
    font-family: "poppins";
    text-transform: capitalize;
  }
  .media-left.profile-text {
    display: grid;
  }
  div#cat-subcat {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 10px 0px 0px 0px;
  }
  
  .moreBtn {
    padding-right: 15px;
    padding-left: 15px;
    line-height: 17px;
    background: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 20px;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.001em;
    color: #494949;
    margin-left: 14px;
    position: relative;
  }
  div#moreBtn-collapse {
    background-color: #fff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    padding: 20px 0 20px 0;
    z-index: 11;
    width: 271px;
    min-width: 290px;
    text-align: left;
    position: absolute;
    left: 16%;
    bottom: -47%;
  }
  p#moreBtn-collapse-cursor {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 25px;
    border-radius: 20px;
    background-color: #e2f5ff;
    display: inline-block;
    color: #53b2e8;
    font-size: 11px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 0;
  }
  span#closeBtn {
    display: block;
    margin-left: auto;
    margin-top: -20px;
    margin-right: 9px;
    cursor: pointer;
  }
  .company_info .icon {
    color: #53b2e8;
    font-size: 20px;
  }
  .company_info h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #494949;
    margin-bottom: 4px;
  }
  /* .company_info p {
    font-size: 13px !important;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #494949;
    margin: 5px 0 0 0 !important;
    text-align: left;
    text-align: left !important;
  } */
  .social-icons.media.company_info img {
    width: 20px;
    border-radius: 0px;
  }
  .social-icons.media.company_info a {
    margin-right: 20px;
  }
  .social-icons.media.company_info{
    text-align: center;
  }
  .program_text .CategoryText .learn_code img:hover {
    transform: scale(0.8);
  }
  
  /* comment html */
  .skill_flex{
    display: flex !important;
  }
  /* end comment html */
  
  .add-to-calendar-btn img{padding-right:6px;}
  .add-to-calendar-btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #53B2E8;
    background: #FFFFFF;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 7px 15px;
    display: flex;
    align-items: center;
  }
  .add-to-calendar-info.align-right button.add-to-calendar-btn{margin-left: auto;}
  .reviews-underline {
    text-decoration: underline;
    color: #494949;
  }
  .no-underline {
    color: #494949;
  }
  
  
  /* START FILTER SECTION  */
  .activities-top-grid {
    display: grid;
    grid-template-columns: 145px auto;
    column-gap: 15px;
  }
  .might-try {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.005em;
    color: #494949;
  }
  /* list -view css */
  h2.provider_name span.provider-heading-h2 {
    display: -webkit-box;
    text-overflow: ellipsis;
    height: 22px;
    line-height: 20px;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  
  .clr-blue{color: #53B2E8!important;}
  .bg_color {
    background: #FFFFFF;
    box-shadow: -2px 2px 11px rgb(0 0 0 / 19%);
    border-radius: 20px;  
  }
  .ativities-boxes-info .program_img img {
    width: 100%;
    max-width: 150px;
  }
  .ativities-section-info .ativities-boxes-info{
    padding: 20px;
    margin-top: 25px;
  }
  .ativities-boxes-info .name h6.tdata {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.001em;
    color: #53B2E8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ul-tag-btn-info .btn-activites-info {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
    background: #ebebeb;
    cursor: default;
    border-radius: 20px;
    border: none;
    padding: 5px 15px;
    margin-bottom: 10px;
  }
  ul.ul-tag-btn-info li {
    display: inline-block;
    margin: 0px 3px;
  }
  .ativities-boxes-info .left-icon-box-media {
    display: grid;
    grid-template-columns: 15px auto;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 10px;
  }
  .ativities-boxes-info .left-icon-box-media p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
  }
  .cstm-btn-online {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #777CEA;
    background: rgba(119, 124, 234, 0.19);
    border-radius: 20px;
    border: none;
    padding: 7px 5px;
    width: 100%;
    max-width: 121px;
    margin: 0px auto;
    text-align: center;
    display: block;
    margin-bottom: 10px;
  }
  .activities-top-grid {
    display: grid;
    grid-template-columns: 145px auto;
    column-gap: 15px;
  } 
  ul.act-top-right-btn li a.act-top-btn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.001em;
    color: #494949;
    padding: 0 18px;
    border: 1px solid #494949;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 12px;
    margin-bottom: 7px;
    min-height: 36px;
    line-height: 36px;
    display: inline-block;
    cursor: pointer;
  }
  ul.act-top-right-btn li {display: inline-block;}
  ul.act-top-right-btn .toggle-filtersearch {margin-left: 10px;}
  ul.act-top-right-btn li a.act-top-btn:hover{color: #53b2e8;border-color: #53b2e8;}
  ul.act-top-right-btn li .toggle-filtersearch .btn1-filtersearch,
  ul.act-top-right-btn li .toggle-filtersearch .btn2-filtersearch{
    background: #f9fafa;
    border: 1px solid #53b2e8;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 9px 10px;
    padding-left: 25px;
    padding-right: 25px;
    color: #53b2e8;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }
  ul.act-top-right-btn li .toggle-filtersearch .btn1-filtersearch {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  ul.act-top-right-btn li .toggle-filtersearch .btn2-filtersearch {
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  ul.act-top-right-btn li .toggle-filtersearch button:hover{
    background: #e2f5ff;
  }
  .plr-0{padding-left:0px;padding-right:0px;}
  .pl-0{padding-left:0px;}
  .pr-0{padding-right:0px;}
  
  
  .provider_full {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 50px 40px 40px 40px;
    position: relative;
  }
  .provider_full h4 .view_all {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    font-family: "Poppins";
    color: #53b2e8;
    float: right;
  }
  .provider_full h4 span{
    padding-left: 7px;
    } 
  /* search-filterss top row filter search */
  .search-filterss {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
  } 
  .category_list {
    display: inline-block;
    width: 100%;
  }
  .category_list ul {
    display: inline-block;
  }
  .search-filterss ul, .search-filterss li, .search-filterss a {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  .search-filterss .category_list li {
    display: inline-block;
  }
  .search-filterss .category_list li a {
      font-family: "poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.001em;
      color: #494949;
      background-color: #DCF3FF;
      border: 1px solid #53B2E8;
      border-radius: 20px;
      padding: 10px 18px;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px;
      transition: 0.8s;
  }
  .search-filterss .category_list li a:hover, 
  .search-filterss .category_list li a.active {
    color: #53b2e8;
    border-color: #53b2e8;
  }
  
  .main_collpase {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
    padding-top: 40px;
    z-index: 11;
    min-width: 350px;
    margin-top: 9px;
  }
  .partcategory {
    min-width: 950px !important;
    padding: 0px;
  }
  .collpase_content.cate-dilter{
    padding: 0px;
  }
  .main_collpase .submit_btn {
    padding-top: 0px;
    padding-bottom: 10px;
  }
  .main_collpase.verification_modal .submit_btn .submitBtn, 
  .main_collpase.verification_modal .submit_btn .cancel_btn {
    min-width: 60px;
    min-height: 21px;
    line-height: 20px;
    margin: 0 12px;
    font-size: 10px;
  }
  
  
  .categories-filt {
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 0px 10px 15px;
    align-items: center;
  }
  .categories-filterheader h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #494949;
    padding-left: 15px;
  }
  .sub-categoriesfilterheader h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #494949;
    padding-left: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sub-categoriesfilterheader h2 span a.clear {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.001em;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #494949;
    border: none !important;
    margin-bottom: 0px !important;
  }
  .sub-categoriesfilterheader h2 span button {
    background: #53b2e8;
    border-radius: 25.1946px;
    font-family: "poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
    border: 0px;
    padding: 10px 20px;
    margin-right: 20px;
  }
  .categories-filtercontent {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 310px;
    height: 310px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .categories-filtercontent h3 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      padding: 7px 15px 7px 15px;
      color: #494949;
      overflow-wrap: break-word;
      width: 50%;
  }
  .categories-filtercontent h3:hover, .categories-filtercontent .active {
    background: #e2f5ff;
    border-radius: 20px;
    color: #53b2e8 !important;
  }
  .checkbox-checked-name {
    color: #53b2e8 !important;
  }
  .categories-checkbox::before {
    content: " " !important;
  }
  .sub-categoriesfiltercontent {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 350px;
    height: 350px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .sub-categoriesfiltercontent span:last-child {
    margin-left: 10px;
  }
  
  .sub-categoriesfiltercontent h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    padding: 5px 6px 5px 6px;
    color: #494949;
    overflow-wrap: break-word;
    width: 95%;
  }
  .sub-categoriesfiltercontent h2 {
    display: flex;
    align-items: baseline;
    width: 35%;
  }
  
  .sub-categoriesfiltercontent label {
    display: flex;
    align-items: baseline;
    width: 60%;
    word-break: break-word;
  }
  
  .sub-categoriesfiltercontent .col-6 {
    padding-right: 15px;
  }
  .collpase_content {
    padding: 0 12px;
  }
   
  /* types css */
  #typess {
    min-width: auto;
    padding: 0px;
    border-radius: 12px;
  }
  #typess .form-group.typess input {
    width: auto !important;
    min-height: 0px;
    padding: 7px;
    margin-top: 7px;
  }
  #typess .collpase_content {
    padding: 0;
  }
  #typess .collpase_content .form-group.typess {
    margin-bottom: 0px;
  }
  #typess .typess-flex {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #e0e0e0;
    padding: 8px 20px;
  }
  #typess .typess-flex:last-child {
    border-bottom: 0px !important;
  } 
  /* end types css */
  
  .search-filterss label.k-checkbox-label {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
    padding: 5px 10px;
  }
  .search-filterss .verification_modal .submit_btn {
    margin-top: 14px;
  }
  #Dayss .form-group.typess input {
    width: auto !important;
    min-height: 0px;
    padding: 7px;
  }
  #Dayss .typess-flex input {
    border-radius: 20px !important;
  }
  #Dayss {
    min-width: auto;
    padding: 10px;
  }
  #Dayss .form-group.typess label {
      font-size: 10px;
      line-height: 15px;
      margin-top: 5px;
      padding: 0px;
  }
  #Dayss .typess-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
  }
  
  #Dayss form {
    display: flex;
  }
  
  #Dayss h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #494949;
  }
  #timess .form-group.typess input {
    width: auto !important;
    min-height: 0px;
    padding: 7px;
    margin-top: 7px;
  }
  
  #timess {
    min-width: auto;
    padding: 10px;
  }
  
  
  #timess .typess-flex {
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 20px;
  }
  
  #timess {
    padding: 0px !important;
  }
  
  #timess .collpase_content {
    padding: 0px !important;
    min-width: 230px;
  }
  
  #timess .typess-flex:last-child {
    border-bottom: 0px !important;
    padding-bottom: 8px;
  }
  /* .main_collpase.partcategory::-webkit-scrollbar,
  .main_collpase.date-rangecal::-webkit-scrollbar {
    display: block!important;
  }
  .main_collpase.partcategory,
  .main_collpase.date-rangecal{
    padding: 0px;
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    min-width: 100%!important;
  }
  .main_collpase.partcategory .collpase_content.cate-dilter,
  .main_collpase.date-rangecal .collpase_content.cate-dilter{
    min-width: 950px;
  } */
  .main_collpase.partcategory{
    min-width: 850px !important;
  }
  .meta-overflow-row {
    overflow: hidden;
    overflow-x: auto;
  } 
  
  /*Empty checkbox*/
  /* .k-checkbox {
    background: transparent;
    color: white !important;
  } */
  /*Checked checkbox*/
  /* .k-checkbox {
    border-color: rgba(0, 0, 0, 0.08);
    color: transparent;
    background-color: #fff;
  } */
  
  .k-checkbox {
    border-radius: 1px;
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: initial;
    border: 1px solid #494949;
    outline: 0;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    -webkit-appearance: none;
  }
  
  .k-checkbox.k-checked::before,
  .k-checkbox:checked::before {
    border-radius: 1px;
    -webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
  }
  
  .k-checkbox::before {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 1;
    -webkit-transform: scale(0) translate(-50%, -50%);
    -ms-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    overflow: hidden;
    position: absolute;
    top: 54%;
    left: 48%;
    content: "\2713";
    font-family: "poppins";
  }
  .k-checkbox:checked {
    background: #53b2e8;
    color: #fff !important;
    border-color: transparent;
  }
  .date-rangecal {
    padding-top: 0px !important;
  }
  
  ::ng-deep .md-drppicker {
    background-color: transparent !important;
    box-shadow: none !important;
  }
  
  ::ng-deep .md-drppicker td,
  ::ng-deep .md-drppicker th {
    border: none !important;
  }
  
  ::ng-deep .md-drppicker td.active:hover {
    background-color: #53b2e8 !important;
  }
  
  ::ng-deep .md-drppicker td.in-range {
    background-color: #eef9ff !important;
  }
  
  ::ng-deep .md-drppicker.ltr .calendar.left {
    border-right: 1px solid #eeedf0;
    padding-top: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  ::ng-deep .md-drppicker.ltr .calendar.right {
    padding-top: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  ::ng-deep .md-drppicker td.active {
    background-color: #53b2e8 !important;
  }
  
  .date-rangecal {
    padding-top: 0px !important;
  }
  
  ::ng-deep .md-drppicker td.disabled {
    text-decoration: none !important;
  }
  
  ::ng-deep .md-drppicker option.disabled {
    text-decoration: none !important;
  } 
  /* ::ng-deep .md-drppicker .buttons {
  display: none;
  } */
  
  .calender-botoombox {
    border-top: 1.26px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
  }
  
  .calender-botoombox {
    border-top: 1.26px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .calender-botoombox .calender-daterange .calender-daterange1 {
    font-family: "poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12.5973px;
    line-height: 24px;
    text-align: center;
    color: #494949;
    background: #ffffff;
    border: 1.25973px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 25.1946px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 15px;
  }
  
  .calender-botoombox .calender-daterange .calender-daterange2 {
    font-family: "poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12.5973px;
    line-height: 24px;
    text-align: center;
    color: #494949;
    background: #ffffff;
    border: 1.01223px solid #53b2e8;
    box-sizing: border-box;
    border-radius: 25.1946px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
  }
  
  .calender-botoombox .calender-daterange {
    display: flex;
  }
  
  .activity .price-box span img {
    margin-right: 5px;
  }
  
  .activity .price-box p span {
    color: #494949;
  }
  
  .calender-buttons button.calender-buttons1 {
      background: #ffffff;
      border: 1.25973px solid #53b2e8;
      box-sizing: border-box;
      border-radius: 25.1946px;
      color: #53b2e8;
      margin-right: 20px;
      margin-left: 20px;
      min-height: 25px;
      min-width: 60px;
      font-size: 10px;
      font-weight: 600;
      text-transform: capitalize;
      transition: 0.8s;
  }
  
  .calender-buttons button.calender-buttons2 {
      background: #53b2e8;
      box-sizing: border-box;
      border-radius: 25.1946px;
      padding: 5px;
      border: 1px solid #53b2e8;
      color: #fff;
      min-height: 25px;
      min-width: 60px;
      font-size: 10px;
      font-weight: 600;
      text-transform: capitalize;
      transition: 0.8s;
  }
  .calender-buttons button.calender-buttons1:hover {
    background: #53B2E8;
    color: #fff;
  }

  ::ng-deep .md-drppicker.ltr {
    direction: ltr;
    text-align: left;
    min-width: 560px;
  }
  
  ::ng-deep .md-drppicker.ltr .calendar.left .calendar-table {
    padding-right: 20px !important;
  } 
  .toggle-filtersearch {
    float: right;
  }  
  .toggle-filtersearch button.btn1-filtersearch {
    background: #f9fafa;
    border: 1px solid #53b2e8;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #53b2e8;
  }
  
  .toggle-filtersearch button.btn1-filtersearch:hover,
  .toggle-filtersearch button.btn2-filtersearch:hover {
    background: #e2f5ff;
  }
  
  .toggle-filtersearch button.btn1-filtersearch:active,
  .toggle-filtersearch button.btn2-filtersearch:active {
    background: #e2f5ff;
  }
  
  .toggle-filtersearch button.btn2-filtersearch {
    background: #f9fafa;
    border: 1px solid #53b2e8;
    box-sizing: border-box;
    color: #53b2e8;
    border-radius: 20px;
    border-left: 0px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #53b2e8;
  }
  .btn_style {
    width: auto;
    padding: 0px;
    line-height: 36px;
    background: #fff;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 20px;
    text-align: center;
    font-family: "poppins";
    font-size: 12px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-weight: 400;
    color: #53b2e8 !important;
    transition: 0.8s;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 10px 6px 0px;
  }
  .chip-set-bar {
    padding: 10px 0px;
    margin-top: 10px
  }
  .chip-set-bar-btn .btn_style .material-icons {
    font-size: 16px;
  }
  .chip-set-bar-btn .btn_style .mat-icon {
    height: 16px;
    width: 16px;
  }
  .chip-set-bar-btn .btn_style{
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    min-height: 30px;
    max-height: 30px;
  }
  .chip-set-bar .display-inline{display:inline-block;padding-right: 10px;} 
  .map-without-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    letter-spacing: 0.001em;
    margin-bottom: 0px;
    color: #494949;
  }
  .map-without-heading h2 .span-h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #494949;
    opacity: 0.7;
    margin-bottom: 0px;
  }
  .map-without-heading h2 a{text-decoration-line: underline;color: #53B2E8;}
  .clear-text:hover {
    text-decoration: none;
  }
  .clear-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.001em;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #494949;
  } 
  .min-height-288{min-height: 288px;} 

  /* END FILTER SECTION  */
  
  /* tooltip css   */
  .tooltip-div {
    position: relative;
  }
  .tooltip-div .tooltip-text {
    visibility: hidden;
    width: 180px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
    letter-spacing: 0.001em;
    background: #EFEFEF;
    border-radius: 6px;
    padding: 9px 10px;
  }
  .tooltip-div .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 19px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #EFEFEF transparent;
  }
  .tooltip-div:hover .tooltip-text {
    visibility: visible;
  }
  .tooltip-div.map-h2-tooltip .tooltip-text {
    left: 0!important;
    top: 100%!important;
  }
  .tooltip-div.map-h2-tooltip h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .save-act-tooltip span.tooltip-text {
    width: 190px!Important;
    left: -132px!important;
    top: 35px !important;
    z-index: 11111111111!important;
    background: #E2F5FF !important;
    color: #53B2E8!important;
    font-size: 14px !important;
    line-height: 24px !important;
}
.save-act-tooltip .tooltip-text::after {
    left: unset!important;
    right: 15px;
    border-color: transparent transparent #E2F5FF transparent!important;
}
  /* end tooltip css   */
  
  ::ng-deep #ageGroup .collpase_content .ngx-slider-span.ngx-slider-bubble,
  ::ng-deep #priceGroup .collpase_content .ngx-slider-span.ngx-slider-bubble  {
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: 0.02em;
    color: #494949;
    text-transform: capitalize;
    top: 16px !important;
  }
  #priceGroup {padding-top: 55px;}
  #priceGroup h4.price-per-hr-txt {
    font-family: "poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #c1c1c1;
    position: absolute;
    right: 25px;
    top: 20px;
  }
  
  .btn-purple-online {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.001em;
    color: #777cea;
    border: none;
    padding: 10px 26px;
    margin: 0px auto;
    background: rgba(119, 124, 234, 0.19);
    border-radius: 20px;
    display: block;
    text-align: center;
    margin-top: 10px;
  }


  .btn-share-search, .btn-save-search {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #53B2E8;
    border: 1px solid #53B2E8;
    border-radius: 20px;
    background: #FFFFFF;
    padding: 8px 20px;
}
.btn-share-search:hover, .btn-save-search:hover{color: #53B2E8;}

.view-more-acti {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.005em;
    text-decoration-line: underline;
    color: #53B2E8;
    cursor: pointer;
}
.btn-purple-drop-in {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #777CEA;
    background-color: #DFE1F7;
    border: 1px solid #777CEA;
    border-radius: 50px;
    padding: 6px 5px;
    text-align: center;
    margin: 0px auto;
    display: block;
    margin-top: 14px;
    width: 100%;
    max-width: 116px;
}
.btn-org-camp {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FF8039;
  background-color: #F9E1D3;
  border: 1px solid #F99964;
  border-radius: 50px;
  padding: 6px 5px;
  text-align: center;
  margin: 0px auto;
  display: block;
  margin-top: 14px;
  width: 100%;
  max-width: 116px;
}
.btn-org-semester {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #FA627D;
  background-color: #FFE2E8;
  border: 1px solid #FA627D;
  border-radius: 50px;
  padding: 6px 5px;
  text-align: center;
  margin: 0px auto;
  display: block;
  margin-top: 14px;
  width: 100%;
  max-width: 116px;
}
.btn-purple-classes {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #777CEA;
  background-color: #DFE1F7;
  border: 1px solid #777CEA;
  border-radius: 50px;
  padding: 6px 5px;
  text-align: center;
  margin: 0px auto;
  display: block;
  margin-top: 14px;
  width: 100%;
  max-width: 116px;
}
.btn-lightblue-private {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #53B2E8;
  background-color: #DCF3FF;
  border: 1px solid #53B2E8;
  border-radius: 50px;
  padding: 6px 5px;
  text-align: center;
  margin: 0px auto;
  display: block;
  margin-top: 14px;
  width: 100%;
  max-width: 116px;
}

.pricing-top-btn {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: -32px;
}
.loc-txt-blue {
    /* text-decoration-line: underline; */
    color: #53B2E8!important;
    letter-spacing: 0.005em!important;
    font-weight: 500!important;
}
.avail-times-box {
    border: 1px solid #E0E0E0;
    box-shadow: none;
}
.rating-starsearch p, .rating-starsearch a {
    font-size: 14px !important;
}
.left-icon-gird-media {
    display: grid;
    grid-template-columns: 15px auto;
    column-gap: 5px;
    align-items: baseline;
}
.avail-times-table .row-grid {
    display: grid;
    /* grid-template-columns: 23% auto auto 175px; */
    grid-template-columns: 30% 40% 170px;
    column-gap: 10px;
    align-items: center;
}
.avail-times-table .left-icon-gird-media img {
  width: 100%;
  max-width: 15px;
}
.avail-times-table .bg-box-shadow {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
    padding: 11px 20px;
    margin-bottom: 10px;
    border-left: 2px solid #53B2E8;
}
.avail-times-table .bg-box-shadow:last-child {
    margin-bottom: 0px!important;
}
.align-right {
    text-align: right;
}

/* Programs List Section Css  */
.programs-search-results-info {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 20px;
  margin-top: 10px;
  padding: 50px 30px 35px 30px;
}
.search-results-top-h2 h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.005em;
    color: #494949;
    margin-bottom: 36px;
}
.search-results-loc-btns {
  display: inline-flex;
  border-radius: 20px;
  border: 1px solid #53B2E8;
  margin-bottom: 30px;
}
.search-results-loc-btns button {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  letter-spacing: 0.005em;
  text-decoration-line: underline;
  color: #53B2E8;
  background: #fff;
  border: none;
  padding: 11px 25px;
  border-radius: 20px;
  display: flex;
}
.search-results-loc-btns button:hover, .search-results-loc-btns button.active  {
  color: #fff;
  background: #53B2E8;
}
.search-results-loc-btns button img {
  max-width: 9px;
  margin-right: 6px;
}
.search-results-loc-btns button img.loc-white-ic {
  display: none;
}
.search-results-loc-btns button:hover img.loc-blue-ic,
.search-results-loc-btns button.active img.loc-blue-ic  {
  display: none;
}
.search-results-loc-btns button:hover img.loc-white-ic,
.search-results-loc-btns button.active img.loc-white-ic  {
  display: block;
}

 /* Programs list slider css */
 .map-carousel-slider {
  position: relative;
}
.map-carousel-slider .left-resourcebtn .carousel-nav-icon,
.map-carousel-slider .right-resourcebtn .carousel-nav-icon {
  height: 40px;
  width: 40px;
  background: #fff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  color: #494949;
  border-radius: 50%;
  top: 34%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
}
.map-carousel-slider .left-resourcebtn .carousel-nav-icon {left: -20px;}
.map-carousel-slider .right-resourcebtn .carousel-nav-icon {right: -20px;}
.map-carousel-slider .left-resourcebtn .carousel-nav-icon svg,
.map-carousel-slider .right-resourcebtn .carousel-nav-icon svg  {
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: flex;
  align-items: center;
}
.map-carousel-slider .left-resourcebtn .carousel-nav-icon svg {
  transform: rotate(180deg);
  filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.map-carousel-slider .right-resourcebtn .carousel-nav-icon svg {
  filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
  -webkit-filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
}

.media-scroable {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
}
.media-scroable .media.activity .media-body:hover {
  border: 2px solid #53B2E8;
  filter: drop-shadow(0px 4px 8px rgba(83, 178, 232, 0.46));
}
.media-scroable .media.activity {
  min-width: 220px;
  max-width: 220px;
  border: 0px;
  margin: 0px;
  padding-bottom: 15px;
  position: relative;
}
.media-scroable .media.activity .media-body {
  border: 2px solid transparent;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
  position: relative;
  border-radius: 20px;
  min-height: 205px;
  margin-right: 5px;
  margin-left: 5px;
  height: 100%;
}
.media-scroable .media.activity .media-left.activity-imgs,
.media-scroable .media.activity .media-body .share_icon,
.media-scroable .media.activity .media-body .list.col-12.mt-2.mb-1,
.media-scroable .media.activity .media-body .rating-starsearch,
.media-scroable .media.activity .media-body .coding_text,
.display-none {
  display: none;
}
.media-scroable .media.activity .media-body h2 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;align-items: center;letter-spacing: 0.001em;color: #53B2E8;max-width: 100%;display: -webkit-box;min-height: 45px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.media-scroable .media.activity .media-body .media-right-icon-h2 {
    display: grid;
    grid-template-columns: auto 50px;
    margin-bottom: 10px;
    padding: 13px 14px 13px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #99d1f0;
    border-radius: 20px 20px 0px 0px;
    text-transform: capitalize;
}
.activity .media-body .bookmark_outer {
    display: inline-block;
    margin: 0 0 0 9px;
}
.media-scroable .media.activity .media-body .list_outer {
  padding: 0px 15px 10px;
}
.online-text-clm p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 4px;
}
.left-icon-box-media {
  display: grid;
  grid-template-columns: 15px auto;
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
  margin-bottom: 4px;
}
.left-icon-box-media p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #494949;
  padding-top: 2px;
}
.btn-search-boxs-bt {
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.btn-search-boxs-bt button{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.001em;
  border-radius: 20px 0px 20px 0px;
  border: none;
  padding: 3px 5px;
  width: 100px;
  display: inline-block;
}

.loc-without-online, .drop-in-btn-bt,
.classes-btn-bt {color: #777CEA;background: rgba(119, 124, 234, 0.19);}
.camp-btn-bt{color: #F4722A;background: rgba(249, 153, 100, 0.35);}
.semester-btn-bt{color: #FA627D;background: #FFE2E8;}
.private-btn-bt{background: #DCF3FF;color: #53B2E8;}



/* End Programs List Section Css  */
.row-grid-capm {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 10px;
  align-items: center;
}
.capm-media-txt p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #494949;
}
.capm-bg-box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
  padding: 15px 10px;
  margin-bottom: 10px;
  border-radius: 15px;
}
.capm-avail-times-table button.add-to-calendar-btn {
  background-color: #53B2E8;
  color: #fff;
}
.capm-bg-box-shadow:last-child {
  margin-bottom: 0px;
}
button.search-topbar-btn {font-family: 'Poppins';font-style: normal;font-weight: 500;margin-right: 10px; font-size: 14px;line-height: 21px;color: #494949;border: 1px solid #777CEA;border-radius: 30px;background: #FFFFFF;padding: 5px 19px;display: flex;column-gap: 6px;align-items: center;justify-content: center;height: 40px;margin-bottom: 10px;flex: 0 0 auto;display: inline-block;}
button.search-topbar-btn img {width: 25px;max-width: 25px;margin-right: 5px;}
button.search-topbar-btn.active-tags {background-color: #777CEA;color: #fff; }
p.day-box-circle {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4px;
  column-gap: 4px;
}
p.day-box-circle span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #494949;
  width: 40px;
  height: 40px;
  display: flex;
  text-align: center;
  background: #DCF3FF;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}
.day-box-circle span.active {color: #53B2E8;background: #DCF3FF;}

.add-child-profile-btn {margin: 0px;padding: 0px;border: none;background-color: transparent;position: absolute;margin-top: -10px;margin-left: -30px;}


 /* start tooltip css  */
.data-tooltip [data-title]:hover::before {
  content: attr(data-title);
  position: absolute;
  top: 29px;
  left: -10px;
  width: 200px;
  display: inline-block;
  padding: 9px 14px;
  background: #EFEFEF;
  border-radius: 6px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  letter-spacing: 0.001em;
  color: #494949;
  box-shadow: 0px 10px 15px rgb(0 0 0 / 10%);
}
.data-tooltip [data-title]:hover::after {
  content: '';
  position: absolute;
  top: 15px;
  right: 4px;
  display: inline-block;
  color: #fff;
  border: 8px solid transparent;
  border-bottom: 8px solid #EFEFEF;
}
/* end tooltip css  */

.prc-disc-opt-top-border{
  border-top: 1px solid #B3B3B3;
  padding-top: 15px;
  margin-top: 5px;
}
.mb-15px{margin-bottom: 15px;}
.pb-0px{padding-bottom: 0px;}
.ul-social-links img {
  border-radius: 0px!important;
}
ul.ul-social-links {
  list-style: none;
  margin-top: 20px;
  padding: 0px 35px;
  display: flex;
  column-gap: 30px;
}
.bday-upcoming-box {
  position: relative;
  background: #DCF3FF;
  border-radius: 20px;
  padding: 30px;
}
.bday-upcoming-box img.bday-up-img {
  position: absolute;
  right: 5px;
  top: 5px;
}
.bday-upcoming-box h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #494949;
  margin-bottom: 6px;
}
.bday-upcoming-box p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.005em;
  color: #494949;
}
.bday-upcoming-box p a {
  color: #53B2E8;
  text-decoration: underline;
}
.bday-upcoming-box-info {
  margin-bottom: 14px;
}
.bday-upcoming-box.bg-white-brd {
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  border-radius: 20px;
}
button.report-provider-btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #53B2E8;
  border: 1px solid #53B2E8;
  border-radius: 20px;
  background: #FFFFFF;
  padding: 9.5px 18px;
  box-sizing: border-box;
  display: block;
  margin-top: 20px;
}

.company_info a:hover {
  text-decoration: underline;
  color: #53B2E8!important;
}
.mb-50px {
  margin-bottom: 50px;
}
.pr-0px{padding-right: 0px;}
.people-block .description_text.people_sectionn .media-body {
  word-break: break-word;
}
.day-txt-width {
  text-transform: capitalize;
  max-width: 154px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1440px){
  .description_text{padding: 20px;}
  .pricing-content-info .description_text .lesson-txt-h3 h3 {font-size: 11px;line-height: 15px;}
  .pricing-content-info .description_text .pricing-dollor-h4 h4 {font-size: 15px;line-height: 15px;}
}
