<body>
  <section *ngIf="!program.error" class="main_outer common-headermargin">
    <div class="program_outer">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div title="{{program?.name}}" id="bannerimage"
              [ngStyle]="{background: 'url(' + bannerImages[bannerIndx] + ')'}">
              <img id="bannerimage" *ngIf="programImgURL" src="{{ programImgURL }}" alt="{{programBannerAlt}}" />
            </div>
            <label class="banner-icon cursor">
              <input style="display: none" type="file" id="file" accept="image/*" name="img_logo" class="dropzone"
                *ngIf="program?.user === this.userId" />
              <button class="uploadbanner" type="button" *ngIf="program?.user === this.userId"
                onclick="document.getElementById('file').click();">
                Add Photos
              </button>
            </label>
          </div>
        </div>

        <div class="program_text">
          <div class="row">
            <div class="col-12">
              <div class="CategoryText">
                <div class="session_details">
                  <div class="row row-0">
                    <div class="col-md-2">
                      <div *ngIf="program?.name" class="learn_code mb-10"
                        [class.initial-alpha-profile]="!program?.subCategoryIds[0]?.logo && !program?.category[0]?.logoUrl">
                        <img *ngIf="program?.subCategoryIds[0]?.logo" [defaultImage]="defaultImage"
                          lazyLoad="{{baseUrl+program?.subCategoryIds[0]?.logo }}" alt="logo" />
                        <img *ngIf="program?.category[0]?.logoUrl && !program?.subCategoryIds[0]?.logo"
                          [defaultImage]="defaultImage" lazyLoad="{{baseUrl+program?.category[0]?.logoUrl }}"
                          alt="logo" />
                        <h1 *ngIf="!program?.subCategoryIds[0]?.logo && !program?.category[0]?.logoUrl">
                          {{ program?.name | initialChar }}
                        </h1>
                      </div>
                      <!-- <button *ngIf="program.inpersonOrVirtual=='Virtual'" class="btn-purple-online">Online</button> -->
                      <!-- <button class="btn-org-camp" *ngIf="program?.type=='Camps'">Camps</button>
                      <button class="btn-purple-drop-in"
                        *ngIf="program?.type=='Drops-in' || program?.type=='Drops-in'">Drops-in</button>
                      <button class="btn-org-semester" *ngIf="program?.type=='Semesters'">Semester</button> -->
                      <!-- <button class="btn-org-camp">Camp</button> -->
                    </div>

                    <div class="programText col-md-10">
                      <h3>
                        {{ program?.name }}
                        <a align="right" class="cursor" data-toggle="modal" *ngIf="program?.user === this.userId"
                          data-target="#UpdateModal">
                          <img src="assets/edit_skyblue.svg" alt="Edit Image" />
                        </a>
                      </h3>

                      <div class="share_icon">
                        <!-- <div class="add-to-calendar-info">
                            <button class="add-to-calendar-btn" (click)="download()"><img
                                src="/assets/ph-calendar-plus-light.svg" />Add To
                              Calendar</button>
                          </div> -->
                        <a data-toggle="modal" (click)="selectedProgram = program" data-target="#ShareModal"
                          class="btn-share-search cursor">
                          <img src="assets/share-icon-search.svg" alt="Share Icon " /> Share
                        </a>
                        <div class="bookmark_outer" *ngIf="userId && !providerRole">
                          <a class="bookmark_icon btn-save-search cursor" *ngIf="!program?.isFav"
                            (click)="addFav(program)">
                            <img src="assets/heart-plus-icon-blue.svg" alt="Menu Image " /> Save
                          </a>
                          <a class="bookmark_icon btn-save-search btn-unsave-search cursor" *ngIf="program?.isFav"
                            (click)="deleteFav(program)">
                            <img src="assets/heart-minus-white-icon.svg" alt="Menu Image " /> Saved
                          </a>
                        </div>
                        <div class="bookmark_outer" *ngIf="!isLogin">
                          <a class="bookmark_icon cursor" routerLink="/login">
                            <img src="assets/heart-plus-icon-blue.svg" alt="Menu Image " />
                          </a>
                        </div>
                      </div>

                      <div class="provider_name">
                        <span>by {{program?.programOwner}}</span>

                        <span class="rating-starsearch">
                          <p class="cursor" (mouseover)="isRating = true" (mouseout)="isRating = false">
                            <span *ngIf="
                                  rating?.finalAverageRating == 0 ||
                                  rating?.finalAverageRating == 'NaN' ||
                                  rating?.finalAverageRating == undefined
                                ">
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="rating?.finalAverageRating > 0 && rating?.finalAverageRating < 1">
                              <span class="fa fa-star-half-o checked"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="rating?.finalAverageRating == 1">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="
                                  rating?.finalAverageRating > 1 &&
                                  rating?.finalAverageRating < 2
                                ">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star-half-o checked"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="rating?.finalAverageRating == 2">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="
                                  rating?.finalAverageRating > 2 &&
                                  rating?.finalAverageRating < 3
                                ">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star-half-o checked"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="rating?.finalAverageRating == 3">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="
                                  rating?.finalAverageRating > 3 &&
                                  rating?.finalAverageRating < 4">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star-half-o checked"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="rating?.finalAverageRating == 4">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                            <span *ngIf="
                                  rating?.finalAverageRating > 4 &&
                                  rating?.finalAverageRating < 5">

                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star-half-o checked"></span>
                            </span>
                            <span *ngIf="rating?.finalAverageRating == 5">
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                              <span class="fa fa-star checked"></span>
                            </span>
                            <span class="no-underline">&nbsp;(</span><a class="reviews-underline"
                              *ngIf="rating?.totalReviews">{{rating?.totalReviews }}
                              Reviews</a>
                            <a class="reviews-underline" *ngIf="!rating?.totalReviews">0
                              Reviews</a><span class="no-underline">)</span>
                          </p>
                          <div class="star-daialogbox" *ngIf="isRating">
                            <app-rating [rating]="rating" [user]="provider"></app-rating>
                          </div>
                        </span>

                        <a class="view-more-acti" (click)="scrollToActivities()">View more activities</a>
                      </div>
                      <div class="programInfo">
                        <p class="loc-txt-blue"
                          *ngIf="program.inpersonOrVirtual!=='Virtual' && program.multiLocations?.length">
                          <img src="assets/loc-blue-ic.svg"
                            alt="Location Pin" />{{program.multiLocations[0]?.name | viewStreet}}

                        </p>
                        <p *ngIf="program.inpersonOrVirtual=='Virtual' && program?.joiningLink">
                          <img src="assets/bi_link.svg" alt="Location Pin" /><a href="{{program?.joiningLink}}"
                            target="_blank" rel="noopener">Join Via Link</a>
                        </p>
                        <p>
                          <img src="assets/user_group_orange.svg" alt="Calendar" />
                          <!-- {{program?.ageGroup?.from }} - {{ program?.ageGroup?.to}} Yrs. -->
                          {{program?.ageGroup | ageRange}}
                        </p>
                        <!-- <p *ngIf="program?.dateOption =='Dates available'&&!program?.isDateNotMention">
                          <img src="assets/calendar_orange.svg" alt="Calendar" />{{
                                                      program?.date?.from | date: "MMM dd" }} - {{ program?.date?.to |
                                                      date: "MMM dd YYYY" }}
                        </p>
                        <p *ngIf="program?.isDateNotMention">
                          <img src="assets/calendar_orange.svg" alt="Calendar" />Ongoing
                        </p>
                        <p *ngIf="program?.dayOption==='Days provided'">
                          <img src="assets/calenderdot.png" alt="calender" /> {{
                                                     program | daysfilter}}
                        </p> -->

                        <!-- <p *ngIf="!program?.isTimeNotMention">
                          <img src="assets/watch.svg" alt="Loction Pin" /> {{
                                                     program?.time?.from | timeConvert | date:'hh:mm a'}} - {{
                                                     program?.time?.to | timeConvert | date:'hh:mm a'}}
                        </p> -->
                        <!-- <p *ngIf="program?.isTimeNotMention">
                                                      <img src="assets/watch.svg" alt="Loction Pin" /> Time Not Mention
                                                  </p>
                        <p *ngIf="!program?.isTimeNotMention">
                          <img src="assets/timer.svg"
                            alt="Loction Pin" />
                          <span *ngIf="program?.time?.from">{{getDuration(program?.time?.from | timeConvert | date:'hh:mm a',program?.time?.to | timeConvert | date:'hh:mm a') }}</span>
                          <span *ngIf="program?.time?.from == 0 && program?.time?.to == 0 ">Times Not Availabe</span>
                        </p> -->

                        <!-- <p *ngIf="!program?.isFree && program?.pricePerParticipant">
                          <img src="assets/pricet.svg" alt="price tag" />{{program?.pricePerParticipant}}
                          <span *ngIf="program?.pricePeriod?.periodAmount">/{{
                                                          program?.pricePeriod?.periodAmount }}</span>
                        </p>
                        <p *ngIf="program?.isFree && !program?.pricePerParticipant">
                          <img src="assets/pricet.svg" alt="price tag" /> Free
                        </p> -->
                        <!-- <p *ngIf="!program?.isFree && !program?.pricePerParticipant">
                                                      <img src="assets/pricet.svg" alt="price tag" /> Price Not Mentioned
                                                  </p> -->
                      </div>
                      <div class="col-md-12">
                        <div class="search-topbar-btn-info mt-20px">
                          <button class="search-topbar-btn" *ngFor="let tag of program.subCategoryIds
                          "><img [src]="baseUrl+tag.icon" />{{tag?.name}}</button>
                          <!-- <button class="search-topbar-btn"><img
                              src="https://wondrfly.com/images/1643276451638Icon_Arts_&_Crafts_boy.svg" />Tennis</button> -->
                          <!-- <button class="search-topbar-btn"><img
                              src="https://wondrfly.com/images/1643276451638Icon_Arts_&_Crafts_boy.svg" />Tennis</button> -->

                          <!-- Add to your child profile -->
                          <!-- <button class="add-child-profile-btn data-tooltip">
                            <span data-title="Add to your child profile" class="data-title">
                              <img src="assets/add-child-detail-btn.png" />
                            </span>
                          </button> -->

                        </div>
                      </div>
                      <!-- <div id="cat-subcat">
                        <button class="camp-btn" *ngFor="let cat of categoryArr; let i=index">
                          {{cat?.name}}
                        </button>
                        <div *ngFor="let subcat of subcatArr">
                          <button class="camp-btn">
                            {{ subcat?.name}}
                          </button>
                        </div>

                        <div class="collapse" id="collapseExample">
                          <div class="card card-body" id="moreBtn-collapse">

                            <span id="closeBtn"><img src="assets/grey-close.png" data-toggle="collapse"
                                data-target="#collapseExample" />
                            </span>
                            <div class="d-flex flex-wrap">
                              <h6 *ngFor="let subcat of subcatArr; let i=index">
                                <p id="moreBtn-collapse-cursor" *ngIf="i>1">
                                  {{subcat?.name}}</p>
                              </h6>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="batch_outer">
          <div class="row mb-50px">
            <div class="col-md-8">
              <div class="description_text avail-times-box" *ngIf="activityList.length>0">
                <h2>Available Times</h2>
                <div class="avail-times-table">
                  <div class="row-grid bg-box-shadow" *ngFor="let program of activityList">
                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/calendar_orange.svg" alt="timer-icon">
                        </div>
                        <div>
                          <p *ngIf="program?.dateOption=='Dates available'" class="font-size-14">
                            {{program?.date?.from | date: "MMM dd"}} - {{program?.date?.to | date: "MMM dd"}}</p>
                          <p *ngIf="program?.dateOption!=='Dates available'" class="font-size-14">
                            Weekly recurring
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/calenderdot.png" alt="calender-icon">
                        </div>
                        <div>
                          <p class="day-box-circle" style="text-transform: capitalize;"
                            *ngIf="program?.dayOption=='Days provided'">
                            <span *ngFor="let day of program.days">{{day | slice:0:3}}</span></p>
                          <!-- <p style="text-transform: capitalize;" *ngIf="program?.dayOption=='Days provided'">
                            {{program | daysfilter}}</p> -->
                          <p class="font-size-14" style="text-transform: capitalize;"
                            *ngIf="program?.dayOption!=='Days provided'">
                            {{program?.dayOption}}</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/watch.svg" alt="time-icon">
                        </div>
                        <div>
                          <p class="font-size-14"> <span
                              *ngIf="program?.timeOption=='Time Available'">{{program?.time?.from | timeConvert | date:'hh:mm a'}}
                              -
                              {{program?.time?.to | timeConvert | date:'hh:mm a'}}</span>
                            <span *ngIf="program?.timeOption!=='Time Available'">{{program?.timeOption}}</span>
                          </p>
                        </div>
                      </div>
                    </div>

                    <!-- <div class="col-grid">
                      <div class="add-to-calendar-info align-right">
                        <button class="add-to-calendar-btn" (click)="download(program)"
                          *ngIf="!program.isDateNotMention"><img src="/assets/calander-blue-icon-img.svg" />Add To
                          Calendar</button>
                      </div>
                    </div> -->
                  </div>
                </div>

                <!-- capm-avail-times-table -->
                <div class="capm-avail-times-table" style="display: none;">
                  <div class="row-grid-capm capm-bg-box-shadow">
                    <div class="col-grid">
                      <div class="capm-media-txt">
                        <p>Name</p>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/calender-icon-img1.png" alt="calender-icon">
                        </div>
                        <div class="capm-media-txt">
                          <p>July 20 - Aug 20</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/calendar-start-black.svg" alt="calendar week">
                        </div>
                        <div class="capm-media-txt">
                          <p>Wed, Sat</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/watch-icon-img.png" alt="time-icon">
                        </div>
                        <div class="capm-media-txt">
                          <p>09:00AM - 9:45AM</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="add-to-calendar-info align-right">
                        <button class="add-to-calendar-btn"><img src="/assets/calender-white-icon.svg" />Add To
                          Calendar</button>
                      </div>
                    </div>
                  </div>
                  <div class="row-grid-capm capm-bg-box-shadow">
                    <div class="col-grid">
                      <div class="capm-media-txt">
                        <p>Name</p>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/calender-icon-img1.png" alt="calender-icon">
                        </div>
                        <div class="capm-media-txt">
                          <p>July 20 - Aug 20</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/calendar-start-black.svg" alt="calendar week">
                        </div>
                        <div class="capm-media-txt">
                          <p>Wed, Sat</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="left-icon-gird-media">
                        <div>
                          <img src="assets/watch-icon-img.png" alt="time-icon">
                        </div>
                        <div class="capm-media-txt">
                          <p>09:00AM - 9:45AM</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-grid">
                      <div class="add-to-calendar-info align-right">
                        <button class="add-to-calendar-btn"><img src="/assets/calender-white-icon.svg" />Add To
                          Calendar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end capm-avail-times-table -->

              </div>
              <div class="description_text" *ngIf="program?.description">
                <h2>Description</h2>
                <p class="mb-15px">{{ program?.description }}</p>
                <div class="special-groups pb-0px" *ngIf="program?.isParentGuardianRequire || program?.indoorOroutdoor">
                  <span *ngIf="program?.indoorOroutdoor"><img
                      src="assets/ggroup-620.svg" />{{program?.indoorOroutdoor=='Both'?'Indoor and Outdoor':program?.indoorOroutdoor}}</span>
                  <!-- <span *ngIf="program?.isParentGuardianRequire"><img src="assets/ggroup-620.svg" />Adult Participation
                    is required</span> -->
                  <span *ngIf="program?.parentalSupervisionRequired=='Parent attendance required'">Parent's attendance
                    required</span>
                </div>
              </div>
              <div class="description_text" *ngIf="program?.specialInstructions">
                <h2>Special Instructions</h2>

                <p>{{ program?.specialInstructions }}</p>
              </div>
              <div class="description_text"
                *ngIf="program?.bookingCancelledIn?.days || program?.bookingCancelledIn?.hours ||provider?.cancellation_and_refund">
                <div *ngIf="program?.bookingCancelledIn?.days || program?.bookingCancelledIn?.hours">
                  <h2>Cancellation Policy</h2>
                  <p class="mb-30">
                    <label *ngIf="program?.bookingCancelledIn?.days && program?.bookingCancelledIn?.hours">Booking must
                      be cancelled <span class="clr-49-black">[{{program?.bookingCancelledIn?.days}}]</span> days and
                      <span class="clr-49-black">[{{program?.bookingCancelledIn?.hours}}]</span> hours before activity
                      start
                      time </label>
                    <label *ngIf="program?.bookingCancelledIn?.days && !program?.bookingCancelledIn?.hours">Booking must
                      be cancelled <span class="clr-49-black">[{{program?.bookingCancelledIn?.days}}]</span> days before
                      activity start
                      time </label>
                    <label *ngIf="program?.bookingCancelledIn?.hours && !program?.bookingCancelledIn?.days"> Booking
                      must be cancelled <span class="clr-49-black">[{{program?.bookingCancelledIn?.hours}}]</span> hours
                      before activity start
                      time </label>
                  </p>
                </div>

                <div *ngIf="provider?.cancellation_and_refund">
                  <h2>Refund policy</h2>
                  <p>{{provider.cancellation_and_refund}}</p>
                </div>
              </div>

              <div class="people-block" *ngIf="program?.user !== this.userId">
                <div class="description_text people_sectionn people_outer">
                  <div align="right" class="cursor" *ngIf="program?.user === this.userId">
                    <a data-toggle="modal" data-target="#providerUpdateModal">
                      <img src="assets/edit_skyblue.svg" alt="Edit Image" />
                    </a>
                  </div>
                  <h2>About {{provider?.firstName}}</h2>
                  <div class="media">
                    <div class="media-body">
                      <p>{{ provider?.note }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="batch_right map_provider pricing-content-info" *ngIf="!program?.isPriceNotMention">
                <div class="pricing-top-btn">
                  <!-- <button *ngIf="program.inpersonOrVirtual=='Virtual'" class="btn-purple-online">Online</button> -->
                  <button
                    [ngClass]="{'btn-purple-classes':program?.type=='Classes','btn-lightblue-private': program?.type=='Private Class' || program?.type=='single', 'btn-org-camp':program?.type=='Camps' || program?.type=='Party'}"
                    *ngIf="program?.type">{{program?.type}}</button>
                  <!-- <button class="btn-purple-drop-in"
                    *ngIf="program?.type=='Drops-in' || program?.type=='single'">Drops-in</button>
                  <button class="btn-org-semester" *ngIf="program?.type=='Semesters'">Semester</button> -->
                  <!-- <button class="btn-org-camp">Camp</button> -->
                </div>
                <div class="description_text">
                  <h2>Pricing</h2>
                  <div class="row">
                    <div class="col-md-6 pr-0px">
                      <div class="lesson-txt-h3">
                        <h3>Price <span
                            *ngIf="program?.pricing === 'Price available' && program?.pricePerParticipant">unit
                            ({{program?.pricePerUnit?.unit}})</span></h3>
                      </div>

                    </div>
                    <div class="col-md-6">
                      <div class="pricing-dollor-h4">
                        <h4><span
                            *ngIf="program?.pricePerParticipant">$</span>{{program?.pricePerParticipant?program?.pricePerParticipant: "Contact Provider"}}<span
                            class="clr-gry" *ngIf="program?.per_hour_rate">(${{program?.per_hour_rate}}/hr)</span>
                        </h4>
                      </div>
                    </div>

                    <div class="col-md-6 pr-0px">
                      <div class="lesson-txt-h3" *ngIf="program?.isFreeTrial">
                        <h3>Trial available</h3>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="pricing-dollor-h4">
                        <h4 *ngIf="program?.isFreeTrial">Free</h4>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="prc-disc-opt prc-disc-opt-top-border" *ngIf="program?.offerDiscount">
                        <h3>{{program?.offerDiscount}}</h3>
                        <!-- <h3>Organizer save 30% Off when setting up a Pod with 5 children (6 class min). Save an extra 10% for each additional child in your group) </h3> -->
                        <!-- <h3 *ngIf="program?.offerDiscount">Discount options: {{program?.offerDiscount}}</h3> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="batch_right map_provider" *ngIf="program?.user !== this.userId">
                <div class="description_text">
                  <h2>Contact Info</h2>
                  <div class="row align-items-center">
                    <div class="col-md-12" *ngIf="provider?.email">
                      <div class="media company_info align-items-center">
                        <div class="media-left">
                          <span class="icon icon-envelope"></span>
                        </div>
                        <div class="media-body">
                          <h4>Email</h4>
                          <p><a class="clr-blue" href="mailto:{{provider?.email}}">{{provider?.email}}</a></p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="media company_info align-items-center">
                        <div class="media-left">
                          <span class="icon icon-phone-call"></span>
                        </div>
                        <div class="media-body">
                          <h4>Phone</h4>
                          <p>+1 &nbsp;{{provider?.phoneNumber}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12" *ngIf="provider?.website">
                      <div class="media company_info align-items-center mb-0">
                        <div class="media-left">
                          <span class="icon icon-global"></span>
                        </div>
                        <div class="media-body">
                          <h4>Website</h4>
                          <p><a class="clr-blue" href="{{provider?.website}}" target="_blank">{{provider?.website}}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="social-links">
                        <ul class="ul-social-links">
                          <!-- <li><a href="{{provider?.rating?.facebookLink}}" target="_blank"><img src="assets/fb-icon.png" /></a></li> -->
                          <!-- <li><a href="{{provider?.rating?.instagramLink}}" target="_blank"><img src="assets/instagram-icon.png" /></a></li> -->
                          <li><a href="{{provider?.rating?.googleLink}}" target="_blank"><img
                                src="assets/Group.svg" /></a></li>
                          <li><a href="{{provider?.rating?.yelpLink}}" target="_blank"><img width="21px"
                                src="assets/yelp-icon-white-19.svg" /></a></li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <div class="batch_right map_provider">
                <agm-map [hidden]="!program.multiLocations.length"
                  [latitude]="program?.multiLocations[0]?.location.coordinates[1]"
                  [longitude]="program?.multiLocations[0]?.location.coordinates[0]" [styles]="mapTheme.customStyle"
                  (centerChange)="centerChange($event)" [zoom]="12" [zoomControl]="false" [streetViewControl]="false"
                  (mapClick)="mapClicked(previous)">
                  <div>
                    <agm-marker [iconUrl]="markerUrl" [latitude]="program.multiLocations[0]?.location.coordinates[1]"
                      [longitude]="program.multiLocations[0]?.location.coordinates[0]"
                      (markerClick)="clickedMarker(previous)">
                      <strong>{{ program?.name }}</strong>
                      <agm-info-window #previous>
                        <div class="map-popup">
                          <h1>
                            {{ program?.name }}
                          </h1>
                          <h2>By {{ program?.programOwner }}</h2>
                          <div class="rating-starsearch">
                            <p>
                              <span *ngIf="program?.averageFinalRating ==0 ">
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="program?.averageFinalRating > 0 && program?.averageFinalRating < 1">
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="program?.averageFinalRating == 1">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="
                                    program?.averageFinalRating > 1 &&
                                    program?.averageFinalRating < 2
                                  ">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="program?.averageFinalRating == 2">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="
                                    program?.averageFinalRating > 2 &&
                                    program?.averageFinalRating < 3
                                  ">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="program?.averageFinalRating == 3">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="
                                    program?.averageFinalRating > 3 &&
                                    program?.averageFinalRating < 4
                                  ">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="program?.averageFinalRating == 4">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-o"></span>
                              </span>
                              <span *ngIf="
                                    program?.averageFinalRating > 4 &&
                                    program?.averageFinalRating < 5
                                  ">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star-half-o checked"></span>
                              </span>
                              <span *ngIf="program?.averageFinalRating == 5">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                              </span>
                              <span class="no-underline">(</span><a class="no-underline"
                                *ngIf="rating?.totalReviews">{{rating?.totalReviews }}
                                Reviews</a>
                              <a class="no-underline" *ngIf="!rating?.totalReviews">0
                                Reviews</a><span class="no-underline">)</span>
                            </p>
                          </div>
                          <div class="map-locationtext" *ngIf="program.multiLocations?.length">
                            <span><img src="assets/location-pintag.svg" />
                            </span>
                            <h3>
                              {{program.multiLocations[0]?.name | viewStreet}}
                            </h3>
                          </div>
                        </div>
                      </agm-info-window>
                    </agm-marker>
                  </div>
                </agm-map>
                <agm-map [hidden]="program.multiLocations.length" [latitude]="40.73614987717813"
                  [styles]="mapTheme.customStyle" [longitude]="-74.04147784299793" [zoom]="12" [zoomControl]="false"
                  [streetViewControl]="false">
                </agm-map>
              </div>

              <!-- bday-upcoming-box-info -->
              <div class="bday-upcoming-box-info">
                <div class="bday-upcoming-box">
                  <img src="assets/Ojects.png" class="bday-up-img" />
                  <h3>Birthday upcoming?</h3>
                  <p>Party Services available. <a class="cursor" (click)="searchKeyword('Party')">Click here</a> to
                    check additional
                    details </p>
                </div>
              </div>

              <div class="bday-upcoming-box-info">
                <div class="bday-upcoming-box bg-white-brd">
                  <h3>Provider no longer active?</h3>
                  <p>Let us know!</p>
                  <button class="report-provider-btn"><img src="assets/clarity_flag-solid.png" /> Report
                    provider</button>
                </div>
              </div>

            </div>
          </div>

          <!-- Programs List Section  -->
          <div class="row mb-70px" id="ActivitiesList" *ngIf="providerProgram?.programs?.length">
            <div class="col-md-12">
              <div class="programs-search-results-info">
                <div class="search-results-top-h2">
                  <h2>Other Programs from {{provider?.firstName}}</h2>
                </div>
                <!-- <div class="search-results-loc-btns">
                  <button *ngFor="let location of locations | slice:0:5;let i = index"
                    [ngClass]="{'active':location.active}"
                    (click)="location.active=!location.active;onLocationClick(location.location,location.active);"><img
                      class="loc-blue-ic" src="assets/loc-blue-ic.svg"> <img class="loc-white-ic"
                      src="assets/loc-white-ic.svg">{{location?.location | viewStreet}}</button>

                </div> {{program.multiLocations[0]?.name | viewStreet}} -->
                <div class="search-results-loc-btns">
                  <button Class="active"><img class="loc-blue-ic" src="assets/loc-blue-ic.svg"> <img
                      class="loc-white-ic"
                      src="assets/loc-white-ic.svg">{{program.multiLocations[0]?.name | viewStreet}}</button>

                </div>
                <!-- Search filter btn -->
                <!-- <div class="search-filterss" style="display: none;">
                  <div class="category_list" id="accordionExample">
                    <ul>
                      <li class="cursor">
                        <a aria-expanded="true" data-target="#category" [ngClass]="{ active: isCategoryFilter }"
                          data-toggle="collapse" joyrideStep="firstStep" title="💡 Search with filters"
                          text="Narrow down your search by clicking on any of the filters above. ">Categories</a>
                        <div class="collapse main_collpase time_collpase verification_modal partcategory" id="category"
                          data-parent="#accordionExample">
                          <div class="collpase_content cate-dilter">
                            <div class="container">
                              <div class="row categories-filt">
                                <div class="col-5 categories-filterheader">
                                  <h2>Categories</h2>
                                </div>
                                <div class="col-7 sub-categoriesfilterheader">
                                  <h2>
                                    Sub Categories
                                    <span>
                                      <span>
                                        <a class="clear cusror" data-target="#category" data-toggle="collapse"
                                          (click)="selectedCat='';categoryId='';subCats=[];selectedSubCategories=[];setFilterQuery('category')">Clear
                                          All</a>
                                      </span>
                                      <button data-target="#category" data-toggle="collapse"
                                        (click)="setFilterQuery('category')">
                                        Apply Filter
                                      </button>
                                    </span>
                                  </h2>
                                </div>
                              </div>
                              <div class="row meta-overflow-row">
                                <div class="col-5 categories-filtercontent">
                                  <h3 *ngFor="let cat of categories" [ngClass]="{ active: (selectedCat == cat?.id) }"
                                    (click)="getSubCateById(cat)">
                                    {{ cat?.name }}
                                  </h3>
                                </div>
                                <div class="col-7 sub-categoriesfiltercontent">
                                  <label class="cursor" *ngFor="let s of subCats; let i = index"
                                    for="categoriescheck{{i}}">
                                    <span><input type="checkbox" [disabled]="!s?.programCount"
                                        class="k-checkbox categories-checkbox" id="categoriescheck{{i}}"
                                        name="categoriescheck" value="{{ s }}" [checked]="s.checked" (change)="
                                                        onProgramsSubCategoryChange(i, $event)
                                                        " /></span>
                                    <h3 [class.checkbox-checked-name]="s.checked">
                                      {{ s?.name }}
                                 
                                    </h3>
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="cursor">
                        <a [ngClass]="{ active: isAgeFilter }" aria-controls="collapseExample" aria-expanded="true"
                          data-target="#ageGroup" data-toggle="collapse">Age
                        </a>
                        <div class="collapse main_collpase verification_modal" id="ageGroup"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <div class="form-group">
                              <ngx-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
                              </ngx-slider>
                            </div>
                          </div>
                          <div class="submit_btn">
                            <button (click)="isAgeFilter=false;setFilterQuery('age')" type="button"
                              aria-controls="collapseExample" aria-expanded="true" data-target="#ageGroup"
                              data-toggle="collapse" class="cancel_btn">
                              Clear
                            </button>

                            <button (click)="isAgeFilter=true;setFilterQuery('age')" search-results.scrollTop="0"
                              data-target="#ageGroup" data-toggle="collapse" class="submitBtn">
                              Apply
                            </button>
                          </div>
                        </div>
                      </li>
                      <li class="cursor">
                        <a aria-expanded="true" [ngClass]="{ active: isTypeFilter }" aria-expanded="true"
                          data-target="#typess" data-toggle="collapse">Type</a>
                        <div class="collapse main_collpase typess verification_modal" id="typess"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <div class="form-group typess">
                              <div class="input_outer">
                                <form action="">
                                  <div class="typess-flex" *ngFor="let type of programTypes;let i = index">
                                    <input type="checkbox" #types
                                      (change)="onProgramTypeChange(i,type, $event.target.checked)" class="k-checkbox"
                                      name="type1" value="{{type}}" />
                                    <label for="type2" class="k-checkbox-label" for="type1">{{type}}</label>
                                  </div>


                                </form>
                              </div>
                            </div>

                            <div class="submit_btn">
                              <button class="cancel_btn" data-target="#typess" data-toggle="collapse"
                                (click)="clearProgramTypes()">
                                Clear
                              </button>
                              <button class="submitBtn" data-target="#typess" data-toggle="collapse"
                                (click)="setFilterQuery('type')">
                                Apply
                              </button>
                            </div>

                          </div>
                        </div>
                      </li>
                      <li class="cursor">
                        <a [ngClass]="{ active: isDateFilter }" aria-expanded="true" data-target="#date"
                          data-toggle="collapse">Dates</a>
                        <div class="
                                            collapse
                                            main_collpase
                                            verification_modal
                                            date-rangecal
                                          " id="date" data-parent="#accordionExample">
                          <ngx-daterangepicker-material (choosedDate)="choosedDate($event)" [minDate]="minDate"
                            [autoApply]="true">
                          </ngx-daterangepicker-material>

                          <div class="calender-botoombox">
                            <div class="calender-daterange">
                              <div class="calender-daterange1" *ngIf="fromDate">
                                {{ fromDate | date: "shortDate" }}
                              </div>
                              <img *ngIf="toDate" src="assets/calenderarrows.svg" />
                              <div class="calender-daterange2" *ngIf="toDate">
                                {{ toDate | date: "shortDate" }}
                              </div>
                            </div>
                            <div class="calender-buttons">
                              <button class="calender-buttons1" data-target="#date" data-toggle="collapse"
                                (click)="isDateFilter=false;setFilterQuery('date')">
                                cancel
                              </button>
                              <button class="calender-buttons2" data-target="#date" data-toggle="collapse"
                                (click)="isDateFilter=true;setFilterQuery('date')">
                                Apply
                              </button>
                            </div>
                          </div>
                        </div>
                      </li>
                      <li class="cursor">
                        <a aria-controls="collapseExample" [ngClass]="{ active: isTimeFilter }" aria-expanded="true"
                          data-target="#timess" data-toggle="collapse">Time</a>
                        <div class="collapse main_collpase typess verification_modal" id="timess"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <div class="form-group typess">
                              <div class="input_outer">
                                <form action="">
                                  <div class="typess-flex" *ngFor="let time of programTimes;let i = index">
                                    <input type="checkbox" class="k-checkbox"
                                      (change)="onProgramTimeChange(i,time, $event.target.checked)" #times name="time1"
                                      value="{{time}}" />
                                    <label for="time1" class="k-checkbox-label">{{time}}
                                      ({{programTimesShow[i]}})</label>
                                  </div>

                                </form>
                              </div>
                            </div>


                            <div class="submit_btn">
                              <button type="button" aria-controls="collapseExample" aria-expanded="true"
                                data-target="#timess" (click)="clearProgramTime()" data-toggle="collapse"
                                class="cancel_btn">
                                Clear
                              </button>

                              <button (click)="setFilterQuery('time')" search-results.scrollTop="0"
                                data-target="#timess" data-toggle="collapse" class="submitBtn">
                                Apply

                              </button>
                            </div>

                          </div>
                        </div>
                      </li>

                      <li class="cursor">
                        <a aria-expanded="true" [ngClass]="{ active: isDaysFilter }" data-target="#Dayss"
                          data-toggle="collapse">Days</a>
                        <div class="collapse main_collpase typess verification_modal" id="Dayss"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <div class="form-group typess">
                              <div class="input_outer">
                                <h1>Select Days</h1>
                                <form action="">
                                  <div class="typess-flex" *ngFor="let day of weakDays; let i = index">
                                    <input type="checkbox" class="k-checkbox" #days name="Days"
                                      (change)="onDayChange(i,day, $event.target.checked)" value="{{day}}">
                                    <label for="Days1"
                                      class="k-checkbox-label">{{day.charAt(0)+day.charAt(1)+day.charAt(2)}}</label>
                                  </div>
                                </form>
                              </div>
                            </div>
                            <div class="submit_btn">
                              <button (click)="isDaysFilter=false;clearProgramDays()" type="button"
                                aria-controls="collapseExample" aria-expanded="true" data-target="#Dayss"
                                data-toggle="collapse" class="cancel_btn">
                                Clear
                              </button>

                              <button (click)="setFilterQuery('day')" search-results.scrollTop="0" data-target="#Dayss"
                                data-toggle="collapse" class="submitBtn">
                                Apply
                              </button>
                            </div>

                          </div>
                        </div>
                      </li>
                      <li class="cursor">
                        <a [ngClass]="{ active: isPriceFilter }" aria-controls="collapseExample" aria-expanded="true"
                          data-target="#priceGroup" data-toggle="collapse">Price
                        </a>
                        <div class="collapse main_collpase verification_modal" id="priceGroup"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <h4 class="price-per-hr-txt">(per hour)</h4>
                            <div class="form-group">
                              <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="priceOption">
                              </ngx-slider>
                            </div>
                          </div>
                          <div class="submit_btn">
                            <button (click)="minPrice = 50;maxPrice = 300;isPriceFilter=false;setFilterQuery('price')"
                              type="button" aria-controls="collapseExample" aria-expanded="true"
                              data-target="#priceGroup" data-toggle="collapse" class="cancel_btn">
                              Clear
                            </button>

                            <button (click)="isPriceFilter=true;setFilterQuery('price')" search-results.scrollTop="0"
                              data-target="#priceGroup" data-toggle="collapse" class="submitBtn">
                              Apply
                            </button>
                          </div>
                        </div>
                      </li>

                    </ul>
                  </div>
                </div> -->
                <!-- end search filter btn -->
                <div class="search-results">
                  <div class="search-results-section">
                    <!-- Programs list second without map -->
                    <div class="map-carousel-slider" aria-labelledby="heading-dosing">
                      <div class="left-resourcebtn"
                        *ngIf="providerProgram.programs.isSlide && providerProgram?.programs?.length>=5">
                        <a (click)="scrollLeft()">
                          <div class="carousel-nav-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path
                                d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                            </svg>
                          </div>
                        </a>
                      </div>
                      <div class="media-scroable" id="widgetsDetail">
                        <div class="media activity" *ngFor="let program of providerProgram?.programs; let i = index">
                          <div class="media-body">
                            <div class="media-right-icon-h2">
                              <div>
                                <div class="tooltip-div">
                                  <h2 #programNameId>
                                    <a (click)="addAction(program?._id); goToProgramDetail(program)"
                                      style="color:#53B2E8;" class="cursor"> {{ program?.name }}</a>
                                    <span *ngIf="detectDots(programNameId)"
                                      class="tooltip-text">{{program?.name}}</span>
                                  </h2>
                                </div>
                              </div>
                              <div class="media-right-share-icon text-right">
                                <div class="tooltip-div save-act-tooltip">
                                  <div class="bookmark_outer">
                                    <a *ngIf="!program?.isFav" (click)="addFav(program,i)" class="bookmark_icon cursor">
                                      <img src="assets/heart-plus-icon-blue.svg" alt="Menu Image" />
                                    </a>
                                    <a *ngIf="program?.isFav" (click)="deleteFav(program,i)"
                                      class="bookmark_icon cursor">
                                      <img src="assets/heart-minus-icon.svg" alt="Menu Image " />
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="list_outer row row-0">
                              <div class="list col-12 mt-2 mb-1">
                                <p>By {{ program?.programOwner }}</p>
                              </div>
                              <!-- <div class="col-md-12" *ngIf="program?.inpersonOrVirtual=='Inperson'">
                                <div class="left-icon-box-media">
                                  <div><img src="assets/location-dark-icon.png" alt="location-icon" />
                                  </div>
                                  <div>
                                    <p>{{program?.location | viewStreet}}</p>
                                  </div>
                                </div>
                              </div> -->
                              <div class="col-md-12">
                                <div class="left-icon-box-media">
                                  <div><img src="assets/user-icon-img.png" alt="School image " />
                                  </div>
                                  <div>
                                    <!-- <p>{{ program?.ageGroup?.from + "-" + program?.ageGroup?.to }}
                                      Yrs</p> -->
                                    <p>{{program?.ageGroup | ageRange}}</p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12" *ngIf="!program?.isDateNotMention">
                                <div class="left-icon-box-media">
                                  <div><img src="assets/calender-icon-img1.png" alt="calender-icon" />
                                  </div>
                                  <div>
                                    <p class="day-txt-width">{{program?.date?.from |
                                                          date:"MMM dd"}} -
                                      {{program?.date?.to | date:"MMM dd"}}
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-12" *ngIf="checkProgramDays(program.days)">
                                <div class="left-icon-box-media">
                                  <div><img src="assets/calender-icon-img1.png" alt="days image " />
                                  </div>
                                  <div>
                                    <p class="day-txt-width">{{program | daysfilter }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="col-md-12">
                                <div class="left-icon-box-media">
                                  <div><img src="assets/watch-icon-img.png" alt="calender-icon" />
                                  </div>
                                  <div>
                                    <p *ngIf="!program?.isTimeNotMention">
                                      {{program?.time?.from | timeConvert | date:'h:mm a'}} –
                                      {{program?.time?.to | timeConvert | date:'h:mm a'}}</p>
                                    
                                  </div>
                                </div>
                              </div> -->

                              <div class="col-md-12">
                                <div
                                  *ngIf="(!program?.isFree && program?.pricePerParticipant)|| (program?.isFree && !program?.pricePerParticipant)"
                                  class="price-box left-icon-box-media">
                                  <div><img src="assets/price-doller-icon.png" /></div>
                                  <div>
                                    <p *ngIf="!program?.isFree && program?.pricePerParticipant">
                                      <span>{{
                                                              program.pricePerParticipant
                                                              }}<span *ngIf="program?.pricePeriod?.periodAmount">/{{
                                                                  program?.pricePeriod?.periodAmount
                                                                  }}</span></span>
                                    </p>
                                    <p *ngIf="program?.isFree && !program?.pricePerParticipant"><img
                                        src="assets/price.svg" /><span> Free</span></p>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-12 display-none">
                                <p *ngIf="!program?.isDateNotMention">
                                  <img src="assets/calendar.svg " alt="School image " />
                                  {{program?.date?.from | date: "MMM dd" }} –
                                  {{ program?.date?.to |date: "MMM dd" }}
                                </p>
                                <!-- <p *ngIf="program?.isDateNotMention">
                                  Ongoing
                                </p> -->
                              </div>
                              <div class="col-md-12">
                                <div class="online-text-clm">
                                  <div class="left-icon-box-media">
                                    <div *ngIf="program?.inpersonOrVirtual=='Virtual'"><img
                                        src="assets/online-icon-img.svg " alt="Online Icon" /></div>
                                    <div *ngIf="program?.inpersonOrVirtual=='Virtual'">
                                      <p class="clr-online-pink">Online</p>
                                    </div>
                                    <!-- <p *ngIf="program?.inpersonOrVirtual=='Inperson'">In-Person</p> -->
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="btn-search-boxs-bt">
                              <!-- <button class="classes-btn-bt" highlight>{{program.type}}</button> -->
                              <button
                                [ngClass]="{'classes-btn-bt':program?.type=='Classes','private-btn-bt': program?.type=='Private Class' || program?.type=='single', 'camp-btn-bt':program?.type=='Camps' || program?.type=='Party'}"
                                *ngIf="program?.type">{{program?.type}}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="right-resourcebtn" *ngIf="providerProgram?.programs?.length>=5">
                        <a (click)="scrollRight();providerProgram.programs.isSlide = true">
                          <div class=" carousel-nav-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path
                                d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                            </svg>
                          </div>
                        </a>
                      </div>

                    </div>
                    <!-- Programs list first without map -->

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End Programs List Section  -->

        </div>
      </div>
    </div>
  </section>

</body>


<share-popup [shareData]="selectedProgram" fgsSize="100"></share-popup>
<share-popup [shareData]="selectedProgram"></share-popup>
<ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
<ng-template #foregroundSpinner>
  <app-loader-file></app-loader-file>
</ng-template>
<reg-wall></reg-wall>
