 <!-- -----------------------saved listing----------------------------------- -->
 <section class="main_outer">
   <div class="content_outer common-headermargin min-height-unset">
     <div class="container">
       <div class="MainContent">

         <div class="content_right content-right-overflow mb-50px">
           <div class="my-saved-prodivers-section">
             <div class="row row-0 align-items-center mb-40px">
               <div class="col-8">
                 <h2 class="save-title-h2"><img src="assets/heart-icon-provider.png"> Saved Providers</h2>
               </div>
               <div class="col-4">
                 <div class="chip-set-bar btn-show-map-right">
                   <button class="btn-show-map" (click)="isMap = !isMap">
                     <img src="assets/gis_map.png" class="gis-map-icon">
                     <span [hidden]="isMap"> Show on map </span>
                     <span [hidden]="!isMap"> Hide map </span>
                     <!-- <img src="assets/right-arrow-icon.png" class="right-arrow-icon"> -->
                   </button>
                 </div>
               </div>
             </div>
             <div class="my-saved-prodivers-info-1" *ngIf="savedProvider?.length && isLoaded && !isMap">
               <div class="my-saved-body-content my-saved-prodivers-info" *ngFor="let data of savedProvider; let providerIndx = index">
                 <div class="media-top-content-info mb-10">
                   <div class="row row-0">
                     <div class="col-md-8">
                       <div class="media-h2-with-review">
                         <div class="media-top-txt-div">
                           <div class="left-icon-img">
                             <img *ngIf="data?.category?.length;else tagsUrl"
                               src="{{baseUrl+data?.category[0]?.logoUrl}}" />
                             <ng-template #tagsUrl>
                               <img *ngIf="data?.tags?.length; else noLogoFound"
                                 src="{{baseUrl+data?.tags[0]?.logo}}" />
                               <ng-template #noLogoFound>
                                 <img src="assets/outdoor.png" />
                               </ng-template>
                             </ng-template>
                           </div>
                           <div class="left-icon-h2 tooltip-div">
                             <h2 #providerNameId>{{data?.provider?.firstName}}
                               <span *ngIf="detectDots(providerNameId)"
                                 class="tooltip-text">{{data?.provider?.firstName}}</span>
                             </h2>
                             <div class="loc-txt-with-icon-search">
                               <div class="loc-txt-search">
                                 <a *ngIf="data?.provider?.addressLine1"><img
                                     src="assets/blue-loc-icon-search.svg" />{{data?.provider?.addressLine1 | viewStreet}}</a>
                               </div>
                             </div>
                           </div>
                         </div>
                         <div class="rating-starsearch cursor" (click)=" getRating(data?.provider?._id);
                          " data-toggle="collapse" [attr.data-target]="'#collapseExamplestar' + providerIndx">
                           <p>
                             <span *ngIf="data?.provider?.averageFinalRating==0">
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>0 && data?.provider?.averageFinalRating<1">
                              <span class="fa fa-star-half-o checked"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                              <span class="fa fa-star-o"></span>
                            </span>
                             <span *ngIf="data?.provider?.averageFinalRating==1">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>1 && data?.provider?.averageFinalRating<2">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-half-o checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==2">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>2 && data?.provider?.averageFinalRating<3">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-half-o checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==3">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>3 && data?.provider?.averageFinalRating<4">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-half-o checked"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==4">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>4 && data?.provider?.averageFinalRating<5">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-half-o checked"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==5">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                             </span>
                             <!-- <a> <span></span>(58 reviews)</a> -->
                           </p>
                         </div>

                         <div *ngIf="rating" class="collapse star-daialogbox"
                           id="collapseExamplestar{{ providerIndx }}">
                           <button type="button" data-toggle="collapse"
                             [attr.data-target]="'#collapseExamplestar' + providerIndx" class="close star-daialogicon"
                             aria-label="Close">
                             <span aria-hidden="true"><img src="assets/grey-close.png" /></span>
                           </button>
                           <app-rating [rating]="rating" [user]="data?.provider">
                           </app-rating>
                         </div>
                       </div>
                     </div>
                     <div class="col-md-4">
                       <div class="media-top-txt-div justify-content-right">
                         <div class="share_icon">
                           <!-- <a class="cursor" data-toggle="modal" data-target="#ShareModal" (click)="selectedShareData = data">
                  <img src="assets/save-blue-icon.svg" alt="Share Icon" />
                </a> -->
                           <div class="bookmark_outer">
                             <button class="btn-unsave btn-unsave-search bookmark_icon cursor"
                               (click)="removeFavProvider(data?.provider?._id,providerIndx)">
                               <img src="assets/heart-plus-icon-white.svg" /> Unsave
                             </button>
                           </div>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
                 <div class="my-saved-carousel-slider">
                   <div class="left-resourcebtn" *ngIf="data?.favourites?.length>4 && data?.favourites?.isScroll">
                     <a>
                       <div class="carousel-nav-icon" (click)="scrollLeft(providerIndx)">
                         <svg _ngcontent-vyh-c185="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                           xmlns:xlink="http://www.w3.org/1999/xlink">
                           <path _ngcontent-vyh-c185=""
                             d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z">
                           </path>
                         </svg>
                       </div>
                     </a>
                   </div>

                   <div [id]="'widgetsContent'+providerIndx" class="media-scroable" *ngIf="data?.favourites?.length>0">
                     <div class="media-activity" *ngFor="let program of data?.favourites; let i = index">
                       <div class="media-body" (click)="goToProgramDetail(program?.programs)">
                         <div class="media-right-icon-h2">
                           <div class="tooltip-div" >
                             <h2 #programNameId class="cursor"> {{program?.programs?.name}}
                               <span *ngIf="detectDots(programNameId)"
                                 class="tooltip-text">{{program?.programs?.name}}</span>
                             </h2>
                           </div>
                           <div class="media-right-share-icon">
                             <!-- <div class="tooltip-div save-act-tooltip">
                               <div class="bookmark_outer">
                                 <a class="bookmark_icon cursor"
                                   (click)="removeFav(program?.programs?._id,providerIndx,i)">
                                   <img class="imgsvg" src="assets/ellipse-214.svg" />
                                 </a>
                               </div>
                             </div> -->
                           </div>
                         </div>
                         <div class="list_outer row row-0">
                           <div class="col-md-12">
                             <div class="online-text-clm" *ngIf="program?.programs?.inpersonOrVirtual=='Inperson'">
                               <p>In-Person</p>
                             </div>
                             <div class="online-text-clm" *ngIf="program?.programs?.inpersonOrVirtual=='Virtual'">
                              <p>Online</p>
                            </div>
                           </div>
                           <div class="col-md-12">
                             <div class="left-icon-box-media">
                               <div>
                                 <img src="assets/user-icon-img.png" alt="user-icon">
                               </div>
                               <div>
                                 <p>{{program?.programs?.ageGroup | ageRange}}</p>
                               </div>
                             </div>
                           </div>
                           <div class="col-md-12" *ngIf="!program?.programs?.isDateNotMention">
                             <div class="left-icon-box-media">
                               <div>
                                 <img src="assets/calender-icon-img1.png" alt="calender-icon">
                               </div>
                               <div>
                                 <p class="day-txt-width">{{program?.programs?.date?.from |date:"MMM dd"}} -
                                   {{program?.programs?.date?.to | date:"MMM dd"}}
                                 </p>
                                 <!-- <p *ngIf="program?.programs?.isDateNotMention">Ongoing</p> -->
                               </div>
                             </div>
                           </div>
                           <div class="col-md-12" *ngIf="checkProgramDays(program?.programs?.days)">
                             <div class="left-icon-box-media">
                               <div><img src="assets/calender-icon-img1.png" alt="days image " />
                               </div>
                               <div>
                                 <p class="day-txt-width" style="text-transform: capitalize;">{{program?.programs | daysfilter }}
                                 </p>
                               </div>
                             </div>
                           </div>
                           <!-- <div class="col-md-12">
                             <div class="left-icon-box-media">
                               <div>
                                 <img src="assets/watch-icon-img.png" alt="calender-icon">
                               </div>
                               <div>
                                 <p *ngIf="!program?.programs?.isTimeNotMention">
                                   {{program?.programs?.time?.from | timeConvert | date:'h:mm a'}} –
                                   {{program?.programs?.time?.to | timeConvert | date:'h:mm a'}}</p>

                               </div>
                             </div>
                           </div> -->

                           <div class="col-md-12">
                             <div class="left-icon-box-media">
                               <div>
                                 <img src="assets/price-doller-icon.png" alt="user-icon">
                               </div>
                               <div>
                                 <p *ngIf="!program?.programs?.isFree && program?.programs?.pricePerParticipant">
                                   <span>{{ program?.programs?.pricePerParticipant}}
                                     <span
                                       *ngIf="program?.programs?.pricePeriod?.periodAmount">/{{program?.programs?.pricePeriod?.periodAmount }}</span>
                                   </span>
                                 </p>
                                 <p *ngIf="program?.programs?.isFree && !program?.programs?.pricePerParticipant">
                                   <img src="assets/price.svg" /><span> Free</span></p>
                               </div>
                             </div>
                           </div>
                         </div>
                         <div class="btn-search-boxs-bt">
                           <!-- <button class="classes-btn-bt" highlight>{{program?.programs?.type}}</button> -->
                           <button
                              [ngClass]="{'classes-btn-bt':program?.programs?.type=='Classes','private-btn-bt': program?.programs?.type=='Private Class' || program?.programs?.type=='single', 'camp-btn-bt':program?.programs?.type=='Camps' || program?.programs?.type=='Party'}"
                              *ngIf="program?.programs?.type">{{program?.programs?.type}}</button>
                         </div>
                       </div>
                     </div>
                   </div>

                   <div class="right-resourcebtn" *ngIf="data?.favourites?.length>4">
                     <a>
                       <div class="carousel-nav-icon" (click)="scrollRight(providerIndx);data.favourites.isScroll=true">
                         <svg _ngcontent-vyh-c185="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                           xmlns:xlink="http://www.w3.org/1999/xlink">
                           <path _ngcontent-vyh-c185=""
                             d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z">
                           </path>
                         </svg>
                       </div>
                     </a>
                   </div>

                   <div class="media-scroable" *ngIf="!data?.favourites">
                     <div class="media-activity">
                       <div class="media-body">
                         <div class="no-saved-content">
                           <h3>No Saved Activities</h3>
                           <a class="explore-link" (click)="goToProviderProfile(data?.provider)">Explore now </a>
                         </div>
                       </div>
                     </div>
                   </div>

                 </div>
               </div>
             </div>
             <div class="map_section" *ngIf="isMap">
               <agm-map style="width: 100%; height: 100%" *ngIf="savedProvider?.length; else nolocationfound"
                 [styles]="mapTheme.customStyle" [zoom]="zoom" [mapDraggable]="true" [usePanning]="true"
                 [fitBounds]="true" [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked(previous)">
                 <div *ngFor="let data of savedProvider;let providerIndx = index">
                   <agm-marker *ngIf="data.provider?.lat && data?.provider?.lng" [latitude]="data?.provider?.lat"
                     [iconUrl]="data?.activeMarker?activeMarkerUrl:markerUrl" [longitude]="data?.provider?.lng"
                     (markerClick)="clickedMarker(previous)" [agmFitBounds]="true">
                     <agm-info-window #previous>
                       <div class="map-popup">
                         <h1>
                           {{ data?.provider?.firstName }}
                         </h1>
                         <h2>{{ data?.provider?.addressLine1 }}</h2>
                         <div class="rating-starsearch" class="cursor">
                           <p>
                             <span *ngIf="data?.provider?.averageFinalRating==0">
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==1">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>1 && data?.provider?.averageFinalRating<2">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-half-o checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==2">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>2 && data?.provider?.averageFinalRating<3">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-half-o checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==3">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-o"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>3 && data?.provider?.averageFinalRating<4">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-half-o checked"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==4">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-o"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating>4 && data?.provider?.averageFinalRating<5">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star-half-o checked"></span>
                             </span>
                             <span *ngIf="data?.provider?.averageFinalRating==5">
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                               <span class="fa fa-star checked"></span>
                             </span>
                             <span class="no-underline">(</span><a class="no-underline"
                               *ngIf="data.provider?.totalReviews">{{data.provider?.totalReviews
                                                      }}</a>
                             <a class="no-underline" *ngIf="!data.provider?.totalReviews">0</a><span
                               class="no-underline">)</span>
                           </p>
                         </div>
                         <div class="map-locationtext" *ngIf="data?.provider?.location">
                           <span><img src="assets/location-pintag.svg" /> </span>
                           <h3>
                             {{ data?.provider?.location }}
                           </h3>
                         </div>
                       </div>
                     </agm-info-window>
                   </agm-marker>
                 </div>
               </agm-map>
               <!-- ------------------------ no programs location ------------ -->
               <ng-template #nolocationfound>
                 <agm-map style="width: 100%; height: 100%" [styles]="mapTheme.customStyle" [zoom]="14" [latitude]="lat"
                   [longitude]="lng">
                 </agm-map>
               </ng-template>
               <!-- ---------------------------------------------------------- -->
             </div>
             <div class="my-saved-prodivers-info" *ngIf="!savedProvider?.length && isLoaded">
               <h3>No Saved Provider Found</h3>
             </div>
           </div>
         </div>

       </div>
     </div>
   </div>
 </section>
 <ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
 <ng-template #foregroundSpinner>
   <app-loader-file></app-loader-file>
 </ng-template>
