.mb-40px{margin-bottom: 40px;}
.mb-50px{margin-bottom: 50px;}
.mb-10{margin-bottom: 10px;}
.media-right-share-icon {
  text-align: right;
}
.day-txt-width {
  text-transform: capitalize;
  max-width: 154px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.my-saved-carousel-slider .media-body .left-icon-box-media{margin-bottom: 4px;}
.my-saved-prodivers-info{
  padding: 40px 40px 15px;
}
.my-saved-prodivers-section h2.save-title-h2 {
  margin-bottom: 0px;
}
.media-scroable .media-body:hover {
  border: 2px solid #53B2E8 !important;
  filter: drop-shadow(0px 4px 8px rgba(83, 178, 232, 0.46));
}
.my-saved-body-content {
  border-bottom: none;
  margin-bottom: 15px;
}
.btn-unsave-search {
  background: #53B2E8 !important;
  color: #fff!important;
}
.btn-unsave {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #53B2E8;
  border: 1px solid #53B2E8;
  box-sizing: border-box;
  background: #FFFFFF;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  border-radius: 20px;
  column-gap: 7px;
}
.btn-show-map {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.001em;
  color: #53B2E8;
  border: 1px solid #53B2E8;
  box-sizing: border-box;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 9px 19px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
}
.btn-show-map img.gis-map-icon {
  padding-right: 5px;
}
.btn-show-map img.right-arrow-icon {
  padding-left: 18px;
}
.loc-txt-search img {
  width: auto;
  margin-right: 6px;
}
.loc-txt-search a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.005em;
  /* text-decoration-line: underline; */
  color: #53B2E8;
}
.media-top-txt-div .left-icon-h2 h2 {
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}
.media-h2-with-review {
  display: flex;
  column-gap: 10px;
}
.media-top-txt-div .left-icon-h2 {
  max-width: 350px;
}
.my-saved-body-content .rating-starsearch {
  margin-top: 5px;
}
.my-saved-body-content .media-activity {
  padding-top: 10px;
  padding-bottom: 15px;
}
.my-saved-carousel-slider .media-scroable .media-body {
  border: 2px solid transparent;
  border-radius: 20px;
  min-height: 205px;
  height: 100%;
  padding: 0px;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 20%);
  cursor: pointer;
}
.media-body .media-right-icon-h2{
  padding: 13px 14px 13px;
  background: #FFFFFF;
  box-shadow: inset 0px -1px 0px #99d1f0;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 10px;
}
.media-body .media-right-icon-h2 h2 {
  max-width: 100%;
  display: -webkit-box;
  min-height: 45px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  word-break: break-all;
}
.media-body .list_outer {
  padding: 0px 15px 10px;
}
.online-text-clm{margin-bottom: 10px;}
.online-text-clm p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
}
.btn-search-boxs-bt {
  position: absolute;
  bottom: -2px;
  right: -2px;
}
.btn-search-boxs-bt button{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.001em;
  border-radius: 20px 0px 20px 0px;
  border: none;
  padding: 3px 22px;
  display: inline-block;
}

.loc-without-online, .drop-in-btn-bt,
.classes-btn-bt {color: #777CEA;background: rgba(119, 124, 234, 0.19);}
.camp-btn-bt{color: #F4722A;background: rgba(249, 153, 100, 0.35);}
.semester-btn-bt{color: #FA627D;background: #FFE2E8;}
.private-btn-bt{background: #DCF3FF;color: #53B2E8;}

/* tooltip css   */
.tooltip-div {
  position: relative;
}
.tooltip-div .tooltip-text {
  visibility: hidden;
  width: 180px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 46px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #494949;
  letter-spacing: 0.001em;
  background: #EFEFEF;
  border-radius: 6px;
  padding: 9px 10px;
}
.tooltip-div .tooltip-text::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 19px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent #EFEFEF transparent;
}
.tooltip-div:hover .tooltip-text {
  visibility: visible;
}
.tooltip-div.map-h2-tooltip .tooltip-text {
  left: 0!important;
  top: 100%!important;
}
.tooltip-div.map-h2-tooltip h2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.save-act-tooltip span.tooltip-text {
  width: 190px!Important;
  left: -152px!important;
  top: 35px !important;
  z-index: 11111111111!important;
  background: #E2F5FF !important;
  color: #53B2E8!important;
  font-size: 14px !important;
  line-height: 24px !important;
}
.save-act-tooltip .tooltip-text::after {
  left: unset!important;
  right: 15px;
  border-color: transparent transparent #E2F5FF transparent!important;
}
/* slider arrow css */
.my-saved-carousel-slider {
  position: relative;
}
.left-resourcebtn .carousel-nav-icon,
.right-resourcebtn .carousel-nav-icon {
  height: 40px;
  width: 40px;
  background: #fff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  color: #494949;
  border-radius: 50%;
  top: 34%;
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
}
.left-resourcebtn .carousel-nav-icon svg,
.right-resourcebtn .carousel-nav-icon svg{
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: flex;
  align-items: center;
  filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
  -webkit-filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
}
.left-resourcebtn .carousel-nav-icon svg {
  transform: rotate(180deg);
}
.left-resourcebtn .carousel-nav-icon {
  left: -20px;
}
.right-resourcebtn .carousel-nav-icon {
  right: -20px;
}

.map_section {
  position: -webkit-sticky;
 position: sticky;
 height: 100vh;
 top: 80px;
 transition: top .4s ease,margin-top .4s ease,height .4s ease;
}

.map-popup h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 10px;
}

.map-popup h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 10px;
}

.map-locationtext h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
}

.map-locationtext {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}

button.map-buttonas {
  background: #53b2e8;
  border-radius: 25.1946px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}

::ng-deep .gm-style-iw-d {
  overflow: auto !important;
}

::ng-deep .gm-style .gm-style-iw-t::after {
  width: 0px !important;
}

::ng-deep .gm-style .gm-style-iw-c {
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
  border-radius: 20px !important;
  top: 20px !important;
  max-width: 220px !important;
  min-height: auto !important;
}

::ng-deep button.gm-ui-hover-effect {
  top: 0px !important;
  right: 0px !important;
  display: none !important;
}

::ng-deep .gm-style-iw-d {
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
}

.min-height-unset{min-height: unset;}
