
      <!-- <div *ngIf="" class="box text-center p-3 bg-white"> -->

        <div class="main_container">
              <div class="menu-box">
                <div class="box">
                  <div class="beta-invitenew">
                    <h1>Your Beta Invites</h1>
                    <h2>
                      <img src="assets/invite-open.svg">
                      Your invites:
                      <a>{{invitedUsers?.length}}</a>
                    </h2>
                  </div>
                  <div class="betainvite-btnnew">
                    <h3 *ngIf="!invitedUsers?.length">Aliquam sit sem faucibus ac, faucibus amet in diam malesuada. Tempus amet, eget non posuere ac risus adipiscing.</h3>
                    <div class="table-beta" *ngIf="invitedUsers?.length">
                      <div class="container">
                        <div class="row beta-row" *ngFor="let invitedUser of invitedUsers" [ngClass]="{'highlight':invitedUser?.joined}">
                          <div class="col-md-2">
                            <h1>{{invitedUser?.name}} </h1>
                          </div>
                          <div class="col-md-2">
                            <h1>{{invitedUser?.email}}</h1>
                          </div>
                          <div class="col-md-2">
                            <div class="btn-flex" *ngIf="!invitedUser?.joined">
                              <span class="mr-2"><img src="assets/spin.png" /></span>
                              <h1>Pending</h1>
                            </div>
                            <div class="btn-flex" *ngIf="invitedUser?.joined">
                              <span class="mr-2"><img src="assets/tick-sucess.png" /></span>
                              <h1 class="accep-clr">Accepted</h1>
                            </div>
                            <!-- <div class="btn-flex">
                              <span class="mr-2"><img src="assets/red-close.png" /></span>
                              <h1 class="ntaccep-clr">Not accepted</h1>
                            </div> -->

                          </div>
                          <div class="col-md-3">
                            <h1>Expires in: 1d 0h 9m</h1>
                          </div>
                          <div class="col-md-2">
                            <div class="btn-flex">
                              <!-- <button class="beta-btninvite">RESEND</button> -->
                              <button [hidden]="invitedUser?.joined"class="beta-btninvite ml-2">CANCEL</button>
                            </div>
                          </div>
                        </div>

                        <!-- <div class="row beta-row">
                          <div class="col-md-2">
                            <h1>Janet Jackson </h1>
                          </div>
                          <div class="col-md-2">
                            <h1>vishi@yopmail.com</h1>
                          </div>
                          <div class="col-md-2">
                            <div class="btn-flex">
                              <span class="mr-2"><img src="assets/red-close.png" /></span>
                              <h1 class="ntaccep-clr">Not accepted</h1>
                            </div>
                          </div>
                          <div class="col-md-3">
                            <h1>Expires in:1d 10h 30m</h1>
                          </div>
                          <div class="col-md-2">
                            <div class="btn-flex">
                              <button class="beta-btninvite">RESEND</button>
                              <button class="beta-btninvite ml-2">CANCEL</button>
                            </div>
                          </div>
                        </div> -->
                      </div>
                    </div>




              </div>

                  <button  [disabled]="invitedUsers?.length>=3" class="beta-btninvite"  data-toggle="modal"  data-target="#betaInvite">
                    SEND Invite
                  </button>

                </div>
              </div>
          <div class="wnderfly-btn">
            <h1>© {{currentYear}} WONDRFLY Inc.</h1>
          </div>
        </div>


 <!-- Modal -->
<div
class="modal fade modal_custom guardian_info"
id="betaInvite"
tabindex="-1"
role="dialog"
aria-labelledby="exampleModalCenterTitle"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
    >
      <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal-body">
      <div class="form_outer">
        <h2 class="title">
          I’d like to invite
        </h2>
        <form class="details_form" [formGroup]="inviteForm">
          <div class="form-group">
            <label>Full Name</label>
            <div class="input_outer">
              <input
                type="text"
                placeholder="Enter fullName"
                [formControl]="inviteForm.controls['fullName']"
                class="form-control"
                [(ngModel)]="inviteAsktojoin.firstName"
                name="FullName"
                required
              />
              <span class="parent-edit"><img src="assets/close.png" /></span>
            </div>
          </div>
          <div class="form-group">
            <label>Email Address</label>
            <div class="input_outer">
              <input
                type="email"
                placeholder="Enter fullName"
                [formControl]="inviteForm.controls['email']"
                class="form-control"
                [(ngModel)]="inviteAsktojoin.email"
                name="email"
                required
              />
              <small
                *ngIf="
                  inviteForm.controls['email'].hasError('email') &&
                  inviteForm.controls['email'].touched
                "
                class="form-error-msg"
                >INVALID EMAIL ADDRESS</small
              >
              <small
                *ngIf="
                  inviteForm.controls['email'].hasError('required') &&
                  inviteForm.controls['email'].touched
                "
                class="form-error-msg"
                >EMAIL IS REQUIRED</small
              >
              <span class="parent-edit"><img src="assets/close.png" /></span>
            </div>
          </div>

          <div class="checkbox-ask">
            <div class="form-check">
              <input
                class="form-check-input k-checkbox"
                type="checkbox"
                #parentc
                [checked]="isParent"
                (change)="parentChecked(parentc.checked)"
              />
              <label
                class="form-check-label k-checkbox-label"
                for="flexCheckDefault"
              >
              Sending thit invite I ..............
              </label>
            </div>
            <div class="form-check copy-link" (click)="copyInvite()">
              <span><img src="assets/copy-link.png" /></span>
              <label
                class="form-check-label k-checkbox-label cursor"
                for="flexCheckChecked"
              >
                COPY Invitation link
              </label>
            </div>
          </div>

          <div class="form-group update_btn">
            <button
              class="btn_style save_btn cursor"
              type="submit"
              [disabled]="inviteForm.invalid || !isParent"
              data-dismiss="modal"
              (click)="inviteAsktojoina()"
            >
              SEND INVITE
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
