<body>
  <div class="common-headermargin">
    <!-- Start IMG Banner Hero Section -->
    <section class="mywondrfly-banner hero-bg-img" style="background-image: url(/assets/my-wondrfly-hero.png);">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="beta-suggestionheading">
              <h1> Kids' Activities. Simplifed</h1>
              <h3>Now serving Jersey City</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End IMG Banner Hero Section -->


    <!-- Start Banner Hero Section -->
    <!-- <section class="mywondrfly-banner hero-bg-clr">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="beta-suggestionheading">
              <h1> Kids' Activities. Simplifed</h1>
              <h3>Now serving Jersey city</h3>
            </div>
            <div class="search-filterupper">
              <div class="search-filed">
                <div class="left-searchss">
                  <div class="">
                    <div>
                      <form class="banner_form">
                        <div class="form-group ">
                          <input type="text" placeholder="Search Activity..." aria-label="Activity"
                            [formControl]="searchMywondrfly" (input)="transferValue(searchMywondrfly.value)"
                            class="form-control camp_input " matInput [matAutocomplete]="autoLanding2">
                        </div>
                        <div class="search-location">
                          <span data-toggle="modal" data-target="#locationMod">
                            <img src="assets/location-iconblck.svg" /></span>
                          <input placeholder="Search Jersey City" (keydown.enter)="$event.preventDefault()"
                            autocorrect="off" autocapitalize="off" spellcheck="off" #search readonly />
                        </div>
                        <div class="form-group">
                          <button class="banner_button"
                            (click)="$event.preventDefault();searchKeyword(searchMywondrfly.value)">
                            <img src="assets/search_icon.svg" alt="Search image" /> Search
                          </button>
                        </div>

                        <div class="autocomp">
                          <mat-autocomplete #autoLanding2="matAutocomplete" class="auto-landing">
                            <div *ngFor="let group of allData">
                              <mat-optgroup *ngIf="group?.data?.length" [label]="group.label">
                                <mat-option *ngFor="let option of group.data" [value]="option.name"
                                  (onSelectionChange)="selectSearchedOption(option)">
                                  {{option.name}}
                                  <span class="search-programlist">
                                    <img src="assets/program-search.svg" />
                                  </span>
                                </mat-option>
                              </mat-optgroup>
                            </div>
                          </mat-autocomplete>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- End Banner Hero Section -->

    <div *ngIf="kids?.length">
      <!-- Start Activity Category Section -->
      <section class="activity_category pt-60px" *ngFor="let kid of kids;let i = index;">
        <div class="container">
          <div class="row">
            <div class="col-12 activities-flex">
              <h2 class="title">Just for <span class="child-name">{{ kid?.name.split(' ')[0] }}</span></h2>
              <!-- <span
                (click)="filterData.searchedCategoryKey=kids[i].interestInfo[0]?.name;filterData.kidAge=kids[i].age;clickOnViewAllChildIntrests(i)"
                class="d-flex justify-content-end">view all</span> -->
            </div>
          </div>
          <div class="activity_category_list">
            <div class="cate-listing-carousel" *ngIf="kid?.interestInfo?.length">
              <div class="left-resourcebtn" *ngIf="kid.interestInfo.isScrollLeft">
                <a (click)="scrollLeft(i)">
                  <div class="carousel-nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path
                        d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                    </svg>
                  </div>
                </a>
              </div>
              <div [id]="'widgetsContent'+i" class="custom-slider-main cardss">
                <div *ngFor="let category of kid?.interestInfo | slice:0:4 ; let i = index">
                  <div class="resourves-width" *ngIf="category.programCount>0">
                    <div class="category_list_box cursor"
                      (click)="filterData.kidAge=kid.age;searchBySubCategory(category,kid.id,kid.age)">
                      <a (click)="filterData.searchedCategoryKey=category.name;">
                        <div class="category_image">
                          <img [src]="baseUrl+category?.image" />
                        </div>
                        <div class="category_title">
                          <p>
                            {{ category?.name}}
                            <!-- <span class="title_arrow">
                            <img src="assets/category_arrow.svg" alt="Category_arrow" />
                          </span> -->
                          </p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="resourves-width">
                  <div class="card-view-all"
                    (click)="filterData.searchedCategoryKey=kids[i].interestInfo[0]?.name;clickOnViewAllChildIntrests(i,kid.id,kid.age)">
                    <span class="btn cmn-viewbtn">View
                      All</span>
                  </div>
                </div>
              </div>
              <div class="right-resourcebtn" *ngIf="kid?.interestInfo?.length>2">
                <a (click)="scrollRight(i);kid.interestInfo.isScrollLeft=true">
                  <div class="carousel-nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path
                        d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                    </svg>
                  </div>
                </a>
              </div>
            </div>

            <!-- <div class="row" *ngIf="!kid?.interestInfo?.length">
                            <div class="col-md-4" *ngFor="let category of kid?.interestInfo | slice:0:3 ; let i = index">
                                <div class="category_list_box cursor" (click)="searchByCategory(category)">
                                    <a>
                                        <div class="category_image">
                                            <img [defaultImage]="defaultImage" [lazyLoad]="category?.categories?.imageUrl" />
                                        </div>
                                        <div class="category_title">
                                            <p>{{ category?.name }}<span class="title_arrow">
                          <img src="assets/category_arrow.svg" alt="Category_arrow" />
                                    </span></p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div> -->
          </div>
        </div>
      </section>
      <!-- End Activity Category Section -->
    </div>

    <!-- Start Fourboxes Section -->
    <!-- <section class="pt-60px">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-30px">
            <h2 class="title">Top Searches</h2>
          </div>
        </div>
        <div class="row-grid-5">
          <div class="col-grid">
            <div class="four-box-info align-center">
              <div class="card-boxes box-2nd-bg cursor" (click)="searchKeyword('Evening','time')">
                <h3>Evening <br>Programs</h3>
              </div>
            </div>
          </div>
          <div class="col-grid">
            <div class="four-box-info align-center">
              <div class="card-boxes box-3rd-bg cursor" (click)="searchKeyword('Online')">
                <h3>Online</h3>
              </div>
            </div>
          </div>
          <div class="col-grid">
            <div class="four-box-info align-center">
              <div class="card-boxes box-4th-bg  cursor" (click)="freePrograms()">
                <h3>Free Programs</h3>
              </div>
            </div>
          </div>
          <div class="col-grid">
            <div class="four-box-info align-center">
              <div class="card-boxes box-1st-bg  cursor" (click)="searchKeyword('TopRated')">
                <h3>Top Rated</h3>
              </div>
            </div>
          </div>
          <div class="col-grid">
            <div class="four-box-info align-center">
              <div class="card-boxes box-3rd-bg cursor" (click)="searchKeyword('Weekend')">
                <h3>Weekend</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- End Fourboxes Section -->

    <!-- You might also like Section -->
    <div class="you-make-like-section mt-80px" *ngIf="kids?.length && suggestionSubCategories?.length">
      <!-- Start Activity Category Section -->
      <section class="activity_category pt-80px pb-80px">
        <div class="container">
          <div class="row">
            <div class="col-12 activities-flex mb-20px">
              <h2 class="title">You might also like</h2>
            </div>
          </div>
          <div class="activity_category_list">
            <div class="cate-listing-carousel">
              <!-- <div class="left-resourcebtn" *ngIf="kid.interestInfo.isScrollLeft">
                <a (click)="scrollLeft(i)">
                  <div class="carousel-nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path
                        d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                    </svg>
                  </div>
                </a>
              </div> -->
              <div [id]="'widgetsContent'" class="row">
                <div class="col-md-3" *ngFor="let subCategory of suggestionSubCategories | slice:0:4 ; let i = index">
                  <div class="category_list_box cursor" (click)="searchBySubCategory(subCategory,'','')">
                    <a (click)="filterData.searchedCategoryKey=subCategory.name;">
                      <div class="category_image">
                        <img [src]="baseUrl+subCategory?.imageUrl" />
                      </div>
                      <div class="category_title">
                        <p>
                          {{ subCategory?.name}}
                          <!-- <span class="title_arrow">
                            <img src="assets/category_arrow.svg" alt="Category_arrow" />
                          </span> -->
                        </p>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- <div class="resourves-width">
                  <div class="card-view-all"
                    (click)="filterData.searchedCategoryKey=kids[i].interestInfo[0]?.name;clickOnViewAllChildIntrests(i)">
                    <span class="btn cmn-viewbtn">View
                      All</span>
                  </div>
                </div> -->
              </div>
              <!-- <div class="right-resourcebtn" *ngIf="kid?.interestInfo?.length>2">
                <a (click)="scrollRight(i);kid.interestInfo.isScrollLeft=true">
                  <div class="carousel-nav-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                      xmlns:xlink="http://www.w3.org/1999/xlink">
                      <path
                        d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                    </svg>
                  </div>
                </a>
              </div> -->
            </div>
          </div>
        </div>
      </section>
      <!-- End Activity Category Section -->
    </div>
    <!-- end You might also like Section -->

    <!-- Start Summer Camps Section 
    <section class="summer-camps-section pt-70px pb-70px mt-70px" *ngIf="categories?.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="mb-60px align-center">Trending Summer Camps</h2>
            -->
    <!-- <h2 class="mb-60px align-center">Summer Camps <span *ngIf="kidsName?.length">for </span><span
                *ngFor="let name of kidsName;let i = index;"><span *ngIf="i>0 && i<kidsName?.length-1"> , </span><span
                  *ngIf="i>0 && i==kidsName?.length-1"> and </span><span class="child-name">{{name}}</span></span></h2> -->
    <!--  </div>
        </div>
        <div class="circle-main">
          <div class="carousel-circle-icon-left" *ngIf="tags.isScroll" (click)="moveLeft()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
            </svg>
          </div>
          <drag-scroll class="row-flex-5" #circle [scroll-x-wheel-enabled]="true">
            <div class="col-flex" *ngFor="let category of tags|slice:0:8; let i = index" drag-scroll-item>
              <div class="summer-camps-box cursor" (click)="searchKeyword('Summer',category)">
                <div>
                  <img *ngIf="category?.isCategory" [src]="baseUrl+category?.iconUrl" />
                  <img *ngIf="category?.isTag" [src]="baseUrl+category?.icon" />
                </div>
                <div>
                  <h3>{{category?.name}}</h3>
                  <h4 *ngIf="allMaxAge"><span *ngIf="kids?.length>1">{{allMinAge}}-</span>{{allMaxAge}} yrs old</h4>
                </div>
              </div>
            </div>
          </drag-scroll>

          <div class="carousel-circle-icon-right" (click)="moveRight();tags.isScroll=true">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path
                d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
            </svg>
          </div>
        </div>
      </div>
    </section> -->
    <!-- End Summer Camps Section -->

    <!-- Start Birthday coming up Section -->
    <section class="bday-coming-section mt-60px">
      <div class="container">
        <div class="bday-coming-box">
          <div class="row">
            <div class="col-md-4">
              <div class="left-col-cnt-info">
                <img src="/assets/blune-bday.png" />
                <h2>Birthday coming up?</h2>
                <p>Discover our party activities</p>
                <div class="view-all-link">
                  <a (click)="searchKeyword('Party')">View All Parties</a>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="right-col-cnt-info">
                <div class="bday-listing-carousel">
                  <div class="left-resourcebtn" *ngIf="partyPrograms?.isScrollLeft">
                    <a (click)="moveLeft()">
                      <div class="carousel-nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                          xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path
                            d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="custom-slider-main">
                    <drag-scroll class="row-flex-5" #circle [scroll-x-wheel-enabled]="true">
                      <div class="colm-width" *ngFor="let program of partyPrograms" drag-scroll-item
                        [hidden]="!program.isPublished">
                        <div class="bday-list-box cursor" routerLink="{{goToProgramDetail(program)}}">
                          <div class="bday-list-image">
                            <img src="/assets/rectangle-721.png" />
                          </div>
                          <div class="bday-list-content">
                            <div class="gird-2-col">
                              <div class="bday-title">
                                <h3 routerLink="{{goToProgramDetail(program)}}">{{program?.name | slice:0:18}}</h3>
                              </div>
                              <div class="bday-price">
                                <p *ngIf="program?.pricePerParticipant">from ${{program?.pricePerParticipant}}</p>
                                <p *ngIf="!program?.pricePerParticipant">Free</p>
                              </div>
                            </div>
                            <div class="bday-subtitle">
                              <p>by {{program?.addedBy?.firstName | slice:0:31}}</p>
                            </div>
                            <div class="bdy-list-outer">
                              <div class="row row-0">
                                <div class="col-md-12">
                                  <div class="left-icon-box-media" *ngIf="program.timeOption==='Time Available' && program?.time?.from >0">
                                    <div>
                                      <img src="assets/watch-icon-img.png" alt="watch icon">
                                    </div>
                                    <div>
                                      <p> </p>
                                      <p>{{program?.time?.from | timeConvert | date:'hh:mm a'}} -
                                        {{program?.time?.to | timeConvert | date:'hh:mm a'}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row row-0">
                                <div class="col-md-6">
                                  <div class="left-icon-box-media">
                                    <div>
                                      <img src="assets/user-icon-img.png" alt="user icon">
                                    </div>
                                    <div>
                                      <p>{{program?.ageGroup | ageRange}}</p>
                                      <!-- <p>{{program.ageGroup.year[1]}} -
                                        {{program.ageGroup.year[program.ageGroup.year.length - 1]}} yrs</p> -->
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="col-md-6">
                                  <div class="left-icon-box-media">
                                    <div>
                                      <img src="assets/kids-icon.svg" alt="kids icon">
                                    </div>
                                    <div>
                                      <p>up to {{program?.capacity?.max}} kids</p>
                                    </div>
                                  </div>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </drag-scroll>
                  </div>
                  <div class="right-resourcebtn">
                    <a (click)="moveRight();partyPrograms.isScrollLeft=true">
                      <div class="carousel-nav-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                          xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path
                            d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Birthday coming up Section -->

    <!-- Start Resources Section -->
    <section class="blog-explore new-resources mt-50px mb-70px">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <div class="upper-blog">
                <h2 class="upper-blog-heading">Bonus Content</h2>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="new-resourcesleft">
                    <div class="bonus-btns-info">
                      <button class="cmn-resbtn" [class.active]="resourcesType=='do-together'"
                        (click)="resourcesType='do-together'">
                        <img src="assets/do-together.png">
                        <h1>Do together</h1>
                      </button>
                      <div class="bonus-btns">
                        <button class="for-kids-btn">For Kids</button>
                      </div>
                    </div>
                    <div class="bonus-btns-info">
                      <button class="cmn-resbtn" [class.active]="resourcesType=='printable'"
                        (click)="resourcesType='printable'">
                        <img src="assets/fluent_print-20-filled.png">
                        <h1>Printables</h1>
                      </button>
                      <div class="bonus-btns">
                        <button class="for-kids-btn">For Kids</button>
                      </div>
                    </div>
                    <div class="bonus-btns-info">
                      <button class="cmn-resbtn" [class.active]="resourcesType=='featured-blogs'"
                        (click)="resourcesType='featured-blogs'">
                        <img src="assets/bx_bxs-book-reader.png">
                        <h1>Featured Blogs</h1>
                      </button>
                      <div class="bonus-btns">
                        <button class="for-parents-btn">For Parents</button>
                      </div>
                    </div>
                    <div class="bonus-btns-info">
                      <button class="cmn-resbtn" [class.active]="resourcesType=='funny-tweets'"
                        (click)="resourcesType='funny-tweets'">
                        <img src="assets/bi_twitter.png">
                        <h1>Just for Giggles</h1>
                      </button>
                      <div class="bonus-btns">
                        <button class="for-parents-btn">For Parents</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="height-carousel">
                    <div class="left-resourcebtn" *ngIf='isResourceScroll;'>
                      <a (click)="scrollLeft('b-c')">
                        <div class="carousel-nav-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                              d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                          </svg>
                        </div>
                      </a>
                    </div>
                    <div class="new-resourcesright">
                      <div *ngIf="resourcesType==='do-together'">
                        <div class="do-together cardss">
                          <div id='widgetsContentb-c' class="custom-slider-main">
                            <div class="card" *ngFor="let blog of blogByCategory?.blogs | slice: 0:3">
                              <!-- <img src="assets/why-family.png" class="card-img-top" alt="..."> -->
                              <img src="{{blogUrl}}{{blog?.image[0]?.formats?.thumbnail?.url}}"
                                class="card-img-top cursor" (click)="setBlog(blog)" alt="...">
                              <div class="card-body">
                                <h6 class="date">{{blog?.published_at |date:'mediumDate'}}</h6>
                                <h5 class="card-title">{{blog?.title | slice: 0:60}} ...
                                </h5>
                                <p class="card-text" [innerHTML]="blog.content | markdown | slice: 0:70">
                                </p>
                                <a class="btn learn-btn" (click)="setBlog(blog)">Read Now</a>
                              </div>
                            </div>
                            <div class="card cmn-card">
                              <a (click)="doTogather(blogByCategory)" class="btn cmn-viewbtn">View All</a>
                            </div>
                          </div>

                        </div>

                      </div>
                      <div class="lower-resources-sec" *ngIf="resourcesType==='printable'">
                        <div id='widgetsContentb-c' class="custom-slider-main">
                          <div class="resourves-width" *ngFor=" let printable of printables">
                            <div class="card card-beta">
                              <button class="btn-preview" (click)="previewPDF(printable)"><img
                                  src="assets/preview-icon-img.svg" />Preview</button>
                              <!-- <img *ngIf="printable?.coverPic?.url" class="card-img-top" src="{{blogUrl}}{{printable?.coverPic?.url}}" /> -->
                              <!-- <img class="card-img-top" src="assets/resource-view2.png" /> -->
                              <img *ngIf="printable?.coverPic?.url" class="card-img-top"
                                src="{{blogUrl}}{{printable?.coverPic?.formats?.thumbnail?.url}}" />
                              <img *ngIf="!printable?.coverPic?.url" class="card-img-top"
                                src="assets/resource-view2.png" />
                              <div class="card-body">
                                <div class="list join-flex">
                                  <h5>{{printable?.title}}</h5>
                                  <p>
                                    <a class="cursor" (click)="downloadFile(printable?.file)">DOWNLOAD</a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="resourves-width">
                            <div class="card cmn-card">
                              <a routerLink="/resources" class="btn cmn-viewbtn">View
                                All</a>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div *ngIf="resourcesType==='featured-blogs'">
                        <div class="do-together cardss">
                          <div id='widgetsContentb-c' class="custom-slider-main">
                            <div class="card" *ngFor="let blog of featuredBlogs">
                              <!-- <img src="assets/why-family.png" class="card-img-top" alt="..."> -->
                              <img (click)="setBlog(blog)" src="{{blogUrl}}{{blog?.image[0]?.formats?.thumbnail?.url}}"
                                class="card-img-top cursor" alt="...">

                              <div class="card-body">
                                <h6 class="date">{{blog?.published_at |
                                  date:'mediumDate'}}</h6>
                                <h5 class="card-title">{{blog?.title | slice: 0:32}} ...
                                </h5>
                                <p class="card-text" [innerHTML]="blog.content | markdown | slice: 0:50">
                                </p>
                                <a href="" class="btn learn-btn" (click)="setBlog(blog)">Read Now</a>
                              </div>
                            </div>
                            <div class="card cmn-card">
                              <a routerLink="/blogs" class="btn cmn-viewbtn">View All</a>
                            </div>
                          </div>

                        </div>
                      </div>
                      <div *ngIf="resourcesType==='funny-tweets'">
                        <div class="do-together cardss">
                          <div id="widgetsContentb-c" class="custom-slider-main">
                            <div class="card" *ngFor='let tweetData of tweetData;let i = index'>
                              <!-- <div class="resourcenew-upper">
                                <a routerLink="{{tweetDataBlogPath}}" target="_blank">
                                  <div class="content-upper cursor">
                                    <img src="assets/bi_twitter.png">
                                    <h1>Funny Tweets</h1>
                                  </div>
                                </a>
                              </div> -->
                              <ngx-tweet></ngx-tweet>
                              <div class="card-body">
                                <div class="resourcenew-lower">
                                  <div class="dummy-twitter">
                                    <div [innerHTML]="tweetData?.embededTweet | markdown"></div>
                                  </div>
                                </div>
                              </div>
                              <a routerLink="{{tweetDataBlogPath[i]}}" target="_blank" class="btn-sec">Read More</a>

                            </div>

                            <div class="card cmn-card">
                              <a (click)="tweetCategory()" class="btn cmn-viewbtn">View
                                All</a>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="right-resourcebtn" [ngClass]="this.rightDisabled ? 'visibility':''">
                      <a (click)="scrollRight('b-c');isResourceScroll=true">
                        <div class="carousel-nav-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                            xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path
                              d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                          </svg>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Resources Section -->

    <!-- Start Get our Newsletter Section -->
    <!-- <section class="upto_date pb-80px">
      <div class="container pt-80px">
        <div class="row">
          <div class="col-12">
            <div class="newsletter-div">
              <div class="beta-suggestionbox">
                <div class="imgage-corners">
                  <img src="assets/resouces-circle.png">
                </div>
                <div class="got-newsletter">
                  <h2 class="title">Get our Newsletter</h2>
                  <p>
                    Stay up to date on the best promotions, parenting tips, and news about kids’
                    activities.
                  </p>
                  <mailchimp-subscribe-form></mailchimp-subscribe-form>
                </div>
                <div class="image-corners">
                  <img src="assets/beta-image.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->


    <!-- <section>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="beta-suggestionbox">
              <div class="imgage-corners">
                <img src="assets/resouces-circle.png" />
              </div>
              <h1>Discover the best kids activities near you</h1>
              <div class="search-filterupper">
                <div class="search-filed">
                  <div class="left-searchss">
                    <div class="">
                      <div>
                        <form class="banner_form">

                          <div class="form-group ">
                            <input type="text" placeholder="Search Activity..." aria-label="Activity"
                              [formControl]="searchMywondrfly" class="form-control camp_input " matInput
                              [matAutocomplete]="autoLanding2">
                          </div>
                          <div class="search-location">
                            <span data-toggle="modal" data-target="#locationMod">
                              <img src="assets/search-location.png" /></span>
                            <input placeholder="Search Jersey City" (keydown.enter)="$event.preventDefault()"
                              autocorrect="off" autocapitalize="off" spellcheck="off" #search readonly />
                          </div>
                          <div class="form-group">
                            <button class="banner_button" (click)="searchKeyword(searchMywondrfly.value)">
                              <img src="assets/search_icon.svg" alt="Search image" />
                            </button>
                          </div>

                          <div class="autocomp">
                            <mat-autocomplete autoActiveFirstOption #autoLanding2="matAutocomplete"
                              class="auto-landing">
                              <div *ngFor="let group of allData">
                                <mat-optgroup *ngIf="group?.data?.length" [label]="group.label">
                                  <mat-option *ngFor="let option of group.data" [value]="option.name"
                                    (click)="selectSearchedOption(option)"
                                    (onSelectionChange)="selectSearchedOption(option)">
                                    {{option.name}}
                                    <span class="search-programlist">
                                      <img src="assets/program-search.svg" />
                                    </span>
                                  </mat-option>
                                </mat-optgroup>
                              </div>
                            </mat-autocomplete>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="image-corners">
                <img src="assets/beta-image.png" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->

    <!-- <section class="blog-explore">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="boxs">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="beta-invitedata">
                                        <h1>New Feature: Invites</h1>
                                        <p>This is your chance to tell<br>others about Wondrfly beta!</p>
                                        <h6>
                                            You have <span>0</span> of <span>5</span> invites used
                                        </h6>

                                        <button (click)="sendInvite()">SEND INVITE</button>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="img-invite">
                                        <img src="assets/beta-invite.png" alt="invite-image" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

    <!-- <div class="blog-explore explore-fixed" [hidden]="isNewFeaturePopUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="boxs">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="img-invite">
                                        <img src="assets/beta-invite.png" alt="invite-image" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="beta-invitedata">
                                        <img class="cursor" src="assets/closecolor.svg" (click)="isNewFeaturePopUp=!isNewFeaturePopUp">
                                        <h1>New Feature: Invites</h1>
                                        <p>This is your chance to tell others about Wondrfly beta!</p>
                                        <a href="#">TRY NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    <!-- 
        <section class="blog-explore">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="box">
                            <div class="upper-blog">
                                <h2 class="upper-blog-heading">Feedback</h2>
                            </div>
                            <div class="lower-blog-sec">
                                <div class="row">
                                    <div class="col-md-4" *ngFor="let survey of feedback; let i = index">
                                        <div class="card" [class.activated-survey]="
                        0 === i ? true : false
                      ">
                                            <div class="card-body">
                                                <h5 class="card-title">{{survey?.name}}</h5>
                                                <p class="card-text">{{survey?.description}}</p>
                                                <h6 class="card-subtitle mb-2 text-muted">
                                                    <span>Expires in 5 days </span>
                                                </h6>
                                                <a><button [disabled]="
                              1 == i || 2 == i ? true : false
                            ">
                            START NOW
                          </button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->

    <!-- <section class="blog-explore">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="box">
              <div class="upper-blog">
                <h2 class="upper-blog-heading">Resources</h2>
              
              </div>
              <div class="lower-resources-sec">
                <div class="row">
                  <div class="col-md-4">
                    <div class="card">
                      <div class="resourcenew-upper">
                        <div class="content-upper">
                          <img src="assets/fluent_print-20-filled.png">
                          <h1>Do Together</h1>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="resourcenew-lower">
                          <div class="resouce-download">
                            <h1 *ngFor=" let printable of printables">
                              <img class="downloadicon cursor" (click)="downloadFile(printable?.file)" src="assets/bx_bxs-cloud-download.png">
                              <span>{{printable?.title}}</span>
                              
                             </h1>

                            
                             <h1  class="resource-blogs cursor" routerLink="/blogs/category/Do-Togethers-%28DIYs-&-More%29/12">
                              <img  *ngIf="blogByCategory?.blogs[0]?.image[0]?.url" src="{{blogUrl}}{{blogByCategory?.blogs[0]?.image[0]?.url}}">
                            
                              <div class="landing-content">
                                <h3>{{blogByCategory?.blogs[0]?.published_at  | date:'mediumDate'}}</h3>
                                <h2>{{blogByCategory?.blogs[0]?.title}}</h2>
                              </div>
                            </h1>
                          </div>
                        </div>
                      </div>
                      <a routerLink="/resources" class="btn-sec">VIEW ALL</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="resourcenew-upper">
                        <div class="content-upper">
                          <img src="assets/bx_bxs-book-reader.png">
                          <h1>Featured Blogs</h1>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="resourcenew-lower">
                          <div class="resouce-download">
                            <h1 *ngFor="let blog of blogs" class="resource-blogs">
                              <img  *ngIf="blog.image[0]?.url" src="{{blogUrl}}{{blog?.image[0]?.url}}">
                              
                              <div class="landing-content cursor" (click)="setBlog(blog)">
                                <h3>{{blog?.published_at  | date:'mediumDate'}}</h3>
                                <h2>{{blog?.title}}</h2>
                              </div>
                            </h1>

                          </div>
                        </div>
                      </div>
                      <a routerLink="/blogs" class="btn-sec">READ ALL</a>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="resourcenew-upper">
                        <div class="content-upper">
                          <img src="assets/bi_twitter.png">
                          <h1>Funny Tweets</h1>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="resourcenew-lower">
                          <div class="dummy-twitter">
                            
                            <div [innerHTML]="tweetData[0]?.embededTweet | markdown"></div>
                          </div>
                        </div>
                      </div>
                      <a routerLink="{{tweetDataBlogPath}}" class="btn-sec">CHECK FOR MORE!</a>
                    </div>
                  </div>

                  <div class="col-md-4">
                    <div class="card comming-soon">
                      <div class="imgage-corners">
                        <img src="assets/resouces-circle.png" />
                      </div>
                      <div class="tuned-flex">
                        <h5 class="card-title">STAY TUNED</h5>
                        <p class="card-text">New features will come soon</p>
                      </div>

                      <div class="image-corners">
                        <img src="assets/beta-image.png" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
  </div>

  <ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
  <ng-template #foregroundSpinner>
    <app-loader-file></app-loader-file>
  </ng-template>
</body>

<div id="openModalButton" data-toggle="modal" data-target="#pdfModel"></div>

<div class="modal fade" id="pdfModel" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="pdfModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pdfModelLabel">{{pdfTitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <pdf-viewer [src]="pdfLink" [render-text]="true" [original-size]="false" style="width: 100%; height: 600px;">
        </pdf-viewer>
      </div>
    </div>
  </div>
</div>
