/* Start Banner Hero  */
.pt-10px{padding-top: 10px;}
.pt-20px{padding-top: 20px;}
.pt-30px{padding-top: 30px;}
.pt-40px{padding-top: 40px;}
.pt-50px{padding-top: 50px;}
.pt-60px{padding-top: 60px;}
.pt-70px{padding-top: 70px;}
.pt-80px{padding-top: 80px;}
.pb-10px{padding-bottom: 10px;}
.pb-20px{padding-bottom: 20px;}
.pb-30px{padding-bottom: 30px;}
.pb-40px{padding-bottom: 40px;}
.pb-50px{padding-bottom: 50px;}
.pb-60px{padding-bottom: 60px;}
.pb-70px{padding-bottom: 70px;}
.pb-80px{padding-bottom: 80px;}
.mt-10px{margin-top: 10px;}
.mt-20px{margin-top: 20px;}
.mt-30px{margin-top: 30px;}
.mt-40px{margin-top: 40px;}
.mt-50px{margin-top: 50px;}
.mt-60px{margin-top: 60px;}
.mt-70px{margin-top: 70px;}
.mt-80px{margin-top: 80px;}
.mb-10px{margin-bottom: 10px;}
.mb-20px{margin-bottom: 20px;}
.mb-30px{margin-bottom: 30px;}
.mb-40px{margin-bottom: 40px;}
.mb-50px{margin-bottom: 50px;}
.mb-60px{margin-bottom: 60px;}
.mb-70px{margin-bottom: 70px;}
.plr-50px{padding-left: 50px;padding-right: 50px;}

.mywondrfly-banner.hero-bg-clr {
    background: linear-gradient(93.8deg, #777CEA 10.15%, #FA627D 113.46%);
    padding: 70px 0px 70px 0px;
}
.beta-suggestionheading h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 18px;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
}
.beta-suggestionheading h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 35px;
}
.banner_form {
    display: flex;
    background: #ffffff;
    border-radius: 40px;
    padding: 8px 5px;
    width: 100%;
    max-width: 800px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}
.banner_form .banner_button {
    background: #777CEA;
    border: 1px solid #777CEA;
    border-radius: 50px;
    width: 130px;
    height: 40px;
    position: absolute;
    right: 20px;
    top: 13px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #FFFFFF;
}
.banner_form .banner_button img {
    width: 16px;
}
.banner_form .form-group {
    margin: 0;
}
.banner_form .form-group input.camp_input {
    min-width: 270px;
    margin-top: 0px !important;
}
.banner_form .form-group input {
    min-height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    /* text-transform: capitalize; */
    color: #858585;
    height: 50px;
}
.search-location {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-left: 25px;
}
.search-location:before {
    content: "";
    width: 1px;
    height: 40px;
    background-color: #E0E0E0;
    position: absolute;
    left: 0 !important;
}
.search-location input {
    min-width: 275px;
    background-color: transparent;
    border: none;
    margin-left: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #494949;
}
.search-location input::placeholder {
    color: #494949;
}

/* Start mywondrfly banner hero-bg-img  section  */
.mywondrfly-banner.hero-bg-img {
    padding: 110px 0px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.mywondrfly-banner.hero-bg-img .beta-suggestionheading h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: left;
    max-width: 569px;
    margin-bottom: 24px;
}
.mywondrfly-banner.hero-bg-img .beta-suggestionheading h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 18px;
    text-align: left;
}
/* Start Birthday coming up section  */
.bday-coming-box {background: rgba(119, 124, 234, 0.08);border-radius: 20px;padding: 70px 30px 50px 30px;}
.bday-coming-section .left-col-cnt-info h2 {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 31px;line-height: 51px;color: #494949;margin-bottom: 10px;}
.bday-coming-section .left-col-cnt-info p {font-family: 'Poppins';font-style: normal; font-weight: 400;font-size: 16px;line-height: 140%;letter-spacing: 0.001em;color: #494949;}
.bday-coming-section .left-col-cnt-info .view-all-link {margin-top: 20px;}
.bday-coming-section .left-col-cnt-info .view-all-link a {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;cursor: pointer;line-height: 24px;text-align: justify;letter-spacing: 0.01em;text-decoration-line: underline;text-transform: capitalize;color: #53B2E8;}

/* bday-listing-carousel  */
.bday-listing-carousel {
    position: relative;
}
/* .bday-listing-carousel:after {
    content: " ";
    background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, #EFF0F9 93.64%);
    width: 280px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
} */
.bday-listing-carousel .custom-slider-main {
    height: auto;padding: 10px;
}
.bday-listing-carousel .colm-width {
    width: 280px;
    min-width: 280px;
    margin-right: 20px;
}
.bday-listing-carousel .bday-list-box {
    overflow: hidden;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    border-radius: 20px;
}
.bday-list-box .bday-list-image img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 170px;
    object-fit: cover;
}
.bday-list-content {
    padding: 15px 15px 10px 15px;
    max-height: 140px;
    min-height: 140px;
}
.bday-list-content .gird-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}
.bday-title h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #777CEA;
    margin-bottom: 3px;
    cursor: pointer;
}
.bday-price {
    text-align: right;
}
.bday-price p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #494949;
}
.bday-subtitle {
    margin-bottom: 13px;
}
.bday-subtitle p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #858585;
}
.bday-list-content .bdy-list-outer .left-icon-box-media {
    display: grid;
    grid-template-columns: 15px auto;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 10px;
}
.bday-list-content .bdy-list-outer .left-icon-box-media img {
    width: 100%;
}
.bday-list-content .bdy-list-outer .left-icon-box-media p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
}
/* end Birthday coming up section  */
.you-make-like-section {
    background: #E9F7FF;
}
.you-make-like-section h2.title {
    font-size: 34px;
    line-height: 18px;
    letter-spacing: 0.005em;
}

/* Start activity category section  */
.activities-flex {
    display: flex;
    justify-content: space-between;
}
h2.title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 130%;
    color: #494949;
}
.child-name {
    color: #FF6F1F;
    text-transform: capitalize;
}
.child-name:hover{
    color: #fa5b06;
}
span.d-flex.justify-content-end {
    cursor: pointer;
    color: #53B2E8;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}
.activity_category_list {
    padding-top: 30px;
}
.category_list_box {
    overflow: hidden;
    position: relative;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 15px;
}
.category_list_box:hover {
    background: #777CEA;
}
.category_list_box:hover .category_title p {
    color: #fff;
}
.category_list_box .category_image {
    border-radius: 20px 20px 0px 0px;
    text-align: center;
}
.activity_category .category_list_box .category_image img {
    height: 170px !important;
}
.category_list_box .category_title {
    padding: 18px 22px;
}

.category_list_box .category_title p {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #777CEA;
    text-align: center;
}

.category_list_box .category_title p span.title_arrow {
    float: right;
    transition: 0.8s;
}

.category_list_box:hover .category_title p span.title_arrow {
    transform: translateX(4px);
}

section.summer-camps-section {
    background: #FFEFD7;
}
section.summer-camps-section h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 130%;
    color: #494949;
}
/* Start Summer Camps css */
.summer-camps-section .row-flex-5 {
    display: flex;
    overflow: hidden;
    max-width: 1000px;
    margin: 0px auto; 
}
.summer-camps-section .col-flex {
    padding: 0px 10px;
}

.summer-camps-box {
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    min-height: 180px;
    max-width: 180px;
    min-width: 180px;
    border: 2px solid #F99964;
    margin: 0px auto;
    margin-bottom: 10px;
}
.summer-camps-box h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #F99964;
}
.summer-camps-box h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #494949;
}
.summer-camps-box img{
    width: 100%;
    max-width: 60px;
}

/* start cate-listing-carousel section css */
.cate-listing-carousel {
    position: relative;
}
.cate-listing-carousel .custom-slider-main {
    height: auto;
    padding: 10px 5px;
}
.cate-listing-carousel .card-view-all {
    background: #E7E8FF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777CEA;
    cursor: pointer;
}
.card-view-all .btn.cmn-viewbtn {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #777CEA;
}
.cate-listing-carousel .category_list_box {
    margin-top: 0px;
}
.cate-listing-carousel .left-resourcebtn .carousel-nav-icon {
    left: -20px;
}
.cate-listing-carousel .right-resourcebtn .carousel-nav-icon {
    right: -20px;
}
/* end section css */

/* start four box section css */
.align-center {
    text-align: center;
}
.four-box-info {
    margin-bottom: 20px;
}
.row-grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;
    box-sizing: border-box;
}
.card-boxes {
    display: grid;
    padding: 10px;
    height: 82px;
    align-content: center;
    border-radius: 20px;
  }
  .card-boxes h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.001em;
  }
  .card-boxes h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }
  .box-1st-bg {background-color: #DCF3FF;border: 1px solid #53B2E8;}
  .box-1st-bg h3 {color: #53B2E8;}
  .box-1st-bg h4 {color: #53B2E8;}
  .box-2nd-bg {background: rgba(250, 98, 125, 0.16);border: 1px solid #FA627D;}
  .box-2nd-bg h3 {color: #FA627D;}
  .box-2nd-bg h4 {color: #FA627D;}
  .box-3rd-bg {background: rgba(249, 153, 100, 0.26);border: 1px solid #F99964;}
  .box-3rd-bg h3 {color: #FF8039;}
  .box-3rd-bg h4 {color: #FF8039;}
  .box-4th-bg {background: #FFF1D5;border: 1px solid #EEA008;}
  .box-4th-bg h3 {color: #EEA008;}
  .box-4th-bg h4 {color: #EEA008;}

  .box-2nd-bg h3 {
    font-size: 18px;
    line-height: 27px;
}
  /* end four box section css */

  .newsletter-div {
    background: #DCF3FF;
    border-radius: 20px;
    padding: 70px 50px;
    position: relative;
}
.newsletter-div .got-newsletter h2.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 18px;
    color: #53B2E8;
    text-align: center;
    margin-bottom: 30px;
}
.newsletter-div .got-newsletter p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
    max-width: 440px;
    margin: 0px auto;
}
.newsletter-div .got-newsletter {
    position: relative;
    max-width: 535px;
    margin: 0px auto;
    z-index: 1;
}
.beta-suggestionbox .imgage-corners img {
    width: 210px;
    position: absolute;
    left: 4px;
    top: 4px;
}
.beta-suggestionbox .image-corners img {
    width: 210px;
    position: absolute;
    right: 4px;
    bottom: 4px;
}
h2.upper-blog-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.005em;
    color: #494949;
    margin-bottom: 40px;
}
.upper-blog {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.beta-suggestionheading h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 52px;
    text-align: center;
    color: #494949;
    padding-left: 105px;
    padding-right: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.beta-suggestionbox h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: #53b2e8;
    text-transform: capitalize;
    padding-left: 15%;
    padding-right: 15%;
    margin-top: 30px;
    margin-bottom: 30px;
}

input.form-control,
button {
    box-shadow: none;
    outline: none;
}

.left_searchss input {
    min-width: 344px;
    min-height: 53px;
    background: #efefef;
    border-radius: 30px;
    font-size: 13px;
    color: #494949;
    background-size: 22px;
    background-position: 11px 9px;
    padding: 15px;
    border: none;
}

.landing_banner .best_activities {
    position: relative;
    max-width: 665px;
}

.landing_banner .best_activities h1 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 45px;
    margin-top: 20px;
    line-height: 60px;
    color: #ffffff;
    width: 80%;
}
.banner_form .form-group input.date_input {
    background: #efefef;
    border-radius: 30px;
    margin-left: 30px;
}

.banner_form .form-group input::-webkit-input-placeholder,
.banner_form .form-group .form-control::-webkit-input-placeholder {
    color: #748494;
}

.banner_form .form-group input::-moz-placeholder,
.banner_form .form-group .form-control::-moz-placeholder {
    color: #748494;
}

.banner_form .form-group input::placeholder,
.banner_form .form-group .form-control::placeholder {
    color: #748494;
}

.banner_form .form-group .form-control.date_input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.banner_form .form-group input::placeholder {
    color: #494949;
}

.banner_form .form-group input::-webkit-input-placeholder {
    color: #494949;
}

.banner_form .form-group input:-moz-placeholder {
    color: #494949;
}

@media (max-width: 767px) {
    .tab_outer .nav-tabs .nav-link {
        padding: 15px 0 !important;
        min-width: 110px !important;
    }
    .tab-content .forgot_password .forgot_text {
        max-width: 100% !important;
    }
    .otp_outer {
        padding: 0 0 20px 0;
    }
    .tab_outer .nav-tabs .nav-item {
        margin: 0 20px 0 0;
    }
}

.far {
    font-variant: all-petite-caps;
    color: #beb4b4;
}


/* blog-section */
section.blog-explore .box {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 40px;
    border: 0px;
}
section.blog-explore.new-resources .custom-slider-main .list.join-flex h5 {
    min-height: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.005em;
    text-transform: capitalize;
    color: #494949;
}
.blog-explore h2.blog-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 18px;
    color: #494949;
    padding-top: 30px;
    padding-bottom: 50px;
}

span.upper-blog-view {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #53b2e8;
    float: right;
}
.lower-content h2.lower-blog-content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
    padding-top: 10px;
}

.lower-content h2.lower-blog-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #53b2e8;
}

.lower-content {
    padding-left: 20px;
    padding-right: 40px;
}

.lower-blog {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.lower-img .lower-blog img {
    width: 110px;
    height: 94px;
    object-fit: cover;
}

.lower-blog-sec {
    padding-top: 15px;
    padding-bottom: 15px;
}

.lower-img {
    width: 120px;
}

.blog_img {
    width: 110px;
    height: 94px;
    object-fit: cover;
}

.form-group .form-control::-webkit-input-placeholder {
    color: #858585;
}

.form-group .form-control::-moz-placeholder {
    color: #858585;
}


/* dropdown program/provider */
.dropdownprogram {
    position: absolute;
    top: 20px;
}

.dropdownprogram .card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    width: 400px;
    min-height: auto;
    max-height: 450px;
    /* height: 420px; */
    z-index: 1;
    top: 75px;
}

.dropdownprogram .card h6 span.search-programlist {
    float: right;
}

.dropdownprogram .card .program-list {
    padding: 10px;
}

.dropdownprogram .card h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.dropdownprogram .card .provider-list {
    padding: 10px;
}

.dropdownprogram .card h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.lower-blog-sec .card {
    background: #ffffff;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 0px;
    text-align: center;
    margin-bottom: 30px;
    min-height: 250px;
    max-height: 250px;
    display: grid;
    opacity: 0.7;
}

.tuned-flexs {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.tuned-flexs p.card-text {
    margin-top: 0px !important;
}

.lower-blog-sec .card h5.card-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #494949;
    margin-top: 15px;
}

.lower-blog-sec .card p.card-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
    margin-top: 25px;
    margin-bottom: 25px;
    min-height: 67px;
}

.lower-blog-sec .card h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 25px;
    min-height: 42px;
}

.lower-blog-sec .card button {
    background: #53b2e8;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
    border-radius: 50px;
    padding: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    text-transform: capitalize;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 3px;
    margin-bottom: 20px;
    border: 0px;
}

.lower-blog-sec .card button a {
    color: #ffffff;
}

.lower-blog-sec .card span {
    color: #fa627d;
}
.lower-resources-sec button.btn-preview {
    background: rgb(255 255 255 / 70%) !important;
    font-family: 'Poppins' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 18px !important;
    text-align: justify;
    letter-spacing: 0.001em !important;
    color: #53B2E8!important;
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 7px!important;
}
.lower-resources-sec .card {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    min-height: 380px;
    max-height: 380px;
    border: 0px;
}
.lower-resources-sec .card-body {
    padding-top: 20px!Important;
}
.lower-resources-sec .card h5.card-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #494949;
}

.lower-resources-sec .card p.card-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.001em;
    color: #494949;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lower-resources-sec .card .list {
    display: flex;
    justify-content: space-between;
}

.lower-resources-sec .card .list p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
    display: flex;
    align-items: center;
}

.list-flex {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

img.card-img-top {
    height: 230px;
    object-fit: cover;
}

.list-flex p img {
    margin-right: 7px;
}

.lower-resources-sec button {
    background: #53b2e8;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
    border-radius: 50px;
    border: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

.card.comming-soon {
    background: #e2f5ff !important;
}

.card.comming-soons {
    background: #e2f5ff !important;
}

.card.comming-soon .imgage-corners img {
    width: 130px;
    position: absolute;
    top: 10px;
    left: 5px;
}

.card.comming-soon .image-corners img {
    width: 130px;
    position: absolute;
    bottom: 10px;
    right: 5px;
}

.card.comming-soon h5 {
    color: #53b2e8 !important;
    text-align: center;
    font-size: 26px !important;
    letter-spacing: 0.005em !important;
}

.card.comming-soon p {
    color: #53b2e8 !important;
    text-align: center;
}

.card.comming-soons h5 {
    color: #53b2e8 !important;
    text-align: center;
    font-size: 26px !important;
    letter-spacing: 0.005em !important;
    font-weight: 500 !important;
}

.card.comming-soons p {
    color: #53b2e8 !important;
    text-align: center;
}

.lower-blog-sec .col-md-3 {
    padding-left: 7px;
    padding-right: 7px;
}

.tuned-flex {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activated-survey {
    border: 1px solid #53b2e8;
    opacity: 1 !important;
}

section.blog-explore .boxs {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 60px;
    border: 0px;
}

.boxs .img-invite img {
    width: 100%;
}

.beta-invitedata {
    padding: 50px;
}

.beta-invitedata h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
    color: #494949;
}

.beta-invitedata p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.001em;
    color: #494949;
    margin-top: 10px;
}

.beta-invitedata h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
    margin-top: 30px;
    margin-bottom: 30px;
}

.beta-invitedata button {
    background: #53b2e8;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
    border-radius: 50px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.001em;
    text-transform: capitalize;
    color: #ffffff;
    border: 0px;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
}

.img-invite {
    height: 100%;
}

.boxs .img-invite img {
    height: 100%;
    object-fit: cover;
}

.blog-explore.explore-fixed .beta-invitedata {
    padding: 10px;
}

.blog-explore.explore-fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 999;
}

.blog-explore.explore-fixed .boxs {
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
}

.blog-explore.explore-fixed .boxs .col-md-6 {
    padding-left: 0px;
}

.blog-explore.explore-fixed .beta-invitedata h1 {
    color: #53B2E8;
    padding-top: 30px;
}

.blog-explore.explore-fixed .beta-invitedata a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.001em;
    text-decoration-line: underline;
    color: #53B2E8;
    float: right;
    margin-top: 20px;
}

.blog-explore.explore-fixed .beta-invitedata img {
    float: right;
}


/* new resource section */
.resourcenew-upper .content-upper {
    height: 190px;
    background: #DCF3FF;
    border-radius: 15.5172px 15.5172px 0px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.resourcenew-upper .content-upper h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.005em;
    color: #53B2E8;
    margin-top: 15px;
    text-align: center;
}

.resourcenew-lower .dummy-twitter img {
    width: 100%;
}

.resourcenew-lower .resouce-download h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #494949;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.landing-content h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.001em;
    color: #53B2E8;
}

.landing-content {
    margin-left: 16px;
}

.landing-content h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.001em;
    color: #494949;
}

a.btn-sec {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #53B2E8;
    text-align: center;
    margin-bottom: 20px;
}

.resourcenew-lower img {
    width: 62px;
    height: 62px;
    object-fit: cover;
}

.downloadicon {
    width: auto !important;
    height: auto !important;
    -o-object-fit: cover;
    object-fit: cover;
    padding: 12px;
    padding-top: 18px;
    background: #FFFFFF;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    border-radius: 8px;
    padding-bottom: 18px;
    margin-right: 25px;
}

h1.printable-blog a:hover {
    text-decoration: underline !important;
}

h1.printable-blog a {
    color: #53b2e8 !important;
    cursor: pointer;
}

.resouce-download .resource-blogs {
    justify-content: flex-start !important;
}

.dummy-twitter {
    max-height: 380px;
    overflow-y: scroll;
}

.dummy-twitter::-webkit-scrollbar {
    display: none;
}


/* new resources slider */

button.cmn-resbtn img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    margin-right: 12px;
}
button.cmn-resbtn {
    background: #FFF;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    height: 80px;
    border: 0px;
    margin-bottom: 20px;
}

button.cmn-resbtn:hover {
    background: #DCF3FF;
}

button.cmn-resbtn h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #53B2E8;
    /* text-transform: capitalize; */
}

button.cmn-resbtn.active {
    background: #DCF3FF;
}

.lower-blog-sec .card h5.card-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #494949;
    margin-top: 20px;
}

.lower-blog-sec .card p.card-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: -37px;
    min-height: 67px;
}

.lower-resources-sec .card img {
    border-radius: 20px 20px 0px 0px;
}

.lower-blog-sec .card h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 25px;
    min-height: 42px;
}

.lower-blog-sec .card button {
    background: #53b2e8;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
    border-radius: 50px;
    padding: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    text-transform: capitalize;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px;
}

.lower-blog-sec .card button a {
    color: #ffffff;
}

.lower-blog-sec .card span {
    color: #fa627d;
}

.list.join-flex h5 {
    min-height: 50px;
}

.lower-resources-sec .card h5.card-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #494949;
}

.lower-resources-sec .card p.card-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.001em;
    color: #494949;
    margin-top: 15px;
    margin-bottom: 15px;
}

.lower-resources-sec .card .list {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
}

.lower-resources-sec .card .list p {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
    display: flex;
    align-items: center;
}

.lower-resources-sec .card .list p a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #53b2e8;
    margin-top: 20px;
}


.list-flex {
    display: flex;
    width: 70%;
    justify-content: space-between;
}

.list-flex p img {
    margin-right: 7px;
}

.lower-resources-sec button {
    background: #53b2e8;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
    border-radius: 50px;
    border: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

.carousel-inner {
    height: 400px;
}

.resourves-width {
    width: 270px;
    min-width: 270px;
    margin-right: 20px;
}

.right-resourcebtn .carousel-nav-icon svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 13px;
    filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
    -webkit-filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
}

.right-resourcebtn .carousel-nav-icon {
    height: 48px;
    width: 48px;
    background: #fff;
    border: 1px solid #ededed;
    box-sizing: border-box;
    color: #494949;
    border-radius: 50%;
    top: 44%;
    position: absolute;
    left: 96%;
    z-index: 1;
}

.left-resourcebtn .carousel-nav-icon svg {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 13px;
    transform: rotate(180deg);
    filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.left-resourcebtn .carousel-nav-icon {
    height: 48px;
    width: 48px;
    background: #fff;
    border: 1px solid #ededed;
    box-sizing: border-box;
    color: #494949;
    border-radius: 50%;
    top: 44%;
    position: absolute;
    right: 96%;
    z-index: 1;
}

.custom-slider-main {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 400px;
}

.visibility {
    display: none !important;
}

.custom-slider-main .card-body {
    padding-top: 5px;
}

.cardss .card img.card-img-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.cardss .card {
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    border-radius: 20px;
    margin-right: 20px;
    width: 300px;
    min-width: 300px;
    border: 0px;
    margin-left: 20px;
    max-height: 380px;
}

.cardss .card .card-body p.card-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-transform: capitalize;
    color: #494949;
    margin-bottom: 12px;
}
.cardss .card .card-body h6.date {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 40px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #53B2E8;
}

.cardss .card .card-body h5.card-title {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #494949;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardss .card .card-body a.btn.learn-btn {
    display: block;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #53B2E8;
    text-align: left;
    padding: 0px;
}

.card.cmn-card {
    background: #DCF3FF !important;
    display: flex;
    justify-content: center;
}

.card.cmn-card a.btn.cmn-viewbtn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #53B2E8;
}
.nochildfound{
margin-bottom: 20px;
}
button[disabled] {
    background-color: #fa627d  !important;
    border: 1px solid #fa627d  !important;
}
  
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 960px;
    }
    .banner_form {
        width: 70%;
    }
    .list-flex {
        width: 65%;
    }
    .lower-resources-sec .card h5.card-title {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 600;
        font-size: 18px !important;
        line-height: 18px;
        letter-spacing: 0.005em;
        color: #494949;
    }
    .lower-resources-sec .card .list p {
        font-size: 8px;
    }
    .beta-suggestionheading h2 {
        font-size: 51px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1023px) {
    /* img.header-image-search {
        margin-left: 0px;
    } */
    /* .after-nav {
        margin-right: 0px;
    } */
    .activity .media-left {
        max-width: 300px;
    }
}

::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible.auto-landing { 
    visibility: visible !important;
    background: white !important;
    border-radius: 20px !important; 
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important; 
    position: relative !important;
   }
   ::ng-deep div.cdk-overlay-pane {
    position: relative;
    width: 100%!important;
    max-width: 530px;margin-top: 15px !important;
  }
  
  ::ng-deep.mat-option-text{
   font-family: 'Poppins' !important;
   font-style: normal !important;
   font-weight: normal !important;
   font-size: 14px !important;
   letter-spacing: 0.001em !important;
   color: #858585 !important;
   cursor: pointer !important;
  }
  
  ::ng-deep.mat-option-text span.search-programlist {
   float: right !important;
  }
  
  ::ng-deep.mat-option.mat-active {
   background: #53B2E8 !important;
   color: #FFFFFF !important;
  }
  
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  ::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible::-webkit-scrollbar {
    display: none !important;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  ::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible{
    -ms-overflow-style: none !important;  /* IE and Edge */
    scrollbar-width: none !important;  /* Firefox */
  }
  ::ng-deep.drag-scroll-content {
    overflow: hidden !important;
  }

.circle-main{
    position: relative;
    max-width: 1000px;
    margin: 0px auto;
}

.carousel-circle-icon-left {
    cursor: pointer;
    width: 32px;
    top: 38%;
    left: -30px;
    display: block;
    position: absolute;
    transform: rotate(180deg);
    filter: invert(87%) sepia(20%) saturate(4443%) hue-rotate(311deg) brightness(96%) contrast(104%);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.carousel-circle-icon-right{
    cursor: pointer;
    width: 32px;
    top: 38%;
    right: -30px;
    position: absolute;
    display: block;
    filter: invert(87%) sepia(20%) saturate(4443%) hue-rotate(311deg) brightness(96%) contrast(104%);
    -webkit-filter: invert(87%) sepia(20%) saturate(4443%) hue-rotate(311deg) brightness(96%) contrast(104%);
}

.bonus-btns-info {position: relative;}
.bonus-btns-info .bonus-btns {position: absolute;top: 0px;right: 0px;}
.bonus-btns-info .bonus-btns button {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 12px;line-height: 18px;letter-spacing: 0.005em;border: none;padding: 3px 5px;min-width: 110px;display: block;border-radius: 0px 20px 0px 20px;}
.bonus-btns-info .bonus-btns button.for-kids-btn{color: #FD813C;background: #FFD5BD;}
.bonus-btns-info .bonus-btns button.for-parents-btn{color: #777CEA;background: #D6D7FF;}