<app-header></app-header>
<div class="main_outer common-headermargin">
  <div class="container">
    <div class="terms_outer">
      <div class="terms_top">
        <h1>{{ data[0]?.Title }}</h1>
        <h3>
          Last modified: {{ data[0]?.updated_at | date: "medium" }}
           <!-- (view
          archived versions) -->
        </h3>
        <p [innerHTML]="data[0]?.Content | markdown"></p>
      </div>

      <div class="terms_content_outer" *ngFor="let d of data | slice: 1:15">
        <div class="terms_box">
          <h2>{{ d?.Title }}</h2>
          <p [innerHTML]="d?.Content | markdown"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer2></app-footer2>
<!-- loader -->
<ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
<ng-template #foregroundSpinner>
  <app-loader-file></app-loader-file>
</ng-template>

