<div class="beta-full" *ngIf="!isLogin && isRegWall && isShow">
    <div class="beta-fullbox">
        <h1>
            Wondrfly is currently in beta. Join our exclusive
             beta program to experience more!
        </h1>
        <div class="display-flex-btn">
            <button class="outline-btn" [routerLink]="['/about-beta']">Learn More</button>
            <button [routerLink]="['/join-the-beta']">Join Now</button>
        </div>
    </div>
</div>
