/* start banner section css */
.pt-10px{padding-top: 10px;}
.pt-20px{padding-top: 20px;}
.pt-30px{padding-top: 30px;}
.pt-40px{padding-top: 40px;}
.pt-50px{padding-top: 50px;}
.pt-60px{padding-top: 60px;}
.pt-70px{padding-top: 70px;}

.pb-10px{padding-bottom: 10px;}
.pb-20px{padding-bottom: 20px;}
.pb-30px{padding-bottom: 30px;}
.pb-40px{padding-bottom: 40px;}
.pb-60px{padding-bottom: 60px;}
.pb-70px{padding-bottom: 70px;}
.mt-10px{margin-top: 10px;}
.mt-20px{margin-top: 20px;}
.mt-30px{margin-top: 30px;}
.mt-40px{margin-top: 40px;}
.mt-50px{margin-top: 50px;}
.mt-60px{margin-top: 60px;}
.mt-70px{margin-top: 70px;}
.mb-10px{margin-bottom: 10px;}
.mb-20px{margin-bottom: 20px;}
.mb-30px{margin-bottom: 30px;}
.mb-40px{margin-bottom: 40px;}
.mb-50px{margin-bottom: 50px;}
.mb-60px{margin-bottom: 60px;}
.mb-70px{margin-bottom: 70px;}

.align-center{text-align: center;}

.hero-bg-clr {background: linear-gradient(93.8deg, #777CEA 10.15%, #FA627D 113.46%);min-height: auto;padding: 62px 0 38px 0;}
.landing_banner .best_activities {position: relative;max-width: 665px;margin: 0px auto;}
.landing_banner .best_activities h1 {font-family: 'Poppins';font-style: normal;font-weight: 700;font-size: 50px;line-height: 130%;text-align: center;letter-spacing: 0.001em;color: #FFFFFF;margin-bottom: 30px;}

/* search location */
.banner_form {display: flex;background: #FFFFFF;border-radius: 44px;width: 100%;}
.banner-form-flex{display: flex;}
.banner_form .form-group input.camp_input{min-width:260px;margin-top: 0px !important;}
.banner_form .left_search input {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;letter-spacing: 0.001em;color: #858585;}
.search-location input::placeholder {color: #494949!important;}
.search-location {display: flex;width: 100%;align-items: center;position: relative;padding-left: 25px;}
.search-location:before {content: "";width: 1px;height: 40px;background-color: #E0E0E0;position: absolute;left:0 !important;top: 7px;}
.left-searchpd {padding: 8px 5px;width: 100%;}
.search-location input {min-width:270px;background-color: transparent;}
.banner_form .banner_button {background: #777CEA;border: 1px solid #777CEA;border-radius: 50px;width: 130px;height: 40px;position: absolute;right: 5px;top: 7px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;letter-spacing: 0.001em;color: #FFFFFF;}
.banner_form .banner_button img {width: 16px;}
/* end banner section css */

/* start four box section css */
/* .four-box-info h2 {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 20px;line-height: 30px;color: #000000;margin-bottom: 10px;} */
.card-boxes {
  display: grid;
  padding: 10px;
  height: 96px;
  align-content: center;
  border-radius: 20px;
}
.card-boxes h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.001em;
  margin-bottom: 5px;
}
.card-boxes h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.box-1st-bg {background-color: #DCF3FF;border: 1px solid #53B2E8;}
.box-1st-bg h3 {color: #53B2E8;}
.box-1st-bg h4 {color: #53B2E8;}
.box-2nd-bg {background: rgba(250, 98, 125, 0.16);border: 1px solid #FA627D;}
.box-2nd-bg h3 {color: #FA627D;}
.box-2nd-bg h4 {color: #FA627D;}
.box-3rd-bg {background: rgba(249, 153, 100, 0.26);border: 1px solid #F99964;}
.box-3rd-bg h3 {color: #FF8039;}
.box-3rd-bg h4 {color: #FF8039;}
.box-4th-bg {background: rgba(119, 124, 234, 0.18);border: 1px solid #777CEA;}
.box-4th-bg h3 {color: #777CEA;}
.box-4th-bg h4 {color: #777CEA;}
/* end four box section css */

/* start activity_category css */
.activity_category {padding: 70px 0 70px 0;}
h2.title {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 34px;line-height: 18px;text-align: justify;color: #494949;margin-bottom: 20px;}

.category_list_box {
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 30px;
}

.category_list_box .category_image {
  border-radius: 20px 20px 0px 0px;
  text-align: center;
}

.activity_category .category_list_box img {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: auto;
}

.category_list_box .category_title p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #494949;
  text-align: left;
}

.category_list_box .category_title p span.title_arrow {
  float: right;
  transition: 0.8s;
}

.category_list_box:hover .category_title p span.title_arrow {
  transform: translateX(4px);
}

.category_list_box .category_title {
  padding: 20px 22px;
}
/* start Top Kids’ Activities css */
.light-bg-clr-blue {
  background-color: #ECF6FF;
}
/* end Top Kids’ Activities css */

/* start Get our Newsletter css */
.newsletter-div .got-newsletter h2.title {
  font-weight: 600;
  color: #53B2E8;
  text-align: center;
  margin-bottom: 30px;
}
.newsletter-div .got-newsletter p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.001em;
  color: #494949;
  margin: 0px auto;
  word-spacing: unset;
  max-width: 439px;
}

/* end Get our Newsletter css */

@media (max-width: 767px) {
  .tab_outer .nav-tabs .nav-link {
    padding: 15px 0 !important;
    min-width: 110px !important;
  }
  .tab-content .forgot_password .forgot_text {
    max-width: 100% !important;
  }
  .otp_outer {
    padding: 0 0 20px 0;
  }
  .tab_outer .nav-tabs .nav-item {
    margin: 0 20px 0 0;
  }
}

.far {
  font-variant: all-petite-caps;
  color: #beb4b4;
}

/* blog-section */
section.blog-explore .box {
  width: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
  border-radius: 20px;
  padding: 40px;
  padding-top: 30px;
}
.blog-explore h2.blog-heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 18px;
  color: #494949;
}
h2.upper-blog-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #494949;
}
span.upper-blog-view {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #53b2e8;
  float: right;
}
.lower-content h2.lower-blog-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #494949;
  padding-top: 10px;
}
.lower-content h2.lower-blog-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #53b2e8;
}
.lower-content {
  padding-left: 20px;
  padding-right: 40px;
}
.lower-blog {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.lower-img .lower-blog img {
  width: 110px;
  height: 94px;
  object-fit: cover;
}
.lower-blog-sec {
  padding-top: 15px;
}

.lower-img {
  width: 120px;
}

.blog_img {
  width: 110px;
  height: 94px;
  object-fit: cover;
}

.form-group .form-control::-webkit-input-placeholder {
  color: #858585;
}

.form-group .form-control::-moz-placeholder {
  color: #858585;
}

/* dropdown program/provider */
.dropdownprogram {
  position: absolute;
  top:-10px;
}
.dropdownprogram .card {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 20px;
  width: 400px;
  min-height: auto;
  max-height: 450px;
  /* height: 420px; */
  z-index: 1;
  top: 75px;
}

.dropdownprogram .card h6 span.search-programlist {
  float: right;
}
.dropdownprogram .card .program-list {
  padding: 10px;
}
.dropdownprogram .card h6 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.001em;
  color: #858585;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}
.dropdownprogram .card .provider-list {
  padding: 10px;
}
.dropdownprogram .card h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.001em;
  color: #858585;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

/* search location */
.banner_form .form-group {margin: 0px;}
.banner_form .form-group input {min-height: 100%;background-color: transparent;border: none;border-radius: 0;padding: 0 25px;position: relative;z-index:100;}
.banner_form .form-group input.date_input {background: #EFEFEF;border-radius: 30px;margin-left: 27px;max-width: 215px;min-width: auto;}
.banner_form .form-group input::-webkit-input-placeholder,
.banner_form .form-group .form-control::-webkit-input-placeholder {color: #858585;}
.banner_form .form-group input::-moz-placeholder,
.banner_form .form-group .form-control::-moz-placeholder {color: #858585;}
.banner_form .form-group input::placeholder,
.banner_form .form-group .form-control::placeholder {color: #858585;}
.banner_form .form-group.daterange input::placeholder,
.banner_form .form-group.daterange .form-control::placeholder {color: #494949 !important;}
.banner_form .form-group .form-control.date_input::-webkit-calendar-picker-indicator {display: none;-webkit-appearance: none;}
.banner_form .form-group input::placeholder {color: #D5DCE1;}
.banner_form .form-group input::-webkit-input-placeholder {color: #D5DCE1;}
.banner_form .form-group input:-moz-placeholder {color: #D5DCE1;}
.search-results {max-height: calc(100vh - -736px);overflow: hidden;scrollbar-color: #ddd #ccc;scrollbar-width: thin;height: 100%;overflow-y: auto;padding-top:20px;padding-left: 40px;padding-right:20px;}
.search-results::-webkit-scrollbar {width: 8px;height: 4px;}


/* locatrion-popup */
.logo-img{
  width: 35%;
  margin-bottom: 25px;
}
.sign_in_btn button.SignBtn {
  margin-left: 20px;
}
.SignBtn.cancel {
  background: transparent;
  border: 1px solid #53b2e8;
  color: #53b2e8;
  margin: 0 auto 0 16px;
}
.sign_in_btn{
  text-align: center;
  margin: 8px 0 0 0;
}
.SignBtn{
  background: #53b2e8;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
  border-radius: 50px;
  min-width: 205px;
  min-height: 55px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  margin: 0 auto;
  text-transform: capitalize;
  transition: 0.8s;
}
.location-popup span img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.location-popup {
  padding-top: 25px;
  padding-bottom: 25px;
}
.location-popup h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #494949;
}
.location-popup h2 {
  font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #494949;
    padding-left: 40px;
    padding-right: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.location-popup h2 img{
  margin-top: 10px;
}
.header_main .left-searchpd {
    margin-right: auto;
}
/* .after-nav {
  margin-right: -84px;
} */
.Button-badge {
  position: absolute;
  bottom: 44%;
  right:-57%;
  background-color: #fa627d;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  padding: 3px;
  text-align: center;
}
span.icon.rel {
    position: relative;
}
.left_search {
    position: relative;
}

.got-newsletter {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.newsletter-div {
  background: #DCF3FF;
  border-radius: 20px;
  padding: 70px 50px;
  position: relative;
}
.beta-suggestionbox .image-corners img {
  width: 210px;
  position: absolute;
  right: 4px;
  bottom: 4px;
}
.beta-suggestionbox .imgage-corners img {
  width: 210px;
  position: absolute;
  left: 4px;
  top: 4px;
}
.search-location input::placeholder{
  color:rgb(190, 187, 187);
}
button[disabled] {
  background-color: #fa627d  !important;
  border: 1px solid #fa627d  !important;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) and (orientation: portrait) {
  /* img.header-image-search {
    margin-left: 0px;
  } */
  /* .after-nav {
    margin-right: 0px;
  } */
  .activity .media-left {
    max-width: 300px;
  }
}

::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible.auto-landing { 
  visibility: visible !important;
  background: white !important;
  border-radius: 20px !important; 
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important; 
  position: relative !important;
 }
 ::ng-deep div.cdk-overlay-pane {
  position: relative;
  width: 100%!important;
  max-width: 530px;margin-top: 10px;
}

.autocomp{
  width: 100% !important;
}
::ng-deep.mat-option-text{
 font-family: 'Poppins' !important;
 font-style: normal !important;
 font-weight: normal !important;
 font-size: 14px !important;
 letter-spacing: 0.001em !important;
 color: #858585 !important;
 cursor: pointer !important;
}

::ng-deep.mat-option-text span.search-programlist {
 float: right !important;
}

::ng-deep.mat-option.mat-active {
 background: #53B2E8 !important;
 color: #FFFFFF !important;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible{
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;  /* Firefox */
}

.all-category-list-clm {display: flex;align-items: center;justify-content: center;background: #DCF3FF;
  border-radius: 20px;box-shadow: none;height: calc(100% - 8.2%);padding: 85px 0px;}
.all-category-list-clm a.list-view-all-btn {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 30px;line-height: 45px;text-align: center;letter-spacing: 0.001em;color: #53B2E8;}