<body>
  <!-- <app-alert *ngIf="auth.currentUser()"></app-alert> -->

  <div class="common-headermargin">
  <!-- Start Banner Hero Section -->
    <section class="landing_banner hero-bg-clr" title="{{ altBanner }}">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="best_activities">
              <h1>Discover the best kids' activities in Jersey City</h1>
              <form class="banner_form" data-toggle="collapse" href="#dropdownprogram-provider" role="button"
                aria-expanded="false" aria-controls="dropdownprogram-provider">
                <div class="left-searchpd">
                  <div class="left_search">
                    <div>
                      <form class="banner-form-flex">
                        <div class="form-group ">
                          <input type="text" placeholder="Search Activity..." aria-label="Activity"
                            [formControl]="searchTermlanding" class="form-control camp_input " matInput
                            [matAutocomplete]="autoLanding">
                        </div>
                        <div class="search-location">
                          <span data-toggle="modal" data-target="#locationMod">
                            <img src="assets/search-location-icon.svg" /></span>
                          <input placeholder="Search Jersey City" (keydown.enter)="$event.preventDefault()"
                            autocorrect="off" autocapitalize="off" spellcheck="off" #search readonly />
                        </div>
                        <div class="form-group cursor">
                          <button class="banner_button cursor" (click)="searchKeyword(searchTermlanding.value)">
                            <img src="assets/search_icon.svg" alt="Search image" /> Search
                          </button>
                        </div>

                        <div class="autocomp search-form-info">
                          <mat-autocomplete autoActiveFirstOption #autoLanding="matAutocomplete" class="auto-landing">
                            <div *ngFor="let group of allData">
                              <mat-optgroup *ngIf="group?.data?.length" [label]="group.label">
                                <mat-option *ngFor="let option of group.data | slice:0:3" [value]="option.name"
                                  (click)="selectSearchedOption(option)"
                                  (onSelectionChange)="selectSearchedOption(option)">
                                  {{option.name}}
                                  <span class="search-programlist">
                                    <img src="assets/program-search.svg" />
                                  </span>
                                </mat-option>
                              </mat-optgroup>
                            </div>
                          </mat-autocomplete>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_overlay"></div>
    </section>
  <!-- End Banner Hero Section --> 

  <!-- Start Fourboxes Section -->
    <section class="pt-40px ">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="four-box-info align-center">
              <div class="card-boxes box-1st-bg cursor" (click)="searchKeyword('Toddlers')"> 
               <h3>Toddlers</h3>
               <h4>1-3 years</h4>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="four-box-info align-center">
              <div class="card-boxes box-2nd-bg   cursor" (click)="searchKeyword('TuesdayMornings','day')"> 
               <h3>Tuesday <br>Mornings</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="four-box-info align-center">
              <div class="card-boxes box-3rd-bg cursor" (click)="searchKeyword('Online')"> 
               <h3>Online</h3>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="four-box-info align-center">
              <div class="card-boxes box-4th-bg  cursor" (click)="searchKeyword('Tennis')"> 
               <h3>Tennis</h3>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </section>  
  <!-- End Fourboxes Section -->

  <!-- Start Summer Camps Section -->
    <section class="activity_category" *ngIf="categories?.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="title">
              Summer Camps
            </h2>
          </div>
        </div>
        <div class="activity_category_list">
          <div class="row">
            <div class="col-md-4" *ngFor="let category of categories | slice: 0:5; let i = index">
              <div class="category_list_box cursor"
              (click)="searchKeyword('SummerCamps',category.id)">
                <a>
                  <div class="category_image">
                    <img [defaultImage]="defaultImage" [lazyLoad]="baseUrl + category?.imageUrl"
                      alt="{{ category?.alternativeText }}" />
                  </div>
                  <div class="category_title">
                    <p>{{ category?.name}}<span class="title_arrow">
                        <img src="assets/category_arrow1.svg" alt="Category_arrow" />
                      </span>
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="category_list_box cursor all-category-list-clm cursor" (click)="searchKeyword('Camps')">
                <a _ngcontent-saa-c212="" class="list-view-all-btn">View all camps <img src="assets/category_arrow1.svg" alt="Category_arrow" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Summer Camps Section -->

    <!-- Start Top Kids’ Activities Section -->
    <section class="activity_category light-bg-clr-blue" *ngIf="categories?.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="title">
              Top Kids’ Activities
            </h2>
          </div>
        </div>
        <div class="activity_category_list">
          <div class="row">
            <div class="col-md-4" *ngFor="let category of categories | slice: 0:6; let i = index">
              <div class="category_list_box cursor"
                (click)="searchByCategory(category);filterData.searchedCategoryKey=category.name">
                <a>
                  <div class="category_image">
                    <img [defaultImage]="defaultImage" [lazyLoad]="baseUrl + category?.imageUrl"
                      alt="{{ category?.alternativeText }}" />
                  </div>
                  <div class="category_title">
                    <p>{{ category?.name}}<span class="title_arrow">
                        <img src="assets/category_arrow1.svg" alt="Category_arrow" />
                      </span>
                    </p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Top Kids’ Activities Section -->

    <!-- Start Explore the Blog Section -->
    <section class="blog-explore mt-60px">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="blog-heading mb-30px">Explore the Blog</h2>
            <div class="box">
              <div class="upper-blog">
                <h2 class="upper-blog-heading">
                  Popular Posts
                  <span class="upper-blog-view cursor" routerLink="/blogs">view all</span>
                </h2>
              </div>
              <div class="lower-blog-sec">
                <div class="lower-blog" *ngFor="let b of blog | slice: 0:3">
                  <div class="lower-img">
                    <!-- <img class="blog_img cursor" src="{{blogUrl}}{{b?.image[0]?.url}}" (click)='setBlog(b)'> -->
                    <img class="blog_img cursor" src="{{ blogUrl }}{{ b?.image[0]?.formats?.thumbnail?.url }}"
                      alt="{{ b?.image[0]?.alternativeText }}" (click)="setBlog(b)" />
                  </div>
                  <div class="lower-content">
                    <h2 class="lower-blog-heading cursor" (click)="setBlog(b)">
                      {{ b.title }}
                    </h2>
                    <h2 class="lower-blog-content cursor" (click)="setBlog(b)"
                      [innerHTML]="b.content | markdown | slice: 0:145"></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Explore the Blog Section -->
    
    <!-- Start Get our Newsletter Section -->
    <section class="upto_date">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="newsletter-div">
              <div class="beta-suggestionbox">
                <div class="imgage-corners">
                  <img src="assets/resouces-circle.png">
                </div>
                <div class="got-newsletter">
                  <h2 class="title">Get our Newsletter</h2>
                  <p>
                    Stay up to date on the best promotions, parenting tips, and news about kids’
                    activities.
                  </p>
                  <mailchimp-subscribe-form></mailchimp-subscribe-form>
                </div>
                <div class="image-corners">
                  <img src="assets/beta-image.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!----------------------------------------- location Modal ------------------------------------------------------->

  <div class="modal fade verification_modal Location-Modal" id="locationModal" data-backdrop="static"
    data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <button type="button" class="close" id="close_modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="icon-close"></span>
        </button>
        <div class="modal-body">
          <div class="location-popup">
            <span><img class="logo-img" src="assets/logo.png" /></span>

            <h1>May we access your location? </h1>

            <h2>
              <span><img src="assets/location-search1.png" /></span> Help us find the best activities near
              you.
            </h2>
          </div>

          <div class="sign_in_btn">
            <button class="SignBtn cancel" data-dismiss="modal">Not Now</button>
            <button data-dismiss="modal" type="submit" class="SignBtn">
              Allow
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------------------------------------------------------- footer ------------------------------------------------------------------>
</body>
<reg-wall></reg-wall>
