.mb-10px{margin-bottom: 10px !important;}
.mb-15px{margin-bottom: 15px !important;}
.mb-20px{margin-bottom: 20px !important;}
.mb-30px{margin-bottom: 30px !important;}
.mb-40px{margin-bottom: 40px !important;}
.mb-50px{margin-bottom: 50px !important;}
.pb-10px{padding-bottom: 10px !important;}
.pb-15px{padding-bottom: 15px !important;}
.pb-20px{padding-bottom: 20px !important;}
.pb-30px{padding-bottom: 30px !important;}
.pb-40px{padding-bottom: 40px !important;}
.mr-15px{margin-right: 15px;}

/* Siderbar Left css */
.lp-sidebar-left {position: fixed;width: 33.333%;background: #DCF3FF;border-radius: 20px 0px 0px 20px;height: 100%;padding: 70px 25px 25px 60px;}
.lp-menu-links {margin-top: 30px;}
.lp-logo-info img {width: 100%;max-width: 175px;margin-bottom: 50px;}
ul.ul-lp-menu-links {list-style: none;padding-left: 40px;margin: 0;text-decoration: none;}
ul.ul-lp-menu-links li {position: relative;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 18px;line-height: 27px;color: #494949;cursor: pointer;}
ul.ul-lp-menu-links li.active {color: #53B2E8;}
ul.ul-lp-menu-links li:not(:last-child){margin-bottom: 30px;}
ul.ul-lp-menu-links .count-no-li {background-color: #fff;width: 28px;height: 28px;display: flex;align-items: center;justify-content: center;font-family: 'Poppins'; font-style: normal;font-weight: 400;font-size: 14px; color: #828282;line-height: 100%;border-radius: 100px; position: absolute;left: -38px;}
ul.ul-lp-menu-links li.active .count-no-li {background-color: #53B2E8;color: #fff;}
ul.ul-lp-menu-links li span.count-no-li::after {background: #FFFFFF;border-radius: 40px;content: "";border-left: 1px solid #FFFFFF;display: block;height: 60px;position: absolute;width: 4px;margin: 0 auto;bottom: -29px;z-index: -1;}
ul.ul-lp-menu-links li.active span.count-no-li::after {background: #53B2E8;border-left: 1px solid #53B2E8;}
ul.ul-lp-menu-links li span.count-no-li::before {background: #FFFFFF;content: "";border-left: 1px solid #FFFFFF;display: block;height: 30px;position: absolute;width: 4px; margin: 0 auto;top: -29px;}
ul.ul-lp-menu-links li.active span.count-no-li::before {border-left-color: #53B2E8;background: #53B2E8;border-radius: 40px;}
ul.ul-lp-menu-links li:last-child span.count-no-li::after {background-color: #fff;border-left: 1px solid #FFFFFF;}
.copy-right-txt-info {position: fixed;bottom: 28px;}
.copy-right-txt-info p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;}

/* Siderbar Right css */

.lp-sidebar-right {position: relative;display: block;background-color: #fff;width: 66.666%;margin-left: 33.333%;padding: 70px;margin-bottom: 0;}
h1.title-h1 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 26px;line-height: 39px;color: #494949;margin-bottom: 40px;}

/* First Step Business Info css */
.require-star {color: #FA627D;}
.align-center{text-align: center;}
.upload-img-info {margin-bottom: 10px;}
.upload-img-info img {width: 100%;max-width: 123px;}
.upload-btn-info button{font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 10px;line-height: 18px;text-align: center;letter-spacing: 0.01em;text-transform: uppercase;color: #FFFFFF;background: #53B2E8;border-radius: 20px;border: none;padding: 2.5px 15px 2px 15px;}

.dis-grid-business {display: grid;grid-template-columns: 140px auto;column-gap: 20px;}
.label-heading {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 14px;line-height: 21px;letter-spacing: 0.01em;text-transform: capitalize;color: #494949; margin-bottom: 3px;}
.input-field {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;background: #FFFFFF;border: 1px solid #E5E9EC;border-radius: 20px;width: 100%;padding: 17px 19px;color: #494949;}
.input-field::placeholder {color: #494949;} 
.txt-0-3000 p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 10px;line-height: 15px;letter-spacing: 0.001em;color: rgba(0, 0, 0, 0.3);}
.txt-0-3000 {position: absolute;right: 30px;margin-top: -26px;}
.black-opacity-3, .black-opacity-3::placeholder {color: rgba(0, 0, 0, 0.3);}
.contact-txt-box {background: #F5F5F5;border-radius: 4px;padding: 15px 14px;}
.contact-txt-box h3 {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 21px;color: #494949;}
.select-tag-arrow-info{position: relative;}
.select-tag-arrow-info select {appearance: none;padding-right: 35px;}
.select-tag-arrow-info .select-tag-arrow {display: inline;position: absolute;right: 20px;top: 50%;transform: translate(0, -50%);}

button.btn-size{font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: uppercase; border-radius: 80px;padding: 14px 5px;max-width: 180px;width: 100%;}
.btn-blue {color: #FFFFFF;background: #53B2E8;border: 1px solid #53B2E8;}
.btn-white-blue{color: #53B2E8;background: #ffffff;border: 1px solid #53B2E8;}
.btn-disable {opacity: 0.5;}
.float-right{float: right;}

/* Second Step Location Info css */
.width-90{width: 90%;}
.font-size-14 {font-size: 14px;line-height: 140%;letter-spacing: 0.005em;}
.field-checkbox-box .flex-row {display: flex;align-items: center;column-gap: 6px;}
.field-checkbox-box {cursor: pointer;background: #F5F5F5;border-radius: 20px;padding: 20px;min-height: 160px;height: 100%;}
.field-checkbox-box.active, .field-checkbox-box:hover {background: #DCF3FF;}
.field-checkbox-box .blue-checkbox {width: 16px;height: 16px;border: 1px solid #828282;border-radius: 2px;outline: 0;box-sizing: border-box;display: inline-block;vertical-align: middle;position: relative;appearance: none;cursor: pointer;}
.field-checkbox-box .blue-checkbox:checked {background: #53b2e8;border: 1px solid #53b2e8;}
.field-checkbox-box .blue-checkbox:checked + label {color: #53b2e8;}
.field-checkbox-box label {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 21px;color: #494949;cursor: pointer;}
.checkbox-txt p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 140%;letter-spacing: 0.005em;color: #494949;}
.plr-18px{padding: 0px 18px;}
.clr-828282 {color: #828282 !important;}
.field-max-tra-dis input.input-tra-dis{font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 11px;line-height: 16px;letter-spacing: 0.001em;color: #828282;background: #FFFFFF; border: 1px solid #E5E9EC;border-radius: 20px;height: 40px;padding: 5px 40px 5px 15px;width: 100%;}
.field-max-tra-dis input.input-tra-dis::placeholder {color: #828282;}
.field-group {position: relative;}
span.mi-txt-info {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 11px;line-height: 16px;letter-spacing: 0.001em;color: #828282;position: absolute;right: 15px;top: 50%;transform: translate(0, -50%);}
.field-max-tra-dis p{font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.01em;text-transform: capitalize;color: #494949;}
.field-checkbox-box.active input.input-tra-dis, .field-checkbox-box:hover input.input-tra-dis {border: 1px solid #53B2E8;}
.field-checkbox-box.active span.mi-txt-info, .field-checkbox-box:hover span.mi-txt-info {color: #53B2E8;}
.add-loc-link {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 16px;line-height: 24px;letter-spacing: 0.01em;text-decoration-line: underline;text-transform: capitalize;color: #53B2E8;text-align: center;}
.add-location-box {display: flex;justify-content: center;align-items: center;cursor: pointer;background: #F5F5F5;border-radius: 20px;padding: 5px;min-height: 160px;height: 100%;}
.add-location-box:hover {background: #DCF3FF;}


/* Three Step Availability Info css */
.font-size-17px {font-family: 'Poppins'; font-style: normal;font-weight: 400;font-size: 17px;line-height: 26px;letter-spacing: 0.01em; color: #494949;}
.input-right-icon-info{position: relative;}
.input-right-icon-info input {padding-right: 45px;}
.input-right-icon-info .right-icon-info {display: inline;position: absolute;right: 20px;top: 50%;transform: translate(0, -50%);}
.exception-dates-field input.input-field, 
.exception-dates-field input.input-field::placeholder {color: #828282 !important;}
.exception-dates-field input.input-field{border-radius: 30px;}
.availability-calender-info img {width: 100%;}

/* Four Step Social Media Chanels Info css */
.font-size-14px {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;}
.social-media-info {display: grid;grid-template-columns: 45px 390px 80px;align-items: center;column-gap: 10px;}
.social-media-info .left-icon-info {text-align: center;}
.social-media-info .right-field-info {width: 100%;max-width: 380px;}
.social-media-info input.input-field{font-size: 14px;line-height: 21px;}
.social-media-info input.input-field::placeholder{color: rgba(0, 0, 0, 0.3);}
.green-txt-info {display: flex;align-items: center;column-gap: 7px;}
.green-txt-info p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #31AA52;}

/* Five Step Additional Services Info CSS */
.additional-form-info .label-heading {font-weight: 500;font-size: 16px;line-height: 24px;text-transform: none;color: #000000;}
.radio-btns-info label {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;}
.radio-btns-info {display: flex;align-items: center;column-gap: 60px;}
.radio-field {margin-right: 10px;appearance: none;width: 14px;height: 14px;border: 1px solid #828282;border-radius: 100px;outline: 0;box-sizing: border-box;display: inline-block;vertical-align: middle;position: relative;padding: 0px;cursor: pointer;}
.radio-field:checked {background: #53B2E8; border-radius: 50px;outline: 1px solid #53B2E8 !important;border: 2px solid #fff;}

/* Six Step Complete Info CSS */
.complete-content-info {overflow: hidden;overflow-y: auto;height: 610px;}
.complete-content-body {padding-right: 20px;}
.complete-content-body p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 140%;letter-spacing: 0.01em;color: #000000;margin-bottom: 20px;}
.max-width-150px{max-width: 150px!important;}

/*  Upload Image Popup */
.upload-image-popup-info {background: #fff;border-radius: 20px;width: 100%;max-width: 400px;box-shadow: -12px 12px 20px rgb(0 0 0 / 10%);}
.upload-image-body {position: relative;padding: 20px;}
.close-icon {position: absolute;right: 20px;top: 20px;cursor: pointer;}
.upload-top-h3 h3 {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 20px;line-height: 30px;color: #494949;margin: 10px 0px;}
.upload-img-profile-info img {width: 100%;max-width: 400px;}
.btn-save-profile {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 12px;line-height: 18px;text-align: center;letter-spacing: 0.01em;color: #FFFFFF;background: #53B2E8;box-shadow: 0px 2px 2px rgb(0 0 0 / 12%); border-radius: 20px;width: 100%;max-width: 160px;border: none;padding: 11px 5px;margin: 0px auto;}