<div class="login-provider-page">
    <div class="login-provider-info">
        <div class="login-provider-row">
            <div class="lp-sidebar-left">
                <div class="lp-sidebar-left-info">
                    <div class="lp-logo-info">
                        <img src="assets/logo.png" alt="Logo"/>
                    </div>
                    <div class="lp-menu-links">
                        <ul class="ul-lp-menu-links">
                            <li class="active"><span class="count-no-li">1</span>Business Info</li>
                            <li><span class="count-no-li">2</span>Location</li>
                            <li><span class="count-no-li">3</span>Availability</li>
                            <li><span class="count-no-li">4</span>Social Media</li>
                            <li><span class="count-no-li">5</span>Additional services</li>
                            <!-- <li class="active"><span class="count-no-li"><img src="assets/white-tick-icon.png"></span>Complete</li> -->
                        </ul>
                    </div>
                    <div class="copy-right-txt-info">
                        <p>© 2021 WONDRFLY Inc.</p>
                    </div>
                </div>
            </div>
            <div class="lp-sidebar-right">
                <div class="lp-sidebar-right-info">
                    <!-- First Step Business Info -->
                    <div class="step-business-info">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="title-h1">Tell us about your business</h1>
                            </div>
                        </div>
                        <div class="business-form-info">
                            <div class="row">
                                <div class="col-md-12">
                                   <div class="dis-grid-business mb-20px">
                                       <div>
                                           <div class="upload-img-info align-center">
                                                <img src="/assets/drag-drop-img.png" />
                                           </div>
                                           <div class="upload-btn-info align-center">
                                               <button>upload</button>
                                           </div>
                                       </div>
                                       <div>
                                           <div class="field-group mb-20px">
                                                <div class="label-heading">Business Name <span class="require-star">*</span></div>
                                                <input type="text" class="input-field black-opacity-3" placeholder="Type" required>   
                                           </div>
                                           <div class="field-group mb-20px">
                                                <div class="label-heading">About <span class="require-star">*</span></div>
                                                <textarea type="text" class="input-field black-opacity-3" placeholder="Tell us a little about yourself and the types of services you provide" rows="4" required></textarea>
                                                <div class="txt-0-3000">
                                                    <p>(0 of 3000)</p>
                                                </div>  
                                           </div>
                                       </div>
                                   </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="contact-txt-box mb-20px">
                                        <h3>Contact Information</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="field-group mb-15px">
                                        <div class="label-heading">Email <span class="require-star">*</span></div>
                                        <input type="email" class="input-field" placeholder="Type" required>   
                                    </div>
                                    <div class="field-group mb-15px">
                                        <div class="label-heading">Business Phone <span class="require-star">*</span></div>
                                        <input type="tel" class="input-field" placeholder="Type" required>   
                                    </div>
                                    <div class="field-group mb-50px">
                                        <div class="label-heading">Contact Phone <span class="require-star">*</span></div>
                                        <div class="select-tag-arrow-info">
                                            <select class="input-field">
                                                <option value="">Select or Type</option>
                                                <option value="">Select or Type 1</option>
                                                <option value="">Select or Type 2</option>
                                                <option value="">Select or Type 3</option>
                                            </select> 
                                            <div class="select-tag-arrow">
                                                <img src="assets/down-icon-black.svg"> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="flex-btns-info">
                                        <!-- <button class="btn-size btn-white-blue">Back</button> -->
                                        <button class="btn-size btn-blue float-right btn-disable">Next</button>
                                    </div>
                                </div>
                            </div> 
                        </div>   
                    </div>
                    <!-- Second Step Location Info -->
                    <div class="step-location-info" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="title-h1">Where are you located?</h1>
                            </div>
                        </div>
                        <div class="location-form-info mb-50px pb-20px">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="field-group mb-50px">
                                        <div class="label-heading">Business Address <span class="require-star">*</span></div>
                                        <input type="text" class="input-field font-size-14 width-90" placeholder="56 Newport Bridge Rd, Warwick, NY 10990" required>   
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="field-group mb-30px">
                                        <div class="label-heading">Where do you provide instruction/services? <span class="require-star">*</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-20px">
                                    <div class="field-checkbox-box active">
                                        <div class="flex-row mb-20px">
                                            <input type="checkbox" id="business" class="blue-checkbox" name="business-address" checked>
                                            <label for="business">Business Address</label>
                                        </div>
                                        <div class="checkbox-txt plr-18px">
                                            <p>(845) 986-821256 Newport Bridge Rd Warwick, NY 10990</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-20px">
                                    <div class="field-checkbox-box">
                                        <div class="flex-row mb-20px">
                                            <input type="checkbox" id="online" class="blue-checkbox" name="online">
                                            <label for="online">Online</label>
                                        </div>
                                        <div class="checkbox-txt">
                                            <p class="clr-828282">Add the Online meeting link for your activity or send the link to the participants directly</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-20px">
                                    <div class="field-checkbox-box">
                                        <div class="flex-row mb-20px">
                                            <input type="checkbox" id="student-home" class="blue-checkbox" name="student-home">
                                            <label for="student-home">Student’s Home</label>
                                        </div>
                                        <div class="field-max-tra-dis plr-18px">
                                            <p class="mb-10px">Maximum Travel Distance</p>
                                            <div class="field-group">
                                                <input type="text" class="input-tra-dis" placeholder="Type"> 
                                                <span class="mi-txt-info">mi.</span>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 mb-20px">
                                    <div class="add-location-box">
                                        <div class="flex-row">
                                            <p class="add-loc-link">+ Add Another Location</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-20px"></div>
                                <div class="col-md-4 mb-20px"></div>
                            </div>

                        </div>
                        <div class="btn-bottom-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="flex-btns-info">
                                        <button class="btn-size btn-white-blue">Back</button>
                                        <button class="btn-size btn-blue float-right btn-disable">Next</button>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div>
                    <!-- Three Step Availability Info -->
                    <div class="step-availability-info"  style="display: none;">
                        <div class="row mb-20px">
                            <div class="col-md-12">
                                <h1 class="title-h1 mb-15px">Availability <span class="require-star">*</span></h1>
                                <p class="font-size-17px">Select your time blocks below to show your availability.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="availability-calender-info mb-50px">
                                    <img src="assets/availability-calender.png">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="field-group exception-dates-field mb-50px">
                                    <div class="label-heading">Exception Dates</div>
                                    <div class="input-right-icon-info">
                                        <input type="text" class="input-field" placeholder="Select any out of office days your business may have" required> 
                                        <div class="right-icon-info">
                                            <img src="assets/exception-dates-icon.png"> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="flex-btns-info">
                                        <button class="btn-size btn-white-blue">Back</button>
                                        <button class="btn-size btn-blue float-right">Next</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <!-- Four Step Social Media Chanels Info -->
                    <div class="step-social-media-info" style="display: none;">
                        <div class="row mb-40px">
                            <div class="col-md-12">
                                <h1 class="title-h1 mb-15px">Social Media</h1>
                                <p class="font-size-14px">We can get Reviews & Ratings from your web or social media pages</p>
                            </div>
                        </div>
                        <div class="row mb-50px pb-30px">
                            <div class="col-md-12">
                                <div class="social-media-info field-group mb-20px">
                                    <div class="left-icon-info">
                                        <img src="assets/ls-web.png"> 
                                    </div>
                                    <div class="right-field-info">
                                        <input type="url" class="input-field" placeholder="Website URL" value="http://pianotutor.com" required> 
                                    </div>
                                    <div class="green-txt-info">
                                        <div><img src="assets/green-tick.png"></div>
                                        <div><p>Saved</p></div>
                                    </div>
                                </div>
                                <div class="social-media-info field-group mb-20px">
                                    <div class="left-icon-info">
                                        <img src="assets/google-my-business.png"> 
                                    </div>
                                    <div class="right-field-info">
                                        <input type="url" class="input-field" placeholder="Google My Business URL" required> 
                                    </div>
                                </div>
                                <div class="social-media-info field-group mb-20px">
                                    <div class="left-icon-info">
                                        <img src="assets/logos-facebook.png"> 
                                    </div>
                                    <div class="right-field-info">
                                        <input type="url" class="input-field" placeholder="Facebook page" required> 
                                    </div>
                                </div>
                                <div class="social-media-info field-group mb-20px">
                                    <div class="left-icon-info">
                                        <img src="assets/yelp-icon.png"> 
                                    </div>
                                    <div class="right-field-info">
                                        <input type="url" class="input-field" placeholder="Yelp page" required> 
                                    </div>
                                </div>
                                <div class="social-media-info field-group mb-20px">
                                    <div class="left-icon-info">
                                        <img src="assets/icons8-instagram.png"> 
                                    </div>
                                    <div class="right-field-info">
                                        <input type="url" class="input-field" placeholder="Instagram URL" required> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="flex-btns-info">
                                        <button class="btn-size btn-white-blue">Back</button>
                                        <button class="btn-size btn-blue float-right">Next</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <!-- Five Step Additional Services Info -->
                    <div class="step-additional-information-info" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="title-h1 pb-10px">Additional Information</h1>
                            </div>
                        </div>
                        <div class="row mb-50px pb-30px">
                            <div class="col-md-12">
                                <div class="additional-form-info mb-50px pb-30px">
                                    <div class="field-group mb-50px pb-30px">
                                        <div class="label-heading mb-20px">Do you provide Party Services (e.g. birthday parties)?</div>
                                        <div class="radio-btns-info">
                                            <div>
                                                <input type="radio" id="yes" class="radio-field" name="party-services" value="Yes">
                                                <label for="yes">Yes</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="no" class="radio-field" name="party-services" value="No">
                                                <label for="no">No</label>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="flex-btns-info">
                                        <button class="btn-size btn-white-blue">Back</button>
                                        <button class="btn-size btn-blue float-right">Done</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <!-- Six Step Complete Info -->
                    <div class="step-complete-info" style="display: none;">
                        <div class="row">
                            <div class="col-md-12">
                                <h1 class="title-h1">Terms and Conditions</h1>
                            </div>
                        </div>
                        <div class="row mb-50px pb-30px">
                            <div class="col-md-12">
                                <div class="complete-content-info">
                                    <div class="complete-content-body">
                                        <p>Nunc, feugiat iaculis quam libero fringilla nunc. Eget sapien morbi in at adipiscing. Enim, sed feugiat id id enim mollis. Venenatis, donec praesent lorem eu id pellentesque lorem. Cursus pretium leo nulla nunc nunc, vel amet. Congue etiam semper fames lacinia massa leo sit. Ullamcorper diam eu urna, aliquet mattis turpis. Aliquam risus enim sodales integer. Eget at nunc augue consectetur molestie. Nec duis bibendum tincidunt eleifend elit, volutpat tincidunt lacus. Nunc, nisl netus ornare sodales vel. Bibendum tempus malesuada dolor aliquet hac.</p>
                                        <p>Platea amet arcu ligula ipsum ac ullamcorper. Commodo volutpat cras nec quisque felis, pretium. Etiam vitae adipiscing faucibus ultrices vitae quisque tincidunt eros, morbi. Tempus tempor quam sed purus. Vulputate in dapibus turpis eleifend ut velit sapien, fringilla. Dignissim ornare at non turpis vel arcu, nascetur. Pellentesque sollicitudin neque odio elementum nam amet sit purus morbi. A amet arcu lacus penatibus montes, cras sit pretium risus. Mauris iaculis fusce turpis morbi eleifend consequat, pharetra. Tristique vitae, aliquet eget vel. Vestibulum ante aliquam vulputate at nunc ornare.</p>
                                        <p>Ullamcorper egestas pretium sed eu, tristique senectus vitae non. Nibh id nulla egestas cras viverra elit justo nibh eget. Sed volutpat placerat vitae enim, purus pellentesque ullamcorper ac dolor. Nibh congue placerat scelerisque enim tincidunt ipsum diam adipiscing. Consequat et sed velit pulvinar consequat leo sit ultrices sem. Aliquet dui dolor convallis diam a aliquam dui cursus pellentesque. Amet laoreet lorem accumsan faucibus augue pharetra, pellentesque diam. Accumsan et, risus eu, pretium. Faucibus risus egestas amet risus. In nibh nulla vestibulum arcu purus lectus.</p>
                                        <p>Vel rutrum in tincidunt orci quisque lobortis. Consequat, adipiscing maecenas et ullamcorper. Justo, molestie nunc diam id diam rhoncus. Nullam platea suscipit consequat fames urna, libero viverra. Netus justo, sollicitudin ac in egestas. Id dolor vel in tempor, tellus bibendum. Et auctor senectus elementum molestie tellus condimentum lacus. Bibendum quis velit adipiscing laoreet. Maecenas vel consequat facilisis nulla tortor. Dui urna ut posuere adipiscing erat quam. Sollicitudin ac odio et commodo faucibus risus in arcu, vel. Purus nunc, elementum neque, elementum.</p>
                                        <p>Enim malesuada lectus porttitor in vel, ut urna auctor. Amet vulputate facilisi nullam ipsum quis sed consequat. Arcu arcu sagittis aenean tristique. Mattis erat tellus mattis nulla lectus viverra tellus purus in. Donec accumsan, maecenas urna dolor nec nisl in. Feugiat aliquam purus maecenas faucibus morbi ultricies egestas. Suspendisse in sollicitudin amet viverra nisi, egestas id non. Integer in sapien, pharetra quis sit posuere tincidunt magna sodales. Arcu et blandit cras molestie. Magnis tempus praesent elementum leo non, vitae sagittis. Neque elit nec ipsum mi nibh leo tortor egestas. Quis sit praesent euismod quis congue leo cursus venenatis.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-bottom-info">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="flex-btns-info">
                                        <button class="btn-size btn-blue float-right max-width-150px">Accept</button>
                                        <button class="btn-size btn-white-blue float-right mr-15px max-width-150px">Skip</button>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Upload Image Popup -->
    <div class="upload-image-popup-info" style="display: none;">
        <div class="upload-image-body">
            <div class="upload-top-h3 mb-10px">
                <h3>Upload Image</h3>
                <div class="close-icon">
                    <img src="assets/close-icon-img.png" alt="close icon"/>
                </div>
            </div>
            <div class="upload-img-profile-info mb-30px">
                <img src="assets/kids-land-logo-original.png" alt="upload Image">
            </div>
            <div class="save-profile-btn mb-20px align-center">
                <button class="btn-save-profile">Save Profile Picture</button>
            </div>
        </div>
    </div>

</div>