<body [ngClass]="currentOS == 'Mac' ? 'mac-class' : 'windows-class'">
  <!-- <app-alert></app-alert> -->
  <!-- <div [ngClass]="{'click-disabled':!cookiesData}"> -->
    <div>
    <router-outlet> 
    </router-outlet>
  </div> 
  <!-- <div>
    <router-outlet></router-outlet>
  </div> -->
   <!-- <app-cookies-popup  (cookiesDataIdentify)="checkCookieData($event)"></app-cookies-popup> -->
</body>
