<div class="common-headermargin">
  <section class="resouves-beta">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="box">
            <h6 class="box-heading">Printables</h6>
            <div class="forth_section_heading">
              <!-- <h1>
                Printables
              </h1> -->
            </div>
            <div class="lower-resources-sec">
              <div class="row">
                <div class="col-md-3" *ngFor="let printable of resources">
                  <div class="card card-beta">
                    <img *ngIf="printable?.coverPic?.url" class="card-img-top"
                      src="{{blogUrl}}{{printable?.coverPic?.formats?.thumbnail?.url}}" />
                    <img *ngIf="!printable?.coverPic?.url" class="card-img-top" src="assets/resource-view2.png" />
                    <div class="card-body">
                      <div class="list join-flex">
                        <h5>{{printable?.title}}</h5>
                        <p>
                          <a class="cursor" (click)="downloadFile(printable?.file)">DOWNLOAD</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>


    </div>
  </section>
</div>
<!-- <div class="content box">
  <div class="container">

<div class="forth_section" *ngIf="categories[1]?.blogs?.length">
  <div class="forth_section_heading">
    <h1>
      Articles
    </h1>

  
  </div>
  <div class="forth_section_image_section">
    <div class="row">
      <div
        class="col-4"
        *ngFor="
          let blog of categories[1]?.blogs | slice: 0:3;
          let i = index
        "
      >
      <div class="img-overflow">
        <img oncontextmenu="return false;"
        (click)="setBlog(blog)"
        class="forth_section_image cursor"
        [defaultImage]="defaultImage"
        [errorImage]="errorImage"
        lazyLoad="{{ blogUrl }}{{ blog?.image[0]?.url }}"
        alt="{{ blog?.image[0]?.alternativeText }}"
      />
      </div>

        <div class="date">
          <span class="blue_heading">{{
            blog?.published_at | date: "mediumDate"
          }}</span>
        </div>
        <div class="forth_section_title cursor" (click)="setBlog(blog)">
          {{ blog?.title }}
        </div>
        <div class="content_text">
          <app-read-more
            [content]="blog?.content"
            [limit]="100"
            [completeWords]="true"
            [blogData]="blog"
          >
          </app-read-more>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div> -->

<div class="container-fluid recent-section">
  <div class="container">
    <div class="forth_section">
      <div class="forth_section_heading">
        <h1>
          You might also like
        </h1>

        <span class="blue_heading cursor" routerLink="/blogs">VIEW ALL</span>
      </div>
      <div class="forth_section_image_section">
        <div class="row">
          <div class="col-4" *ngFor="let b of blog | slice: 0:3; let i = index">
            <div class="img-overflow">
              <img oncontextmenu="return false;" class="forth_section_image cursor" [defaultImage]="defaultImage"
                [errorImage]="errorImage" lazyLoad="{{ blogUrl }}{{ b?.image[0]?.formats?.thumbnail?.url }}"
                alt="{{ b?.image[0]?.alternativeText }}" (click)="setBlogg(b)" />
            </div>


            <div class="date">
              <span class="blue_heading">{{
                b?.published_at | date: "mediumDate"
              }}</span>
            </div>
            <div class="forth_section_title cursor" (click)="setBlogg(b)">
              {{ b?.title }}
            </div>
            <div class="content_text">
              <app-read-more (click)="ngOnInit()" [content]="b?.content" [limit]="100" [blogData]="b">
              </app-read-more>
              <!-- <span class="blue_heading">Learn More</span> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
