.otp_form {
    max-width: 440px;
    margin: 0 auto;
}

.otp_form .otp_logo {
    position: absolute;
    top: 40px;
}

.otp_form .form {
    margin-top: 13px;
}

.otp_form .form .form-group {
    margin: 0 0 10px 0;
}

.otp_form .form .form-group.email_text h2 {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.001em;
    color: #748494;
}

.otp_form .form .form-group .input_outer {
    position: relative;
}

.otp_form .form .form-group .input_outer:focus::after,
.otp_form .form .form-group .input_outer:focus-within::after {
    opacity: 1;
}

.otp_form .form .form-group .input_outer.password::after {
    content: none;
}

.otp_form .form .form-group .input_outer.password .password_view {
    position: absolute;
    right: 9px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ch-radio input[type="checkbox"]:checked+span:before,
.ch-radio input[type="checkbox"]:checked~span:before,
.ch-radio input[type="radio"]:checked+span:before,
.ch-radio input[type="radio"]:checked~span:before {
    border-color: #27AE60;
    background-color: #27AE60;
}

.sign_in_btn {
    text-align: center;
    margin: 20px 0 0 0;
}

.SignBtn {
    background: #53B2E8;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    min-width: 205px;
    max-height: 52px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    margin: 0 auto;
    text-transform: uppercase;
    transition: 0.8s;
}

.SignBtn:hover {
    background: #53B2E8;
}

.SignBtn.cancel {
    background: transparent;
    border: 1px solid #53B2E8;
    color: #53B2E8;
    margin: 0 auto 0 16px;
}

.SignBtn.cancel:hover {
    background: #53B2E8;
    color: #ffffff;
}

.otp_img {
    position: relative;
    overflow: hidden;

}

.otp_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    /* background: linear-gradient(214.99deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%); */
}

.otp_outer {
    position: relative;
}

.otp_outer .email_register {
    position: inherit;
}

.go_back_page {
    position: absolute;
    bottom: 27px;
}

.go_back_page p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #748494;
}

.go_back_page p a {
    color: #53B2E8;
}

.sing_text {
    margin: 0;
}

.sing_text h1 {
    font-family: 'Poppins';
    font-size: 36px;
    line-height: 37px;
    color: #53B2E8;
    font-weight: 400;
    margin-top: 0;
}

.sing_text h3 {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.001em;
    color: #748494;
    margin-top: 10px;
}
.forgot_text p.member-123 {
    padding-bottom: 70px;
    padding-top: 10px;
}
.otp_img .img-fluid{
    max-width: 100%;
    height: 1019px;
    object-fit: cover;
}
.otp_outer .sign_outer {
    position: inherit;
    margin-top: 40px;
}
.form-group.socialicons-input {
    padding-bottom: 75px;
}
.forgot_text p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #494949;
}

.forgot_text p a {
    color: #53B2E8;
}

.forgot_text.right {
    text-align: right;
}

.forgot_password {
    margin-top: 21px;
    padding: 0 5px;
    text-align: center;
    margin-bottom: 20px;
}

.copyright_text {
    position: absolute;
    bottom:20px;
    padding: 0;
}

.copyright_text p {
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #494949;
    margin-left: 30px;
}

.tab_outer {
    margin-top: 18px;
}

.tab_outer .nav-tabs {
    border: none;
}

.tab_outer .nav-tabs .nav-item {
    margin: 0 41px 0 0;
}

.tab_outer .nav-tabs .nav-item:last-child {
    margin: 0;
}

.tab_outer .nav-tabs .nav-link {
    text-align: center;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px 0;
    background-color: #fff;
    min-width: 198px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.001em;
    color: #494944;
    height: 100%;
}

.tab_outer .custom_select{
    min-height: 46px;
    line-height: 46px;
}
.tab_outer .form-group .form-control, .tab_outer .form-group input{
    min-height: 47px;
    padding: 10px 14px;
}

.tab_outer .nav-tabs .nav-link span {
    width: 100%;
    display: inline-block;
    margin-top: 9px;
}

.tab_outer .nav-tabs .nav-link .svg_img path {
    stroke: #494949;
}

.tab_outer .nav-tabs .nav-link.active {
    color: #53B2E8;
    border: 1px solid #53B2E8;
}

.tab_outer .nav-tabs .nav-link.active .svg_img path {
    stroke: #53B2E8;
}
.otp_outer .col-md-6 {
    padding: 0px;
}
mat-icon.field-icon {
    float: right;
    margin-right: 5px;
    margin-top: -38px;
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.form-error-msg {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

@media(max-width:767px) {
    .tab_outer .nav-tabs .nav-link {
        padding: 15px 0 !important;
        min-width: 110px !important;
    }
    .tab-content .forgot_password .forgot_text {
        max-width: 100% !important;
    }
    .otp_outer {
        padding: 0 0 20px 0;
    }
    .tab_outer .nav-tabs .nav-item {
        margin: 0 20px 0 0;
    }
}


.far{
    font-variant: all-petite-caps;
    color: #beb4b4;
}
@media (max-width: 1024px){

.otp_img {
    position: absolute !important;
    top: 36%;
    transform: translateY(-36%);
}
.otp_img .img-fluid {
    height: 1386px;}

    .sign_in_btn {
        margin: 46px 0 0 0;
    }


    .form-group.socialicons-input{
        padding-bottom: 60px;
        padding-top: 29px;
    }

    .forgot_password {
        margin-top: 65px;
    }
    .otp_outer .sign_outer {
        position: inherit;
        margin-top: 136px;
    }


    @media (max-width: 1024px){
        .otp_outer .email_register{
            position: inherit;
            height: 100vh;
        }
    }
} .otp_form .sing_text img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:250px;
    object-fit: cover;
}

