<body>


  <div class="otp_outer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 sign_outer">
          <div class="otp_form">

            <div class="sing_text">
              <img src="assets/logo.png">
            </div>
            <div class="tab_outer">
              <!-- <ul class="nav nav-tabs" role="tablist"> -->
              <!-- <li class="nav-item" (click)="selectParent()">
                                    <a class="nav-link active" data-toggle="tab" href="#parent" role="tab">
                                        <svg class="svg_img" width="23" height="19" viewBox="0 0 23 19" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M18.5 18.4999H22.5V14.1769C22.4999 13.9771 22.4399 13.7819 22.3278 13.6165C22.2157 13.4511 22.0566 13.3231 21.871 13.2489L18.129 11.7489C17.9438 11.6749 17.7849 11.5472 17.6728 11.3822C17.5607 11.2172 17.5005 11.0224 17.5 10.8229V9.94492C18.1065 9.59687 18.6107 9.09523 18.9617 8.49049C19.3128 7.88574 19.4985 7.19919 19.5 6.49992V4.49992C19.5002 3.7977 19.3154 3.10781 18.9644 2.49961C18.6134 1.89141 18.1085 1.38633 17.5004 1.03515C16.8923 0.683967 16.2024 0.499063 15.5002 0.499023C14.798 0.498984 14.1081 0.68381 13.5 1.03492"
                                                stroke="#748494" stroke-miterlimit="10" stroke-linecap="square" />
                                            <path
                                                d="M13.871 14.249L10.129 12.749C9.94375 12.675 9.78488 12.5473 9.67279 12.3823C9.5607 12.2172 9.50053 12.0225 9.5 11.823V11.372C12.77 10.935 13.5 9.5 13.5 9.5C13.5 9.5 11.5 7.5 11.5 5.5C11.5 4.43913 11.0786 3.42172 10.3284 2.67157C9.57828 1.92143 8.56087 1.5 7.5 1.5C6.43913 1.5 5.42172 1.92143 4.67157 2.67157C3.92143 3.42172 3.5 4.43913 3.5 5.5C3.5 7.5 1.5 9.5 1.5 9.5C1.5 9.5 2.23 10.935 5.5 11.372V11.823C5.49987 12.0228 5.43989 12.218 5.32777 12.3834C5.21566 12.5488 5.05656 12.6769 4.871 12.751L1.129 14.251C0.943754 14.325 0.784876 14.4527 0.672788 14.6177C0.5607 14.7828 0.500525 14.9775 0.5 15.177V18.5H14.5V15.177C14.4999 14.9772 14.4399 14.782 14.3278 14.6166C14.2157 14.4512 14.0566 14.3231 13.871 14.249Z"
                                                stroke="#748494" stroke-miterlimit="10" stroke-linecap="square" />
                                        </svg>
                                        <span> I’m a Parent </span>
                                    </a>
                                </li> -->
              <!-- <li class="nav-item" (click)="selectProvider()">
                                    <a class="nav-link" data-toggle="tab" href="#provider" role="tab">
                                        <svg class="svg_img" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.5 23.5H1.5V13.5H5.5" stroke="#F15C20" stroke-miterlimit="10"
                                                stroke-linecap="square" />
                                            <path d="M9.5 16.5H11.5" stroke="#F15C20" stroke-miterlimit="10"
                                                stroke-linecap="square" />
                                            <path d="M9.5 19.5H11.5" stroke="#F15C20" stroke-miterlimit="10"
                                                stroke-linecap="square" />
                                            <path d="M9.5 13.5H11.5" stroke="#F15C20" stroke-miterlimit="10"
                                                stroke-linecap="square" />
                                            <path d="M13.5 6.5V2.5L23.5 5.5V23.5H5.5V9.5H15.5V23.5" stroke="#F15C20"
                                                stroke-miterlimit="10" stroke-linecap="square" />
                                            <path d="M19.5 19.5V9.5" stroke="#F15C20" stroke-miterlimit="10"
                                                stroke-linecap="square" />
                                        </svg>
                                        <span> I’m a Provider </span> </a>
                                </li> -->
              <!-- </ul> -->
              <div class="tab-content">
                <div class="tab-pane active" id="parent" role="tabpanel">
                  <div class="form" [formGroup]="parentForm">

                    <div class="form-group socialicons-input">
                      <div class="input_outer">
                        <!-- <app-social-login [role]="userData.role"></app-social-login> -->
                      </div>
                    </div>

                    <div class="form-group">
                      <label>Parent Name</label>
                      <div class="input_outer">
                        <input type="text" class="form-control" placeholder="Enter name"
                          [formControl]="parentForm.controls['name']" [(ngModel)]="userData.firstName">
                        <p class="cant_blank"
                          *ngIf="parentForm.controls['name'].hasError('required') && parentForm.controls['name'].touched">
                          CAN'T LEAVE IT BLANK</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <div class="input_outer">
                        <input type="text" class="form-control" placeholder="Enter email"
                          [formControl]="parentForm.controls['email']" [(ngModel)]="userData.email">
                        <p class="cant_blank"
                          *ngIf="parentForm.controls['email'].hasError('required') && parentForm.controls['email'].touched">
                          CAN'T LEAVE IT BLANK</p>
                        <p class="cant_blank"
                          *ngIf="parentForm.controls['email'].hasError('email') && parentForm.controls['email'].touched">
                          INVALID EMAIL ADDRESS</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Select Password</label>
                      <div class="input_outer password">
                        <input type="password" class="form-control" placeholder="Type"
                          placeholder="Select a Strong Password" [formControl]="parentForm.controls['password']"
                          [(ngModel)]="userData.password" [type]="hide ? 'password' : 'text'">
                        <mat-icon class="field-icon" *ngIf="hide" (click)="onPassword()"><i class="far fa-eye"></i>
                        </mat-icon>
                        <mat-icon class="field-icon" *ngIf="!hide" (click)="onPassword()"> <i
                            class="far fa-eye-slash"></i></mat-icon>

                        <p class="cant_blank"
                          *ngIf="parentForm.controls['password'].hasError('required') && parentForm.controls['password'].touched">
                          CAN'T LEAVE IT BLANK</p>

                      </div>
                    </div>


                    <div class="form-group">
                      <label>Confirm Password</label>
                      <div class="input_outer">
                        <input type="password" placeholder="Confirm password" class="form-control" [formControl]="
                                              parentForm.controls['confirmPassword']
                                                " [type]="hide ? 'password' : 'text'" />
                        <mat-icon class="field-icon" *ngIf="hide" (click)="onPassword()"><i class="far fa-eye"></i>
                        </mat-icon>
                        <mat-icon class="field-icon" *ngIf="!hide" (click)="onPassword()"> <i
                            class="far fa-eye-slash"></i></mat-icon>

                        <small *ngIf="
                                              parentForm.controls[
                                                    'confirmPassword'
                                                  ].hasError('equalTo')
                                                " class="form-error-msg">
                          PASSWORD DO NOT MATCH</small>
                      </div>
                    </div>





                    <div class="row forgot_password">
                      <div class="col-12 forgot_text">
                        <p> By clicking sign up I hereby agree with Letsplay’s
                          <a [routerLink]="['/term-condition']">Terms & Conditions</a></p>
                      </div>
                    </div>
                    <div class="sign_in_btn">
                      <button class="SignBtn" (click)="signup()" [disabled]="parentForm.invalid">Sign up</button>
                      <button class="SignBtn cancel" onclick="history.back()">Cancel</button>
                    </div>
                  </div>
                  <!-- <div class="row forgot_password">
                                        <div class="col-12 forgot_text">
                                            <p>Already a member? <a routerLink="/login">SIGN In</a></p>
                                        </div>
                                    </div> -->
                </div>




                <div class="tab-pane" id="provider" role="tabpanel">
                  <div class="form" [formGroup]="providerForm">
                    <!-- <div class="form-group">
                                            <label>Provider Type</label>
                                            <div class="input_outer">
                                                <div class="custom_select">
                                                    <select [formControl]="providerForm.controls['type']"
                                                        [(ngModel)]="providerData.type">
                                                        <option value="Solo" selected="Solo">Solo</option>
                                                        <option value="Agency">Agency</option>
                                                    </select>
                                                </div>
                                                <p class="cant_blank"
                                                    *ngIf="providerForm.controls['type'].hasError('required') && providerForm.controls['type'].touched">
                                                    CAN'T LEAVE IT BLANK</p>
                                            </div>
                                        </div> -->
                    <div class="form-group socialicons-input">
                      <div class="input_outer ">
                        <!-- <app-social-login [role]="providerData.role"></app-social-login> -->
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Provider Name</label>
                      <div class="input_outer">
                        <input type="text" class="form-control" placeholder="Enter name"
                          [formControl]="providerForm.controls['name']" [(ngModel)]="providerData.firstName">
                        <p class="cant_blank"
                          *ngIf="providerForm.controls['name'].hasError('required') && providerForm.controls['name'].touched">
                          CAN'T LEAVE IT BLANK</p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <div class="input_outer">
                        <input type="text" class="form-control" placeholder="Enter email"
                          [formControl]="providerForm.controls['email']" [(ngModel)]="providerData.email">
                        <p class="cant_blank"
                          *ngIf="providerForm.controls['email'].hasError('required') && providerForm.controls['email'].touched">
                          CAN'T LEAVE IT BLANK</p>
                        <p class="cant_blank"
                          *ngIf="providerForm.controls['email'].hasError('email') && providerForm.controls['email'].touched">
                          INVALID EMAIL ADDRESS </p>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>Select Password</label>
                      <div class="input_outer password">
                        <input type="password" class="form-control" placeholder="Type"
                          placeholder="Select a Strong Password" [formControl]="providerForm.controls['password']"
                          [(ngModel)]="providerData.password" [type]="hide ? 'password' : 'text'">
                        <mat-icon class="field-icon" *ngIf="hide" (click)="onPassword()"><i class="far fa-eye"></i>
                        </mat-icon>
                        <mat-icon class="field-icon" *ngIf="!hide" (click)="onPassword()"> <i
                            class="far fa-eye-slash"></i></mat-icon>

                        <p class="cant_blank"
                          *ngIf="providerForm.controls['password'].hasError('required') && providerForm.controls['password'].touched">
                          CAN'T LEAVE IT BLANK</p>

                      </div>
                    </div>


                    <div class="form-group">
                      <label>Confirm Password</label>
                      <div class="input_outer">
                        <input type="password" placeholder="Confirm password" class="form-control" [formControl]="
                                              providerForm.controls['confirmPassword']
                                                " [type]="hide ? 'password' : 'text'" />
                        <mat-icon class="field-icon" *ngIf="hide" (click)="onPassword()"><i class="far fa-eye"></i>
                        </mat-icon>
                        <mat-icon class="field-icon" *ngIf="!hide" (click)="onPassword()"> <i
                            class="far fa-eye-slash"></i></mat-icon>


                        <small *ngIf="
                                              providerForm.controls[
                                                    'confirmPassword'
                                                  ].hasError('equalTo')
                                                " class="form-error-msg">
                          PASSWORD DO NOT MATCH</small>
                      </div>
                    </div>


                    <div class="row forgot_password">
                      <div class="col-12 forgot_text">
                        <p> By clicking sign up I hereby agree with Letsplay’s <a class="cursor"
                            [routerLink]="['/term-condition']">Terms & Conditions</a></p>
                      </div>
                    </div>
                    <div class="sign_in_btn">
                      <button class="SignBtn" (click)="signup()" [disabled]="providerForm.invalid">Sign up</button>
                      <button class="SignBtn cancel" onclick="history.back()">Cancel</button>
                    </div>
                  </div>

                </div>
              </div>
            </div>


          </div>
          <div class="row forgot_password">
            <div class="col-12 forgot_text">
              <p class="member-123">Already a member? <a routerLink="/login">SIGN In</a></p>
            </div>
          </div>
          <div class="row forgot_password">
            <div class="copyright_text">
              <p>© {{currentYear}} Wondrfly Inc.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 img-box">
          <div class="otp_img">
            <img class="img-fluid" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="signUpImage"
              alt="{{signUpImageTag}}" />
            <div class="otp_img_overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

<ngx-ui-loader></ngx-ui-loader>
