/* --------------------------------------blue footer------------------------------------- */
footer {
  background-color: #53b2e8;
  padding: 25px 0;
}

.footer_logo {
  display: inline-block;
  width: 100%;
}

.footer_logo a img {
  max-width: 78px;
}

.footer_menu {
  display: inline-block;
  width: 100%;
}

.footer_menu ul {
  margin-top: 7px;
}

.footer_menu ul li {
  display: inline-block;
  margin: 0 27px 0 0;
}

.footer_menu ul a {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #fff;
  text-transform: capitalize;
}

.footer_menu ul a:hover {
  color: #007bff;
  text-decoration: underline;
}

.copyright_text {
  margin-top: 35px;
}

.copyright_text p {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  color: #ffffff;
}

.footer_left {
  float: left;
}

.social_icon_footer {
  float: right;
  margin-top: 10px;
}

.social_icon_footer ul li {
  display: inline-block;
}

.social_icon_footer li a {
  display: inline-block;
  margin-right: 14px;
}

.social_icon_footer li:last-child a {
  margin: 0;
}

.social_icon_footer li a .icon {
  font-size: 16px;
  color: #fff;
  transition: 0.8s;
}
.social_icon_footer li a .icon img {
  width: 16px;
  height: 16px;
  margin-top: -5px;
}
.social_icon_footer li a:hover .icon.icon-facebook {
  color: #395794;
}

.social_icon_footer li a:hover .icon.icon-instagram {
  color: #d60044;
}
.social_icon_footer li a:hover .icon.icon-twitter {
  color: #1da1f2;
}
.social_icon_footer li a .icon:hover img {
  background-color: #0e76a8;
}
.social_icon_footer li a:hover .icon.icon-pinterest {
  color: #e11e27;
}
