<div class="content box common-headermargin">
  <div class="categories-box">
    <div class="container1">
      <div class="row">
        <div class="col-md-6 button-spacing">
          <h1  class="painting-header">
            {{ searchCatgData?.categoryName }}
          </h1>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2" id="accordionExample">
          <h5 *ngIf="!isMostViewed" class="dropdown-text">
            Sort by: Recent Posts
          </h5>
          <h5 *ngIf="isMostViewed" class="dropdown-text">
            Sort by: Most Viewed
          </h5>
          <span
            class="arrow-cross cursor"
            aria-expanded="true"
            data-target="#location"
            data-toggle="collapse"
          >
            <img oncontextmenu="return false;"  src="assets/down_arrow_blog.png" />
          </span>
          <div
            class="dropdown-box"
            class="collapse main_collpase recentbtn verification_modal"
            id="location"
            data-parent="#accordionExample"
          >
            <button
              (click)="getBlogByCat()"
              type="button"
              class="btn drop-2"
              [ngClass]="{ active: isMostViewed==false }"
              data-target="#location"
              data-toggle="collapse"
            >
              Recent posts
              <span class="arrow-down cursor">
                <img oncontextmenu="return false;"
                  src="assets/down_arrow_blog.png"
                  *ngIf=" isMostViewed==false "
                />
              </span>
            </button>

            <button
              (click)="mostViewed()"
              type="button"
              class="btn drop-2"
              [ngClass]="{ active:  isMostViewed==true  }"
              data-target="#location"
              data-toggle="collapse"
            >
              Most Viewed
              <span class="arrow-down cursor">
                <img oncontextmenu="return false;"
                  src="assets/down_arrow_blog.png"
                  *ngIf=" isMostViewed==true "
              /></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container1">
    <div class="forth_section_image_section">
      <div class="row">
        <div
          class="col-4"
          *ngFor="let blog of blogArray; let i = index"
        >
        <div class="img-overflow">
          <img oncontextmenu="return false;"
          (click)="setBlog(blog)"
          class="forth_section_image cursor"
          src="{{ blogUrl }}{{ blog?.image[0]?.formats?.thumbnail?.url }}"
          alt="{{ blog?.image[0]?.alternativeText }}"
        />
        </div>

          <div class="date">
            <span class="blue_heading">{{
              blog?.published_at | date: "mediumDate"
            }}</span>
          </div>
          <div class="forth_section_title cursor" (click)="setBlog(blog)">
            {{ blog?.title }}
          </div>
          <div class="content_text">
            <app-read-more
              [content]="blog?.content"
              [limit]="100"
              [completeWords]="true"
              [blogData]="blog"
            >
            </app-read-more>
            <!-- <span class="blue_heading">Learn More</span> -->
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="container1">
    <div class="seventh_section">
      <div class="up_to_date">Stay upto date</div>
      <div class="seventh_section_content">
        Stay upto date and receive best promotions directly in your inbox.
        <br />
        We promise not to spam you.
      </div>
      <div class="search_bar">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="example@domain.com"
          />
          <div class="input-group-pend">
            <button class="Submit_btn" type="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <br /><br />
  <br />
</div>

<!-- ------------------------popup html start-------------------------- -->
<ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190">
</ngx-ui-loader>
<ng-template #foregroundSpinner>
  <app-loader-file></app-loader-file>
</ng-template>
<reg-wall></reg-wall>
