input.form-control, button {
    box-shadow: none;
    outline: none;
}
input.form-control:focus {
    box-shadow: none;
    outline: none;
}
button:focus {
    box-shadow: none;
    outline: none;
}

.custom_select {
    height: auto;
    display: inline-block;
    border-radius: 3px;
    min-width: 200px;
    min-height: 52px;
    line-height: 52px;
    border: 1px solid #e5e9ec;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content_outer {
    padding-top: 99px;
    padding-bottom: 36px;
}

.list-group {
    max-height: 841px;
    /* margin-bottom: 10px; */
    overflow: scroll;
    -webkit-overflow-scrolling: auto;
}
.breadcrump_top a {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #494949;
}

.breadcrump_top a span {
    color: #494949;
    font-size: 14px;
    margin-right: 3px;
}

.page_heading {
    margin-top: 11px;
}

.page_heading h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 18px;
    color: #494949;
    background: linear-gradient(to right, #494949, #494949);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.side_bar .progress-title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    margin: 0 0 20px;
}

.side_bar .progress {
    height: 8px;
    background: #e5e9ec;
    border-radius: 0;
    box-shadow: none;
    margin-top: 46px;
    overflow: visible;
}

.side_bar .progress .progress-bar {
    position: relative;
    -webkit-animation: animate-positive 2s;
    animation: animate-positive 2s;
    overflow: visible;
}

.side_bar .progress .progress-value {
    display: block;
    font-size: 15px;
    font-weight: 600;
    color: #f15c20;
    position: absolute;
    top: -11px;
    left: 0;
}

@-webkit-keyframes animate-positive {
    0% {
        width: 0;
    }
}

@keyframes animate-positive {
    0% {
        width: 0;
    }
}

.activity .media-left {
    max-width: 300px;
    width: 300px;
    height: 200px;
    max-height: 200px;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

.activity .media-left .share_icon {
    position: absolute;
    top: 12px;
    right: 14px;
}

.activity .media-left img {
    max-width: 100%;
    height: 215px;
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.list p {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #494949;
}

.list p img {
    margin: 0 8px 0 0;
    vertical-align: middle;
}

.activity .media-body h3 {
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #494949;
}

.activity .media-body h2 {
    font-size: 16px;
    letter-spacing: 0.001em;
    color: #494949;
    font-family: "Poppins";
    max-width: 70%;
    word-break: break-word;
}

.activity .price-box {
    font-size: 13px;
}

.details_outer .row {
    margin-bottom: 10px;
    background: #ffffff;
}

.details_outer .list_outer {
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.rating_box {
    float: left;
}

.rating_box a {
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    color: #494949;
}

.row.bottom_margin {
    margin-top: 26px;
}

.form-group .add_child {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #494949;
    margin: 13px 0 0 17px;
    display: inline-block;
    text-transform: inherit;
}

.form-group .add_child .icon-plus {
    color: #494949;
    font-size: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.media.account_name {
    background: #ffffff;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 21px 15px;
    margin-bottom: 6px;
}

.media.account_name .media-left {
    max-width: 46px;
    max-height: 46px;
    border-radius: 5px;
}

.media.account_name .media-left img {
    max-width: 100%;
    height: 100%;
    width: 100%;
}

.media.account_name .media-body {
    padding-left: 24px;
}

.media.account_name .media-body h4 {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #494949;
}

.media.account_name .media-body p {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #494949;
    margin: 3px 0 0 0;
}

.form-group.add_interests .input_outer {
    border: 1px solid #e5e9ec;
    padding: 14px;
}

.form-group.add_interests .input_outer a {
    background: #494949;
    border-radius: 40px;
    min-width: 119px;
    line-height: 30px;
    min-height: 30px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    margin-right: 2px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
}

.form-group.add_interests .input_outer a:hover {
    background-color: #296eb9;
}

.search_outer {
    max-width: 498px;
    margin: 25px auto 0;
}

.form-group.add_interests .input_outer::after {
    content: none;
}

.form-group.add_interests .input_outer .icon-close {
    vertical-align: middle;
    margin-right: 13px;
    font-size: 15px;
    float: right;
    margin-top: 7px;
}


/* start search page css */

.search_portion {
    box-shadow: inset 0px -1px 0px #e5e9ec;
    background: #ffffff;
    display: inline-block;
    padding: 10px 45px;
    width: 100%;
}

.left_search {
    background: #ffffff;
    border-radius: 50px;
    width: 100%;
    position: relative;
    min-height: 38px !important;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
}

.left_search input::placeholder {
    color: #494949;
}

.left_search input::-moz-placeholder {
    color: #494949;
}

.left_search input::-webkit-placeholder {
    color: #494949;
}

.right_search {
    float: right;
    padding-top: 6px;
}

.right_search a {
    display: inline-block;
    color: #c5ced6;
    font-size: 20px;
    margin: 0 0 0 11px;
}

.right_search a.active {
    color: #f15c20;
}

.right_search .switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 17px;
    margin: 0 0 0 12px;
}

.right_search .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.right_search .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.right_search .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.right_search input:checked+.slider {
    background-color: #f15c20;
}

.right_search input:focus+.slider {
    box-shadow: 0 0 1px #f15c20;
}

.right_search input:checked+.slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
}


/* Rounded sliders */

.right_search .slider.round {
    border-radius: 34px;
}

.right_search .slider.round:before {
    border-radius: 50%;
}

.category_list {
    display: inline-block;
    width: 100%;
}

.bookmark {
    display: inline-block;
}

.category_list li {
    display: inline-block;
}

.list {
    margin: 0px 0px 12px;
}

.category_list li a {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #494949;
    border: 1px solid #494949;
    border-radius: 20px;
    padding: 10px 18px;
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 7px;
    transition: 0.8s;
}

.category_list li a:hover,
.category_list li a.active {
    color: #53b2e8;
    border-color: #53b2e8;
}


/* .search_activity {
    padding: 0 0 0 46px;
} */

.search_activity .activity {
    margin-bottom: 25px;
    position: relative;
    border-bottom: 1px solid #e5e9ec;
    padding-bottom: 25px;
}

.search_activity .activity:last-child {
    margin: 0;
}

.search_activity .map_section img {
    max-width: 100%;
}

.select_avtar p {
    font-weight: 600;
    font-size: 10px;
    text-transform: capitalize;
    color: #c5ced6;
    margin: 14px 0 0 0;
}

.select_avtar {
    text-align: center;
    width: 100%;
    float: right;
    max-width: 180px;
}

.select_avtar a {
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    color: #494949;
}

.select_avtar a img {
    margin: 0 0 0 5px;
}

.list_left .complete_profile {
    border: 1px solid #f15c20;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-height: 58px;
    text-align: center;
    padding: 21px 0;
    margin-bottom: 20px;
}

.list_left .complete_profile p {
    font-size: 13px;
    letter-spacing: 0.001em;
    color: #494949;
}

.list_left .complete_profile p span {
    color: #f15c20;
}

.list_left .complete_profile p a {
    font-weight: 600;
    color: #f15c20;
}

.show_map {
    display: inline-block;
}

.show_map p {
    display: inline-block;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.001em;
    color: #494949;
    vertical-align: super;
    margin: 0 0 0 6px;
}

.list_left .complete_profile {
    border: 1px solid #f15c20;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    min-height: 58px;
    text-align: center;
    padding: 21px 0;
    margin-bottom: 20px;
}

.list_left .complete_profile p {
    font-size: 13px;
    letter-spacing: 0.001em;
    color: #494949;
}

.list_left .complete_profile p span {
    color: #f15c20;
}

.list_left .complete_profile p a {
    font-weight: 600;
    color: #f15c20;
}

.category_list ul {
    display: inline-block;
}

.category_list .bookmark {
    display: inline-block;
}


.activity .coding_text {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.activity .coding-text-2 {
    margin-left: 10px;
}

.activity .price-box span {
    color: #55b8f0;
}

.activity .coding_text h3 {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 25px;
    border-radius: 20px;
    background-color: #e2f5ff;
    display: inline-block;
    color: #53b2e8;
    font-size: 11px;
    letter-spacing: 0.01em;
    text-align: center;
    cursor: pointer;
    margin-left: 14px;
    font-weight: 400 !important;
}

.activity .coding-text-1 {
    margin-left: -16px;
}

.activity .coding_text h6 {
    padding-right: 15px;
    padding-left: 15px;
    line-height: 25px;
    background: #ffffff;
    border: 1px solid #53b2e8;
    border-radius: 20px;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 0.01em;
    text-align: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.001em;
    color: #53b2e8;
    cursor: pointer;
    margin-left: 14px;
    margin-top: 10px;
    position: relative;
}

.activity .coding_text .collapse-btn {
    padding-right: 10px;
    padding-left: 10px;
    line-height: 25px;
    border-radius: 20px;
    background-color: #e2f5ff;
    display: inline-block;
    color: #53b2e8;
    font-size: 11px;
    letter-spacing: 0.01em;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
}

.category_list .bookmark a {
    margin: 0 7px 0 0;
}

.category_list .bookmark a:last-child {
    margin: 0;
}

.activity .media-body .share_icon a img {
    max-width: 23px;
}

.activity .media-body .share_icon a {
    margin-bottom: 10px;
    display: inline-block;
    width: auto;
    text-align: center;
}

.activity .media-body .share_icon {
    text-align: right;
    position: absolute;
    right: 0px;
}

.activity .media-body .bookmark_outer {
    display: inline-block;
    margin: 0 0 0 9px;
}

.banner_form {
    display: flex;
    background: #ffffff;
    border-radius: 44px;
    padding: 0;
}

.banner_form .form-group {
    margin: 0;
}

.banner_form .form-group input {
    min-height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 25px;
    position: relative;
    z-index: 999;
}

.banner_form .form-group input.camp_input {
    min-width: 250px;
    height: 55px;
    margin-top: 0px !important;
}

.banner_form .form-group input.date_input {
    background: #efefef;
    border-radius: 30px;
    margin-left: 27px;
    max-width: 215px;
    min-width: auto;
}

.banner_form .form-group input::-webkit-input-placeholder,
.banner_form .form-group .form-control::-webkit-input-placeholder {
    color: #858585;
}

.banner_form .form-group input::-moz-placeholder,
.banner_form .form-group .form-control::-moz-placeholder {
    color: #858585;
}

.banner_form .form-group input::placeholder,
.banner_form .form-group .form-control::placeholder {
    color: #858585;
}

.banner_form .form-group.daterange input::placeholder,
.banner_form .form-group.daterange .form-control::placeholder {
    color: #494949 !important;
}

.banner_form .form-group .form-control.date_input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.banner_form .form-group input::placeholder {
    color: #d5dce1;
}

.banner_form .form-group input::-webkit-input-placeholder {
    color: #d5dce1;
}

.banner_form .form-group input:-moz-placeholder {
    color: #d5dce1;
}

.banner_form .banner_button {
    background:#777CEA;
    border: 1px solid #777CEA;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 15px;
    top: 5px;
}

.search-results {
    /* max-height: 100vh;
    min-height: 100vh; */
    /* overflow: hidden; */
    /* scrollbar-color: #ddd #ccc;
    scrollbar-width: thin; */
    /* height: 100%;
    overflow-y: scroll; */
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 24px;
}

.search-results-height {
    max-height: calc(100vh - -736px);
    overflow: hidden;
    scrollbar-color: #ddd #ccc;
    scrollbar-width: thin;
    height: 400px !important;
    overflow-y: auto;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
}

/* .coding-text-1 {
    width: 63%;
    display: flex;
    justify-content: space-between;
} */

.search-results::-webkit-scrollbar-track {
    background: #ddd;
}

.search-results::-webkit-scrollbar-thumb {
    background: #ccc;
}

.search_activity .map_section {
    max-height: 100vh;
   /* overflow: hidden;  */
   position: sticky;
   height: 100vh;
   top: 80px;
   transition: top .4s ease,margin-top .4s ease,height .4s ease;
}

/* section.main_outer {
    border-top:4px solid #E5E9EC;
} */


/* agm-map {
    height: 1390px;
} */

/* .search-results .search_pagination {
    text-align: center;
    margin-bottom: 21px;
}

.search-results .search_pagination li {
    display: inline-block;
    margin: 0 7px 0 0;
} */

/* .search-results .search_pagination li a {
    display: inline-block;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    font-family: "Poppins";
    font-size: 14px;
    text-align: center;
    line-height: 32px;
    font-weight: 600;
    transition: 0.8s;
} */

/* .search-results .search_pagination li a.selected,
.search-results .search_pagination li a:hover {
    background-color: #ff4242;
    color: #fff;
} */

.main_collpase {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 10px;
    padding-top: 40px;
    z-index: 11;
    min-width: 350px;
    margin-top: 9px;
}

.main_collpases {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 20px 0 20px 0;
    z-index: 11;
    right: -208px;
    top: -24px;
    width: 290px;
    min-width: 290px;
    margin-top: 55px;
    text-align: left;
}

.categories-content span {
    position: absolute;
    right: 15px;
    top: 2px;
}

/* .collpase_content {
    padding: 0 12px;
} */

.main_collpase .submit_btn {
    padding-top: 0px;
    padding-bottom: 10px;
}

.main_collpase.verification_modal .submit_btn .submitBtn,
.main_collpase.verification_modal .submit_btn .cancel_btn {
    min-width: 60px;
    min-height: 21px;
    line-height: 21px;
    margin: 0 12px;
    font-size: 10px;
}

@media (max-width: 991px) {
    .search_activity {
        padding: 0 0 0 20px;
    }
    .search_activity .col-md-7.list_left {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .search_activity .col-md-5 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.modal-content {
    border-radius: 20px;
    padding: 0px;
}

.modal-body.N_modal h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 18px;
    color: #68bbeb;
    padding: 67px;
    padding-bottom: 55px;
    padding-top: 55px;
}

ul.N_list {
    list-style: none;
    padding-left: 0px;
}

ul.N_list li {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 65px;
    padding-right: 65px;
}

ul.N_list li a {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #494949;
}

span.social_icons {
    padding-right: 15px;
}


/* .modal-body.N_modal.share-modal span.social_icons svg {
    filter: invert(31%) sepia(3%) saturate(131%) hue-rotate( 58deg) brightness(92%) contrast(98%);
} */

ul.N_list li.active {
    background: #efefef;
    border-radius: 39px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 45px;
    padding-right: 45px;
}

@media (max-width: 767px) {
    /* .search-results .search_pagination li a {
        height: 27px;
        width: 27px;
        font-size: 12px;
        line-height: 27px;
    } */
    /* .search-results .search_pagination {
        margin: 11px 0 11px 0;
    } */
}

.user_list {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 20px;
}

.users {
    display: inline-block;
}

.user_list .user_profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.user_list .user_profile img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    border-radius: 100%;
}

.user_list .user {
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    background: #e5f3fb;
    border-radius: 20px;
    padding: 2px 5px 1px;
    margin: 10px 5px 5px 0;
}

.user_list .user_text {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    margin: 0px 0 0px 0px;
    padding: 0px 10px 4px 10px;
}

.user_list .user p {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
    display: inline-block;
    text-transform: capitalize;
}

.user_list .user .delete_search_icon {
    font-size: 12px;
    color: #ffffff;
    background: #53b2e8;
    border-radius: 40px;
    margin-top: 5px;
    margin-right: 3px;
}

.user_list .user a {
    vertical-align: text-top;
    color: #53b2e8;
    font-size: 15px;
    margin: -1px 0 0 11px;
    display: inline-block;
}

.close {
    position: absolute;
    top: 18px;
    right: 17px;
    z-index: 1;
}

.close span {
    color: #8e8f90;
    font-size: 25px;
}


/* filter */

span.close-filter {
    float: right;
}

.checkList {
    border-top: 1px solid #e0e0e0;
    padding-top: 27px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.add_child {
    padding: 18px 14px 18px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    margin-top: 15px;
}

.ch-radio span {
    font-family: "Poppins";
    display: block;
    overflow: hidden;
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    font-weight: normal;
    text-transform: capitalize;
    color: #494949;
}

.user_list .user_text {
    display: inline-block;
    vertical-align: top;
    margin: 1px 0 0 8px;
}

.user_list .user_profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    margin-top: 1px;
}

.show-resultbtn .Submit_btn {
    box-shadow: 0px 1px 1px rgb(0 0 0 / 25%);
    background: #53b2e8;
    border-radius: 25.5px;
    border: none;
    padding: 2px;
    padding-left: 40px;
    padding-right: 40px;
    line-height: 46px;
    font-weight: 600;
    font-size: 14px;
    color: #f2f2f2;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.add_childs .form-group label {
    color: #494949;
    font-size: 12px;
}

.show-resultbtn {
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.filter_content {
    position: fixed;
    top: -100%;
    z-index: 22;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
    left: 0;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1);
    height: 0;
}

.filter_content.showFilter {
    top: 57px;
    height: 100vh;
    max-height: calc(100vh - 123px);
    overflow: scroll;
}

.filter_content button {
    background-color: transparent;
    outline: none;
    border: none;
    box-shadow: none;
}

.filter_content .text_center {
    text-align: center;
}


/* check box css */

.notifications {
    padding: 30px;
    padding-top: 15px;
}

.notifications h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: 0.01em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #494949;
    margin-top: 15px;
}

.morefilters-heading h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #494949;
}

.morefilters-heading {
    display: flex;
    justify-content: space-between;
}

.morefilters-heading h1 a {
    text-decoration-line: underline !important;
    cursor: pointer;
}

.notifications .switch.notification {
    margin: 14px 0 0 0;
}

.switch.notification {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 17px;
    margin: 0 0 0 12px;
}

.switch.notification input {
    opacity: 0;
    width: 0;
    height: 0;
}

.notifications .switch.notification input:checked+.slider {
    background-color: #53b2e8;
}

.switch.notification input:checked+.slider {
    background-color: #f15c20;
}

.switch.notification .slider.round {
    border-radius: 34px;
}

.switch.notification .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
}

.switch.notification input:checked+.slider:before {
    transform: translateX(9px);
}

.switch.notification .slider.round:before {
    border-radius: 50%;
}

.switch.notification .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
}

.top_add p {
    float: left;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #494949;
}

.top_add a {
    color: #53b2e8;
    float: right;
    font-size: 21px;
}

.user_list {
    display: inline-block;
    width: 100%;
}

.user_list .user_profile {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.user_list .user_profile img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
}

.user_list .user {
    background: #53b2e8;
    border-radius: 40px;
    color: #fff;
    display: inline-block;
    padding-right: 10px;
    line-height: 20px;
}

.user_list .users {
    display: flex !important;
    margin: 10px 5px 5px 0;
    display: inline-block;
    line-height: 20px;
}

.user_list .user_text {
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 -6px;
}

.user_list .users h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #494949;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 5px 5px 0;
    background: #e5e9ec;
    border-radius: 20px;
}

.user_list .users h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #494949;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px 5px 5px 0;
    background: #e5f3fb;
    border-radius: 20px;
}

.user_list .user p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    display: inline-block;
}

.media-left.activity-imgs {
    background-color: #fff;
}

.user_list .user a {
    vertical-align: text-top;
    color: #53b2e8;
    font-size: 15px;
    margin: -1px 0 0 11px;
    display: inline-block;
}

.banner_form span.search-icon {
    position: absolute;
    top: 38px;
    left: 37px;
}

.modal-body.N_modal.filter-modal {
    padding: 35px;
}

.price-perhour {
    margin-top: 20px;
}

.duration-perhour {
    margin-top: 20px;
}

.modal-body.N_modal.filter-modal .bar h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #494949;
    margin-top: 30px;
}

.time-filter .timers {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.time-filter .timers .time {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #494949;
}

.time-filter .timers .timepm {
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 11px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #494949;
}

.time-filter .timers .time-to {
    padding: 10px;
}

.time-filter h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #494949;
    padding-bottom: 10px;
}

.time_collpase {
    padding: 15px;
    padding-top: 20px;
}

.time_collpase .submit_btn {
    padding-top: 0px;
    margin-top: 15px;
}

/* ::ng-deep #cdk-overlay-0 {
    top: 279px !important;
} */

.user_text.recent-search {
    padding-right: 30px !important;
}

.icon-close.delete_search_icon.recent-search-icon {
    position: absolute;
    top: 3px;
    right: 13px;
}

.user.recent {
    position: relative;
}

.upper-partcategory h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #494949;
    text-align: left;
}

.upper-partcategory span a {
    border: none !important;
    text-decoration: underline !important;
    float: right;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 18px;
    letter-spacing: 0.005em;
    text-decoration-line: underline;
    color: #494949;
    margin-top: 5px !important;
    margin-right: 0px;
}

.lower-partcategory .form-group input {
    background: #ffffff;
    border: 1px solid #e5e9ec !important;
    box-sizing: border-box;
    border-radius: 30px !important;
}

.input-btns button {
    background: #53b2e8;
    border-radius: 40px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #ffffff;
    padding: 8px;
    padding-left: 15px;
    padding-right: 40px;
    position: relative;
    margin: 0px 10px 0px 0px;
}

.icon-close.delete_search_icon.recent-search-icon.movecategory-icon {
    top: 11px !important;
    right: 10px;
}

.activity .media-left img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.rating-starsearch {
    position: relative;
}

.star-daialogbox {
    position: absolute;
    z-index: 5;
    width: 400px;
    right:0;
}
.chip-set-bar .display-inline{display:inline-block;padding-right: 10px;}
/* .map-without-page-info .star-daialogbox {
    left: unset;
} */
.meta-overflow-row {
    overflow: hidden;
    overflow-x: auto;
}
.meta-overflow-row::-webkit-scrollbar-track {
    display: none;
}
.meta-overflow-row::-webkit-scrollbar-thumb {
    display: none;
}

.rating-starsearch {
    position: relative;
}

.star-daialogcontent {
    left: 0px !important;
}


/* dropdown program/provider */

.dropdownprogram {
    position: absolute;
    top: 20px;
}

.dropdownprogram .card {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    width: 400px;
    min-height: auto;
    max-height: 450px;
    z-index: 1;
    top: 45px;
}

.dropdownprogram .card h6 span.search-programlist {
    float: right;
}

.dropdownprogram .card .program-list {
    padding: 10px;
}

.dropdownprogram .card h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.dropdownprogram .card .provider-list {
    padding: 10px;
}

.dropdownprogram .card h5 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.rating-starsearch a {
    /* text-decoration: underline; */
    color: #494949 !important;
    /* margin-left: 7px; */
    font-size: 13px;
    text-decoration: underline;
}
.no-underline {
        text-decoration: none !important;
    color: #494949 !important;
    font-size: 13px;
}


/* suggested search result */

.suggested-searchresult .suggested-text h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 10px;
}

.suggested-searchresult .suggested-text {
    padding-top: 60px;
    padding-bottom: 30px;
}

.suggested-searchresult .suggested-text h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
}

.suggested-searchresult .suggested-text h2 span {
    font-weight: 500;
}

.search-results.suggested {
    max-height: calc(100vh - -516px) !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.suggested-searchresult .suggested-result .suggested-searcxhtext {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.005em;
    color: #494949;
    margin-top: 10px;
    margin-bottom: 10px;
}

.suggested-searchresult .suggested-result {
    background: #f9f6ed;
    padding: 20px;
    /* overflow: scroll; */
}

.left-searchpd {
    padding-left: 20px;
}


/* .suggested-result.in-built {
  margin-left: -40px;
  margin-right: -20px;
} */


/* new filter search */

.toggle-filtersearch {
    padding: 33px;
    float: right;
    padding-bottom: 10px;
    padding-top: 26px;
}

.toggle-filtersearch button.btn1-filtersearch {
    background: #f9fafa;
    border: 1px solid #53b2e8;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #53b2e8;
}

.toggle-filtersearch button.btn1-filtersearch:hover,
.toggle-filtersearch button.btn2-filtersearch:hover {
    background: #e2f5ff;
}

.toggle-filtersearch button.btn1-filtersearch:active,
.toggle-filtersearch button.btn2-filtersearch:active {
    background: #e2f5ff;
}

.toggle-filtersearch button.btn2-filtersearch {
    background: #f9fafa;
    border: 1px solid #53b2e8;
    box-sizing: border-box;
    color: #53b2e8;
    border-radius: 20px;
    border-left: 0px;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #53b2e8;
}

.search-filterlower .form-group input {
    background: #f2f2f2;
    border-radius: 30px !important;
    min-height: 38px !important;
    min-width: 380px;
    padding-left: 26px;
}

.searchs-filters {
    display: flex;
    width: 100%;
}

::placeholder {
    color: #828282 !important;
}

.search-filterss {
    padding: 8px;
    padding-left: 38px;
    box-sizing: border-box;
    border-right: 0px;
    border-left: 0px;
    width: 100%;
    padding-top: 26px;
}

.search-filtersk {
    padding: 15px;
    background: #f9fafa;
    box-sizing: border-box;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 36px;
    padding-bottom: 0px;
    padding-top: 12px;
}

.search-filterupper {
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 17px;
}

.form-group.saerch-activities {
    background: #f2f2f2;
    border-radius: 30px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #828282;
    margin: 4px !important;
}

.form-group.saerch-activities span {
    margin-left: 10px;
}

.form-group.saerch-activities h6 {
    font-size: 12px;
    font-weight: normal;
}


.search-filterss label.k-checkbox-label {
    font-family: "poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
    padding: 5px 10px;
}
.search-filterss .verification_modal .submit_btn {
    margin-top: 14px;
}

#Dayss .form-group.typess input {
    width: auto !important;
    min-height: 0px;
    padding: 7px;
}

#Dayss {
    min-width: auto;
    padding: 10px;
}

#Dayss .form-group.typess label {
    font-size: 10px;
    line-height: 15px;
    margin-top: 5px;
    padding: 0px;
}

#Dayss .typess-flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}

#Dayss form {
    display: flex;
}

#Dayss h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #494949;
}

button.btn2-filtersearch.active {
    background: #e2f5ff !important;
}

button.btn1-filtersearch.active {
    background: #e2f5ff !important;
}

/* .categories-checkbox {
    top: 3px;
} */

.sub-categoriesfilterheader h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #494949;
    padding-left: 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.categories-filterheader h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #494949;
    padding-left: 15px;
}

.categories-filt {
    border-bottom: 1px solid #bdbdbd;
    padding: 10px 0px 10px 15px;
    align-items: center;
}

.col-6.categories-filterheader {
    padding-left: 15px;
    padding-right: 15px;
}

/* .sub-categoriesfiltercontent {
    padding: 10px;
} */

.partcategory {
    min-width: 950px !important;
    padding: 0px;
}

/* .collpase_content.cate-dilter {
    padding: 0px;
} */

/* .categories-filtercontent h3:hover {
    background: #e2f5ff;
    border-radius: 20px;
    color: #53b2e8 !important;
} */

/* .categories-filtercontent .active {
    background: #e2f5ff;
    border-radius: 20px;
    color: #53b2e8 !important;
} */

.sub-categoriesfiltercontent h2 {
    display: flex;
    align-items: baseline;
    width: 35%;
}
.sub-categoriesfiltercontent .col-6 {
    padding-right: 15px;
}

::ng-deep .md-drppicker {
    background-color: transparent !important;
    box-shadow: none !important;
}

::ng-deep .md-drppicker td,
::ng-deep .md-drppicker th {
    border: none !important;
}

::ng-deep .md-drppicker td.active:hover {
    background-color: #53b2e8 !important;
}

::ng-deep .md-drppicker td.in-range {
    background-color: #eef9ff !important;
}

::ng-deep .md-drppicker.ltr .calendar.left {
    border-right: 1px solid #eeedf0;
    padding-top: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .md-drppicker.ltr .calendar.right {
    padding-top: 40px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

::ng-deep .md-drppicker td.active {
    background-color: #53b2e8 !important;
}

.date-rangecal {
    padding-top: 0px !important;
}

::ng-deep .md-drppicker td.disabled {
    text-decoration: none !important;
}

::ng-deep .md-drppicker option.disabled {
    text-decoration: none !important;
}
/* ::ng-deep .md-drppicker .buttons {
  display: none;
} */

.calender-botoombox {
    border-top: 1.26px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
}

.calender-botoombox {
    border-top: 1.26px solid #c4c4c4;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.calender-botoombox .calender-daterange .calender-daterange1 {
    font-family: "poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12.5973px;
    line-height: 24px;
    text-align: center;
    color: #494949;
    background: #ffffff;
    border: 1.25973px solid #c4c4c4;
    box-sizing: border-box;
    border-radius: 25.1946px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 15px;
}

.calender-botoombox .calender-daterange .calender-daterange2 {
    font-family: "poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12.5973px;
    line-height: 24px;
    text-align: center;
    color: #494949;
    background: #ffffff;
    border: 1.01223px solid #53b2e8;
    box-sizing: border-box;
    border-radius: 25.1946px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 15px;
}

.calender-botoombox .calender-daterange {
    display: flex;
}

.activity .price-box span img {
    margin-right: 5px;
}

.activity .price-box p span {
    color: #494949;
}

.calender-buttons button.calender-buttons1 {
    background: #ffffff;
    border: 1.25973px solid #53b2e8;
    box-sizing: border-box;
    border-radius: 25.1946px;
    color: #53b2e8;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 25px;
    min-width: 60px;
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.8s;
}

.calender-buttons button.calender-buttons2 {
    background: #53b2e8;
    box-sizing: border-box;
    border-radius: 25.1946px;
    padding: 5px;
    border: 1px solid #53b2e8;
    color: #fff;
    min-height: 25px;
    min-width: 60px;
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.8s;
}
.calender-buttons button.calender-buttons1:hover {
    background: #53B2E8;
    color: #fff;
}

::ng-deep .md-drppicker.ltr {
    direction: ltr;
    text-align: left;
    min-width: 560px;
}

::ng-deep .md-drppicker.ltr .calendar.left .calendar-table {
    padding-right: 20px !important;
}


/* map popup */


/* .map-popup {
  padding: 10px;
} */

.map-popup h1 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 10px;
}

.map-popup h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.001em;
    color: #494949;
    margin-bottom: 10px;
}

.map-locationtext h3 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #828282;
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
}

.map-locationtext {
    margin-top: 15px;
    margin-bottom: 10px;
    display: flex;
    align-items: baseline;
}

button.map-buttonas {
    background: #53b2e8;
    border-radius: 25.1946px;
    border: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 100%;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
}

::ng-deep .gm-style-iw-d {
    overflow: auto !important;
}

::ng-deep .gm-style .gm-style-iw-t::after {
    width: 0px !important;
}

::ng-deep .gm-style .gm-style-iw-c {
    background: #ffffff !important;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
    border-radius: 20px !important;
    top: 20px !important;
    max-width: 220px !important;
    min-height: auto !important;
}

::ng-deep button.gm-ui-hover-effect {
    top: 0px !important;
    right: 0px !important;
    display: none !important;
}

::ng-deep .gm-style-iw-d {
    padding: 10px;
    padding-top: 0px;
    padding-left: 0px;
}

/* .k-checkbox {
    background: transparent;
    color: white !important;
} */


/*Checked checkbox*/

/* .k-checkbox {
    border-color: rgba(0, 0, 0, 0.08);
    color: transparent;
    background-color: #fff;
} */

.radio-check::before {
    content: "" !important;
}

.k-checkbox:checked {
    background: #53b2e8;
    color: #fff !important;
    border-color: transparent;
}
.k-checkbox:checked + span {
    color: #53b2e8;
}
.k-checkbox-label span {
    padding-left: 5px;
}
.k-checkbox-label{
    display: flex;
    align-items: center;
}

.form-group.typess .form-control:focus,
.form-group.typess input:focus {
    border: 1px solid #e5e9ec !important;
}

#Dayss .typess-flex input {
    border-radius: 20px !important;
}


/* search location */

.search-location input {
    min-width: 275px;
    background-color: transparent;
}

.search-location:before {
    content: "";
    width: 2px;
    height: 40px;
    background-color: #e0e0e0;
    position: absolute;
    left: 36%;
    top: 7px;
}


/* locatrion-popup */

.location-popup span img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.location-popup {
    padding-top: 25px;
    padding-bottom: 25px;
}

.location-popup h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #494949;
}

.location-popup h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #494949;
    padding-left: 40px;
    padding-right: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.location-popup h2 img {
    margin-top: 10px;
}

.logo-img {
    width: 35%;
    margin-bottom: 25px;
}

.sign_in_btn {
    text-align: center;
    margin: 8px 0 0 0;
}

.SignBtn {
    background: #53b2e8;
    border: 1px solid #53b2e8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 50px;
    min-width: 205px;
    min-height: 55px;
    line-height: 55px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    margin: 0 auto;
    text-transform: capitalize;
    transition: 0.8s;
}

.SignBtn.cancel {
    background: transparent;
    border: 1px solid #53b2e8;
    color: #53b2e8;
    margin: 0 auto 0 16px;
}

.sign_in_btn button.SignBtn {
    margin-left: 20px;
}

.sub-categoriesfilterheader h2 span a.clear {
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.001em;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #494949;
    border: none !important;
    margin-bottom: 0px !important;
}
.sub-categoriesfilterheader h2 span button {
    background: #53b2e8;
    border-radius: 25.1946px;
    font-family: "poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
    border: 0px;
    padding: 10px 20px;
    margin-right: 20px;
}


/* new suggestion */

.similar-cate {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.similar-cate img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    min-height: 200px;
}

.similar-cate h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 18px;
    text-align: center;
    color: #494949;
    padding: 10px;
}

.suggested-result.suggested-text.in-built h3 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.005em;
    color: #494949;
    margin-bottom: 20px;
    margin-top: 10px;
}

.chip-set h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: 0.001em;
    color: #494949;
}

.chip-set h1 span {
    color: #53b2e8 !important;
}

.content-btn button.btn_style.save_btn.cursor {
    width: auto;
    padding: 0px;
    text-align: left;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 3px;
    margin-top: 5px;
}

.borderserach {
    border-top: 1px solid #e0e0e0;
}

.btn_style {
    width: auto;
    padding: 0px;
    line-height: 36px;
    background: #fff;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 20px;
    text-align: center;
    font-family: "poppins";
    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #53b2e8 !important;
    /* background-color: #53b2e8; */
    transition: 0.8s;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 10px 6px 0px;
}
.chip-set-bar-btn .btn_style .material-icons {
    font-size: 16px;
}
.chip-set-bar-btn .btn_style .mat-icon {
    height: 16px;
    width: 16px;
}
.chip-set-bar-btn .btn_style{
    display: inline-flex;
    align-items: center;
    column-gap: 10px;
    min-height: 30px;
    max-height: 30px;
}

.chip-set {
    padding: 20px;
    /* padding-left: 38px; */
    padding-bottom: 30px;
}

.clear-text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    letter-spacing: 0.001em;
    text-decoration-line: underline;
    color: #494949;
}


/* beta full */

.beta-fullbox h1 {
    font-family: "Poppins";
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #494949;
}

.beta-full {
    background: #ffffff;
    padding: 100px;
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
    position: fixed;
    z-index: 20;
    bottom: 0px;
    box-shadow: 0px 17px 25px 36px #ffff;
}

.beta-fullbox button {
    background-color: #53b2e8;
    border-color: #53b2e8;
    box-shadow: none;
    border-radius: 26px;
    font-weight: 600;
    font-size: 13px;
    color: #fff;
    border: 0px;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 30px;
}


/* exploring wondrfly */

div#Exploring-Wonderfly .modal-dialog {
    max-width: 700px!important;
}

div#Exploring-Wonderfly img.exploring-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#Exploring-Wonderfly .carousel-indicators li.active {
    background-color: #53b2e8;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

div#Exploring-Wonderfly .carousel-indicators li {
    border: 1px solid #53b2e8;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

div#Exploring-Wonderfly .carousel-caption {
    position: relative;
    right: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 60px;
    color: #494949;
    text-align: center;
}

div#Exploring-Wonderfly .got-newsletter h2.title {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 26px;
    line-height: 18px;
    color: #494949;
    margin-top: 60px;
}

div#Exploring-Wonderfly .got-newsletter p {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.001em;
    color: #494949;
    margin: 31px 0 0 0;
    word-spacing: 0.4px;
    margin-bottom: 20px;
}

div#Exploring-Wonderfly .got-newsletter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 400px;
}

div#Exploring-Wonderfly button.done-btn {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.001em;
    text-transform: capitalize;
    color: #53B2E8;
    border: 1px solid #53b2e8;
    background: transparent;
    padding: 10px;
    margin-top: 40px;
    border-radius: 26px;
    padding-left: 30px;
    padding-right: 30px;
}

div#Exploring-Wonderfly .modal-content .modal-tour img.tour-img2 {
    top: 15px;
    right: 15px;
    position: absolute;
    z-index: 1;
}

div#Exploring-Wonderfly .modal-content .modal-tour img.tour-img1 {
    top: 15px;
    left: 15px;
    position: absolute;
    z-index: 1;
}

div#Exploring-Wonderfly .modal-content {
    position: relative;
}

div#Exploring-Wonderfly .carousel-item h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.001em;
    color: #494949;
    text-align: center;
    margin-top: 60px;
}

/* .chip-set-bar {
    padding: 20px 36px 30px;
    margin-top: 10px;
} */


/* product tour */

::ng-deep .joyride-step__container {
    height: auto !important;
    color: #fff!important;
    background-color: #53B2E8!important;
    padding: 10px!important;
    box-shadow: none!important;
    border-radius: 6px;
}

::ng-deep .joyride-step__body {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.001em;
    color: #FFFFFF;
    padding: 7px 7px !important;
}

::ng-deep .joyride-arrow__top {
    border-bottom: 11px solid #53B2E8!important;
}

::ng-deep .joyride-arrow__right {
    border-left: 11px solid #53B2E8!important;
}

::ng-deep .joyride-step__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #FFFFFF!important;
}

::ng-deep button.joyride-button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 0px !important;
    line-height: 15px;
    letter-spacing: 0.001em;
    color: #53B2E8 !important;
    background: #fff !important;
    border-radius: 20px;
    padding: 3px!important;
    padding-left: 17px!important;
    padding-right: 47px!important;
    margin-top: 10px;
    border: none !important;
}

::ng-deep button.joyride-button:hover {
    border: none !important;
}

::ng-deep joy-close-button.joyride-step__close svg {
    display: none;
}

::ng-deep .joyride-step__header {
    padding-bottom: 0px!important;
}

::ng-deep .joyride-step__counter {
    display: none;
}

::ng-deep joyride-button.joyride-step__prev-button {
    display: none;
}

::ng-deep button.joyride-button:before {
    content: "Got it";
    position: absolute;
    font-size: 10px !important;
}

::ng-deep #joyride-step-firstStep .joyride-step__container {
    left: 36px;
}

::ng-deep .backdrop-target {
    display: none;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .activity .media-left {
        max-width: 200px;
        width: 200px;
        height: 200px;
        max-height: 200px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
    }
    .banner_form .form-group input.date_input {
        background: #efefef;
        border-radius: 30px;
        margin-left: 8px;
        max-width: 170px;
        min-width: auto;
        max-height: 53px;
        min-height: 53px;
    }
    .search-results {
        max-height: calc(100vh - -4px);
    }
    .main_collpases {
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 20px;
        padding: 20px 0 20px 0;
        z-index: 11;
        right: -42px;
        top: -24px;
        width: 255px;
        min-width: 176px;
        margin-top: 21px;
        text-align: left;
    }
    .banner_form .form-group input {
        min-height: 100%;
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 0 0px 0px 25px;
    }
    .star-daialogbox {
        left: -48px;
        width: 270px;
    }
    .search-results.suggested {
        max-height: calc(100vh - 248px) !important;
    }
    .search-results.suggested.suggested-one {
        max-height: calc(100vh - 300px) !important;
    }
    .banner_form .form-group input.camp_input {
        min-width: 200px;
    }
    .list p {
        font-weight: normal;
        font-size: 11px;
    }
    .partcategory {
        min-width: 950px !important;
        padding: 0px;
    }
    .search-location input {
        min-width: 115px;
    }
    .banner_form .form-group input.camp_input {
        max-width: 182px;
        min-width: 182px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .search-location:before {
        left: 43%;
    }
    .search-location {
        margin-left: 23px;
    }
    .search-location input {
        min-width: 200px;
    }
    .banner_form .form-group input.camp_input {
        min-width: 190px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1023px) {
    .activity .media-left {
        max-width: 200px;
    }
    .banner_form .form-group input.camp_input {
        min-width: 130px;
    }
    .search-location:before {
        left: 44%;
    }
    .search-location input {
        min-width: 200px;
    }
    .star-daialogbox {
        width: 330px;
    }
    .main_collpases {
        top: -24px;
        width: 230px;
        min-width: 230px;
    }
    .partcategory {
        min-width: 840px !important;
        padding: 0px;
    }
    .partcategory {
        min-width: 850px !important;
    }
    .activity .media-body h2 {
        font-size: 14px;
    }
    .star-daialogbox {
        width: 230px;
    }
    .activity .media-left {
        height: 170px;
        max-height: 200px;
    }
    .list p {
        font-weight: normal;
        font-size: 12px;
    }
    .similar-cate img {
        width: 100%;
        height: 120px;
    }
}

/* width */
.search-results::-webkit-scrollbar {width: 8px;}
/* Track */
.search-results::-webkit-scrollbar-track {box-shadow: inset 0 0 5px #beb4b4;border-radius: 10px;}
/* Handle */
.search-results::-webkit-scrollbar-thumb {background: #53b2e8;border-radius: 10px;}

::-webkit-scrollbar {
    display: none;
}
/* search-left-bar-css */
.media-top-content-info .left-icon-h2 h2 {font-family: 'Poppins';font-style: normal;font-weight: 600;
    font-size: 16px;line-height: 24px;letter-spacing: 0.001em;color: #494949;text-transform: capitalize;}
.media-top-content-info {position: relative;display: grid;grid-template-columns: auto 70px;column-gap: 5px;
    align-items: center;margin-bottom: 15px;}
.media-full-row-info{grid-template-columns: 100%!important;}
.align-items-center{align-items: center;}
.map-with-heading-h2{width: 100%;}
.map-without-page-info .media-top-txt-div .left-icon-h2 {width: 100%;max-width: 380px;}
.justify-content-right{justify-content: right;}
.mt-0{margin-bottom:0px!important;}
/* .media-top-txt-div {
    display: grid;
    -moz-column-gap: 10px;
    column-gap: 10px;
    align-items: center;
    grid-template-columns: 30px 235px 76px auto;
} */

.review-starsearch-info {padding-left: 10px;}
ul.ul-tag-share_icon {margin: 0px;padding: 0px;list-style: none;text-align: right;}
ul.ul-tag-share_icon li {display: inline-block;padding-right: 8px;margin-bottom: 8px;}
ul.ul-tag-share_icon li:last-child {padding-right: 0px!important;}
.loc-txt-search img {max-width: 9px;margin-right: 5px;}

.loc-txt-search a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.005em;
    /* text-decoration-line: underline; */
    color: #53B2E8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    overflow: hidden;
}

.media-scroable .media.activity .media-left.activity-imgs,
.media-scroable .media.activity .media-body .share_icon,
.media-scroable .media.activity .media-body .list.col-12.mt-2.mb-1,
.media-scroable .media.activity .media-body .rating-starsearch,
.media-scroable .media.activity .media-body .coding_text,
.display-none {
    display: none;
}
.media-scroable .media.activity .media-body {border: 2px solid transparent; background: #FFFFFF;box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);position: relative;border-radius: 20px;min-height: 205px;height: 100%;margin-right: 5px;margin-left: 5px;}
.media-scroable .media.activity .media-body:hover{
    border: 2px solid #53B2E8;
    filter: drop-shadow(0px 4px 8px rgba(83, 178, 232, 0.46));   
}
.media-scroable .media.activity .media-body h2 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;align-items: center;letter-spacing: 0.001em;color: #53B2E8;max-width: 100%;display: -webkit-box;min-height: 45px;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;text-transform: capitalize;}
.media-right-icon-h2 {display: grid;
    /* grid-template-columns: auto 50px; */
    margin-bottom: 10px; 
    /* align-items: center;height: 50px; */
 }
 .media-scroable .media.activity .media-body .media-right-icon-h2 {
    padding: 13px 14px 13px;
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #99d1f0;
    border-radius: 20px 20px 0px 0px;
}
.media-scroable .media.activity .media-body .list_outer {
    padding: 0px 15px 10px;
}

.left-icon-box-media {display: grid;grid-template-columns: 15px auto;align-items: center;column-gap: 5px;margin-bottom: 4px;}
.left-icon-box-media p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;color: #494949;padding-top: 2px;}
/* .media-scroable {display: grid;grid-template-columns: 1fr 1fr 1fr;column-gap: 10px;} */


.btn-hide-up-info {position: absolute;z-index: 1;top: 32px;left: 20px;}
img.gis-map-icon {padding-right: 5px;}
img.right-arrow-icon {padding-left: 18px;}
button.btn-show-map img.right-arrow-icon {
  transform: rotate(180deg);
  padding-right: 18px;
  padding-left: 0px;
}
button.btn-hide-up {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #53B2E8;border: 1px solid #53B2E8;box-sizing: border-box;border-radius: 10px;background: #FFFFFF;padding: 9px 19px;display: flex;align-items: center;text-align: center;}

.map-search-checkbox-field {display: block;position: relative;padding-left: 20px;cursor: pointer;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 12px;line-height: 18px;color: #494949;}
.map-search-checkbox-field input {cursor: pointer;display: none;}
.map-search-checkbox-field .checkmark {position: absolute;top: 2px;left: 0;height: 15px;width: 15px;padding: 6.5px;display: inline-block;vertical-align: middle;cursor: pointer;border: 1px solid #53B2E8;box-sizing: border-box;border-radius: 3px;}
.map-search-checkbox-field .checkmark:after {content: "";position: absolute;display: none;}
.map-search-checkbox-field input:checked ~ .checkmark:after {display: block;}
.map-search-checkbox-field input:checked ~ .checkmark{background: #53B2E8;}
.map-search-checkbox-field .checkmark:after {position: absolute;top: 1.5px;left: 5px;width: 4px;height: 8px;border: solid #fff;border-width: 0 1.5px 1.5px 0;transform: rotate(45deg);}
.map-search-info {position: absolute;z-index: 1;background: #FFFFFF;border: 1px solid #E5E9EC;box-sizing: border-box;border-radius: 4px;padding: 5px 10px;left: 0;top: 14px;right: 0;max-width: 200px;margin: 0px auto;text-align: center;}

/* slider arrow css */
.map-carousel-slider {
    position: relative;
    /* padding-bottom: 20px; */
}
.map-carousel-slider .left-resourcebtn .carousel-nav-icon,
.map-carousel-slider .right-resourcebtn .carousel-nav-icon {
    height: 40px;
    width: 40px;
    background: #fff;
    border: 1px solid #ededed;
    box-sizing: border-box;
    color: #494949;
    border-radius: 50%;
    top: 34%;
    position: absolute;
    display: flex;
    align-items: center;
}
.map-carousel-slider .left-resourcebtn .carousel-nav-icon {left: -18px;}
.map-carousel-slider .right-resourcebtn .carousel-nav-icon {right: -18px;}
.map-carousel-slider .left-resourcebtn .carousel-nav-icon svg,
.map-carousel-slider .right-resourcebtn .carousel-nav-icon svg  {
    cursor: pointer;
    width: 15px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    display: flex;
    align-items: center;
}
.map-carousel-slider .left-resourcebtn .carousel-nav-icon svg {
    transform: rotate(180deg);
    filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.map-carousel-slider .right-resourcebtn .carousel-nav-icon svg {
    filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
    -webkit-filter: invert(68%) sepia(8%) saturate(3771%) hue-rotate(170deg) brightness(96%) contrast(88%);
}
/* end slider arrow css */
.media-scroable {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}
.media-scroable .media.activity {
    min-width: 220px;
    max-width: 220px;
    border: 0px;
    margin: 0px;
    padding-bottom: 15px;
}
.show-all-program-btn {
    margin-top: 20px;
}
.btn-show-all-program {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    text-decoration-line: underline;
    color: #53B2E8;
    display: block;
    text-align: center;
}
.btn-view-less {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    text-decoration-line: underline;
    color: #53B2E8;cursor: pointer;
}
.search-results-section {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
    border-radius: 20px;
    padding: 20px 20px 5px;
    border: 1px solid #fff;
    margin-bottom: 27px;
}
.search-results-section:hover {
    background: #E9F7FF;
    border: 1px solid #53B2E8;
}
.text-right{text-align: right;}
/* end search-left-bar-css */
.format-collapse-info .k-checkbox:checked::before {
    transform: scale(0) translate(-50%, -50%)!important;
}
.active-scroll-marker{
    background: #E9F7FF;
    border: 1px solid #53B2E8;
    box-shadow: 0px 4px 10px rgb(0 0 0 / 20%);
    border-radius: 20px;
    padding: 20px 20px 5px;
    margin-bottom: 13px;
}

/* Start without map  */
.map-without-section-info {
    border-bottom: 1px solid #E5E9EC;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}
.map-without-top-section-info {
    position: relative;
    padding: 20px 40px 26px 40px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 40px;
}
.map-without-heading h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #494949;
    opacity: 0.7;
    margin-bottom: 0px;
}
.map-without-heading h2 .span-h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #494949;
    opacity: 0.7;
    margin-bottom: 0px;
}
.map-without-heading h2 a{text-decoration-line: underline;color: #53B2E8;}
.btn-show-map {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #53B2E8;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 9px 19px;
    display: flex;
    align-items: center;
    text-align: center;
}
.map-without-top-section-info .align-items-center {align-items: center;}
.btn-show-map-right button.btn-show-map {
    margin-left: auto;
    margin-right: 24px;
}

.map-without-page-info .map-without-slider-info .media.activity {min-width: 220px;}


/* End without map  */

/* footer css start  */

footer {
    padding-bottom: 26px;
  }
  
  .footer_inner {
    padding: 20px 0px;
    background-color: #ffffff;
  }
  
  .footer_logo {
    display: inline-block;
    width: 100%;
  }
  
  .footer_logo a img {
    max-width: 78px;
  }
  
  .footer_menu {
    display: inline-block;
    width: 100%;
  }
  
  .footer_menu ul {
    margin-top: 7px;
  }
  
  .footer_menu ul li {
    display: inline-block;
    margin: 0 27px 0 0;
  }
  
  .footer_menu ul a {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #494949;
    margin-left: 25px;
  }
  
  .footer_menu ul a:hover {
    color: #53b2e8;
  }
  
  .copyright_text {
    margin-top: 35px;
    clear: both;
  }
  
  .copyright_text p {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin: 0;
    color: #494949;
    margin-left: 25px;
  }
  
  ul,
  li,
  a {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  .footer-icons a {
    margin-left: 12px;
  }
  .footer-icons {
    float: right;
    margin-top: -10px;
  }
  
  .footer-icons a.fb:hover img {
    filter: invert(38%) sepia(7%) saturate(4607%) hue-rotate(182deg)
      brightness(96%) contrast(86%);
  }
  .footer-icons a.insta:hover img {
    filter: invert(31%) sepia(100%) saturate(1050%) hue-rotate(308deg)
      brightness(88%) contrast(103%);
  }
  .footer-icons a.tweet:hover img {
    filter: invert(47%) sepia(92%) saturate(1449%) hue-rotate(176deg)
      brightness(99%) contrast(91%);
  }
  .footer-icons a.pin:hover img {
    filter: invert(14%) sepia(71%) saturate(5505%) hue-rotate(342deg)
      brightness(91%) contrast(115%);
  }
  .footer-icons a.link:hover img {
    filter: invert(33%) sepia(47%) saturate(2010%) hue-rotate(173deg)
      brightness(94%) contrast(101%);
  }
/* footer css end   */

.left-icon-img img{
    width: 100%;
    max-width: 5em;
}
.btn-search-boxs-bt {
    position: absolute;
    bottom: -2px;
    right: -2px;
}
.btn-search-boxs-bt button{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.001em;
    border-radius: 20px 0px 20px 0px;
    border: none;
    padding: 3px 5px;
    width: 100px;
    display: inline-block;
}

.loc-without-online, .drop-in-btn-bt,
.classes-btn-bt {color: #777CEA;background: rgba(119, 124, 234, 0.19);}
.camp-btn-bt{color: #F4722A;background: rgba(249, 153, 100, 0.35);}
.semester-btn-bt{color: #FA627D;background: #FFE2E8;}
.private-btn-bt{background: #DCF3FF;color: #53B2E8;}

/* tooltip css   */
.tooltip-div {
    position: relative;
}
.tooltip-div .tooltip-text {
    visibility: hidden;
    width: 180px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 46px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #494949;
    letter-spacing: 0.001em;
    background: #EFEFEF;
    border-radius: 6px;
    padding: 9px 10px;
}
  .tooltip-div .tooltip-text::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 19px;
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent #EFEFEF transparent;
  }
  .tooltip-div:hover .tooltip-text {
    visibility: visible;
  }
  .tooltip-div.map-h2-tooltip .tooltip-text {
    left: 0!important;
    top: 100%!important;
}
.tooltip-div.map-h2-tooltip h2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}
.max-width-400{position: relative;max-width: 400px;}

.save-act-tooltip span.tooltip-text {
    width: 190px!Important;
    left: -132px!important;
    top: 35px !important;
    z-index: 11111111111!important;
    background: #E2F5FF !important;
    color: #53B2E8!important;
    font-size: 14px !important;
    line-height: 24px !important;
}
.save-act-tooltip .tooltip-text::after {
    left: unset!important;
    right: 15px;
    border-color: transparent transparent #E2F5FF transparent!important;
}
/* end css reviews-filter-info */

::ng-deep #ageGroup .collpase_content .ngx-slider-span.ngx-slider-bubble,
::ng-deep #priceGroup .collpase_content .ngx-slider-span.ngx-slider-bubble {
    font-family: "Poppins" !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    letter-spacing: 0.02em;
    color: #494949;
    text-transform: capitalize;
    top: 16px !important;
}

/* New Search page css */
.align-right{text-align: right;}
.mt-8px {margin-top: 8px;}
hr.bt-hr-line-gry {border: 1px solid #E0E0E0;background-color: #E0E0E0;width: 100%;margin: 14px 0px;}

.search-topbar-btn-info {display:flex; margin-top: 25px;margin-bottom: 10px;padding: 0px 35px}
button.search-topbar-btn {font-family: 'Poppins';font-style: normal;font-weight: 500;margin-right: 10px; font-size: 14px;line-height: 21px;color: #494949;border: 1px solid #777CEA;border-radius: 30px;background: #FFFFFF;padding: 5px 19px;display: flex;column-gap: 6px;align-items: center;justify-content: center;height: 40px;margin-bottom: 10px;flex: 0 0 auto;}
button.search-topbar-btn img {width: 100%;max-width: 25px;margin-right: 5px;}
button.search-topbar-btn.active-tags {background-color: #777CEA;color: #fff; }

button.search-topbar-org-btn.active-tags {background-color: #F99964;color: #fff; }
button.search-topbar-org-btn {font-family: 'Poppins';font-style: normal;font-weight: 500;margin-right: 10px;font-size: 14px;line-height: 21px;color: #494949;border: 1px solid #F99964;border-radius: 30px;background: #FFFFFF;padding: 5px 19px;display: flex;-moz-column-gap: 6px;column-gap: 6px;align-items: center;justify-content: center; height: 42px;margin-bottom: 10px;flex: 0 0 auto;}
.online-text-clm p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;margin-bottom: 4px;}
.btn-share-search, .btn-save-search {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #53B2E8;
    border: 1px solid #53B2E8;
    border-radius: 20px;
    background: #FFFFFF;
    padding: 6px 15px!important;
}
.btn-share-search:hover, .btn-save-search:hover {color: #53B2E8;}
.search-sidebar-left{padding: 10px 15px 0px 0px;position: sticky;top: 80px;z-index: 1;}
.search-sidebar-left-info {padding: 15px;padding-bottom: 50px;background: #FFFFFF;border-radius: 20px 20px 0px 0px;box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);}
.btn-unsave-search {background: #53B2E8 !important;color: #fff!important;}
.map-h2-with-reviews {display: flex;column-gap: 5px;}
.min-width-105{min-width: 105px;}
.pl-30px{padding-left: 30px;}
/* categories filter info */
.categories-filtercontent .sub-categoriesfiltercontent .sub-categroes-colm {display: flex;flex-direction: column;justify-content: flex-start;flex-wrap: wrap;max-height: 285px;}

.categories-filter-info .cat-filter-h2 {display: flex;justify-content: space-between;}
.clear-all-filter-link a {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;text-decoration-line: underline !important;color: #53B2E8;cursor: pointer;}
.categories-filter-info .cat-filter-h2 h2 {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 18px;line-height: 24px;color: #494949;margin-bottom: 10px;}
.categories-filtercontent h3 {position: relative;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #494949;cursor: pointer;padding-right: 15px;margin-bottom: 10px;}
.categories-filtercontent h3.active {color: #53B2E8;}
.categories-filtercontent h3 img.toggle-down-up-icon {position: absolute;right: 0;top: 8px;}
/* .categories-filtercontent h3 img.toggle-up-icon {display: none;} */
.categories-filtercontent h3.active img.toggle-up-icon {display: block;}
.sub-categoriesfiltercontent label {display: flex;column-gap: 5px;align-items: center;margin-bottom: 10px;}
.sub-categoriesfiltercontent span:last-child {margin-left: 5px;}
.sub-categoriesfiltercontent h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;
    line-height: 18px;letter-spacing: 0.001em;color: #000;margin-bottom: 0px;}

/* checkbox blue design css */
.k-checkbox {border-radius: 1px;margin: 0;padding: 0;width: 14px;height: 14px;
    line-height: initial;border: 1px solid #494949;outline: 0;box-sizing: border-box;
    display: inline-block;vertical-align: middle;position: relative;-webkit-appearance: none;cursor: pointer;}
.k-checkbox::before {width: 14px;height: 14px;font-size: 12px;line-height: 1;
    -webkit-transform: scale(0) translate(-50%, -50%);-ms-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);overflow: hidden;position: absolute;top: 6px;
    left: 6px;content: "\2713";font-family: "poppins";display: flex;align-items: center;justify-content: center;}
.k-checkbox.k-checked::before,
.k-checkbox:checked::before {border-radius: 1px;-webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);transform: scale(1) translate(-50%, -50%);}
.categories-checkbox::before {content: " " !important;}
.checkbox-checked-name {color: #53b2e8 !important;}

/* Age filter info css */
.filter-h3-info {position: relative;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 14px;line-height: 21px;color: #494949;cursor: pointer;padding-right: 15px;margin-bottom: 15px;}
.filter-h3-info img.toggle-down-up-icon {position: absolute;right: 0;top: 8px;}

.categories-filtercontent .filter-h3-info.active img.toggle-down-icon {display: none;}
.categories-filtercontent .filter-h3-info img.toggle-up-icon {display: none;}
.categories-filtercontent .filter-h3-info.active img.toggle-up-icon{display: block;}

.filter-h3-info[aria-expanded="true"] img.toggle-down-icon {display: none;}
.filter-h3-info img.toggle-up-icon{display: none;}
.filter-h3-info[aria-expanded="true"] img.toggle-up-icon{display: block;}

.age-filter-info #ageGroup {padding-top: 5px;}
.age-filter-info .collpase_content .form-group {margin-bottom: 0;}

/* Type filter info css */
.type-filter-info .form-group-type label.k-checkbox-label {font-family: 'Poppins';font-style: normal;
    font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;}
#typess .typess-flex {display: flex;align-items: center;margin-bottom: 10px;column-gap: 9px;}
.type-filter-info .k-checkbox:checked::before{content: " "!important;}

/* Dated & Days filter info css */
.datedays-filter-info .form-group-datedays label.k-checkbox-label {font-family: 'Poppins';font-style: normal;
    font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949; text-transform: capitalize; }
#datedays .datedays-flex {display: flex;align-items: center;margin-bottom: 10px;column-gap: 5px;}
.datedays-field {position: relative;margin-bottom: 15px;}
.datedays-weeklist-info {height: 130px;display: flex;flex-direction: column;flex-wrap: wrap;column-gap: 10px;padding: 0px 20px;}
.datedays-field input {background: #FFFFFF;border: 1.25973px solid #C4C4C4;border-radius: 25.1946px;
    font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;width: 100%;padding: 6px 15px;}
.datedays-filter-info .calender-botoombox {border-top: unset;}
.datedays-filter-info .datedays-field img.calendar-icon-field {position: absolute;right: 15px;top: 11px;}
    

/* Time filter info css */
.time-filter-info .form-group-timess label.k-checkbox-label {font-family: 'Poppins';font-style: normal;
    font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;text-transform: capitalize;}
#timess .timess-flex {display: flex;align-items: center;margin-bottom: 10px;column-gap: 9px;}    

/* Format filter info css */
.format-filter-info .form-group-format label.k-checkbox-label {font-family: 'Poppins';font-style: normal;
    font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;text-transform: capitalize;}
#format .format-flex {display: flex;align-items: center;margin-bottom: 10px;column-gap: 9px;}    
.format-filter-info form.format-grid {display: grid;grid-template-columns: 50% 50%;column-gap: 5px;}

/* PriceGroup filter info css */
#priceGroup {padding-top: 5px;}
.price-filter-info h3 span.price-per-hr-txt {font-family: "poppins";font-style: normal;font-weight: 500;font-size: 12px;line-height: 18px;letter-spacing: 0.02em;color: #C1C1C1;text-transform: lowercase;}

/* Reviews filter info css */
.reviews-filter-grid {display: flex;column-gap: 6px;margin-bottom: 10px;}
.review-input-checkbox {border-radius: 1px;width: 14px;height: 14px;border: 1px solid #494949;
    background-color: #fff;outline: 0;box-sizing: border-box;display: inline-block;
    vertical-align: middle;position: relative;-webkit-appearance: none;cursor: pointer;}
.review-input-checkbox:checked {background: #53b2e8;border-color: transparent;color: #fff;}
.review-input-checkbox::before{width: 12px;height: 12px;font-size: 12px;
    line-height: 1;transform: scale(0) translate(-50%, -50%);overflow: hidden;
    position: absolute;top: 7px;left: 7px;content: "\2713";font-family: "poppins";}
.review-input-checkbox:checked::before {border-radius: 1px;transform: scale(1) translate(-50%, -50%);}
.reviews-filter-box .reviews-filter-star span.ratingstar-kids {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;text-transform: lowercase;margin-top: 0px !important;margin-left: 6px;}

/* Child Drop Off filter css */
.child-drop-off-filter-info .top-rateds {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;}
.switch1 input {opacity: 0;width: 0;height: 0;}
.switch1 {position: relative;display: inline-block;width: 40px;height: 20px;line-height: 19px;margin-right: 10px;}
.slider1 {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: 0.4s;transition: 0.4s;border-radius: 34px;}
.slider1:before {position: absolute;content: "";width: 14px;height: 14px;left: 3px;bottom: 3px;border-radius: 50%;background-color: #fff;transition: 0.4s;}
.switch1 input:checked+.slider1 {background: #53b2e8;}
.switch1 input:checked+.slider1:before {transform: translatex(19px);}
.switch1 input:focus+.slider1 {box-shadow: 0 0 1px #53b2e8;}
/* End New Search page css */

/* Duration filter css */
.duration-weeklist-info {
    height: 95px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    -moz-column-gap: 10px;
    column-gap: 10px;
    padding: 0px 20px;
}
.duration-weeklist-info .duration-flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    -moz-column-gap: 5px;
    column-gap: 5px;
}
.duration-weeklist-info label.k-checkbox-label {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
    text-transform: capitalize;
}
/* End New Search page css */

.col-12.paginator_div {
    text-align: center;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

 ::ng-deep.drag-scroll-content {
    overflow: hidden !important;
}

/* start age 24month field css */
button.btn-24month {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: lowercase;color: #494949;background: #FFFFFF;border: 1px solid #EBEBEB;border-radius: 2px;width: 100%;display: block;padding: 5px 5px;margin-bottom: 15px;}
.btns-month-cnt, .btns-age-number-cnt {margin: auto;display: flex;position: relative;flex-flow: row wrap;column-gap: 10px;}
button.btn-age-month {flex: 1;width: 100%;height: 30px;margin-bottom: 10px;max-width: 143px;min-width: 100px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: lowercase;color: #494949;border: 1px solid #EBEBEB;border-radius: 2px;background-color: #fff;}
button.btn-age-month:hover, button.btn-age-month.active,
button.btn-age-number:hover, button.btn-age-number.active {background-color: #53B2E8;color: #fff;}
button.btn-age-number {flex: 1;height: 30px;margin-bottom: 10px;max-width: 54px;min-width: 50px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;text-transform: lowercase;color: #494949;border: 1px solid #EBEBEB;border-radius: 2px;background-color: #fff;}
button.btn-24month:hover, button.btn-24month.active {background-color: #53B2E8;color: #fff;}
/* end age 24month field css */


.sidebar-title-h3 {background: #F5F5F5;border-radius: 4px;cursor: pointer;padding: 8px 14px;margin-bottom: 10px;}
.sidebar-title-h3 h3 {position: relative;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 21px;color: #494949;padding-right: 15px;}
.sidebar-title-h3 img {position: absolute;right: 7px;top: 50%;transform: translate(50%, -50%);}
.sidebar-title-h3 span.count-list-box {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;color: #FFFFFF;background: #53B2E8;border: 1px solid #53B2E8;width: 24px;height: 24px;text-align: center;border-radius: 100px;display: inline-block;padding: 1.5px 0px;margin-left: 5px;}
.see-all-btn-info {margin-top: 10px;}
button.see-all-filter-btn {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #53B2E8;border: 1px solid #53B2E8;border-radius: 20px;background-color: #fff; padding: 4px 20px;margin-bottom: 20px;}
.child-drop-off-filter-info a span {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;}
.clr-black{color: #494949 !important;}
.mt-20px{margin-top: 20px!important;}
.mb-20px{margin-bottom: 20px;}
.mb-10px{margin-bottom: 10px;}
.circle-dot-checkbox input.k-checkbox {border: 0px;outline: 1px solid #494949 !important;border-radius: 50px;}
.circle-dot-checkbox .k-checkbox:checked{border-radius: 50px;outline: 1px solid #53B2E8 !important;border: 2px solid #fff;}
.free-class-info .k-checkbox:checked::before {transform: scale(0) translate(-50%, -50%)!important;}
.free-class-info span {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;}
.input-field-price {width: 100%;display: block;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.02em;text-transform: capitalize;color: #ADADAD;padding: 5px 10px 5px 20px;border: 1px solid #C1C1C1;border-radius: 4px;}
.price-filter-gird {display: grid;grid-template-columns: 80px 20px 80px;align-items: center;text-align: center;}

.btn-sortby-right button.btn-sortby {margin-left: auto;margin-right: 24px;}
button.btn-sortby {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;border: 1px solid #494949;box-sizing: border-box;border-radius: 20px;
background: #FFFFFF;padding: 4px 19px;display: flex;align-items: center;text-align: center;column-gap: 10px;}

.btn-filter-left {margin-left: 10px;}
.display-flex-20 {display: flex;column-gap: 20px;align-items: center;}
button.btn-filter {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #53B2E8;border: 1px solid #53B2E8;box-sizing: border-box;border-radius: 30px;
background: #FFFFFF;padding: 4px 18px;display: flex;align-items: center;text-align: center;column-gap: 5px;}
.align-items-center{align-items: center;}

ul.sortby-filter-btns {background: #FFFFFF;box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);border-radius: 12px;position: absolute;right: 25px;z-index: 11;max-width: 200px;width: 100%;list-style: none;padding: 0;margin: 0;margin-top: 10px;text-decoration: none;}
ul.sortby-filter-btns li {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.001em;color: #494949;padding: 14px 20px;border-bottom: 1px solid #E0E0E0;cursor: pointer;}
ul.sortby-filter-btns li:hover, ul.sortby-filter-btns li.active {color: #53B2E8;}
ul.sortby-filter-btns li:last-child {border-color: transparent;}
ul.ul-results-btns {list-style: none;padding: 0;margin: 0;text-decoration: none;text-align: center;}
ul.ul-results-btns li {display: inline-block;margin-right: 6px;margin-bottom: 6px;}
.search-results-btn {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #777CEA;border: 1px solid #777CEA;border-radius: 20px;background: #FFFFFF;padding: 4px 10px;cursor: unset;}
.search-results-btns-info {position: absolute;left: 0;right: 0;top: -14px;}
.clr-online-pink{color: #FA627D !important;}
.mt-10px{margin-top: 10px;}
.apply-btn-price {background: #53b2e8;box-sizing: border-box;border-radius: 25.1946px;padding: 5px;border: 1px solid #53b2e8;color: #fff;min-height: 25px;min-width: 60px;font-size: 10px;font-weight: 600;text-transform: capitalize;}

.price-field-group {
    position: relative;
}
span.doller-sign-icon {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    position: absolute;
    left: 9px;
    top: 6px;
    color: #ADADAD;
}
.day-txt-width{
    text-transform: capitalize;
    max-width: 154px;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Search page fooer */
/* ::ng-deep footer {
    display: none;
} */
/* .search-page-footer ::ng-deep footer {
    display: block;
}
.search-page-footer {position: relative;padding: 0px 40px;}
.search-page-footer ::ng-deep .footer_menu {display: block;width: 100%;margin-bottom: 32px;}
.search-page-footer ::ng-deep .footer-icons {float: right;margin: 0px;width: 50%;text-align: right;}
.search-page-footer ::ng-deep .copyright_text {float: left;width: 50%;clear: unset;margin-top: 0px;} */
/* end Search page fooer */