<!-- <div class="beta-full" *ngIf="isBetaPopUp && !isLogin">
  <div class="beta-fullbox">
    <h1>
      Wondrfly Is Currently In Beta. Join Our Exclusive
      Beta Program To Experience More!
    </h1>
    <button [routerLink]="['/join-the-beta']">Join Beta Program</button>
  </div>
</div> -->
<section class="main_outer common-headermargin">
  <div class="search_activity">
    <div class="row row-0">
      <div class="col-md-12">

        <div class="search-topbar-btn-info">
          <button class="search-topbar-org-btn" *ngFor="let child of children | slice:0:5;let i = index"
            (click)="searchBySubChild(child)" [class.active-tags]="filter.activeKid===child.id">Just
            for
            {{child.name.split(" ")[0]}}</button>
          <!-- <button class="search-topbar-org-btn" (click)="doTogather(blogByCategory)">Together activities</button> -->
        </div>
        <!-- <drag-scroll class="search-topbar-btn-info" #nav [scroll-x-wheel-enabled]="true">
          <button class="search-topbar-btn" [class.active-tags]="topCategoryCheckActiveFilter(tag)"
            *ngFor="let tag of topSubCategories | slice:0:15;let i = index" (click)="topCategoryChange(i)"
            drag-scroll-item><img [src]="baseUrl+tag?.icon" />{{tag.name}}</button>
        </drag-scroll> -->
      </div>
    </div>
    <div class="row row-0" style="display: none;">
      <div class="col-md-12">
        <div class="search-filterss">
          <div class="category_list" id="accordionExample">
            <ul>
              <li class="cursor">
                <a [ngClass]="{ active: filter.dateValue}" aria-expanded="true" data-target="#date"
                  data-toggle="collapse">Dates</a>
                <div class="
                    collapse
                    main_collpase
                    verification_modal
                    date-rangecal
                  " id="date" data-parent="#accordionExample">
                  <ngx-daterangepicker-material (choosedDate)="choosedDate($event)" [minDate]="minDate"
                    [autoApply]="true">
                  </ngx-daterangepicker-material>

                  <div class="calender-botoombox">
                    <div class="calender-daterange">
                      <div class="calender-daterange1" *ngIf="fromDate">
                        {{ fromDate | date: "shortDate" }}
                      </div>
                      <img *ngIf="toDate" src="assets/calenderarrows.svg" />
                      <div class="calender-daterange2" *ngIf="toDate">
                        {{ toDate | date: "shortDate" }}
                      </div>
                    </div>
                    <div class="calender-buttons">
                      <button class="calender-buttons1" data-target="#date" data-toggle="collapse">
                        cancel
                      </button>
                      <button class="calender-buttons2" data-target="#date" data-toggle="collapse"
                        (click)="filter.dateValue=true;setFilterQuery('date')">
                        Apply
                      </button>
                    </div>
                  </div>
                </div>
              </li>

              <li class="cursor">
                <a aria-expanded="true" [ngClass]="{ active: filter.dayValue }" data-target="#Dayss"
                  data-toggle="collapse">Days</a>
                <div class="collapse main_collpase typess verification_modal" id="Dayss"
                  data-parent="#accordionExample">
                  <div class="collpase_content">
                    <div class="form-group typess">
                      <div class="input_outer">
                        <h1>Select Days</h1>
                        <form action="">
                          <div class="typess-flex" *ngFor="let day of weekDays; let i = index">
                            <input type="checkbox" class="k-checkbox" #days name="Days" [checked]="day.isSelected"
                              (change)="onDayChange(i,day.name, $event.target.checked)" value="{{day}}">
                            <label for="Days1"
                              class="k-checkbox-label">{{day.name.charAt(0)+day.name.charAt(1)+day.name.charAt(2)}}</label>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="submit_btn">
                      <button (click)="filter.dayValue=false;clearProgramDays()" type="button"
                        aria-controls="collapseExample" aria-expanded="true" data-target="#Dayss" data-toggle="collapse"
                        class="cancel_btn">
                        Clear
                      </button>
                      <button (click)="setFilterQuery('day')" search-results.scrollTop="0" data-target="#Dayss"
                        data-toggle="collapse" class="submitBtn">
                        Apply
                      </button>
                    </div>

                  </div>
                </div>
              </li>
              <!-- <li class="cursor">
                                <a aria-expanded="true"(click)="isTopFilterCheckBox=!isTopFilterCheckBox;setFilterQuery('rating')" [ngClass]="{ active:isTopFilterCheckBox}" aria-expanded="true"
                                    data-target="#Rating" data-toggle="collapse">Top Rated</a>
                              
                            </li> -->
            </ul>
          </div>
        </div>
      </div>
      <!-- 
            <div class="col-md-4 toggle-border">
                <div class="toggle-filtersearch">
                    <button [class.active]="isOnline"
                        (click)="(isOnline?isOnline=false:isOnline=true);(isInPerson?isInPerson=false:false);programFilter()"
                        class="btn1-filtersearch">
                        Online
                    </button>
                    <button [class.active]="isInPerson"
                        (click)="(isInPerson?isInPerson=false:isInPerson=true);(isOnline?isOnline=false:false);programFilter()"
                        class="btn2-filtersearch">
                        In person
                    </button>
                </div>
            </div> -->
    </div>

    <!-- start providerprogram list  -->
    <div class="row row-0 pl-30px">
      <aside class="col-md-3" *ngIf="!isHideFilter">
        <div class="search-sidebar-left">
          <div class="search-sidebar-left-info">
            <div class="categories-filter-info">
              <div class="cat-filter-h2">
                <h2 class="cursor" (click)="isHideFilter=!isHideFilter"><img src="/assets/hide-filter-icon.png"
                    data-toggle="tooltip" data-placement="bottom" title="Hide Filter" />
                  Filter</h2>
                <div class="clear-all-filter-link" *ngIf="showReset">
                  <a (click)="resetFilter()">Reset</a>
                </div>
              </div>
              <div id="category">
                <div class="container">
                  <!-- Categories filter info -->
                  <div class="row">
                    <div class="col-12 mb-10px">
                      <div class="sidebar-title-h3">
                        <h3 aria-controls="collapseExample" (click)="filterIcon.intrestIcon=!filterIcon.intrestIcon"
                          aria-expanded="true" data-target="#interests_box" data-toggle="collapse">Interests <span
                            class="count-list-box"
                            *ngIf="selectedSubCategories?.length>0">{{selectedSubCategories?.length}}</span>
                          <img src="assets/minus-black-icon.png" [hidden]="!filterIcon.intrestIcon" />
                          <img src="assets/plus-black-icon.png" [hidden]="filterIcon.intrestIcon" />
                        </h3>
                      </div>
                    </div>
                    <div class="col-12 categories-filtercontent show" id="interests_box"
                      data-parent="#accordionExample">
                      <div *ngFor="let cat of categories;let i = index">
                        <h3 [ngClass]="{ active: categoryCheckActiveFilter(cat.id) }">
                          <span (click)="onProgramsCategoryChange(i)">{{ cat?.name }}</span>
                          <span (click)="cat.collapsed=true">
                            <img *ngIf="!cat.collapsed" class="toggle-down-up-icon toggle-down-icon"
                              src="assets/down-icon-black.svg" aria-controls="collapseExample" aria-expanded="true"
                              data-toggle="collapse" />
                          </span>
                          <span (click)="cat.collapsed=false">
                            <img *ngIf="cat.collapsed" class="toggle-down-up-icon toggle-up-icon"
                              src="assets/up-icon-black.svg" aria-controls="collapseExample" aria-expanded="true"
                              data-toggle="collapse" />
                          </span>
                        </h3>
                        <div class="sub-categoriesfiltercontent"
                          [ngClass]="{'collapsed':categoryCheckActiveColappsedFilter(cat),'collapse':!cat.collapsed}">
                          <div class="sub-categroes-colm">
                            <label class="cursor" for="categories{{i}}">
                              <input type="checkbox" class="k-checkbox categories-checkbox" id="categories{{i}}"
                                name="categoriescheck" value="All" [checked]="allSubCategoriesActiveCheck(i)" (change)="allSubCategoryChange(i,$event)
                                    " />
                              <h3 [class.checkbox-checked-name]="allSubCategoriesActiveCheck(i)">
                                All
                              </h3>
                            </label>
                            <label class="cursor" *ngFor="let s of cat.tags; let j = index">
                              <input type="checkbox" [disabled]="!s?.programCount"
                                class="k-checkbox categories-checkbox" id="categoriescheck{{i}}" name="categoriescheck"
                                value="{{ s }}" [checked]="topCategoryCheckActiveFilter(s)" (change)="onProgramsSubCategoryChange(i,j, $event)
                                      " />
                              <h3 [class.checkbox-checked-name]="topCategoryCheckActiveFilter(s)">
                                {{ s?.name }}<span>({{ s?.programCount }})</span>
                              </h3>
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-12" *ngIf="!isSeeall">
                        <div class="see-all-btn-info">
                          <button class="see-all-filter-btn" (click)="seeAllCategories()">See all</button>
                        </div>
                      </div> -->
                    </div>

                    <div class="col-12">
                      <div class="clear-all-filter-link mb-20px"
                        *ngIf="showReset && (selectedCategories?.length || selectedSubCategories?.length)">
                        <a class="clr-black" (click)="clearIntrestFilter()">Clear Interests</a>
                      </div>
                    </div>
                    <!-- <div class="col-12">
                      <hr class="bt-hr-line-gry" />
                    </div> -->
                  </div>

                  <!-- Age filter info -->
                  <div class="row">
                    <div class="col-12">
                      <div class="age-filter-info mb-20px">
                        <div class="sidebar-title-h3">
                          <h3 (click)="filterIcon.ageIcon=!filterIcon.ageIcon" [ngClass]="{ active: filter.ageValue }"
                            aria-controls="collapseExample" aria-expanded="true" data-target="#ageGroup"
                            data-toggle="collapse">Age <span class="count-list-box"
                              *ngIf="selectedAgeYears?.length>0">{{selectedAgeYears?.length}}</span>
                            <span class="count-list-box" *ngIf="selectedAgeMonths?.length>0">1</span>
                            <img [hidden]="filterIcon.ageIcon" class="toggle-down-up-icon"
                              src="assets/plus-black-icon.png" />
                            <img [hidden]="!filterIcon.ageIcon" class="toggle-down-up-icon"
                              src="assets/minus-black-icon.png" />
                          </h3>
                        </div>
                        <!-- <h3 class="filter-h3-info" (click)="isAgeClass=!isAgeClass"
                          [ngClass]="{ active: isAgeFilter }" aria-controls="collapseExample" aria-expanded="true"
                          data-target="#ageGroup" data-toggle="collapse">Age
                          <img *ngIf="!isAgeClass" class="toggle-down-up-icon" src="assets/down-icon-black.svg" />
                          <img *ngIf="isAgeClass" class="toggle-down-up-icon" src="assets/up-icon-black.svg" />
                        </h3> -->

                        <div class="age-field-cnt-info" id="ageGroup"
                          [ngClass]="{'show':filterClass.ageClass,'collapse':!filterClass.ageClass}"
                          data-parent="#accordionExample">
                          <div class="age-24month-info">
                            <div class="btn-24month-cnt">
                              <button class="btn-24month" [class.active]="selectedAgeMonths" data-toggle="collapse"
                                data-target="#monthAge" aria-expanded="false" (click)="changeAgeMonth('0-23')"
                                aria-controls="collapseExample">
                                < 24 months</button> </div> <!-- <div class="btns-month-cnt collapse" id="monthAge">
                                  <button class="btn-age-month">0 – 3 mo</button>
                                  <button class="btn-age-month">3 – 6 mo</button>
                                  <button class="btn-age-month">6 – 9 mo</button>
                                  <button class="btn-age-month">9 – 12 mo</button>
                                  <button class="btn-age-month">12 – 18 mo</button>
                                  <button class="btn-age-month">18 – 24 mo</button>
                            </div> -->
                          </div>
                          <div class="age-number-info">
                            <div class="btns-age-number-cnt">
                              <button class="btn-age-number" *ngFor='let age of ageNumbers;let i=index'
                                [class.active]="activatedActivatedAgeFilter(age)"
                                (click)="filter.ageValue=true;changeAgeYears(i)">{{age}}</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <hr class="bt-hr-line-gry" /> -->
                    </div>
                  </div>

                  <!-- Type filter info -->
                  <div class="row">
                    <div class="col-12">
                      <div class="type-filter-info mb-20px">
                        <div class="sidebar-title-h3">
                          <h3 (click)="filterIcon.typeIcon=!filterIcon.typeIcon"
                            [ngClass]="{ active: filter.typeValue }" aria-expanded="true" data-target="#typess"
                            data-toggle="collapse">Type <span class="count-list-box"
                              *ngIf="selectedProgramTypes?.length >0 else selectedProgramTypes_nolength ">{{selectedProgramTypes?.length}}</span>
                            <ng-template #selectedProgramTypes_nolength></ng-template>
                            <img [hidden]="filterIcon.typeIcon" class="toggle-down-up-icon"
                              src="assets/plus-black-icon.png" />
                            <img [hidden]="!filterIcon.typeIcon" class="toggle-down-up-icon"
                              src="assets/minus-black-icon.png" />
                          </h3>
                        </div>

                        <div class=" typess verification_modal" id="typess"
                          [ngClass]="{'show':filterClass.typeClass,'collapse':!filterClass.typeClass}"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <div class="form-group-type">
                              <div class="input_outer">
                                <form action="">
                                  <div class="typess-flex" *ngFor="let type of programTypes;let i = index">
                                    <label for="type2" class="k-checkbox-label" for="type1">
                                      <input type="checkbox" #types [checked]="type.isSelected"
                                        (click)="onProgramTypeChange(i,type.name, $event.target.checked)"
                                        class="k-checkbox" name="type1" value="{{type.name}}" />
                                      <span>{{type.name}}</span>
                                    </label>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <hr class="bt-hr-line-gry" /> -->
                    </div>
                  </div>

                  <!-- Private filter info -->
                  <!-- <div class="row">
                    <div class="col-12">
                      <div class="private-filter-info mb-20px">
                        <div class="sidebar-title-h3" aria-controls="collapseExample" aria-expanded="true"
                          data-target="#private_box" data-toggle="collapse"
                          (click)="filterIcon.privateGroupIcon=!filterIcon.privateGroupIcon">
                          <h3>
                            Private
                            <img class="toggle-down-up-icon" src="assets/plus-black-icon.png"
                              [hidden]="filterIcon.privateGroupIcon" />
                            <img class="toggle-down-up-icon" src="assets/minus-black-icon.png"
                              [hidden]="!filterIcon.privateGroupIcon" />
                          </h3>
                        </div>
                        <div class="private-collapse-info collapse" id="private_box" data-parent="#accordionExample"
                          [ngClass]="{'show':filterClass.privateGroupClass,'collapse':!filterClass.privateGroupClass}">
                          <div class="private-filter-info">
                            <div class="child-drop-off-filter-info">
                              <a class="top-private"><span class="simple-toggle">
                                  <span>
                                    <label class="switch1">
                                      <input [(ngModel)]="filter.privateGroupValue" (change)="setFilterQuery('private')"
                                        type="checkbox" />
                                      <span class="slider1"></span>
                                    </label>
                                  </span>Private classes
                                </span>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr class="bt-hr-line-gry" />
                    </div>
                  </div> -->

                  <!-- Rating filter info -->
                  <div class="row">
                    <div class="col-12">
                      <div class="rating-filter-info mb-20px">
                        <div class="sidebar-title-h3" aria-controls="collapseExample" aria-expanded="true"
                          data-target="#ratingTop" (click)="filterIcon.ratingIcon=!filterIcon.ratingIcon"
                          data-toggle="collapse">
                          <h3 [ngClass]="{ active:(isRating3_5 || isRating4_5)}">
                            Rating
                            <img [hidden]="filterIcon.ratingIcon" class="toggle-down-up-icon"
                              src="assets/plus-black-icon.png" />
                            <img [hidden]="!filterIcon.ratingIcon" class="toggle-down-up-icon"
                              src="assets/minus-black-icon.png" />
                          </h3>
                        </div>
                        <div class="rating-collapse-info collapse" id="ratingTop" data-parent="#accordionExample"
                          [ngClass]="{'show':filterClass.ratingClass,'collapse':!filterClass.ratingClass}">
                          <div class="child-drop-off-filter-info">
                            <a class="top-rating" aria-expanded="true" [ngClass]="{ active: isRating }"><span
                                class="simple-toggle">
                                <span>
                                  <label class="switch1">
                                    <input [(ngModel)]="isRating4_5" (change)="setFilterQuery('rating4_5')"
                                      type="checkbox" />
                                    <span class="slider1"></span>
                                  </label>
                                </span>
                                Top Rated Only
                              </span>
                            </a>
                          </div>
                        </div>
                      </div>
                      <!-- <hr class="bt-hr-line-gry" /> -->
                    </div>
                  </div>

                  <!-- Dated & Days filter info -->
                  <div class="row">
                    <div class="col-12">
                      <div class="datedays-filter-info mb-20px">
                        <div class="sidebar-title-h3">
                          <h3 aria-expanded="true" (click)="filterIcon.dateIcon=!filterIcon.dateIcon"
                            [ngClass]="{ active: filter.dateValue }" aria-expanded="true" data-target="#datedays"
                            data-toggle="collapse">Dates & Days<span class="count-list-box"
                              *ngIf="selectedDays?.length>0">{{selectedDays?.length}}</span>
                            <img [hidden]="filterIcon.dateIcon" class="toggle-down-up-icon"
                              src="assets/plus-black-icon.png" />
                            <img [hidden]="!filterIcon.dateIcon" class="toggle-down-up-icon"
                              src="assets/minus-black-icon.png" />
                          </h3>
                        </div>

                        <div class="collapse datedays verification_modal" id="datedays"
                          [ngClass]="{'show':filterClass.dateClass,'collapse':!filterClass.dateClass}"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <div class="form-group-datedays">
                              <div class="input_outer">
                                <form action="">
                                  <div class="datedays-field">
                                    <div class="calender-botoombox" *ngIf="filter.dateValue">
                                      <div class="calender-daterange" aria-expanded="true" data-target="#date"
                                        data-toggle="collapse" placeholder="Dates">
                                        <div class="calender-daterange1" *ngIf="fromDate">
                                          {{ fromDate | date: "shortDate" }}
                                        </div>
                                        <img *ngIf="toDate" src="assets/calenderarrows.svg" />
                                        <div class="calender-daterange2" *ngIf="toDate">
                                          {{ toDate | date:"shortDate" }}
                                        </div>
                                      </div>

                                    </div>
                                    <input *ngIf="!filter.dateValue" type="text" aria-expanded="true"
                                      data-target="#date" data-toggle="collapse" readonly placeholder="Dates" />
                                    <img *ngIf="!filter.dateValue" type="date" aria-expanded="true" data-target="#date"
                                      data-toggle="collapse" class="calendar-icon-field"
                                      src="assets/calender-gry-icon.png" />
                                    <!-- date range popup start  -->
                                    <div class="
                                        collapse
                                        main_collpase
                                        verification_modal
                                        date-rangecal
                                        " id="date" data-parent="#accordionExample">
                                      <ngx-daterangepicker-material (choosedDate)="choosedDate($event)"
                                        [minDate]="minDate" [autoApply]="true">
                                      </ngx-daterangepicker-material>
                                      <div class="calender-botoombox">
                                        <div class="calender-daterange">
                                          <div class="calender-daterange1" *ngIf="fromDate">
                                            {{ fromDate | date:"shortDate" }}
                                          </div>
                                          <img *ngIf="toDate" src="assets/calenderarrows.svg" />
                                          <div class="calender-daterange2" *ngIf="toDate">
                                            {{ toDate | date: "shortDate" }}
                                          </div>
                                        </div>
                                        <div class="calender-buttons">
                                          <button class="calender-buttons1" data-target="#date" data-toggle="collapse">
                                            cancel
                                          </button>
                                          <button class="calender-buttons2" data-target="#date" data-toggle="collapse"
                                            (click)="filter.dateValue=true;setFilterQuery('date')">
                                            Apply
                                          </button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="datedays-weeklist-info">
                                    <div class="datedays-flex" *ngFor="let day of weekDays; let i = index">
                                      <input type="checkbox" class="k-checkbox" #days name="Days"
                                        [checked]="day.isSelected"
                                        (change)="onDayChange(i,day.name, $event.target.checked)"
                                        value="{{day.name}}" />
                                      <label
                                        class="k-checkbox-label">{{day.name.charAt(0)+day.name.charAt(1)+day.name.charAt(2)}}</label>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <hr class="bt-hr-line-gry" /> -->
                    </div>
                  </div>

                  <!-- Time filter info -->
                  <div class="row">
                    <div class="col-12">
                      <div class="time-filter-info mb-20px">
                        <div class="sidebar-title-h3">
                          <h3 aria-controls="collapseExample" (click)="filterIcon.timeIcon=!filterIcon.timeIcon"
                            [ngClass]="{ active: filter.timeValue }" aria-expanded="true" data-target="#timess"
                            data-toggle="collapse">Time<span class="count-list-box"
                              *ngIf="selectedProgramTime?.length>0">{{selectedProgramTime?.length}}</span>
                            <img [hidden]="filterIcon.timeIcon" class="toggle-down-up-icon"
                              src="assets/plus-black-icon.png" />
                            <img [hidden]="!filterIcon.timeIcon" class="toggle-down-up-icon"
                              src="assets/minus-black-icon.png" />
                          </h3>
                        </div>

                        <div class=" verification_modal" id="timess"
                          [ngClass]="{'show':filterClass.timeClass,'collapse':!filterClass.timeClass}"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <div class="form-group-timess">
                              <div class="input_outer">
                                <form action="">
                                  <div class="timess-flex" *ngFor="let time of programTimes;let i = index">
                                    <input type="checkbox" class="k-checkbox" [checked]="time.isSelected"
                                      (change)="onProgramTimeChange(i,time.name, $event.target.checked)" />
                                    <label class="k-checkbox-label">{{time.name}}
                                      ({{time?.time}})</label>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <hr class="bt-hr-line-gry" /> -->
                    </div>
                  </div>

                  <!-- Duration filter info -->
                  <div class="row">
                    <div class="col-12">
                      <div class="duration-filter-info mb-20px">
                        <div class="sidebar-title-h3" aria-controls="collapseExample"
                          (click)="filterIcon.durationIcon=!filterIcon.durationIcon" aria-expanded="true"
                          data-target="#duration_box" data-toggle="collapse">
                          <h3>Duration <span class="count-list-box"
                              *ngIf="selectedDurations?.length>0">{{selectedDurations?.length}}</span>
                            <img class="toggle-down-up-icon" src="assets/plus-black-icon.png"
                              [hidden]="filterIcon.durationIcon" />
                            <img class="toggle-down-up-icon" src="assets/minus-black-icon.png"
                              [hidden]="!filterIcon.durationIcon" />
                          </h3>
                        </div>
                        <div class="verification_modal collapse" id="duration_box"
                          [ngClass]="{'show':filterClass.durationClass,'collapse':!filterClass.durationClass}">
                          <div class="collpase_content">
                            <div class="form-group-duration">
                              <div class="input_outer">
                                <form action="">
                                  <div class="duration-weeklist-info">
                                    <div class="duration-flex" *ngFor="let time of durationTimes; let i = index">
                                      <input type="checkbox" class="k-checkbox" #days name="Duration"
                                        [checked]="time.isSelected"
                                        (change)="onDurationChange(i,time.value, $event.target.checked)" />
                                      <label class="k-checkbox-label">{{time.name}}</label>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <hr class="bt-hr-line-gry" /> -->
                    </div>
                  </div>

                  <!-- Format filter info -->
                  <div class="row">
                    <div class="col-12">
                      <div class="format-filter-info mb-20px">
                        <div class="sidebar-title-h3">
                          <h3 aria-expanded="true" (click)="filterIcon.formatIcon=!filterIcon.formatIcon"
                            [ngClass]="{ active:(isOnline || isInPerson)}" aria-expanded="true" data-target="#format"
                            data-toggle="collapse">Format <span class="count-list-box"
                              *ngIf="isOnline || isInPerson">1</span>
                            <img [hidden]="filterIcon.formatIcon" class="toggle-down-up-icon"
                              src="assets/plus-black-icon.png" />
                            <img [hidden]="!filterIcon.formatIcon" class="toggle-down-up-icon"
                              src="assets/minus-black-icon.png" />
                          </h3>
                        </div>

                        <div class="format-collapse-info verification_modal" id="format"
                          [ngClass]="{'show':filterClass.formatClass,'collapse':!filterClass.formatClass}"
                          data-parent="#accordionExample">
                          <div class="collpase_content">
                            <div class="form-group-format">
                              <div class="input_outer">
                                <form class="format-grid" action="">
                                  <div>
                                    <div class="format-flex circle-dot-checkbox">
                                      <input type="checkbox" [checked]="isOnline && !isInPerson"
                                        (change)="(isOnline?isOnline=false:isOnline=true);(isInPerson?isInPerson=false:false);setFilterQuery('online')"
                                        class="k-checkbox" />

                                      <label class="k-checkbox-label" for="type1">Online</label>
                                    </div>
                                    <div class="format-flex circle-dot-checkbox">
                                      <input type="checkbox" [checked]="!isOnline && isInPerson"
                                        (change)="(isInPerson?isInPerson=false:isInPerson=true);(isOnline?isOnline=false:false);setFilterQuery('inperson')"
                                        class="k-checkbox" />
                                      <label class="k-checkbox-label" for="type1">In-person</label>
                                    </div>
                                  </div>
                                  <div>
                                    <div class="format-flex" [hidden]="!isInPerson">
                                      <input [checked]="isIndoor" (change)="isIndoor=!isIndoor;setFilterQuery('indoor')"
                                        type="checkbox" class="k-checkbox" />
                                      <label class="k-checkbox-label">Indoor</label>
                                    </div>
                                    <div class="format-flex" [hidden]="!isInPerson">
                                      <input [checked]="isOutdoor"
                                        (change)="isOutdoor=!isOutdoor;setFilterQuery('outdoor')" type="checkbox"
                                        class="k-checkbox" />
                                      <label class="k-checkbox-label">Outdoor</label>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <hr class="bt-hr-line-gry" /> -->
                    </div>
                  </div>

                  <!-- Price filter info -->
                  <div class="row">
                    <div class="col-12">
                      <div class="price-filter-info mb-20px">
                        <div class="sidebar-title-h3">
                          <h3 [ngClass]="{ active: filter.priceValue }"
                            (click)="filterIcon.priceIcon=!filterIcon.priceIcon" aria-controls="collapseExample"
                            aria-expanded="true" data-target="#priceGroup" data-toggle="collapse">Price
                            <span class="count-list-box" *ngIf="filter.freeValue || filter.priceValue">1</span>
                            <img [hidden]="filterIcon.priceIcon" class="toggle-down-up-icon"
                              src="assets/plus-black-icon.png" />
                            <img [hidden]="!filterIcon.priceIcon" class="toggle-down-up-icon"
                              src="assets/minus-black-icon.png" />
                          </h3>
                        </div>

                        <div class="verification_modal" id="priceGroup" data-parent="#accordionExample"
                          [ngClass]="{'show':filterClass.priceClass,'collapse':!filterClass.priceClass}">
                          <div class="collpase_content">
                            <div class="price-filter-gird mb-10px">
                              <div class="price-field-group">
                                <span class="doller-sign-icon">$</span>
                                <input type="text"
                                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                  class="input-field-price" [(ngModel)]="minPrice" maxlength="6" />
                              </div>
                              <div class="price-field-group">
                                <p>-</p>
                              </div>
                              <div class="price-field-group">
                                <span class="doller-sign-icon">$</span>
                                <input type="text"
                                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                  class="input-field-price" [(ngModel)]="maxPrice" maxlength="6" />
                              </div>
                            </div>
                            <div class="mt-10px mb-20px">
                              <button class="apply-btn-price" (click)="searchPrice()"> Apply </button>
                              <button class="apply-btn-price ml-2" (click)="clearPrice()"> Clear </button>

                            </div>

                            <div class="free-class-info verification_modal" id="free-class">
                              <form action="">
                                <div class="free-class-flex">
                                  <label for="freeclass" class="k-checkbox-label">
                                    <input type="checkbox" [(ngModel)]="filter.freeValue" class="k-checkbox"
                                      [value]="true" (change)="onProgramFreeChange($event.target.checked)"
                                      name="freeclass" />
                                    <span>Free Classes</span>
                                  </label>
                                </div>
                              </form>
                            </div>

                            <!-- <div class="form-group">
                              <ngx-slider [(value)]="minPrice"
                                (userChange)="isPriceFilter=true;setFilterQuery('price')" [(highValue)]="maxPrice"
                                [options]="priceOption">
                              </ngx-slider>
                            </div> -->
                          </div>
                          <!-- <div class="submit_btn">
                                                    <button
                                                        (click)="minPrice = 50;maxPrice = 300"
                                                        type="button" aria-controls="collapseExample" aria-expanded="true"
                                                        data-target="#priceGroup" data-toggle="collapse" class="cancel_btn">
                                                        Clear
                                                    </button>
                                                    <button (click)="isPriceFilter=true;setFilterQuery('price')"
                                                        search-results.scrollTop="0" data-target="#priceGroup"
                                                        data-toggle="collapse" class="submitBtn">
                                                        Apply
                                                    </button>
                                                </div> -->
                        </div>
                      </div>
                      <!-- <hr class="bt-hr-line-gry" /> -->
                    </div>
                  </div>

                  <!-- Child Drop-off filter info -->
                  <!-- <div class="row">
                    <div class="col-12">
                      <div class="child-drop-off-filter-info">
                        <a class="top-rateds" aria-expanded="true" [ngClass]="{ active: isChildCareFilter }"><span
                            class="simple-toggle">
                            <span>
                              <label class="switch1">
                                <input [(ngModel)]="isChildCareFilter" (change)="setFilterQuery('childcare')"
                                  type="checkbox" />
                                <span class="slider1"></span>
                              </label>
                            </span>
                            Child Drop-off
                          </span>
                        </a>
                      </div>
                    </div>
                  </div> -->

                </div>
              </div>
            </div>
          </div>
        </div>
      </aside>
      <div class="col-md-6" [ngClass]="{'col-md-9':!isMap,'col-md-12':isHideFilter && !isMap}">
        <div class="row row-0">
          <div class="col-md-12 list_left">
            <div class="row row-0">
              <div class="col-12" [ngClass]="{'col-md-8':!isMap}">
                <div class="row row-0 align-items-center">
                  <div class="col-md-8">
                    <div class="display-flex-20">
                      <div class="btn-filter-left" *ngIf="isHideFilter">
                        <button class="btn-filter" (click)="isHideFilter=!isHideFilter"><img
                            src="assets/filter-icon-blue.png" data-toggle="tooltip" data-placement="bottom"
                            title="Show Filter"> Filter</button>
                      </div>
                      <div class="chip-set-bar chip-set-bar-btn">
                        <div class="map-without-heading display-inline">
                          <h2>
                            <span>{{activitiesCount}} Programs From {{totalItems}} Providers</span>
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="btn-sortby-right">
                      <button class="btn-sortby" (click)="isSorting=!isSorting;$event.stopPropagation()"><img
                          src="assets/sortby-icon.png"> Sort
                        by</button>
                    </div>
                    <div class="sortby-filter-content" *ngIf="isSorting">
                      <ul class="sortby-filter-btns">
                        <li [ngClass]="{'active': filter.lowToHighValue}" class="active" (click)="sorting('lowToHigh')">
                          Price: Low to High</li>
                        <li [ngClass]="{'active': filter.highToLowValue}" (click)="sorting('highToLow')">Price: High to
                          Low</li>
                        <!-- <li [ngClass]="{'active': filter.nearestDateValue}" (click)="sorting('nearestDate')">Starting
                          Soonest</li> -->
                        <li [ngClass]="{'active': filter.topRated}" (click)="sorting('TopRated')">Top
                          Rated</li>
                      </ul>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-4" [hidden]="isMap || isOnline">
                <div class="chip-set-bar btn-show-map-right">
                  <button (click)="isMap=!isMap;" class="btn-show-map"><img src="assets/gis_map.png"
                      class="gis-map-icon">
                    Show Map <img src="assets/right-arrow-icon.png" class="right-arrow-icon"></button>
                </div>
              </div>
            </div>
            <div class="search-results">
              <div id="{{provider?.user?._id}}"
                (mouseover)="lat=+provider?.multiLoctions[0]?.location?.coordinates[1];lng=+provider?.multiLoctions[0]?.location?.coordinates[0];provider.activeMarker=true"
                (mouseout)="provider.activeMarker=false;" class="search-results-section" *ngFor="let provider of providerProgram | paginate
              : {itemsPerPage: pageSize, currentPage: pageNo, totalItems: totalItems};  let providerIndx = index">

                <div class="search-results-btns-info">
                  <div class="search-results-btns">
                    <ul class="ul-results-btns">
                      <li *ngFor="let category of provider?.subCategoryIds | slice:0:5"><button
                          class="search-results-btn">{{category?.name}}</button></li>
                    </ul>
                  </div>
                </div>
                <div class="media-top-content-info media-full-row-info">
                  <div class="row row-0 mt-0">
                    <div class="col-md-7">
                      <div class="media-top-txt-div">
                        <div class="left-icon-img">
                          <img src="{{baseUrl+provider?.categories[0]?.logoUrl}}" />
                        </div>
                        <div class="left-icon-h2 map-with-heading-h2">
                          <div class="map-h2-with-reviews">
                            <div class="tooltip-div map-h2-tooltip">
                              <h2 #providerNameId>
                                {{provider.user.firstName}}
                                <span *ngIf="detectDots(providerNameId)"
                                  class="tooltip-text">{{provider.user.firstName}}</span>
                              </h2>
                            </div>
                            <div class="min-width-105">
                              <div class="review-starsearch-info" (mouseover)="isRating=true;$event.target.click()"
                                (mouseout)="isRating=false;$event.target.click()"
                                (click)="getRating(provider._id,providerIndx)" class="cursor">

                                <div class="rating-starsearch">
                                  <p>
                                    <span *ngIf="provider.user?.averageFinalRating==0">
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span
                                      *ngIf="provider.user?.averageFinalRating>0 && provider.user?.averageFinalRating<1">
                                      <span class="fa fa-star-half-o checked"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span *ngIf="provider.user?.averageFinalRating==1">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span
                                      *ngIf="provider.user?.averageFinalRating>1 && provider.user?.averageFinalRating<2">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star-half-o checked"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span *ngIf="provider.user?.averageFinalRating==2">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span
                                      *ngIf="provider.user?.averageFinalRating>2 && provider.user?.averageFinalRating<3">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star-half-o checked"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span *ngIf="provider.user?.averageFinalRating==3">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star-o"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span
                                      *ngIf="provider.user?.averageFinalRating>3 && provider.user?.averageFinalRating<4">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star-half-o checked"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span *ngIf="provider.user?.averageFinalRating==4">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star-o"></span>
                                    </span>
                                    <span
                                      *ngIf="provider.user?.averageFinalRating>4 && provider.user?.averageFinalRating<5">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star-half-o checked"></span>
                                    </span>
                                    <span *ngIf="provider.user?.averageFinalRating==5">
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                      <span class="fa fa-star checked"></span>
                                    </span>
                                    <!-- <span class="no-underline">(</span><a class="no-underline"
                                    *ngIf="provider.user?.totalReviews">{{provider.user?.totalReviews
                                                                        }}</a>
                                  <a class="no-underline" *ngIf="!provider.user?.totalReviews">0</a><span
                                    class="no-underline">)</span> -->
                                  </p>
                                </div>
                                <div *ngIf="providerProgram[providerIndx]?.isCollapsed" class="star-daialogbox">
                                  <app-rating *ngIf="providerProgram[providerIndx]?.rating"
                                    [rating]="providerProgram[providerIndx]?.rating" [user]="provider.user">
                                  </app-rating>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="loc-txt-with-icon-search">
                            <div class="loc-txt-search">
                              <a *ngIf="provider?.multiLoctions?.length>0 else noaddressfound"><img
                                  src="assets/blue-loc-icon-search.svg" />{{provider?.multiLoctions[0]?.name | viewStreet}}</a>
                              <ng-template #noaddressfound>
                                <a
                                  *ngIf="provider?.user?.addressLine1 && provider?.user?.lat || provider?.user?.lng && provider?.user?.addressLine1"><img
                                    src="assets/blue-loc-icon-search.svg" />{{provider['user'].addressLine1 | viewStreet}}</a>
                              </ng-template>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="media-share-icon">
                        <ul class="ul-tag-share_icon">
                          <!-- <li><a class="btn-share-search cursor" data-toggle="modal" data-target="#ShareModal"
                              (click)="selectedShareData = provider"><img src="assets/share-icon-search.svg" />
                              Share</a></li> -->
                          <li>
                            <a class="btn-save-search btn-unsave-search cursor" data-toggle="tooltip" title="Unsave"
                              data-placement="top" *ngIf="provider?.user?.isFav && parentRole && isLogin"
                              (click)="providerSaveUnsave(providerProgram,providerIndx,true)"><img
                                src="assets/heart-minus-white-icon.svg" />
                              Saved</a>
                            <a class="btn-save-search cursor" *ngIf="!provider?.user?.isFav && parentRole && isLogin"
                              (click)="providerSaveUnsave(providerProgram,providerIndx,false)"><img
                                src="assets/heart-plus-icon-blue.svg" />
                              Save</a>
                            <a class="btn-save-search cursor" *ngIf="!isLogin" routerLink="/login"><img
                                src="assets/heart-plus-icon-blue.svg" /> Save</a>
                          </li>
                          <li>
                            <div class="view-less-div">
                              <div class="view-less-txt-info collapsed">
                                <a *ngIf="provider.collapsed" class="btn-view-less" (click)="provider.collapsed=false"
                                  aria-expanded="false" aria-controls="collapseDosing"><img
                                    src="assets/icon-off-div.svg" /></a>
                                <a *ngIf="!provider.collapsed" class="btn-view-less" (click)="provider.collapsed=true"
                                  aria-expanded="false" aria-controls="collapseDosing"><img
                                    src="assets/icon-on-div.svg" /></a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>


                </div>
                <!-- --------------------------------------------------Programs list second without map--------------------------------------------------- -->
                <div [id]="'programDiv'+providerIndx" class="map-carousel-slider" aria-labelledby="heading-dosing"
                  [ngClass]="{'collapse': providerProgram[providerIndx].collapsed, 'collapsed': !providerProgram[providerIndx].collapsed}">

                  <div [id]="'widgetsContent'+providerIndx" class="media-scroable">
                    <div class="media activity cursor"
                      *ngFor="let program of provider?.programs | slice:0:9; let programIndx = index">
                      <div class="media-left activity-imgs" (click)="goToProgramDetail(program)">
                      </div>
                      <div class="media-body" routerLink="{{goToProgramDetail(program)}}">
                        <div class="media-right-icon-h2">
                          <div>
                            <div class="tooltip-div">
                              <h2 #programNameId>
                                <a (click)="addAction(program?._id)" style="color:#53B2E8;" class="cursor"
                                  routerLink="{{goToProgramDetail(program)}}">
                                  {{ program?.name }}</a>
                                <span *ngIf="detectDots(programNameId)" class="tooltip-text">{{program?.name}}</span>
                              </h2>
                            </div>
                          </div>
                          <div class="media-right-share-icon text-right">
                            <!-- display none -->
                            <div class="tooltip-div save-act-tooltip" style="display:none">
                              <a data-toggle="modal" (click)="selectedShareData = program" data-target="#ShareModal"
                                class="cursor display-none">
                                <img src="assets/ellipse-213.svg" alt="Share Icon " />
                                <!-- <span class="tooltip-text">Save Activities you like!</span> -->
                              </a>
                              <div class="bookmark_outer">
                                <a *ngIf="!program?.isFav && isLogin"
                                  (click)="addFavProgram(userData.id, providerProgram[providerIndx]?.programs[programIndx]?._id, providerIndx,programIndx)"
                                  class="bookmark_icon cursor"><img src="assets/ellipse-213.svg" alt="Menu Image" />
                                  <!-- <span class="tooltip-text">Save Activities you like!</span> -->
                                </a>
                                <a *ngIf="!isLogin" routerLink="/login" class="bookmark_icon cursor"><img
                                    src="assets/ellipse-213.svg" alt="Menu Image " />
                                  <!-- <span class="tooltip-text">Save Activities you like!</span> -->
                                </a>
                                <a *ngIf="program?.isFav && parentRole && isLogin"
                                  (click)="deleteFavProgram(providerProgram[providerIndx]?.programs[programIndx]?._id, providerIndx,programIndx)"
                                  class="bookmark_icon cursor"><img src="assets/ellipse-214.svg" alt="Menu Image " />
                                  <!-- <span class="tooltip-text">Save Activities you like!</span> -->
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="list_outer row row-0">
                          <div class="list col-12 mt-2 mb-1">
                            <p>By {{ program?.programOwner }}</p>
                          </div>
                          <!-- <div class="col-md-12">
                            <div class="left-icon-box-media">
                              <div><img src="assets/location-dark-icon.png" alt="location-icon" />
                              </div>
                              <div *ngIf="program?.location">
                                <p>{{program?.location?.substring(0,
                                                                    program?.location?.indexOf(", "))}}</p>
                              </div>
                            </div>
                          </div> -->

                          <div class="col-md-12">
                            <div class="left-icon-box-media">
                              <div><img src="assets/user-icon-img.png" alt="School image " />
                              </div>
                              <div>
                                <p>{{program?.ageGroup | ageRange}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="left-icon-box-media">
                              <div><img src="assets/calender-icon-img1.png" alt="calender-icon" />
                              </div>
                              <div>
                                <p *ngIf="program?.dateOption=='Dates available'">
                                  {{program?.date?.from | date:"MMM dd"}} -
                                  {{program?.date?.to | date:"MMM dd"}}
                                </p>
                                <p *ngIf="program?.dateOption!=='Dates available'">Weekly Recurring>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12" *ngIf="checkProgramDays(program?.days)">
                            <div class="left-icon-box-media">
                              <div><img src="assets/calender-icon-img1.png" alt="days image " />
                              </div>
                              <div>
                                <p class="day-txt-width">{{program | daysfilter }}
                                </p>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="col-md-12">
                            <div class="left-icon-box-media">
                              <div><img src="assets/watch-icon-img.png" alt="calender-icon" />
                              </div>
                              <div>
                                <p *ngIf="!program?.isTimeNotMention">
                                  {{program?.time?.from | timeConvert | date:'h:mm a'}} –
                                  {{program?.time?.to | timeConvert | date:'h:mm a'}}</p>
                              </div>
                            </div>
                          </div> -->

                          <div class="col-md-12">
                            <div class="price-box left-icon-box-media">
                              <div><img src="assets/price-doller-icon.png" /></div>
                              <div>
                                <p>
                                  <span>{{program.pricePerParticipant ? program.pricePerParticipant : "Contact Provider" }}
                                    <span
                                      *ngIf="program?.pricePerUnit?.unit && program?.pricePerParticipant">/{{program?.pricePerUnit?.unit}}</span></span>
                                </p>
                                <!-- <p *ngIf="program?.isFree">
                                  <span> Free</span>
                                </p> -->
                                <!-- <p *ngIf="!program?.isFree && !program?.pricePerParticipant"><img src="assets/price.svg" /><span> Price Not Mentioned</span></p> -->
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12 display-none">
                            <p *ngIf="!program?.isDateNotMention">
                              <img src="assets/calendar.svg " alt="School image " />{{
                                                            program?.date?.from | date: "MMM dd" }} – {{
                                                            program?.date?.to |
                                                            date:
                                                            "MMM dd" }}
                            </p>
                            <!-- <p *ngIf="program?.isDateNotMention">
                              Ongoing
                            </p> -->
                          </div>
                          <div class="col-md-12">
                            <div class="online-text-clm">
                              <!-- <p *ngIf="program?.inpersonOrVirtual=='Inperson'">In-Person</p> -->
                              <div class="left-icon-box-media">
                                <div *ngIf="program?.inpersonOrVirtual=='Virtual'"><img
                                    src="assets/online-icon-img.svg " alt="Online Icon" /></div>
                                <div *ngIf="program?.inpersonOrVirtual=='Virtual'">
                                  <p class="clr-online-pink">Online Available</p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                        <div class="btn-search-boxs-bt">
                          <!-- <button highlight>{{program.type}}</button> -->
                          <button
                            [ngClass]="{'classes-btn-bt':program.type=='Classes','private-btn-bt': program.type=='Private Class' || program.type=='single', 'camp-btn-bt':program.type=='Camps' || program.type=='Party'}"
                            *ngIf="program.type">{{program.type}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="left-resourcebtn" *ngIf="provider.isSlide">
                    <a>
                      <div class="carousel-nav-icon" (click)="scrollLeft(providerIndx)">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                          xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path
                            d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                        </svg>
                      </div>
                    </a>
                  </div>
                  <div class="right-resourcebtn"
                    *ngIf="isMap?provider?.programs?.length>2:provider?.programs?.length>6">
                    <a>
                      <div class="carousel-nav-icon" (click)="scrollRight(providerIndx); provider.isSlide=true;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129"
                          xmlns:xlink="http://www.w3.org/1999/xlink">
                          <path
                            d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                        </svg>
                      </div>
                    </a>
                  </div>
                </div>
                <!-- --------------------------------------------------Programs list first without map--------------------------------------------------- -->
              </div>


              <div *ngIf="!providerProgram?.length && isLoaded" class="suggested-searchresult">
                <div class="suggested-text">
                  <h1>Sorry No Results Found :(</h1>
                </div>
              </div>
            </div>
            <div class="row row-0" *ngIf="providerProgram?.length">
              <div class="col-12 paginator_div">
                <pagination-controls class="pagi" (pageChange)="changePage((pageNo = $event))">
                </pagination-controls>
              </div>
            </div>

            <!-- Search Page Footer -->
            <!-- <div class="search-page-footer">
              <div class="row row-0">
                <div class="col-12">
                 <app-footer2></app-footer2>
                </div>
              </div>
            </div> -->
            <!-- End Search Page Footer -->

          </div>
        </div>
      </div>
      <aside class="col-md-3" *ngIf="isMap" [ngClass]="{'col-md-6':isHideFilter}">
        <div class="map_section">
          <!-- <div class="map-search-info">
            <label class="map-search-checkbox-field">
              <input type="checkbox" [checked]="isMapMoveChecked" (change)="isMapMoveChecked=!isMapMoveChecked">
              <span class="checkmark"></span>
              <span class="checkbox-txt">Search As I Move The Map</span>
            </label>
          </div> -->
          <div class="btn-hide-up-info">
            <button class="btn-hide-up" (click)="isMap=!isMap"><img class="gis-map-icon" src="assets/gis_map.png" />
              Hide Map <img class="right-arrow-icon" src="assets/right-arrow-icon.png" /></button>
          </div>
          <agm-map *ngIf="providerProgram?.length; else nolocationfound" [styles]="mapTheme.customStyle"
            (mapReady)="dragEnd($event)" (centerChange)="centerChange($event)" [zoom]="zoom" [minZoom]="2"
            [mapDraggable]="true" [usePanning]="true" [latitude]="lat" [longitude]="lng"
            (mapClick)="mapClicked(previous)">
            <div *ngFor="let data of providerProgram;let providerIndx = index">
              <agm-marker *ngIf="data.multiLoctions?.length>0" [iconUrl]="data?.activeMarker?activeMarkerUrl:markerUrl"
                (mouseOver)="clickedMarker(previous);onMarkerClick(data?.user?._id);"
                (mouseOut)="data.activeMarker=false"
                (markerClick)="clickedMarker(previous);onMarkerClick(data?.user?._id);"
                [latitude]="data.multiLoctions[0].location.coordinates[1]"
                [longitude]="data.multiLoctions[0].location.coordinates[0]">
                <!-- <agm-info-window #previous>
                  <div class="map-popup">
                    <h1>
                      {{ data?.user?.firstName }}
                    </h1>
                    <h2>{{ data?.user?.addressLine1 }}</h2>
                    <div class="rating-starsearch" class="cursor">
                      <p>
                        <span *ngIf="data?.user?.averageFinalRating==0">
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating==1">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating>1 && data?.user?.averageFinalRating<2">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating==2">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating>2 && data?.user?.averageFinalRating<3">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating==3">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating>3 && data?.user?.averageFinalRating<4">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating==4">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating>4 && data?.user?.averageFinalRating<5">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                        </span>
                        <span *ngIf="data?.user?.averageFinalRating==5">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                        </span>
                        <span class="no-underline">(</span><a class="no-underline" *ngIf="data.user?.totalReviews">{{data.user?.totalReviews
                                                    }}</a>
                        <a class="no-underline" *ngIf="!data.user?.totalReviews">0</a><span
                          class="no-underline">)</span>
                      </p>
                    </div>
                    <div class="map-locationtext" *ngIf="data?.user?.location">
                      <span><img src="assets/location-pintag.svg" /> </span>
                      <h3>
                        {{ data?.user?.location }}
                      </h3>
                    </div>
                  </div>
                </agm-info-window> -->
              </agm-marker>
            </div>
          </agm-map>
          <!-- ------------------------ no programs location ------------ -->
          <ng-template #nolocationfound>
            <agm-map (mapReady)="dragEnd($event)" (centerChange)="centerChange($event)" [styles]="mapTheme.customStyle"
              [zoom]="14" [latitude]="lat" [longitude]="lng">
            </agm-map>
          </ng-template>
          <!-- ---------------------------------------------------------- -->

        </div>
      </aside>
    </div>
  </div>
</section>
<!-- <share-popup [shareData]="selectedShareData" [isProvider]="true"></share-popup> -->
<ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
<ng-template #foregroundSpinner>
  <app-loader-file></app-loader-file>
</ng-template>
<reg-wall></reg-wall>
