<div class="imgage-corners">
  <img src="assets/Contact-leftcircle.png" />
</div>
<div class="contact-us common-headermargin">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="contact-usdata">
          <h1>Contact Us</h1>
          <h2>
            Our Mailing Address Is :
            <br />1732 1st Ave, #21026, New York, NY 10128 <br />Email:
            contact@wondrfly.com
          </h2>
          <!-- <div class="social-icons">
                           <a href="#" class="fb">
                            <img src="assets/fb-black.svg">
                           </a>
                           <a href="#" class="insta">
                            <img src="assets/insta-black.svg">
                           </a>
                           <a href="#" class="tweet">
                            <img src="assets/tweet-black.svg">
                           </a>
                           <a href="#" class="pin">
                            <img src="assets/pin-black.svg">
                           </a>
                           <a href="#" class="link">
                            <img src="assets/link-black.svg">
                           </a>
                    </div> -->
        </div>
      </div>
      <div class="col-md-7">
        <div class="contact-usform">
          <h1>Send Us A Message:</h1>
          <form [formGroup]="contactUsForm">
            <div class="form-group">
              <label for="exampleInputEmail1">Email Address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Type" [formControl]="contactUsForm.controls['email']" />
              <small *ngIf="
                  contactUsForm.controls['email'].hasError('email') &&
                  contactUsForm.controls['email'].touched
                " class="form-error-msg">Invalid Email Address</small>
              <small *ngIf="
                  contactUsForm.controls['email'].hasError('required') &&
                  contactUsForm.controls['email'].touched
                " class="form-error-msg">Email Is Required</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPhone1">Phone Number (Optional)</label>
              <input type="number" class="form-control" id="exampleInputPhone1" aria-describedby="PhoneHelp"
                placeholder="Type" [formControl]="contactUsForm.controls['phoneNumber']" />
            </div>
            <div class="form-group">
              <label for="exampleInputSubject1">Subject</label>
              <input type="text" class="form-control" id="exampleInputSubject1" aria-describedby="SubjectHelp"
                placeholder="Type" [formControl]="contactUsForm.controls['subject']" />
              <small *ngIf="
                  contactUsForm.controls['subject'].hasError('required') &&
                  contactUsForm.controls['subject'].touched
                " class="form-error-msg">Subject Is Required</small>
            </div>
            <div class="form-group text-lengthno">
              <label for="exampleFormControlTextarea1">Description </label>
              <textarea maxlength="3000" class="form-control" id="exampleFormControlTextarea1" rows="5"
                [formControl]="contactUsForm.controls['description']"></textarea>
              <small *ngIf="
                  contactUsForm.controls['description'].hasError('required') &&
                  contactUsForm.controls['description'].touched
                " class="form-error-msg">Description Is Required</small>
              <div class="textarea_length">
                <p>({{ contactUsForm.value.description?.length }} of 3000)</p>
              </div>
            </div>
            <button type="submit" class="btn_style" (click)="contactUs()" [disabled]="contactUsForm.invalid">
              Submit
            </button>
          </form>

          <div class="image-corners">
            <img src="assets/Contact-rightcircle.png" />
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- <div class="chat-icon">
    <a href="javascript:void(Tawk_API.toggle())">
      <img src="assets/chaticon.svg" />
    </a>
  </div> -->
</div>
<ngx-ui-loader></ngx-ui-loader>
<!--Start of tawk.to Status Code-->

<!-- <script type="text/javascript">
  Tawk_API = Tawk_API || {};

  Tawk_API.onStatusChange = function (status) {
    if (status === "online") {
      document.getElementById("status").innerHTML =
        '<a href="javascript:void(Tawk_API.toggle())">Online - Click to chat</a>';
    } else if (status === "away") {
      document.getElementById("status").innerHTML = "We are currently away";
    } else if (status === "offline") {
      document.getElementById("status").innerHTML = "Live chat is Offline";
    }
  };
</script> -->

<!--End of tawk.to Status Code -->
