<app-header></app-header>
<!-- <app-header2></app-header2> -->
<router-outlet></router-outlet>
<app-footer *ngIf="currentUrl=='/my-wondrfly' || currentUrl=='/contactUs'"></app-footer>
<app-footer2 *ngIf="currentUrl!=='/my-wondrfly' && currentUrl!=='/contactUs'"></app-footer2>
