.main_outer {padding: 0 0 40px 0;}
.mb-40{margin-bottom:40px;}
.provider_profile {padding-top: 30px;}
.desc-overflow::-webkit-scrollbar {display: block;}
.provider_right.description_text {padding: 20px 0px;}
.description_text .people_section.desc-overflow {height: 291px;overflow-y: auto;padding: 10px 30px;}
.ss span {display: inline-block !important;}
.provider_profile .provider_left {
    width: 100%;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 20px;
    text-align: center;
    padding-top: 25px;
    margin-bottom: 20px;
}

.provider_profile .provider_left .provider_parentdiv{
  width: 90%;
  display: flex;
  flex-direction: row;
  /* padding: 22px 15px 0 100px; */
  padding: 10px;
  /* text-align: center; */
  justify-content: center;
  margin-left: 5%;
  border-bottom: 1px solid #e0e0e0;
}

.provider_profile .provider_left .provider_parentdiv .share_icon{
  display: flex;
}

.provider_profile .provider_left .provider_parentdiv .share_icon a{
  padding-left: 5px;
}

.provider_profile .provider_left .profile {
  width: 144px;
  height: 144px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  /* border: 6px solid #ff4242; */
}

.provider_profile .provider_left .profile img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.provider_profile .provider_left h2.provider_name {
  font-family: "Poppins";
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #494949;
  /* border-bottom: 1px solid #e0e0e0; */
  padding: 0px 0px 15px 0px;
}

.provider_profile .provider_left .business_text {
  border-top: 1px solid #e0e0e0;
  padding-top: 37px;
  margin-top: 47px;
}

.provider_profile .provider_left .business_text h2 {
  font-family: "Poppins";
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #828282;
  margin-top: 14px;
}

.provider_profile .provider_left .business_text img {
  margin-top: 14px;
}

.provider_profile .provider_left .business_text .business_btn {
  font-family: "Poppins";
  min-width: 203px;
  min-height: 36px;
  line-height: 36px;
  background: #53b2e8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  border: none;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-top: 25px;
}

.provider_profile .provider_right {
  width: 100%;
    /* max-width: 800px; */
    /* padding-left: 32px; */
}

.provider_full {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 50px 40px 40px 40px;
  position: relative;
}
.provider_map {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
}

#map {
  height: 288px;
  z-index: 0;
}

.provider_menu {
  margin-top: 20px;
  padding-bottom: 15px;
}

.provider_menu li {
  margin-bottom: 10px;
}

.provider_menu li a {
  font-family: "Poppins";
  font-size: 16px;
  letter-spacing: 0.001em;
  color: #494949;
  display: inline-block;
  border-radius: 30px;
  transition: 0.8s;
  cursor: pointer;
}

.provider_menu li a .icon {
  font-size: 22px;
  vertical-align: middle;
  margin: 0 6px 0 0;
}

.insured_outer {
  text-align: left;
  padding-left: 40px;
  padding-top: 33px;
}

.insured_outer img {
  max-width: 31px;
  margin: 0 16px 0 0;
}

.insured_outer p {
  font-family: "Poppins";
  margin: 0 0 41px 0;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #494949;
  cursor: pointer;
}

.insured_outer p:last-child {
  margin: 0;
}

.description_text {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 20px;
  position: relative;
}

.activity_text {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 30px 35px;
  margin-bottom: 50px;
  position: relative;
  max-height: 1100px;
  overflow: auto;
}
.description_text h2 span img {
  margin-top: -10px;
}

.description_text h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-align: justify;
  letter-spacing: 0.005em;
  color: #494949;
  text-transform: capitalize;
  padding-bottom: 10px;
}

.description_text p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #494949;
}

.description_text.people_section .media .people_profile {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  overflow: hidden;
}

.description_text.people_section .media .people_profile img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.description_text.people_section .media .media-left {
  text-align: center;
  max-width: 17%;
}

.description_text.people_section .media .media-left h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #494949;
  margin-top: 15px;
}

.description_text.people_section .media .media-left h5 {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  text-transform: capitalize;
  color: #494949;
  margin-top: 6px;
}

.skills_sec-div {
  margin-top: 20px;
}
.skills_sec-div .media-body {
  margin-top: 0px!important;
}
.skills_sec-div .skills_sec {
  margin-top: 20px;
}
.skills_sec-div .skills_sec h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 8px;
}

.skills_sec .skill_outer span {
  font-family: 'Poppins';
  font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #494949;
    background: #FFFFFF;
    border: 1px solid #494949;
    box-sizing: border-box;
    border-radius: 20px;
  display: inline-block;
  text-align: center;
  padding: 4px 14px;
  margin-right: 11px;
  margin-bottom: 10px;
  cursor: pointer;
}

.description_text.people_section .media .media-body {
  margin-top:-20px;
}

.description_text.people_section .media .media-body h3 {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 17px;
  color: #494949;
}

.description_text h2 span {
  font-weight: 600;
}

.description_text .strength_img {
  margin-top: 37px;
}

.activities_slider {
  display: flex;
  width: 100%;
  margin-top: 40px;
  cursor: pointer;
  overflow: scroll;
}

.activities_slide {
  background: #ffffff;
  border-radius: 20px;
  max-width: 321px;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.1));
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.05);
  display: inline-block;
  margin-bottom: 10px;
}

.activities_slide .slide_image {
  border-radius: 20px 20px 0px 0px;
  max-height: 321px;
  max-width: 100%;
}

.activities_slide .slide_image img {
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  transform: scale(1.05);
}

.activities_slide .slide_text {
  padding: 12px 22px 22px 19px;
  position: relative;
}

.activities_slide .slide_text h3 {
  font-family: "Poppins";
  font-size: 17px;
  line-height: 30px;
  color: #494949;
  min-height: 50px;
  width: 70%;
  margin-bottom: 10px;
}
.activities_slider .slide_text h3 span.title {
  width: 73%;
  display: inline-flex;
}
.activities_slide .slide_text .rating_box {
  font-size: 12px;
  position: absolute;
  right: 0px;
  top: 13px;
}

.activities_slide .slide_text .rating_box span {
  vertical-align: middle;
  margin-left: 6px;
}

.activities_slide .slide_text .date_age p {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  font-family: "Poppins";
  color: #494949;
  margin: 0 13px 0 0;
  vertical-align: middle;
}

.activities_slide .slide_text .date_age p img {
  margin-right: 6px;
}

.activities_slide .slide_text .date_age p:last-child {
  margin: 0;
}

.activities_slide .slide_text .sports_btn {
  text-align: left;
  margin-top: 5px;
  display: inline;
  margin-bottom: 5px;
}

.activities_slide .slide_text .sports_btn span {
  font-family: "Poppins";
  background: #e2f5ff;
  display: inline-block;
  border-radius: 20px;
  min-width: 100px;
  min-height: 28px;
  line-height: 28px;
  text-align: center;
  font-weight: 600;
  font-size: 13px;
  color: #53b2e8;
  padding: 0 10px;
  margin-right: 11px;
  margin-bottom: 10px;
}

.description_text .company_info {
  margin-bottom: 38px;
}
.description_text .company_infos {
  margin-bottom: 25px;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.description_text .margin_top {
  margin-top: 30px;
}
.description_text .margin_tops {
  margin-top: 10px;
}
.description_text .company_info .media-body {
  margin-left: 9px;
}
.description_text .company_infos .media-body img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: invert(83%) sepia(6%) saturate(23%) hue-rotate(64deg) brightness(150%)
    contrast(93%);
}
.description_text .company_infos .media-body {
  border: 2px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 30px;
  min-height: 106px;
}
p.health_name {
  margin-top: 10px !important;
  text-align: left;
}
.company_info h4 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #614a4a;
}
.icon-left-mt-10 .media-left span.icon {
  margin-top: 10px;
  display: block;
}
.company_info p {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.001em;
  color: #494949;
  margin: 5px 0 0 0;
  text-align: left;
  overflow-wrap: anywhere;
}
.description_text .company_info .media-body a {color: #494949;}
.company_info .icon {
  color: #53b2e8;
  font-size: 20px;
}

/* .company_info .media-body {
    padding-left: 18px;
} */

.description_text .social_icons .icon {
  color: #828282;
  font-size: 23px;
  margin: 0 11px 0 0;
}

.description_text .social_icons a:hover .icon {
  color: #53b2e8;
}

.overview_map {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  overflow: hidden;
  max-height: 288px;
  margin-bottom: 30px;
}

.overview_map img {
  object-fit: cover;
  min-height: 100%;
  max-width: 100%;
}

.provider_full h4 .view_all {
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  font-family: "Poppins";
  color: #53b2e8;
  float: right;
}

.description_text .strength_img {
  max-width: 100%;
}

.verification_modal .modal-body h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

.profile_outer {
  max-width: 109px;
  margin: 21px auto 0;
  position: relative;
}

.profile_outer .profile_img {
  border-radius: 50%;
  width: 109px;
  height: 109px;
  overflow: hidden;
}

.profile_outer a .icon-edit {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  line-height: 29px;
  background: #53b2e8;
  border: 2px solid #ffffff;
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 17px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.profile_outer .profile_img img {
  max-width: 100%;
  object-fit: cover;
  min-height: 100%;
}

.verification_modal.profile_edit .modal-body .verification_outer {
  max-width: 450px;
  margin: 16px auto 0;
}

.verification_modal.profile_edit .form-group .form-control,
.verification_modal.profile_edit .form-group input {
  border-radius: 4px;
}

.verification_modal.profile_edit .submit_btn {
  margin-top: 74px;
}

@media (min-width: 768px) {
  .mb-col-0px{margin-bottom:0px!important;}
}
@media (max-width: 1199px) {
  .skills_sec .skill_outer span {
    margin: 0 13px 9px 0;
  }
}

@media (max-width: 1024px) {
  .activities_slide {
    max-width: 241px;
  }
  .insured_outer {
    padding-left: 16px;
  }
  .description_text {
    padding: 30px 20px;
  }
  .provider_profile .provider_left h2.provider_name {
    font-size: 16px;
  }
  .skills_sec .skill_outer span {
    margin: 0 8px 8px 0;
  }
}

@media (max-width: 767px) {
  .provider_profile {
    padding: 20px 0;
  }
  .description_text.people_section .media {
    display: inline-block;
  }
  .provider_profile .provider_left {
    padding: 47px 19px 40px;
    max-width: 100%;
  }
  .provider_profile .provider_right {
    padding-left: 0;
    margin-top: 30px;
    max-width: 100%;
  }
  .description_text {
    text-align: center;
  }
  .description_text.people_section .media .people_profile {
    margin: 0 auto;
  }
  .description_text.people_section .media .media-body {
    padding-left: 0;
    border: none;
    margin: 0;
  }
  .skills_sec .skill_outer span {
    margin: 0 10px 10px 0;
  }
  .description_text h2 {
    font-size: 17px;
  }
  .main_outer {
    padding: 0;
  }
  .activities_slide {
    margin: 0 0 26px 0;
    max-width: 300px;
  }
  .activities_slide .slide_text .date_age p {
    margin: 0 2px 0 0;
  }
  .activities_slide .slide_text h3 {
    text-align: left;
  }
}
a{
  word-break: break-all !important;
}
::ng-deep.agm-map-container-inner {
  width: inherit;
  height: inherit;
  border-radius: 20px;
}
@media (max-width: 575px) {
  .activities_slide {
    max-width: 100%;
  }
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollisActivity {
  overflow: auto;
  max-height: 1100px;
}

::-webkit-scrollbar {
  display: none;
}

.description_text.people_section.overview .people_profile {
  width: 100px !important;
  height: 100px !important;
}
.description_text.people_section.overview
  .media
  .media-body
  h3.ng-star-inserted {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px !important;
  line-height: 21px;
  text-align: justify;
  letter-spacing: 0.001em;
  color: #494949;
}
.description_text.people_section.overview .media .media-left h5 {
  font-weight: 500 !important;
}

.imgsvg {
  filter: invert(61%) sepia(59%) saturate(442%) hue-rotate(159deg)
    brightness(95%) contrast(93%);
}
.carousel-cat {
  position: relative;
}
.carousel-nav-icon {
  height: 48px;
  width: 48px;
  background: #ffffff;
  border: 1px solid #ededed;
  box-sizing: border-box;
  color: #494949;
  border-radius: 50%;
  top: 50%;
  position: absolute;
  right: -2%;
}
.carousel-nav-icon svg {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 13px;
}
.carousel-inner {
  height: 420px;
}
.provider_profile .provider_left h2.provider_name p img {
  margin-top: -3px;
}
.might-try {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 18px;
  text-align: justify;
  letter-spacing: 0.005em;
  color: #494949;
}
.provider_profile .provider_left h2.provider_name p {
  font-size: 15px;
  font-weight: normal;
  margin-top: 15px;
}
.company_info .media-body img.health_icon_disable {
  border: 2px solid #c4c4c4 !important;
  padding: 30px;
  border-radius: 20px;
}

.provider_full h4 span{
padding-left: 7px;
}

.provider_profile .provider_left h2.provider_name p a {
  text-decoration: underline;
  color: #494949;
  /* margin-left: 7px; */
}
.no-underline {
  color: #494949;
}
.social-icons img {
  width: 18px;
  height: 18px;
}
.social-icons {
  display: flex;
  column-gap: 10px;
}

.initial-alpha-profile {
  position: relative;
  background: #dcf3ff;
  width: 154px;
    height: 154px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
}
.initial-alpha-profile h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #53b2e8;
  font-size: 40px;
  font-family: "poppins";
  text-transform: capitalize;
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
  .carousel-nav-icon {
    left: 884px;
  }
  .provider_profile .provider_left {
    max-width: 270px;
  }
  .provider_profile .provider_right {
    width: 100%;
    max-width: 660px;
    padding-left: 32px;
  }
}

.star-dailogsocial.container {
  padding-left: 0px;
}

/* map popup */
/* .map-popup {
  padding: 10px;
} */
.map-popup h1 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 10px;
}
.map-popup h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.001em;
  color: #494949;
  margin-bottom: 10px;
}
.map-locationtext h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #828282;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 85%;
}
.map-locationtext {
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
}
button.map-buttonas {
  background: #53b2e8;
  border-radius: 25.1946px;
  border: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
}
::ng-deep .gm-style-iw-d {
  overflow: auto !important;
}
::ng-deep .gm-style .gm-style-iw-t::after {
  width: 0px !important;
}
::ng-deep .gm-style .gm-style-iw-c {
  background: #ffffff !important;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important;
  border-radius: 20px !important;
  top: 20px !important;
  max-width: 220px !important;
  min-height: auto !important;
}
::ng-deep button.gm-ui-hover-effect {
  top: 0px !important;
  right: 0px !important;
  display: none !important;
}
::ng-deep .gm-style-iw-d {
  padding: 10px;
  padding-top: 0px;
  padding-left: 0px;
}
.subCat {
  color: #53b2e8;
  cursor: pointer;
}

 
.skill_flex{
display: flex;
flex-wrap: wrap;
}
/* list -view css */
h2.provider_name span.provider-heading-h2 {
  display: -webkit-box;
  text-overflow: ellipsis;
  height: 22px;
  line-height: 20px;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.clr-blue{color: #53B2E8!important;}
.bg_color {
  background: #FFFFFF;
  box-shadow: -4px 4px 10px rgb(0 0 0 / 10%);
  border-radius: 20px;  
}
.ativities-boxes-info .program_img img {
  width: 100%;
  max-width: 150px;
}
.ativities-section-info .ativities-boxes-info{
  padding: 20px;
  margin-bottom: 25px;
}
.ativities-boxes-info .name h6.tdata {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.001em;
  color: #53B2E8;
  cursor: pointer;
  text-transform: capitalize;
}
.ul-tag-btn-info .btn-activites-info {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.001em;
  color: #53B2E8;
  background: #E2F5FF;
  cursor: default;
  border-radius: 20px;
  border: none;
  padding: 5px 15px;
  margin-bottom: 10px;
}
ul.ul-tag-btn-info li {
  display: inline-block;
  margin: 0px 3px;
}
.ativities-boxes-info .left-icon-box-media {
  display: grid;
  grid-template-columns: 15px auto;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 10px;
}
.ativities-boxes-info .left-icon-box-media p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #494949;
}
.cstm-btn-online {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.001em;
  color: #53B2E8;
  background: #E2F5FF;
  border-radius: 20px;
  border: none;
  padding: 7px 5px;
  width: 100%;
  max-width: 121px;
  margin: 0px auto;
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
.activities-top-grid {
  display: grid;
  grid-template-columns: 145px auto;
  column-gap: 15px;
  /* justify-content: space-between;  */
  /* align-items: center; */
}
ul.act-top-right-btn li a.act-top-btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.001em;
  color: #494949;
  padding: 0 18px;
  border: 1px solid #494949;
  box-sizing: border-box;
  border-radius: 20px;
  margin-right: 12px;
  margin-bottom: 7px;
  min-height: 36px;
  line-height: 36px;
  display: inline-block;
  cursor: pointer;
}
ul.act-top-right-btn li {display: inline-block;}
ul.act-top-right-btn .toggle-filtersearch {margin-left: 10px;}
ul.act-top-right-btn li a.act-top-btn:hover{color: #53b2e8;border-color: #53b2e8;}
ul.act-top-right-btn li .toggle-filtersearch .btn1-filtersearch,
ul.act-top-right-btn li .toggle-filtersearch .btn2-filtersearch{
  background: #f9fafa;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 9px 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: #53b2e8;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
ul.act-top-right-btn li .toggle-filtersearch .btn1-filtersearch {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
ul.act-top-right-btn li .toggle-filtersearch .btn2-filtersearch {
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
ul.act-top-right-btn li .toggle-filtersearch button:hover{
  background: #e2f5ff;
}
.plr-0{padding-left:0px;padding-right:0px;}
.pl-0{padding-left:0px;}
.pr-0{padding-right:0px;}


/* search-filterss top row filter search */
.search-filterss {
  /* padding: 8px;
  padding-left: 38px; */
  box-sizing: border-box;
  border-right: 0px;
  border-left: 0px;
  width: 100%;
  /* padding-top: 26px; */
}
.category_list {
  display: inline-block;
  width: 100%;
}
.category_list ul {
  display: inline-block;
}
.search-filterss ul, .search-filterss li, .search-filterss a {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.search-filterss .category_list li {
  display: inline-block;
}
.search-filterss .category_list li a:hover, 
.search-filterss .category_list li a.active {
  color: #53b2e8;
  border-color: #53b2e8;
}
.search-filterss .category_list li a {
  font-size: 13px;
  color: #494949;
  border: 1px solid #494949;
  border-radius: 20px;
  padding: 0 18px;
  min-height: 36px;
  line-height: 36px;
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 7px;
  transition: 0.8s;
}

.main_collpase {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  padding-top: 40px;
  z-index: 11;
  min-width: 350px;
  margin-top: 9px;
}
.partcategory {
  min-width: 950px !important;
  padding: 0px;
}
.collpase_content.cate-dilter{
  padding: 0px;
}
.main_collpase .submit_btn {
  padding-top: 0px;
  padding-bottom: 10px;
}
.main_collpase.verification_modal .submit_btn .submitBtn, 
.main_collpase.verification_modal .submit_btn .cancel_btn {
  min-width: 70px;
  min-height: 20px;
  line-height: 30px;
  margin: 0 12px;
  font-size: 10px;
}


.categories-filt {
  border-bottom: 1px solid #bdbdbd;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 15px;
}
.categories-filterheader h2 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: #494949;
  padding-left: 15px;
}
.sub-categoriesfilterheader h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: left;
  color: #494949;
  padding-left: 21px;
  display: flex;
  justify-content: space-between;
}
.sub-categoriesfilterheader h2 span a.clear {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.001em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #000000;
  border: none !important;
  margin-bottom: 0px !important;
}
.sub-categoriesfilterheader h2 span button {
  background: #53b2e8;
  border-radius: 25.1946px;
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #ffffff;
  border: 0px;
  padding: 10px;
  margin-right: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.categories-filtercontent {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 310px;
  height: 310px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.categories-filtercontent h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
  padding: 10px 10px 10px 15px;
  color: #494949;
  overflow-wrap: break-word;
  width: 50%;
}
.sub-categoriesfiltercontent {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 350px;
  height: 350px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.sub-categoriesfiltercontent span:last-child {
  margin-left: 10px;
}

.sub-categoriesfiltercontent h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  text-align: left;
  padding: 10px 10px 10px 15px;
  color: #494949;
  overflow-wrap: break-word;
  width: 95%;
  min-height: 50px;
  line-height: 24px;
}
.sub-categoriesfiltercontent h2 {
  display: flex;
  align-items: baseline;
  width: 35%;
}

.sub-categoriesfiltercontent label {
  display: flex;
  align-items: baseline;
  width: 60%;
  word-break: break-word;
}

.sub-categoriesfiltercontent .col-6 {
  padding-right: 15px;
}
.collpase_content {
  padding: 0 12px;
}

#typess .form-group.typess input {
  width: auto !important;
  min-height: 0px;
  padding: 8px;
}
#typess {
  min-width: auto;
  padding: 10px;
}
#typess .form-group.typess label {
  line-height: 16px;
  margin-top: 15px;
}
#typess .typess-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
#Dayss .form-group.typess input {
  width: auto !important;
  min-height: 0px;
  padding: 8px;
}
#Dayss .typess-flex input {
  border-radius: 20px !important;
}
#Dayss {
  min-width: auto;
  padding: 10px;
}
#Dayss .form-group.typess label {
  line-height: 12px;
  margin-top: 15px;
  padding-left: 0px;
}
#Dayss .typess-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

#Dayss form {
  display: flex;
}

#Dayss h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 0.01em;
  text-transform: capitalize;
  color: #494949;
}
#timess .form-group.typess input {
  width: auto !important;
  min-height: 0px;
  padding: 8px;
}

#timess {
  min-width: auto;
  padding: 10px;
}

#timess .form-group.typess label {
  line-height: 12px;
  margin-top: 15px;
}

#timess .typess-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

#timess .typess-flex {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
  padding-top: 8px;
}

#timess {
  padding: 0px !important;
}

#timess .collpase_content {
  padding: 0px !important;
  min-width: 230px;
}

#timess .typess-flex:last-child {
  border-bottom: 0px !important;
  padding-bottom: 8px;
}
/* .main_collpase.partcategory::-webkit-scrollbar,
.main_collpase.date-rangecal::-webkit-scrollbar {
  display: block!important;
}
.main_collpase.partcategory,
.main_collpase.date-rangecal{
  padding: 0px;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
  min-width: 100%!important;
}
.main_collpase.partcategory .collpase_content.cate-dilter,
.main_collpase.date-rangecal .collpase_content.cate-dilter{
  min-width: 950px;
} */
.main_collpase.partcategory{
  min-width: 850px !important;
  left: -120px;
}
.meta-overflow-row {
  overflow: hidden;
  overflow-x: auto;
}

/*Empty checkbox*/
.k-checkbox {
  background: transparent;
  color: white !important;
}
/*Checked checkbox*/
.k-checkbox {
  border-color: rgba(0, 0, 0, 0.08);
  color: transparent;
  background-color: #fff;
}
.k-checkbox {
  border-radius: 2px;
  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;
  line-height: initial;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  appearance: none;
}

.k-checkbox.k-checked::before,
.k-checkbox:checked::before {
  border-radius: 2px;
  -webkit-transform: scale(1) translate(-50%, -50%);
  -ms-transform: scale(1) translate(-50%, -50%);
  transform: scale(1) translate(-50%, -50%);
}

.k-checkbox::before {
  width: 12px;
  height: 12px;
  font-size: 12px;
  line-height: 1;
  -webkit-transform: scale(0) translate(-50%, -50%);
  -ms-transform: scale(0) translate(-50%, -50%);
  transform: scale(0) translate(-50%, -50%);
  overflow: hidden;
  position: absolute;
  top: 54%;
  left: 48%;
  content: "\2713";
  font-family: "poppins";
}
.k-checkbox:checked {
  background: #53b2e8;
  color: white !important;
}
.date-rangecal {
  padding-top: 0px !important;
}

::ng-deep .md-drppicker {
  background-color: transparent !important;
  box-shadow: none !important;
}

::ng-deep .md-drppicker td,
::ng-deep .md-drppicker th {
  border: none !important;
}

::ng-deep .md-drppicker td.active:hover {
  background-color: #53b2e8 !important;
}

::ng-deep .md-drppicker td.in-range {
  background-color: #eef9ff !important;
}

::ng-deep .md-drppicker.ltr .calendar.left {
  border-right: 1px solid #eeedf0;
  padding-top: 40px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .md-drppicker.ltr .calendar.right {
  padding-top: 40px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

::ng-deep .md-drppicker td.active {
  background-color: #53b2e8 !important;
}

.date-rangecal {
  padding-top: 0px !important;
}

::ng-deep .md-drppicker td.disabled {
  text-decoration: none !important;
}

::ng-deep .md-drppicker option.disabled {
  text-decoration: none !important;
}
/* ::ng-deep .md-drppicker .buttons {
display: none;
} */

.calender-botoombox {
  border-top: 1.26px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
}

.calender-botoombox {
  border-top: 1.26px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.calender-botoombox .calender-daterange .calender-daterange1 {
  font-family: "poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12.5973px;
  line-height: 24px;
  text-align: center;
  color: #494949;
  background: #ffffff;
  border: 1.25973px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 25.1946px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 15px;
}

.calender-botoombox .calender-daterange .calender-daterange2 {
  font-family: "poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12.5973px;
  line-height: 24px;
  text-align: center;
  color: #494949;
  background: #ffffff;
  border: 1.01223px solid #53b2e8;
  box-sizing: border-box;
  border-radius: 25.1946px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 15px;
}

.calender-botoombox .calender-daterange {
  display: flex;
}

.activity .price-box span img {
  margin-right: 5px;
}

.activity .price-box p span {
  color: #494949;
}

.calender-buttons button.calender-buttons1 {
    background: #ffffff;
    border: 1.25973px solid #53b2e8;
    box-sizing: border-box;
    border-radius: 25.1946px;
    color: #53b2e8;
    margin-right: 20px;
    margin-left: 20px;
    min-height: 34px;
    min-width: 70px;
    font-size: 10px;
    font-weight: 600;
    text-transform: capitalize;
    transition: 0.8s;
}
.calender-buttons button.calender-buttons1:hover {
  background: #53B2E8;
  color: #fff;
}
.calender-buttons button.calender-buttons2 {
  background: #53b2e8;
  box-sizing: border-box;
  border-radius: 25.1946px;
  padding: 5px;
  border: 1px solid #53b2e8;
  color: #fff;
  min-height: 34px;
  min-width: 70px;
  font-size: 10px;
  font-weight: 600;
  text-transform: capitalize;
  transition: 0.8s;
}

::ng-deep .md-drppicker.ltr {
  direction: ltr;
  text-align: left;
  min-width: 560px;
}

::ng-deep .md-drppicker.ltr .calendar.left .calendar-table {
  padding-right: 20px !important;
}
.toggle-filtersearch {
  /* padding: 33px; */
  float: right;
  /* padding-bottom: 10px;
  padding-top: 26px; */
}

.toggle-filtersearch button.btn1-filtersearch {
  background: #f9fafa;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #53b2e8;
}

.toggle-filtersearch button.btn1-filtersearch:hover,
.toggle-filtersearch button.btn2-filtersearch:hover {
  background: #e2f5ff;
}

.toggle-filtersearch button.btn1-filtersearch:active,
.toggle-filtersearch button.btn2-filtersearch:active {
  background: #e2f5ff;
}

.toggle-filtersearch button.btn2-filtersearch {
  background: #f9fafa;
  border: 1px solid #53b2e8;
  box-sizing: border-box;
  color: #53b2e8;
  border-radius: 20px;
  border-left: 0px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #53b2e8;
  text-transform: capitalize;
}
.btn_style {
  width: auto;
  padding: 0px;
  line-height: 36px;
  background: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
  border-radius: 20px;
  text-align: center;
  font-family: "poppins";
  font-size: 12px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  font-weight: 400;
  color: #53b2e8 !important;
  transition: 0.8s;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px 10px 6px 0px;
}
.chip-set-bar {
  padding: 10px 0px;
  margin-top: 10px
}
.chip-set-bar-btn .btn_style .material-icons {
  font-size: 16px;
}
.chip-set-bar-btn .btn_style .mat-icon {
  height: 16px;
  width: 16px;
}
.chip-set-bar-btn .btn_style{
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  min-height: 30px;
  max-height: 30px;
}
.chip-set-bar .display-inline{display:inline-block;padding-right: 10px;}
.map-without-heading h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.001em;
  margin-bottom: 0px;
  color: #494949;
}
.map-without-heading h2 .span-h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.001em;
  color: #494949;
  opacity: 0.7;
  margin-bottom: 0px;
}
.map-without-heading h2 a{text-decoration-line: underline;color: #53B2E8;}
.clear-text:hover {
  text-decoration: none;
}
.clear-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.001em;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #494949;
}

.min-height-288{min-height: 288px;}

/* tooltip css   */
.tooltip-div {position: relative;}
.tooltip-div .tooltip-text {visibility: hidden;width: 210px;position: absolute;z-index: 1;left: 0;top: 100%;font-family: 'Poppins';font-style: normal;
  font-weight: 400;font-size: 12px;line-height: 18px;color: #494949;letter-spacing: 0.001em;background: #CECECE;border-radius: 6px;padding: 9px 10px;text-transform: capitalize;}
.tooltip-div .tooltip-text::after {content: "";position: absolute;bottom: 100%;left: 19px;border-width: 6px;border-style: solid;border-color: transparent transparent #CECECE transparent;}
.tooltip-div:hover .tooltip-text {visibility: visible;}
.tooltip-div .h2-tooltip {display: -webkit-box!important;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;text-overflow: ellipsis;}
/* tooltip end css   */


  /* New Page CSS 16nov22 */
  .equal-height {height: 100%;}
  .bg-white-shadow {background: #FFFFFF;box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);border-radius: 20px;}
  .program-provider-detail {position: relative;padding: 20px 30px;}
  .program-provider-detail-row {display: grid;grid-template-columns: auto 25px;column-gap: 10px;}
  .social-with-reviews-row {display: flex;column-gap: 20px;}
  ul.social-links {display: flex;column-gap: 8px;}
  .provider-profile-img img {width: 100%;max-width: 80px;}
  .provider-profile-row {display: grid;grid-template-columns: 80px auto;align-items: center;column-gap: 15px;}
  .provider-profile-info h3 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 20px;line-height: 130%;color: #494949;margin-bottom: 12px;}

  .edit-profile-info {text-align: right;}
  .edit-profile-info .edit-pro-btn {cursor: pointer;}
  .program-provder-des p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;text-align: justify;letter-spacing: 0.001em;color: #494949;}
  .mt-20px{margin-top: 20px;}
  .mb-20px{margin-bottom: 20px;}
  .program-location-content h4 {font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 12px;line-height: 18px;letter-spacing: 0.01em;color: #828282;margin-bottom: 10px;}
  .location-checkbox-info .field-checkbox-box {display: inline-block;margin-right: 50px;}
  .location-checkbox-info .blue-checkbox {width: 14px;height: 14px;border: 1px solid #828282;border-radius: 2px;outline: 0;box-sizing: border-box;display: inline-block;vertical-align: middle;position: relative;appearance: none;margin-right: 6px;cursor: pointer;}
  .location-checkbox-info .blue-checkbox:checked {background: #53b2e8;border: 1px solid #53b2e8;}
  .location-checkbox-info label {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;color: #494949;}
  .location-content-info {display: flex;column-gap: 20px;align-items: center;}
  .media-icon-info span.icon.icon-pin {color: #53B2E8;}
  .media-content-info h5{font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 14px;line-height: 21px;letter-spacing: 0.01em;color: #494949;}
  .media-content-info p{font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;}
  .reviws-txt-gry {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 80%;color: #494949;text-decoration-line: underline;text-decoration-skip-ink: none;}

  /* New Sidebar CSS */
  .availability-content-info {position: relative;padding: 30px;padding-bottom: 20px;}
  .h2-with-edit-row h2.font-size-20-h2 {width: 90%;}
  .font-size-20-h2 {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 20px;line-height: 130%;color: #494949;}
  .availability-edit {position: absolute;right: 20px;top: 20px;cursor: pointer;}
  .circle-bg-box {display: flex;row-gap: 10px;column-gap: 10px;flex-wrap: wrap;}
  .circle-bg-box div {width: 36px;height: 36px;background: #EBEBEB;border-radius: 30px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 13px;line-height: 20px;color: #494949;display: flex;align-items: center;justify-content: center;}
  .circle-bg-box div.active{background: #DCF3FF;color: #53B2E8;}
  .day-except-info h4 {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 16px;line-height: 130%;color: #858585;}
  .day-except-info p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 130%;color: #494949;}
  .program-list-content-info {padding: 20px 30px;}

  .program-list-table {overflow-y: hidden;overflow-x: auto;width: 100%;}
  .program-list-table table {width: 100%;border-collapse: collapse;text-align: initial;border: 0;}
  .program-list-table table thead tr th {background: #DCF3FF;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 12px;line-height: 18px;letter-spacing: 0.01em;color: #494949;padding: 11px 15px;white-space: nowrap;}
  .program-list-table table thead tr th:first-child {border-top-left-radius: 10px;border-bottom-left-radius: 10px;}
  .program-list-table table thead tr th:last-child {border-top-right-radius: 10px;border-bottom-right-radius: 10px;}
  .program-list-table table tbody tr td {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;letter-spacing: 0.01em;color: #494949;padding: 11px 15px;white-space: nowrap;}
  .clr-pink{color: #FA627D;}
  .program-add-info {text-align: center;}
  .program-add-info p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 24px;text-align: center;letter-spacing: 0.001em;color: #828282;margin-bottom: 20px;}
  .program-add-info button.btn-add-pro {background: #53B2E8;border: 1px solid #53B2E8;box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);border-radius: 50px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;color: #FFFFFF;padding: 17px 15px;width: 100%;max-width: 210px;}
  .program-list-table::-webkit-scrollbar {display: block;}
  .table-program-edit-popup {position: relative;}
  .table-edit-content .edit-links-info {filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.13));background: #FFFFFF;border-radius: 20px;padding: 14px 20px;}
  .table-edit-content .edit-links-info li {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;margin-bottom: 12px;cursor: pointer;}
  .table-edit-content .edit-links-info li:last-child {margin-bottom: 0px;}
  .table-edit-content .edit-links-info li img {margin-right: 8px;}
  .table-edit-content {position: absolute;top: 20px;right: 0;z-index: 1;width: 150px;display: none;}
  .table-program-edit-popup .edit-btn-table {cursor: pointer;}
  .table-program-edit-popup .edit-btn-table.active + .table-edit-content {display: block;}
  .mt-10px{margin-top: 10px!important;}
  .mb-10px{margin-bottom: 10px!important;}
  .more-reviews-box .more-reviews-content-info {position: relative;padding: 20px;}
  .more-reviews-content-info p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #828282;}
  button.btn-get-start {background: #FFFFFF;border: 1px solid #53B2E8;border-radius: 80px;font-family: 'Poppins';font-style: normal;font-weight: 600;font-size: 14px;line-height: 18px;text-align: center;letter-spacing: 0.02em;color: #53B2E8;padding: 13px 15px;width: 100%;max-width: 180px;}
  .profile-comlete-content-info {padding: 20px 30px;}
  .profile-comlete-txt{font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #828282;}
  
  .pro-add-social-info {display: grid;grid-template-columns: auto 50px;column-gap: 10px;}
  .pro-add-social-info .field-checkbox-box {display: grid;grid-template-columns: 22px auto;margin-top: 4px;}
  .pro-add-social-info .blue-checkbox {width: 14px;height: 14px;border: 1px solid #828282;border-radius: 2px;outline: 0;box-sizing: border-box;display: inline-block;vertical-align: middle;position: relative;appearance: none;margin-top: 3px;margin-right: 8px;cursor: pointer;}
  .pro-add-social-info .blue-checkbox:checked {background: #53b2e8;border: 1px solid #53b2e8;}
  .pro-add-social-info label {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #494949;}
  a.link-add-plus {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;text-decoration-line: underline;color: #53B2E8;}
  .progress-bar-profile-comlete {position: relative;}
  .progress-bar-profile-comlete .progress {height: 6px;background: #EBEBEB;border-radius: 10px;}
  .progress-bar-profile-comlete .progress .progress-bar {background: #53B2E8;border-radius: 10px;}
  span.progress-value {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 12px;line-height: 18px;color: #53B2E8;}
  span.progress-value-100 {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;color: #FFFFFF;background: #53B2E8;width: 40px;height: 40px;position: absolute;top: 6px;right: 0;border-radius: 100px;display: flex;align-items: center;justify-content: center;}










