<body>
  <!-- <app-alert *ngIf="isLogin"></app-alert> -->
  <div *ngIf="user" class="main_outer common-headermargin">
    <div class="program_outer">
      <div class="container">
        <div class="provider_profile">
          <div class="row mb-20px">
            <div class="col-md-8">
              <div class="program-provider-detail bg-white-shadow equal-height">
                <div class="program-provider-detail-info">
                  <div class="program-provider-detail-row">
                      <div class="provider-profile-row">
                        <div class="provider-profile-img">
                          <img src="/assets/alex-img.png" />
                        </div>
                        <div class="provider-profile-info">
                          <h3>Hi, Alex!</h3>
                          <div class="social-with-reviews-row">
                            <div class="social-links-info">
                              <ul class="social-links">
                                <li><a href="#"><img src="/assets/image41.svg" /></a></li>
                                <li><a href="#"><img src="/assets/logos-facebook1.svg" /></a></li>
                                <li><a href="#"><img src="/assets/image40.svg" /></a></li>
                                <li><a href="#"><img src="/assets/icons8-instagram1.svg" /></a></li>
                                <li><a href="#"><img src="/assets/ls0web.svg" /></a></li>
                              </ul>
                            </div>
                            <div class="reviews-star-info">
                              <p class="cursor" (mouseover)="isRating=true" (mouseout)="isRating=false">
                                <span *ngIf="
                    rating?.finalAverageRating == 0 ||
                    rating?.finalAverageRating == 'NaN' ||
                    rating?.finalAverageRating == undefined
                  ">
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                </span>
                                <span *ngIf="rating?.finalAverageRating == 1">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                </span>
                                <span *ngIf="
                    rating?.finalAverageRating > 1 &&
                    rating?.finalAverageRating < 2
                  ">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-half-o checked"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                </span>
                                <span *ngIf="rating?.finalAverageRating == 2">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                </span>
                                <span *ngIf="
                    rating?.finalAverageRating > 2 &&
                    rating?.finalAverageRating < 3
                  ">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-half-o checked"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                </span>
                                <span *ngIf="rating?.finalAverageRating == 3">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-o"></span>
                                  <span class="fa fa-star-o"></span>
                                </span>
                                <span *ngIf="
                    rating?.finalAverageRating > 3 &&
                    rating?.finalAverageRating < 4">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-half-o checked"></span>
                                  <span class="fa fa-star-o"></span>
                                </span>
                                <span *ngIf="rating?.finalAverageRating == 4">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-o"></span>
                                </span>
                                <span *ngIf="
                    rating?.finalAverageRating > 4 &&
                    rating?.finalAverageRating < 5">
        
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star-half-o checked"></span>
                                </span>
                                <span *ngIf="rating?.finalAverageRating == 5">
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                  <span class="fa fa-star checked"></span>
                                </span>
                                <span class="no-underline reviws-txt-gry">(</span><a class="reviws-txt-gry" *ngIf="rating?.totalReviews">{{rating?.totalReviews }}
                                  Reviews</a>
                                <a class="reviws-txt-gry" *ngIf="!rating?.totalReviews">0 Reviews</a> <span class="no-underline reviws-txt-gry">)</span>
                              </p>
                              <div class=" star-daialogbox" *ngIf="isRating">
                                <app-rating [rating]="rating" [user]="user"></app-rating>
                              </div>
        
                            </div>
                          </div>
                        </div> 
                      </div>
                      <div>
                        <div class="edit-profile-info">
                          <img class="edit-pro-btn" src="/assets/edit-blue-icon.svg">
                        </div>
                      </div>
                  </div>
                  <div class="program-provder-des mt-20px mb-20px">
                    <p>These lesson will, in a methodical way, teach you the skills you need to play classical piano. The only thing keeping you from reaching your potential is starting lessons. Lessons are geared to your speed of learning and needs. </p>
                  </div>

                  <div class="row row-0 program-location-content">
                    <div class="col-md-8">
                    <div class="program-location-row">
                      <h4>Location</h4>
                      <div class="location-checkbox-info">
                        <div class="field-checkbox-box">
                          <input type="checkbox" id="business" class="blue-checkbox" name="business-address" checked>
                          <label for="business">Business Address</label>
                        </div>
                        <div class="field-checkbox-box">
                          <input type="checkbox" id="online" class="blue-checkbox" name="online">
                          <label for="online">Online</label>
                        </div>
                        <div class="field-checkbox-box">
                          <input type="checkbox" id="student-home" class="blue-checkbox" name="student-home">
                          <label for="student-home">Student’s Home</label>
                        </div>
                      </div>
                    </div>
                    </div>
                    <div class="col-md-4">
                    <div class="business-address-info">
                      <div class="location-content-info">
                        <div class="media-icon-info">
                          <span class="icon icon-pin"></span>
                        </div>
                        <div class="media-content-info">
                          <h5>Business Address</h5>
                          <p>{{user?.addressLine1}}</p>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="availability-box">
                <div class="availability-content-info bg-white-shadow equal-height">
                  <div class="h2-with-edit-row mb-3">
                    <h2 class="font-size-20-h2">Availability</h2>
                    <div class="availability-edit">
                      <div class="edit-availability-info">
                        <img class="edit-pro-btn" src="/assets/edit-blue-icon.svg">
                      </div>
                    </div>
                  </div>
                  <div class="week-day-info mb-3">
                    <div class="circle-bg-box">
                      <div class="active">M</div>
                      <div>T</div>
                      <div>W</div>
                      <div>T</div>
                      <div>F</div>
                      <div>S</div>
                      <div>S</div>
                    </div>
                  </div>
                  <div class="day-except-info">
                    <div class="day-txt-info mb-3">
                      <h4 class="mb-2">Monday</h4>
                      <p>7 AM - 11 AM</p>
                    </div>
                    <div class="except-txt-info">
                      <h4 class="mb-2">Except:</h4>
                      <p class="mb-2">Independence Day (July 4th)</p>
                      <p>Veterans Day (November 11th)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-8">
              <div class="program-list-box equal-height">
                <div class="program-list-content-info bg-white-shadow equal-height">
                  <div class="mb-3">
                    <h2 class="font-size-20-h2">Program List</h2>
                  </div>
                  <div class="program-list-table-info mb-40">
                    <div class="program-list-table">
                      <table>
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Format</th> 
                            <th>Last update</th>
                            <th>Price</th>
                            <!-- <th></th> -->
                          </tr>
                        </thead>
                        <tbody style="display: none;">
                          <tr>
                            <td>Piano Class</td>
                            <td>
                              <span class="clr-blue">Published</span>
                              <!-- <span class="clr-pink">Draft</span> -->
                            </td>
                            <td>Class</td>
                            <td>In-person</td>
                            <td>Today</td>
                            <td>$25/60 min</td>
                            <td style="display: none;">
                              <div class="table-program-edit-popup">
                                <div class="edit-btn-table"> <!-- "active" class add open popup-->
                                  <img src="/assets/group-9358.png" />
                                </div>
                                <div class="table-edit-content">
                                  <ul class="edit-links-info">
                                    <li><img src="/assets/previewmonitor.png" />Preview</li>
                                    <li><img src="/assets/edit-icongroup.png" />Edit</li>
                                    <li><img src="/assets/publish-icon.png" />Publish</li>
                                    <!-- <li><img src="/assets/publish-icon.png" />Unpublish</li> -->
                                    <li><img src="/assets/carbon-copy.png" />Duplicate</li>
                                    <!-- <li><img src="/assets/delete-draft-icon.png" />Delete Draft</li> -->
                                  </ul>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="program-add-info">
                    <p>You haven’t added any programs yet </p>
                    <button class="btn-add-pro">Add program</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="more-reviews-box mb-20px">
                <div class="more-reviews-content-info bg-white-shadow">
                    <div class="reviews-star-info">
                      <p class="cursor">
                        <span *ngIf="
            rating?.finalAverageRating == 0 ||
            rating?.finalAverageRating == 'NaN' ||
            rating?.finalAverageRating == undefined
          ">
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 1">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
            rating?.finalAverageRating > 1 &&
            rating?.finalAverageRating < 2
          ">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 2">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
            rating?.finalAverageRating > 2 &&
            rating?.finalAverageRating < 3
          ">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 3">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
            rating?.finalAverageRating > 3 &&
            rating?.finalAverageRating < 4">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 4">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
            rating?.finalAverageRating > 4 &&
            rating?.finalAverageRating < 5">

                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 5">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                        </span>
                        <!-- <span class="no-underline reviws-txt-gry">(</span><a class="reviws-txt-gry" *ngIf="rating?.totalReviews">{{rating?.totalReviews }}
                          Reviews</a>
                        <a class="reviws-txt-gry" *ngIf="!rating?.totalReviews">0 Reviews</a> <span class="no-underline reviws-txt-gry">)</span>
                       -->
                      </p>
                      <!-- <div class=" star-daialogbox" *ngIf="isRating">
                        <app-rating [rating]="rating" [user]="user"></app-rating>
                      </div> -->

                    </div>
                    <h2 class="font-size-20-h2 mb-10px mt-10px">More Reviews means more customers!</h2>
                    <p class="mb-20px">We will show this reviews on Activity page</p>
                    <button class="btn-get-start">Get started</button>
                </div>
              </div>  
              <div class="profile-comleteness-box">
                <div class="profile-comlete-content-info bg-white-shadow">
                  <h2 class="font-size-20-h2 mb-3">Profile Comleteness</h2>
                  <div class="progress-bar-profile-comlete">
                    <span class="progress-value">74%</span>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:74%">
                      </div>
                    </div>
                    <span class="progress-value-100">100%</span>
                  </div>
                  <div class="profile-comlete-txt mb-3 mt-20px">
                    <p>Check off the boxes below to complete your profile. A complete profile helps parents be as informed as possible before booking an appointment.</p>
                  </div>
                  <div class="pro-complete-add-social">
                    <div class="pro-add-social-info mb-10px">
                      <div class="add-social-left">
                        <div class="field-checkbox-box">
                          <input type="checkbox" id="social-media" name="social-media" checked="" class="blue-checkbox">
                          <label for="social-media">Add your Social media</label>
                        </div>
                      </div>
                      <div class="add-social-right">
                        <a class="link-add-plus" href="#">+ Add</a>
                      </div>
                    </div>
                    <div class="pro-add-social-info">
                      <div class="add-social-left">
                        <div class="field-checkbox-box">
                          <input type="checkbox" id="days-off" name="days-off" class="blue-checkbox">
                          <label for="days-off">Add your Days off</label>
                        </div>
                      </div>
                      <div class="add-social-right">
                        <a class="link-add-plus" href="#">+ Add</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

        <!-- Old page section -->
          <div class="row mb-20px" style="display: none;">
            <div class="col-8">
              <div class="provider_right description_text">
                <div *ngIf="isGenOverview || isPeople" class="people_section overview desc-overflow">

                  <h2 class="overview-heading">About us</h2>
                  <p *ngIf="user.about" class="overview-data">{{user.about}}
                  </p>
                  <!-- <p *ngIf="!user.about" class="overview-data">{{user.note}}
                                    </p> -->
                  <div class="media skills_sec-div">
                    <!-- <div class="media-left">
                                            <div class="people_profile" [class.initial-alpha-profile]="!user?.avatarImages">
                                                <a data-toggle="modal" data-target="#profileModal">
                                                    <img *ngIf="user.avatarImages" class="cursor" src="{{user.avatarImages}}" alt="Profile">
                                                    <h1 *ngIf="!user?.avatarImages">{{user?.firstName | initialChar}}</h1>
                                                </a>
                                            </div>
                                            <h4>{{user.firstName}}</h4>
                                        </div> -->
                    <div class="media-body">
                      <p *ngIf="user?.about">{{user?.about}}</p>
                      <p *ngIf="!user?.about">{{user?.note}}</p>
                      <div class="skills_sec" *ngIf='userCategories?.length'>
                        <h3>Activities</h3>
                        <div class="skill_flex">
                          <div class="skill_outer" *ngFor='let skill of userCategories'>
                            <span>{{skill?.name}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="isActivities" class="provider_right">
                  <div class="description_text slider">
                    <h2>Activities</h2>
                    <div *ngIf="programs?.length" class="row scrollisActivity">
                      <div class="col-md-6" *ngFor="let program of programs">
                        <div class="activities_slide">
                          <div class="slide_image cursor" (click)='goToProgramDetail(program)'>
                            <img [defaultImage]="defaultImage" [errorImage]="errorImage"
                              [lazyLoad]="baseUrl + program?.category[0]?.pattern" />
                          </div>
                          <div class="slide_text">

                            <h3 (click)='goToProgramDetail(program)'> <span class="title cursor">{{program?.name}}
                              </span>
                            </h3>


                            <div class="sports_btn" *ngFor='let cat of program?.category'>
                              <span>{{cat?.name}}</span>
                            </div>
                            <div class="sports_btn" *ngFor='let cat of program?.subCategoryIds'>
                              <span>{{cat?.name}}</span>
                            </div>

                            <div class="date_age">
                              <p>
                                <img alt="Loction Pin" src="assets/calendar.svg">{{program?.date?.from |
                                                                date}} - {{program?.date?.to | date}}
                              </p>
                              <p>
                                <img alt="Loction Pin" src="assets/user_group.svg">
                                {{program?.ageGroup?.from}} - {{program?.ageGroup?.to}}
                                Yrs
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!programs?.length" style="color: #494949;">
                      Currently there are no activities available for this provider. Please check
                      back in a few days.
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-4">
              <div class="provider_left">
                <div class="profile" *ngIf="user?.firstName"
                  [class.initial-alpha-profile]="!user?.subCategoryIds[0]?.logo">
                  <img *ngIf="user?.subCategoryIds[0]?.logo" [defaultImage]="defaultImage"
                    lazyLoad="{{baseUrl+user?.subCategoryIds[0]?.logo}}" alt="Profile image">
                  <!-- <img *ngIf="!user.categories[0]?.logoUrl" src="assets/gray_background.jpeg" alt="Profile image"> -->
                  <h1 *ngIf="!user?.subCategoryIds[0]?.logo">
                    {{user?.firstName | initialChar }}</h1>
                </div>

                <div class="provider_parentdiv">
                  <div class="pro-name">
                    <h2 class="provider_name star-daialog"><span class="provider-heading-h2">{{user?.firstName}}</span>
                      <p class="cursor" (mouseover)="isRating=true" (mouseout)="isRating=false">
                        <span *ngIf="
            rating?.finalAverageRating == 0 ||
            rating?.finalAverageRating == 'NaN' ||
            rating?.finalAverageRating == undefined
          ">
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 1">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
            rating?.finalAverageRating > 1 &&
            rating?.finalAverageRating < 2
          ">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 2">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
            rating?.finalAverageRating > 2 &&
            rating?.finalAverageRating < 3
          ">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 3">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
            rating?.finalAverageRating > 3 &&
            rating?.finalAverageRating < 4">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 4">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-o"></span>
                        </span>
                        <span *ngIf="
            rating?.finalAverageRating > 4 &&
            rating?.finalAverageRating < 5">

                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star-half-o checked"></span>
                        </span>
                        <span *ngIf="rating?.finalAverageRating == 5">
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                          <span class="fa fa-star checked"></span>
                        </span>
                        <!-- <a><span
*ngIf="rating?.finalAverageRating && rating?.finalAverageRating!=='NaN'">{{rating?.finalAverageRating}}</span><span
*ngIf="!rating?.finalAverageRating || rating?.finalAverageRating=='NaN' || rating?.finalAverageRating==undefined">0</span>
out of 5 </a> -->
                        <span class="no-underline">(</span><a *ngIf="rating?.totalReviews">{{rating?.totalReviews }}
                          Reviews</a>
                        <a *ngIf="!rating?.totalReviews">0 Reviews</a> <span class="no-underline">)</span>
                      </p>
                      <div class=" star-daialogbox" *ngIf="isRating">
                        <!-- <button  (click)="isRating=false"type="button" class="close star-daialogicon" aria-label="Close">
            <span aria-hidden="true"><img src="assets/grey-close.png"></span>
        </button> -->
                        <app-rating [rating]="rating" [user]="user"></app-rating>
                      </div>

                    </h2>
                  </div>
                  <!-- <div class="share_icon">
    <a data-toggle="modal" data-target="#ShareModal" class="cursor">
        <img src="assets/share_gray.svg "  alt="Share Icon " />
    </a>
    <div class="bookmark_outer">
        <a *ngIf="isLogin" class="bookmark_icon cursor"><img src="assets/bookmark_gray.svg " alt="Menu Image " 
            /></a>

        <a *ngIf="!isLogin" routerLink="/login" class="bookmark_icon cursor"><img  src="assets/bookmark_gray.svg " alt="Menu Image " /></a>

        <a *ngIf="program?.isFav && parentRole && isLogin"  class="bookmark_icon cursor"><img src="assets/bookmarkOrange.png " alt="Menu Image " /></a>
    </div>
</div> -->
                </div>


                <div class="provider_menu">
                  <ul>
                    <!-- <li>
                                            <a [class.active]="overviewClass" (click)="onGenOverview()">
                                                <span class="icon icon-general"></span> Provider overview
                                            </a>
                                        </li>
                                        <li>
                                            <a [class.active]="peopleClass" (click)="onPeople()">
                                                <span class="icon icon-group"></span> Team
                                            </a>
                                        </li> -->
                    <li>
                      <a class="clr-blue" (click)="onActivities()">
                        <span> <img src="assets/Activities-icon.png" alt=""></span> View
                        Activities
                      </a>
                    </li>
                  </ul>
                </div>
                <!-- <div class="insured_outer">
        
                                <p *ngFor="let badge of badgesList"><img src="{{badge.icon}}" alt="Loction Pin"> {{badge.name}}
                                </p>
                            </div> -->
                <!-- <div class="business_text">
                                <img src="assets/business_red.svg" alt="Business image">
                                <h2>Is this your business?</h2>
                                <button class="btn_style business_btn">Claim this business</button>
                            </div> -->
              </div>
            </div>
          </div>
          <div class="row" style="display: none;">
            <div class="col-4">
              <div *ngIf="isGenOverview" class="provider_map">
                <agm-map id="map" [latitude]="40.73614987717813" [styles]="mapTheme.customStyle"
                  [longitude]="-74.04147784299793" (centerChange)="centerChange($event)" [zoom]="12" [styles]=""
                  [zoomControl]="false" [streetViewControl]="false">
                  <div (mapClick)="mapClicked(previous)">
                    <agm-marker *ngIf="user?.lat && user?.lng" [iconUrl]="markerUrl" [latitude]="user?.lat"
                      [longitude]="user?.lng" (markerClick)="clickedMarker(previous)">
                      <strong>{{user?.firstName}}</strong>
                      <agm-info-window #previous>

                        <div class="map-popup">
                          <h1>
                            {{user?.firstName}}
                          </h1>

                          <!-- <div class="rating-starsearch">
                                                        <p>
                                                            <span *ngIf="rating?.averageFinalRating==0">
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </span>
                                                            <span *ngIf="rating?.averageFinalRating==1">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </span>
                                                            <span
                                                                *ngIf="rating?.averageFinalRating>1 && rating?.averageFinalRating<2">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-half-o checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </span>
                                                            <span *ngIf="rating?.averageFinalRating==2">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </span>
                                                            <span
                                                                *ngIf="rating?.averageFinalRating>2 && rating?.averageFinalRating<3">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-half-o checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </span>
                                                            <span *ngIf="rating?.averageFinalRating==3">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </span>
                                                            <span
                                                                *ngIf="rating?.averageFinalRating>3 && rating?.averageFinalRating<4">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-half-o checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </span>
                                                            <span *ngIf="rating?.averageFinalRating==4">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-o"></span>
                                                            </span>
                                                            <span
                                                                *ngIf="rating?.averageFinalRating>4 && rating?.averageFinalRating<5">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star-half-o checked"></span>
                                                            </span>
                                                            <span *ngIf="rating?.averageFinalRating==5">
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                                <span class="fa fa-star checked"></span>
                                                            </span>
                                                            <a> <span></span>(58 reviews)</a>
                                                        </p>
                                                    </div> -->
                          <div *ngIf="user?.addressLine1" class="map-locationtext">
                            <span><img src="assets/location-pintag.svg"> </span>
                            <h3>
                              {{user?.addressLine1}}
                            </h3>
                          </div>
                        </div>
                      </agm-info-window>
                    </agm-marker>
                  </div>
                </agm-map>
              </div>
            </div>
            <div class="col-8">
              <div *ngIf="isGenOverview" class="description_text min-height-288">
                <h2>Company Information</h2>
                <div class="row margin_top">
                  <div class="col-md-4" *ngIf="user?.addressLine1">
                    <div class="media company_info icon-left-mt-10">
                      <div class="media-left">
                        <span class="icon icon-pin"></span>
                      </div>
                      <div class="media-body">
                        <h4>Address</h4>
                        <p>{{user?.addressLine1}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4" *ngIf="user?.email">
                    <div class="media company_info icon-left-mt-10">
                      <div class="media-left">
                        <span class="icon icon-envelope"></span>
                      </div>
                      <div class="media-body">
                        <h4>Email</h4>
                        <p><a href="mailto:{{user.email}}">{{user?.email}}</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="media company_info icon-left-mt-10">
                      <div class="media-left">
                        <span class="icon icon-phone-call"></span>
                      </div>
                      <div class="media-body">
                        <h4>Phone</h4>
                        <p>{{user?.phoneNumber}}</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-4">
                                        <div class="media company_info align-items-center mb-col-0px">
                                            <div class="media-left">
                                                <img class="imgsvg" src="assets/questionnaire-1.png" alt="Questionnaire">
                                            </div>
                                            <div class="media-body">
                                                <h4>Class types</h4>
                                                <p>Online classes</p>
                                                <p>Offline classes</p>
                                            </div>
                                        </div>
                                    </div> -->
                  <div class="col-md-4" [hidden]="!user?.website">
                    <div class="media company_info icon-left-mt-10 mb-col-0px">
                      <div class="media-left">
                        <span class="icon icon-global"></span>
                      </div>
                      <div class="media-body">
                        <h4>WWW</h4>
                        <p><a href="{{user?.website}}" target="_blank">{{user?.website}}</a></p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-4">
                                        <div class="social-icons media company_info align-items-center mb-col-0px">
                                            <a><span  class="icon"><img  src="assets/fb-123.png"></span></a>
                                            <a><span  class="icon"><img  src="assets/insta.png"></span></a>
                                            <a><span class="icon"><img  src="assets/linked_in.png"></span></a>
                                            <a><span class="icon"><img  src="assets/tweet.png"></span></a>
                                        </div>
                                    </div> -->
                </div>
              </div>
            </div>
          </div>
          <div id="ActivitiesList" style="visibility: hidden;display: none;">scroll</div>
          <div style="display: none;" class="provider_full carousel-cat ativities-section-info" [hidden]="!isGenOverview && !programs?.length">
            <div class="activities-top-grid">
              <div>
                <h4 class="might-try"> Activities
                  <span><img src="assets/active-icon-group-9122.svg" alt="Icon" /></span>
                  <!-- <span><img src="assets/Activities-icon.svg" alt="" (click)="listView = true"></span> -->
                </h4>
              </div>
              <!-- <div>
                                <ul class="act-top-right-btn">
                                    <li><a class="act-top-btn">Age</a></li>
                                    <li><a class="act-top-btn">Type</a></li>
                                    <li><a class="act-top-btn">Dates</a></li>
                                    <li><a class="act-top-btn">Time</a></li>
                                    <li><a class="act-top-btn">Days</a></li>
                                    <li><a class="act-top-btn">Price</a></li>
                                    <li>
                                        <div class="toggle-filtersearch">
                                            <button class="btn1-filtersearch"> Online </button>
                                            <button class="btn2-filtersearch"> In person </button>
                                        </div>
                                    </li>
                                </ul>    
                            </div> -->

              <div class="row row-0">
                <div class="col-md-9">
                  <div class="search-filterss">
                    <div class="category_list" id="accordionExample">
                      <ul>
                        <!-- <li class="cursor">
                                                    <a aria-expanded="true" data-target="#category"
                                                        [ngClass]="{ active: isCategoryFilter }" data-toggle="collapse"
                                                        joyrideStep="firstStep" title="💡 Search with filters"
                                                        text="Narrow down your search by clicking on any of the filters above. ">Categories</a>
                                                    <div class="collapse main_collpase time_collpase verification_modal partcategory"
                                                        id="category" data-parent="#accordionExample">
                                                        <div class="collpase_content cate-dilter">
                                                            <div class="container">
                                                                <div class="row categories-filt">
                                                                    <div class="col-5 categories-filterheader">
                                                                        <h2>Categories</h2>
                                                                    </div>
                                                                    <div class="col-7 sub-categoriesfilterheader">
                                                                        <h2>
                                                                            Sub categories

                                                                            <span>
                                                                                <span>
                                                                                    <a class="clear cusror"
                                                                                        data-target="#category"
                                                                                        data-toggle="collapse"
                                                                                        (click)="selectedCat='';categoryId='';tempCategoryId='';subCats=[];selectedSubCategories=[];tempSearchedSubCategory='';tempSelectedSubCategories=[];programFilter()">Clear
                                                                                        all</a>
                                                                                </span>
                                                                                <button data-target="#category"
                                                                                    data-toggle="collapse"
                                                                                    (click)="categoryId=tempCategoryId;searchedSubCategory=tempSearchedSubCategory;selectedSubCategories=tempSelectedSubCategories ;programFilter()">
                                                                                    APPLY FILTER
                                                                                </button>
                                                                            </span>
                                                                        </h2>
                                                                    </div>
                                                                </div>
                                                                <div class="row meta-overflow-row">
                                                                    <div class="col-5 categories-filtercontent">
                                                                        <h3 *ngFor="let cat of categories"
                                                                            [ngClass]="{ active: (selectedCat == cat?.id) }"
                                                                            (click)="getSubCateById(cat)">
                                                                            {{ cat?.name }}
                                                                        </h3>
                                                                    </div>
                                                                    <div class="col-7 sub-categoriesfiltercontent">
                                                                        <label class="cursor"
                                                                            *ngFor="let s of subCats; let i = index"
                                                                            for="categoriescheck{{i}}">
                                                                            <span><input type="checkbox"
                                                                                    [disabled]="!s?.programCount"
                                                                                    class="k-checkbox categories-checkbox"
                                                                                    id="categoriescheck{{i}}"
                                                                                    name="categoriescheck"
                                                                                    value="{{ s }}"
                                                                                    [checked]="s.checked" (change)="
                                                    onProgramsSubCategoryChange(i, $event)
                                                    " /></span>
                                                                            <h3
                                                                                [class.checkbox-checked-name]="s.checked">
                                                                                {{ s?.name }}
                                                                                <span>({{ s?.programCount
                                                                                }})</span>
                                                                            </h3>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li> -->
                        <li class="cursor">
                          <a [ngClass]="{ active: isAgeFilter }" aria-controls="collapseExample" aria-expanded="true"
                            data-target="#ageGroup" data-toggle="collapse">Age
                          </a>
                          <div class="collapse main_collpase verification_modal" id="ageGroup"
                            data-parent="#accordionExample">
                            <div class="collpase_content">
                              <div class="form-group">
                                <ngx-slider [(value)]="minAge" [(highValue)]="maxAge" [options]="ageOption">
                                </ngx-slider>
                              </div>
                            </div>
                            <div class="submit_btn">
                              <button (click)="isAgeFilter=false;programFilter()" type="button"
                                aria-controls="collapseExample" aria-expanded="true" data-target="#ageGroup"
                                data-toggle="collapse" class="cancel_btn">
                                Clear
                              </button>

                              <button (click)="isAgeFilter=true
                                        ;programFilter()" search-results.scrollTop="0" data-target="#ageGroup"
                                data-toggle="collapse" class="submitBtn">
                                Apply
                              </button>
                            </div>
                          </div>
                        </li>
                        <li class="cursor">
                          <a aria-expanded="true" [ngClass]="{ active: isTypeFilter }" aria-expanded="true"
                            data-target="#typess" data-toggle="collapse">Type</a>
                          <div class="collapse main_collpase typess verification_modal" id="typess"
                            data-parent="#accordionExample">
                            <div class="collpase_content">
                              <div class="form-group typess">
                                <div class="input_outer">
                                  <form action="">
                                    <div class="typess-flex" *ngFor="let type of programTypes;let i = index">
                                      <input type="checkbox" #types
                                        (change)="onProgramTypeChange(i,type, $event.target.checked)" class="k-checkbox"
                                        name="type1" value="{{type}}" />
                                      <label for="type2" class="k-checkbox-label" for="type1">{{type}}</label>
                                    </div>


                                  </form>
                                </div>
                              </div>

                              <div class="submit_btn">
                                <button class="cancel_btn" data-target="#typess" data-toggle="collapse"
                                  (click)="clearProgramTypes()">
                                  Clear
                                </button>
                                <button class="submitBtn" data-target="#typess" data-toggle="collapse"
                                  (click)="selectedProgramTypes=tempSelectedProgramTypes;programFilter()">
                                  Apply
                                </button>
                              </div>

                            </div>
                          </div>
                        </li>
                        <li class="cursor">
                          <a [ngClass]="{ active: isDateFilter }" aria-expanded="true" data-target="#date"
                            data-toggle="collapse">Dates</a>
                          <div class="
                                        collapse
                                        main_collpase
                                        verification_modal
                                        date-rangecal
                                      " id="date" data-parent="#accordionExample">
                            <ngx-daterangepicker-material (choosedDate)="choosedDate($event)" [minDate]="minDate"
                              [autoApply]="true">
                            </ngx-daterangepicker-material>

                            <div class="calender-botoombox">
                              <div class="calender-daterange">
                                <div class="calender-daterange1" *ngIf="fromDate">
                                  {{ fromDate | date: "shortDate" }}
                                </div>
                                <img *ngIf="toDate" src="assets/calenderarrows.svg" />
                                <div class="calender-daterange2" *ngIf="toDate">
                                  {{ toDate | date: "shortDate" }}
                                </div>
                              </div>
                              <div class="calender-buttons">
                                <button class="calender-buttons1" data-target="#date" data-toggle="collapse"
                                  (click)="isDateFilter=false;programFilter()">
                                  Cancel
                                </button>
                                <button class="calender-buttons2" data-target="#date" data-toggle="collapse"
                                  (click)="isDateFilter=true;programFilter()">
                                  Apply
                                </button>
                              </div>
                            </div>
                          </div>
                        </li>
                        <li class="cursor">
                          <a aria-controls="collapseExample" [ngClass]="{ active: isTimeFilter }" aria-expanded="true"
                            data-target="#timess" data-toggle="collapse">Time</a>
                          <div class="collapse main_collpase typess verification_modal" id="timess"
                            data-parent="#accordionExample">
                            <div class="collpase_content">
                              <div class="form-group typess">
                                <div class="input_outer">
                                  <form action="">
                                    <div class="typess-flex" *ngFor="let time of programTimes;let i = index">
                                      <input type="checkbox" class="k-checkbox"
                                        (change)="onProgramTimeChange(i,time, $event.target.checked)" #times
                                        name="time1" value="{{time}}" />
                                      <label for="time1" class="k-checkbox-label">{{time}}
                                        ({{programTimesShow[i]}})</label>
                                    </div>

                                  </form>
                                </div>
                              </div>


                              <div class="submit_btn">
                                <button type="button" aria-controls="collapseExample" aria-expanded="true"
                                  data-target="#timess" (click)="clearProgramTime()" data-toggle="collapse"
                                  class="cancel_btn">
                                  Clear
                                </button>

                                <button (click)="selectedProgramTime=tempSelectedProgramTime;programFilter()"
                                  search-results.scrollTop="0" data-target="#timess" data-toggle="collapse"
                                  class="submitBtn">
                                  Apply

                                </button>
                              </div>

                            </div>
                          </div>
                        </li>

                        <li class="cursor">
                          <a aria-expanded="true" [ngClass]="{ active: isDaysFilter }" data-target="#Dayss"
                            data-toggle="collapse">Days</a>
                          <div class="collapse main_collpase typess verification_modal" id="Dayss"
                            data-parent="#accordionExample">
                            <div class="collpase_content">
                              <div class="form-group typess">
                                <div class="input_outer">
                                  <h1>Select Days</h1>
                                  <form action="">
                                    <div class="typess-flex" *ngFor="let day of weakDays; let i = index">
                                      <input type="checkbox" class="k-checkbox" #days name="Days"
                                        (change)="onDayChange(i,day, $event.target.checked)" value="{{day}}">
                                      <label for="Days1"
                                        class="k-checkbox-label">{{day.charAt(0)+day.charAt(1)+day.charAt(2)}}</label>
                                    </div>
                                  </form>
                                </div>
                              </div>
                              <div class="submit_btn">
                                <button (click)="clearProgramDays()" type="button" aria-controls="collapseExample"
                                  aria-expanded="true" data-target="#Dayss" data-toggle="collapse" class="cancel_btn">
                                  Clear
                                </button>

                                <button (click)="selectedDays=tempSelectedDays;programFilter()"
                                  search-results.scrollTop="0" data-target="#Dayss" data-toggle="collapse"
                                  class="submitBtn">
                                  Apply
                                </button>
                              </div>

                            </div>
                          </div>
                        </li>
                        <li class="cursor">
                          <a [ngClass]="{ active: isPriceFilter }" aria-controls="collapseExample" aria-expanded="true"
                            data-target="#priceGroup" data-toggle="collapse">Price
                          </a>
                          <div class="collapse main_collpase verification_modal" id="priceGroup"
                            data-parent="#accordionExample">
                            <div class="collpase_content">
                              <div class="form-group">
                                <ngx-slider [(value)]="minPrice" [(highValue)]="maxPrice" [options]="priceOption">
                                </ngx-slider>
                              </div>
                            </div>
                            <div class="submit_btn">
                              <button (click)="minPrice = 50;maxPrice = 300;isPriceFilter=false;programFilter()"
                                type="button" aria-controls="collapseExample" aria-expanded="true"
                                data-target="#priceGroup" data-toggle="collapse" class="cancel_btn">
                                Clear
                              </button>

                              <button (click)="isPriceFilter=true;programFilter()" search-results.scrollTop="0"
                                data-target="#priceGroup" data-toggle="collapse" class="submitBtn">
                                Apply
                              </button>
                            </div>
                          </div>
                        </li>

                        <!-- <li class="cursor">
                                                    <a class="top-rateds" aria-expanded="true" [ngClass]="{ active: isTopFilter }"><span
                                                            class="simple-toggle">
                                                            Top Rated
                                                            <span>
                                                                <label class="switch1">
                                                                    <input [(ngModel)]="isTopFilterCheckBox"
                                                                        (change)="contentLoaded=false;programFilter()" type="checkbox" />
                                                                    <span class="slider1"></span>
                                                                </label>
                                                            </span>
                                                        </span>
                                                    </a>
                                                </li> -->
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="col-md-3 toggle-border">
                  <div class="toggle-filtersearch">
                    <button [class.active]="isOnline"
                      (click)="(isOnline?isOnline=false:isOnline=true);(isInPerson?isInPerson=false:false);programFilter()"
                      class="btn1-filtersearch">
                      Online
                    </button>
                    <button [class.active]="isInPerson"
                      (click)="(isInPerson?isInPerson=false:isInPerson=true);(isOnline?isOnline=false:false);programFilter()"
                      class="btn2-filtersearch">
                      In person
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="row row-0 mb-40">
              <div class="col-12">
                <div class="chip-set-bar chip-set-bar-btn" *ngIf="showReset">
                  <!-- <div class="map-without-heading display-inline" *ngIf="searchedSubCategory">
                                        <h2><a><span>{{searchedSubCategory}}</span>
                                            <span
                                                    *ngIf="selectedSubCategories?.length && selectedSubCategories?.length>1">
                                                    +
                                                    {{selectedSubCategories?.length-1}} More
                                                </span>
                                            </a> 
                                            in New Jersey
                                            <span class="span-h3">&nbsp;|&nbsp; <b>{{activitiesCount}}</b> activities
                                                from <b>{{providerProgram?.length}}</b> providers</span>
                                            </h2>
                                    </div> -->
                  <button class="btn_style save_btn cursor" *ngIf="!isInPerson && isOnline">
                    online
                    <mat-icon (click)="isOnline=!isOnline;programFilter()">
                      cancel</mat-icon>
                  </button>
                  <button class="btn_style save_btn cursor" *ngIf="isInPerson && !isOnline">
                    in-persion
                    <mat-icon (click)="isInPerson=!isInPerson;programFilter()">
                      cancel</mat-icon>
                  </button>


                  <button class="btn_style save_btn cursor" *ngIf="isAgeFilter">
                    Age {{minAge}}-{{maxAge}} years
                    <mat-icon (click)="isAgeFilter=!isAgeFilter;programFilter()">
                      cancel
                    </mat-icon>
                  </button>
                  <button class="btn_style save_btn cursor" *ngIf="isPriceFilter">
                    Price ${{minPrice}}-${{maxPrice}}
                    <mat-icon (click)="isPriceFilter=!isPriceFilter;programFilter()">
                      cancel
                    </mat-icon>
                  </button>
                  <button class="btn_style save_btn cursor" *ngIf="isDateFilter">
                    {{fromDate | date: "MMM d " }}-{{toDate | date: "MMM d " }}
                    <mat-icon (click)="isDateFilter=!isDateFilter;programFilter()">
                      cancel
                    </mat-icon>
                  </button>
                  <button class="btn_style save_btn cursor" *ngIf="isTopFilterCheckBox">
                    Top Rated
                    <mat-icon (click)="isTopFilterCheckBox=false;isTopFilter=false;programFilter()">
                      cancel</mat-icon>
                  </button>
                  <button class="btn_style save_btn cursor" *ngFor="let day of this.selectedDays;index as i">
                    {{day}}
                    <mat-icon (click)="removeRecentSearches('days',i)" class="ml-2">cancel
                    </mat-icon>
                  </button>
                  <button class="btn_style save_btn cursor" *ngFor="let type of this.selectedProgramTypes;index as i">
                    {{type}}
                    <mat-icon (click)="removeRecentSearches('types',i)" class="ml-2">cancel
                    </mat-icon>
                  </button>
                  <button class="btn_style save_btn cursor" *ngFor="let time of this.selectedProgramTime;index as i">
                    {{time}}
                    <mat-icon (click)="removeRecentSearches('times',i)" class="ml-2">cancel
                    </mat-icon>
                  </button>
                  <span>
                    <a (click)="resetFilter()" class="ml-2 clear-text cursor">Clear all</a>
                  </span>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- <div class="col-12" *ngIf="programs?.length" [hidden]="listView">
                                <div id="carouselExampleIndicators" class="carousel slide activities-carousel" data-ride="carousel">

                                    <div class="carousel-inner">
                                        <div class="carousel-item active container">
                                            <div class="row">
                                                <div class="col-12 col-md" *ngFor='let program of programs | slice:0:3'>
                                                    <div class="activities_slide">
                                                        <div class="slide_image cursor" (click)='goToProgramDetail(program)'>
                                                            <img [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="baseUrl + program?.category[0]?.pattern" />
                                                        </div>
                                                        <div class="slide_text">
                                                            <h3>
                                                                <span class="title cursor" (click)='goToProgramDetail(program)'>{{program?.name}}</span>
                                                                
                                                            </h3>
                                                            <div class="sports_btn" *ngFor='let cat of program?.category'>
                                                                <span>{{cat?.name}}</span>
                                                            </div>
                                                            <div class="date_age">
                                                                <p>
                                                                    <img alt="Loction Pin" src="assets/calendar.svg"> {{program?.date.from | date:'mediumDate'}} - {{program?.date?.to | date:'mediumDate'}}
                                                                </p>
                                                                <p>
                                                                    <img alt="Loction Pin" src="assets/user_group.svg"> {{program?.ageGroup.from}} - {{program?.ageGroup.to}} Yrs
                                                                </p>
                                                                <p>
                                                                    <img alt="Loction Pin" src="assets/user_group.svg"> {{program?.time?.from | timeConvert | date:'h:mm a'}} - {{program?.time?.to | timeConvert | date:'h:mm a'}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item" *ngIf="programs?.length>3">
                                            <div class="row">
                                                <div class="col-12 col-md" *ngFor='let program of programs | slice:3:6'>
                                                    <div class="activities_slide">
                                                        <div class="slide_image cursor" (click)='goToProgramDetail(program)'>
                                                            <img [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="baseUrl + program?.category[0]?.pattern" />
                                                        </div>
                                                        <div class="slide_text">
                                                            <h3>
                                                                <span class="title cursor" (click)='goToProgramDetail(program)'>{{program?.name}}</span>
                                                            </h3>
                                                            <div class="sports_btn" *ngFor='let cat of program?.category'>
                                                                <span>{{cat?.name}}</span>
                                                            </div>
                                                            <div class="date_age">
                                                                <p>
                                                                    <img alt="Loction Pin" src="assets/calendar.svg"> {{program?.date.from | date:'mediumDate'}} - {{program.date.to | date:'mediumDate'}}
                                                                </p>
                                                                <p>
                                                                    <img alt="Loction Pin" src="assets/user_group.svg"> {{program?.ageGroup.from}} - {{program?.ageGroup.to}} Yrs
                                                                </p>
                                                                <p>
                                                                    <img alt="Loction Pin" src="assets/user_group.svg"> {{program?.time?.from | timeConvert | date:'h:mm a'}} - {{program?.time?.to | timeConvert | date:'h:mm a'}}
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
              <div class="col-12" *ngFor="let program of programs;index as i"
                [hidden]="!listView  && !programs?.length">
                <div class="row ativities-boxes-info align-items-center bg_color">
                  <div class="col-2 name tooltip-div" (click)='goToProgramDetail(program)'>
                    <h6 class="tdata h2-tooltip">{{program.name}}
                      <span class="tooltip-text">{{program.name}}</span>
                    </h6>
                  </div>
                  <div class="col-3">
                    <div class="btn-group-info">
                      <ul class="ul-tag-btn-info">
                        <li *ngFor='let cat of program?.category'><button
                            class="btn-activites-info">{{cat.name}}</button></li>
                        <li *ngFor='let cat of program?.subCategoryIds'><button
                            class="btn-activites-info">{{cat.name}}</button></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-2">
                    <div class="left-icon-box-media">
                      <div>
                        <img src="assets/calender-icon-img1.png" alt="calender-icon">
                      </div>
                      <div>
                        <p *ngIf="!program?.isDateNotMention">{{program?.date.from | date:'MMMdd'}} -
                          {{program.date.to | date:'MMM dd'}}</p>
                      </div>
                    </div>
                    <div class="left-icon-box-media">
                      <div>
                        <img src="assets/watch-icon-img.png" alt="time-icon">
                      </div>
                      <div>
                        <p *ngIf="!program?.isTimeNotMention">
                          {{program?.time?.from | timeConvert | date:'h:mm a'}} -
                          {{program?.time?.to | timeConvert | date:'h:mm a'}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="left-icon-box-media">
                      <div>
                        <img src="assets/user-icon-img.png" alt="users-icon">
                      </div>
                      <div>
                        <p>{{program?.ageGroup.from}} - {{program?.ageGroup.to}} Yrs</p>
                      </div>
                    </div>
                    <div class="left-icon-box-media">
                      <div>
                        <img src="assets/price-doller-icon.png" alt="price-icon">
                      </div>
                      <div
                        *ngIf="(!program?.isFree && program?.pricePerParticipant)|| (program?.isFree && !program?.pricePerParticipant)">
                        <p *ngIf="!program?.isFree && program?.pricePerParticipant">
                          <span>{{
                                                        program.pricePerParticipant
                                                        }}<span *ngIf="program?.pricePeriod?.periodAmount">/{{
                                                            program?.pricePeriod?.periodAmount
                                                            }}</span></span>
                        </p>
                        <p *ngIf="program?.isFree && !program?.pricePerParticipant"><span>
                            Free</span></p>
                      </div>


                    </div>
                  </div>
                  <div class="col-2">
                    <div class="cstm-btn-online-info" *ngIf="program?.inpersonOrVirtual=='Virtual'">
                      <button class="cstm-btn-online">Online</button>
                    </div>
                    <div class="left-icon-box-media" *ngIf="program?.inpersonOrVirtual=='Inperson'">
                      <div>
                        <img src="assets/location-icon.png" alt="location-icon">
                      </div>
                      <div>
                        <p>{{program?.location}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h1 *ngIf="!programs?.length && isLoaded" style="color: #494949;">Sorry no results found :(
              </h1>
            </div>
            <!-- <div class="" [hidden]="listView"> 
                            <a href="#carouselExampleIndicators" data-slide="next">
                                <div class="carousel-nav-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path
                      d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z" />
                  </svg>
                                </div>
                            </a>
                        </div> -->
          </div>
        </div>

      </div>
    </div>
  </div>
  <ngx-ui-loader [fgsTemplate]="foregroundSpinner" fgsSize="190" bgsSize="190"> </ngx-ui-loader>
  <ng-template #foregroundSpinner>
    <app-loader-file></app-loader-file>
  </ng-template>
</body>
<reg-wall></reg-wall>
