<body>
  <header [ngClass]="{ 'search-header': logoPosition }">
    <div [ngClass]="logoPosition? 'container-fluid':'container' ">
      <nav class="navbar navbar-expand-lg navbar-light header_main">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="cursor header-logo" (click)="logo()">
            <img *ngIf="!logoPosition" class="header-image" src="assets/logo.png" alt="Logo" />
            <img *ngIf="logoPosition" class="header-image-search" src="assets/logo.png" alt="Logo" />
          </a>

          <div class="left-searchpd" [hidden]="routeName !=='/search' && routeName !=='/my-wondrfly'">
            <div class="left_search">
              <div>
                <form class="banner_form">
                  <!-- <div class="form-group ">
                    <input type="text" placeholder="Search Activity..." aria-label="Activity" [formControl]="searchTerm"
                      class="form-control camp_input " matInput [matAutocomplete]="autoHeader">
                  </div> -->
                  <div class="search-location">
                    <span data-toggle="modal" data-target="#locationMod">
                      <img src="assets/search-location-header.svg" /></span>
                    <input placeholder="Jersey City" [(ngModel)]="locationSearched"
                      [ngModelOptions]="{standalone: true}" (keydown.enter)="$event.preventDefault()" autocorrect="off"
                      autocapitalize="off" spellcheck="off" #search />
                  </div>
                  <div class="distance-search-field">
                    <button id="distanceDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">{{selectedDistance}}
                      <img src="assets/down-icon-black.svg" />
                    </button>
                    <div class="dropdown-menu distance-div" aria-labelledby="distanceDropdown">
                      <div class="distance-filter-info">
                        <div class="dis-flex circle-dot-checkbox">
                          <label class="k-checkbox-label">
                            <input type="checkbox"
                              [checked]="isBird && !isDriving && !isBiking && !isWalking && !isWith" value="10"
                              (change)="(isBird?isBird=false:isBird=true);(isDriving?isDriving=false:false);(isBiking?isBiking=false:false);(isWalking?isWalking=false:false);(isWith?isWith=false:false);nearBy($event)"
                              class="k-checkbox" /><span class="cursor">Bird’s - eye view</span></label>
                        </div>
                        <div class="dis-flex circle-dot-checkbox">
                          <label class="k-checkbox-label">
                            <input type="checkbox"
                              [checked]="isDriving && !isBird && !isBiking && !isWalking && !isWith" value="5"
                              (change)="(isDriving?isDriving=false:isDriving=true);(isBird?isBird=false:false);(isBiking?isBiking=false:false);(isWalking?isWalking=false:false);(isWith?isWith=false:false);nearBy($event)"
                              class="k-checkbox" /><span class="cursor">Driving (5 mi.)</span></label>
                        </div>
                        <div class="dis-flex circle-dot-checkbox">
                          <label class="k-checkbox-label">
                            <input type="checkbox"
                              [checked]="isBiking && !isDriving && !isBird && !isWalking && !isWith" value="2"
                              (change)="(isBiking?isBiking=false:isBiking=true);(isWalking?isWalking=false:false);(isDriving?isDriving=false:isDriving=false);(isBird?isBird=false:false);(isWith?isWith=false:false);nearBy($event)"
                              class="k-checkbox" />
                            <span class="cursor">Biking (2 mi.)</span></label>
                        </div>
                        <div class="dis-flex circle-dot-checkbox">
                          <label class="k-checkbox-label">
                            <input type="checkbox"
                              [checked]="isWalking && !isBiking && !isDriving && !isBird && !isWith" value="1"
                              (change)="(isWalking?isWalking=false:isWalking=true);(isBiking?isBiking=false:false);(isDriving?isDriving=false:isDriving=false);(isBird?isBird=false:false);(isWith?isWith=false:false);nearBy($event)"
                              class="k-checkbox" /> <span class="cursor">Walking (1 mi.)</span></label>
                        </div>
                        <div class="dis-flex circle-dot-checkbox">
                          <label class="k-checkbox-label">
                            <input type="checkbox"
                              [checked]="isWith && !isBiking && !isWalking && !isDriving && !isBird" value="500"
                              (change)="(isWith?isWith=false:isWith=true);(isBiking?isBiking=false:false);(isWalking?isWalking=false:false);(isBird?isBird=false:false);(isDriving?isDriving=false:isDriving=false);nearBy($event)"
                              class="k-checkbox" /><span class="cursor">Within 4 blocks</span></label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group cursor">
                    <button class="banner_button cursor" (click)="searchKeyword(searchTerm.value)">
                      <img src="assets/search_icon.svg" alt="Search image" />
                    </button>
                  </div>
                  <mat-autocomplete #autoHeader="matAutocomplete">
                    <div *ngFor="let group of allData">
                      <mat-optgroup *ngIf="group?.data?.length" [label]="group.label">
                        <mat-option *ngFor="let option of group.data" [value]="option.name"
                          (onSelectionChange)="selectSearchedOption(option)">
                          {{option.name}}
                          <span class="search-programlist">
                            <img src="assets/program-search.svg" />
                          </span>
                        </mat-option>
                      </mat-optgroup>
                    </div>
                  </mat-autocomplete>
                </form>
              </div>
            </div>
          </div>
          <ul *ngIf="isLogin" class="navbar-nav mr-auto">
            <li class="C">
              <a class="nav-link cursor" (click)="profile()" [class.active]="profileClass">
                <span class="icon "><img src="assets/Profile-icon.svg" alt="Logo" /></span> Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/program/home" [class.active]="insightClass">
                <span class="icon "><img src="assets/Insights-icon.svg" alt="Logo" /></span> Insights
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/program/list" [class.active]="programClass">
                <span class="icon "><img src="assets/Activities-icon.svg" alt="Logo" /></span>Manage Activities
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/program/setting" [class.active]="settingClass">
                <span class="icon "><img src="assets/Settings-icon.svg" alt="Logo" /></span>Settings
              </a>
            </li>
            <!-- <li class="nav-item">
            <a class="nav-link cursor" routerLink="/forum/forum-type" [class.active]="forumClass">
              <span class="icon icon-conversation"></span> Forum
                            </a>
                        </li> -->
            <li class="nav-item">
              <a class="nav-link cursor" [class.active]="helpClass">
                <span class="icon "><img src="assets/Help-icon.svg" alt="Logo" /></span> Help
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link cursor" data-toggle="modal" data-target="#NotificationModal">
                <span class="icon "><img src="assets/Notification-icon.svg" alt="Logo" /></span> Notifications
              </a>
            </li>
          </ul>
          <div class="header_right row" [ngClass]="{ 'after-nav': logoPosition }">

            <div class="home-btn-header-info">
              <div class="home-btn-header" data-toggle="tooltip" data-placement="bottom" title="Home">
                <a class="cursor" (click)="logo()">
                  <img src="assets/home-icon-hd.png" /> Home
                </a>
              </div>
            </div>

            <div class="progress-imagewith">
              <a class="cursor show-profile-completeness" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">

                <div class="head_profile" [class.initial-alpha]="!user?.avatarImages">
                  <div class="progress" id="progress">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <img *ngIf="user?.avatarImages" [src]="user?.avatarImages" alt="Profile image" />
                    <h4 *ngIf="!user?.avatarImages" [class.initial-alpha]="!user?.avatarImages">
                      {{user?.firstName | initialChar}}</h4>
                  </div>
                </div>
              </a>
              <!-- <span class="icon rel hide-profile-completeness" *ngIf="+profileProgress<100 && profileProgressPopup">
                <div class="box arrow-top">
                  <h1>Profile {{profileProgress}}% Complete</h1>
                  <h2>Profile Completion Score</h2>
                  <button (click)="profile()">Complete</button>
                </div>
              </span> -->
              <div class="dropdown-menu header-logoutdrop" aria-labelledby="navbarDropdown">
                <!-- <a class="dropdown-item cursor active-head" (click)="profile()"><img
                    src="assets/new-profile.svg" />Profile</a> -->
                <a class="dropdown-item cursor active-head" (click)="profile()"><img
                    src="assets/new-profile.svg" />Profile <span
                    *ngIf="profileProgress!=='100' && profileProgress!==100"
                    class="font-weight-600 clr-purple">{{profileProgress}}%
                    Complete</span></a>
                <a class="dropdown-item cursor active-head" data-toggle="modal" data-target="#review"><img
                    src="assets/new-logout-blue.svg" />Logout</a>
              </div>
              <!-- <div class="dropdown-menu header-logoutdrop" aria-labelledby="navbarDropdown">
                 
                <a class="dropdown-item cursor active-head" (click)="profile()"><img
                    src="assets/new-profile.svg" />Profile</a>
                <a class="dropdown-item cursor active-head" (click)="savedList()"><img
                    src="assets/saved-prog.svg" />Saved Activities</a>
                <a class="dropdown-item cursor active-head" (click)="logout()"><img
                    src="assets/new-logout.svg" />Logout</a>
              </div> -->
              <div class="profile-completion">
                <a class="progress_bar">
                  <div class="progress profile_text" id="progress">
                    <div *ngIf="profileProgress" class="progress-value">
                      Profile Complition {{ profileProgress }}%
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="header-notifications-info header-lefticons" *ngIf="!isLogin" data-toggle="tooltip"
              data-placement="bottom" title="Notifications">
              <a class="noti-lefticon cursor" id="navbarDropdown1" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="icon rel"><img src="assets/Notification-icon1.png" alt="Logo" />
                  <span class="Button-badge" *ngIf="newNotifications">
                    <span *ngIf="newNotifications <= 10">{{
                      newNotifications
                      }}</span>
                    <span *ngIf="newNotifications > 10">{{ 10 }}+</span>
                  </span>
                </span>
              </a>
              <!--notification Modal -->
              <div class="dropdown-menu header-logoutdrop notification-dropdown-info" aria-labelledby="navbarDropdown1">
                <div class="noti-dropdown-info">
                  <div>
                    <button type="button" id="close_notification_modal" class="close" data-dismiss="modal"
                      aria-label="Close">
                      <span aria-hidden="true" class="icon-close"></span>
                    </button>
                    <div class="modal-body-noti">
                      <mat-slide-toggle *ngIf="isLogin" #toggle [(ngModel)]="isToggle"
                        (ngModelChange)="onOffNotification(user.id, $event)">ENABLE</mat-slide-toggle>
                      <div class="heading_alert">
                        You have {{newNotifications}} New Notifications
                        <span class="three_dots">
                          <p class="noti-read">
                          </p>
                          <span *ngIf="isLogin" (click)="clearAll()"> clear all </span>
                        </span>
                      </div>
                      <div class="scroll-bar">
                        <hr class="grey_line" />
                        <h6 class="today-heading" *ngIf="todayNotifications?.length">Today</h6>
                        <div class="notification cursor" *ngFor="
              let notification of todayNotifications ;
              let i = index
            " (mouseover)="readNotification(notification)" (click)="notificationView(notification)">
                          <div class="img-notif">
                            <img src="assets/notic1.png">
                            <span *ngIf="!notification.isRead" class="red_dot dots-span"><svg width="7" height="7"
                                viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="2" cy="2" r="2" fill="#FA627D" />
                              </svg>
                            </span>
                          </div>
                          <div>
                            <div class="noti_description">
                              {{ notification?.description }}
                            </div>
                            <div class="noti_heading">
                              <date-format [date]="notification?.updatedOn"></date-format>
                            </div>
                          </div>
                        </div>
                        <hr class="grey_line" />
                        <h6 class="today-heading" *ngIf="earlierNotifications?.length">Earlier</h6>
                        <div class="notification cursor" *ngFor="
              let notification of earlierNotifications;
              let i = index
            " (mouseover)="readNotification(notification)" (click)="notificationView(notification)">
                          <div class="img-notif">
                            <img src="assets/notic1.png">
                            <span *ngIf="!notification.isRead" class="red_dot dots-span"><svg width="7" height="7"
                                viewBox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="2" cy="2" r="2" fill="#FA627D" />
                              </svg>
                            </span>
                          </div>
                          <div>
                            <div class="noti_description">
                              {{ notification.description }}
                            </div>
                            <div class="noti_heading">
                              <date-format [date]="notification?.updatedOn"></date-format>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="save-btn-header-info">
              <div class="save-btn-header" data-toggle="tooltip" data-placement="bottom" title="Saved Providers">
                <a class="cursor" routerLink="/saved">
                  <span class="icon rel"><img src="assets/header-saved-icon-black.png" />
                    <span class="Button-badge" *ngIf="savedProvider">
                      <span *ngIf="savedProvider">{{savedProvider}}</span>
                      <span *ngIf="savedProvider > 10">{{ 10 }}+</span>
                    </span>
                  </span>
                </a>
                <!-- <a class="cursor" (click)="savedList()">
                  <img src="assets/save-icon-header-btn.svg" />
                </a> -->
              </div>
            </div>
            <!-- <div class="logout-btn-header">
              <a class="cursor" (click)="logout()">
                <img src="assets/new-logout.svg" width="20" />
              </a>
            </div> -->
          </div>
        </div>
      </nav>
    </div>
  </header>
</body>

<!-- --------------------------------------------review-modal--------------------------------------------------- -->

<div data-toggle="modal" data-target="#review" id="open_feedback_modal"></div>
<div class="modal fade verification_modal password" id="review" data-backdrop="static" data-keyboard="false"
  tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered review-pop">
    <div class="modal-content popu-ip">
      <button type="button" class="close" id="close_feedback_modal" (click)="cancelFeedback()" data-dismiss="modal"
        aria-label="Close">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
      <div class="modal-body">
        <div class="verification_outer">
          <div class="tab_outer">
            <div class="tab-content">
              <div class="tab-pane active" id="parent" role="tabpanel">
                <div class="popup_img">
                  <img src="assets/logo.png" />
                </div>
                <div class="popup_maintext">
                  How was your browsing
                  <br /> experience?
                </div>
                <div class="container images-popup">
                  <div class="row">
                    <div class="col-4" (click)="feedbackData.feedback = 'poor'">
                      <img [ngClass]="{
                            active: feedbackData.feedback === 'poor'
                          }" src="assets/smile1.svg" />
                      <p class="por-avg-grate-txt">Poor</p>
                    </div>
                    <div class="col-4" (click)="feedbackData.feedback = 'average'">
                      <img [ngClass]="{
                            active: feedbackData.feedback === 'average'
                          }" src="assets/smile2.svg" />
                      <p class="por-avg-grate-txt">Average</p>
                    </div>
                    <div class="col-4" (click)="feedbackData.feedback = 'great'">
                      <img [ngClass]="{
                            active: feedbackData.feedback === 'great'
                          }" src="assets/smile3.svg" />
                      <p class="por-avg-grate-txt">Great</p>
                    </div>
                  </div>
                </div>
                <div class="pop-upbtn">
                  <div _ngcontent-gvo-c1="" class="input-group-append">
                    <button _ngcontent-gvo-c1="" [disabled]="!feedbackData.feedback" class="Submit_btn"
                      data-dismiss="modal" type="button" (click)="submitFeedback()">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!----------------------------------------- location Modal ------------------------------------------------------->

<div class="modal fade verification_modal Location-Modal" id="locationModal" data-backdrop="static"
  data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <button type="button" class="close" id="close_modal" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="icon-close"></span>
      </button>
      <div class="modal-body">
        <div class="location-popup">
          <span><img class="logo-img" src="assets/logo.png" /></span>

          <h1>May we access your location? </h1>

          <h2>
            <span><img src="assets/location-search1.png" /></span> Help us find the best activities near you.
          </h2>
        </div>

        <div class="sign_in_btn">
          <button class="SignBtn cancel" data-dismiss="modal">Not Now</button>
          <button (click)="setCurrentLocation()" data-dismiss="modal" type="submit" class="SignBtn">
            Allow
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
