header {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    display: inline-block;
    width: 100%;
    z-index: 998;
    padding: 10px 35px 13px;
    position: fixed;
    /* top: 34px; */
}
.font-weight-600{font-weight: 600;}
.clr-purple{color: #777CEA;}
header .header_right .dropdown-menu.header-logoutdrop a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    color: #494949;
}
a.cursor.header-logo img {
    width: 130px;
    object-fit: contain;
}

header .logo {
    max-width: 136px;
    float: left;
    margin-top: 8px;
}

a.cursor.header-logo {
    width:auto;
}
.container-fluid a.cursor.header-logo {
    width: auto;
  }
header .header-lefticons{width: 32px;}
header .header_right {
    position: relative;
    margin-left: auto;
    align-items: center;
    column-gap: 14px;
}
.logout-btn-header button {
    background: linear-gradient(93.8deg, #777CEA 10.15%, #FA627D 113.46%);
    border: none;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    padding: 5px 15px;
}
.logout-btn-header img{
    filter: invert(24%) sepia(0%) saturate(4313%) hue-rotate(320deg) brightness(93%) contrast(78%);
}
.logout-btn-header img:hover{
    filter: invert(32%) sepia(88%) saturate(1816%) hue-rotate(341deg) brightness(82%) contrast(100%);
}

.header_right .progress.profile_text:after {
    content: none;
}

.navigation {
    display: inherit;
}

header .header_right .dropdown-menu {
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    border-radius: 20px;
    padding: 15px;
    left: auto !important;
    right: 0;
    margin-top: 19px;
}

header .header_right .dropdown-menu a {
    display: inline-block;
    margin: 0 0 0 30px;
    padding: 11px;
    border-radius: 20px;
    transition: 0.8s;
}

header .header_right .dropdown-menu a:hover {
    background: #EEF9FF;
}

header .header_right a {
    display: inline-block;
}

header .logo img {
    max-width: 100%;
}

header .navbar {
    padding: 0;
}

.header_right .help img {
    width: 20px;
}

.header_right .head_profile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.header_right .head_profile img {
    max-width: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 100%;
    padding: 5px;
}

.main_outer {
    min-height: calc(100vh - 239px);
}


/* start progress bar css */

.header_right .progress {
    background: none;
    margin: 11px auto 0;
    box-shadow: none;
    position: relative;
}

.header_right .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #efefef;
    position: absolute;
    top: 0;
    left: 0;
}

.header_right .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.header_right .progress .progress-left {
    left: 0;
}

.header_right .progress .progress-bar {
    font-family: 'Poppins';
    width: 100%;
    height: 100%;
    background: none;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 0;
    color: #BDBDBD;
    font-size: 16px;
    line-height: 24px;
    border-color: #777CEA;
}

.header_right .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.header_right .progress .progress-right {
    right: 0;
}

.header_right .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress[data-percentage="77"] .progress-left .progress-bar {
    animation: loading-27 0.5s linear forwards 0.5s;
}

.progress[data-percentage="77"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.header_right .progress .progress-value {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.15px;
    color: #494949;
}

.forum {
    font-family: 'Poppins';
    display: flex;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #494949;
    font-size: 16px;
    line-height: 24px;
}

.header_right .progress .progress-value span {
    font-size: 12px;
    text-transform: capitalize;
}


/* notification modal css */

.modal-content {
    border-radius: 20px;
    padding: 0px;
}

.modal-content .close {
    color: #C5CED6;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}

.modal-body.N_modal1 h2 {
    text-align: center;
    font-size: 20px;
    color: #C5CED6;
}

.bottom_btns .btn.delete_btn {
    font-size: 14px;
    color: #748494;
}

#NotificationModal .modal-dialog.modal-dialog-centered {
    max-width: 800px;
}

.bottom_btns {
    margin-top: 15px;
}

.heading_alert {
    color: #494949;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

span.red_heading_alert {
    color: #FA627D;
}

.noti_description {
    font-size: 14px;
    color: #494949;
    margin-top: 7px;
    text-transform: capitalize;
}

.noti_heading {
    padding-bottom: 5px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #858585;
    text-transform: capitalize;
}

.modal-content.noti_modal {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal-content.noti_modal .modal-body.N_modal1 {
    padding-right: 50px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.notification {
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

span.red_dot.dots-span {
    position: absolute;
    top: -8px;
    left: 16px;
}

.img-notif {
    position: relative;
    margin-right: 20px;
}

p.noti-read {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #494949;
    cursor: pointer;
}

.heading_alert {
    margin-top: 40px;
}

span.blue_heading_alert {
    color: #53B2E8;
}

hr.grey_line {
    margin-top: 10px;
}

span.red_dot,
span.blue_dot {
    padding-left: 10px;
    padding-right: 5px;
}

.view_all {
    color: #53B2E8;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}

span.three_dots {
    float: right;
}

.notification:hover {
    background: #EEF9FF;
    border-radius: 8px;
    padding-left: 7px;
    padding-right: 7px;
    transition: 0.5s;
}

span.in_close {
    float: right;
    margin-right: 15px;
}

.hide-profile-completeness{
    visibility: hidden;
    transition-timing-function: linear;
    transition-delay: 5s;
}
.show-profile-completeness:hover + .hide-profile-completeness{
    visibility: visible;
    transition-timing-function: linear;
    transition-delay: 1ms;
}
/* This for loop creates the necessary css animation names
Due to the split circle of progress-left and progress right, we must use the animations on each side.
*/

.progress[data-percentage="1"] .progress-right .progress-bar {
    animation: loading-1 0.5s linear forwards;
}

.progress[data-percentage="1"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="2"] .progress-right .progress-bar {
    animation: loading-2 0.5s linear forwards;
}

.progress[data-percentage="2"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="3"] .progress-right .progress-bar {
    animation: loading-3 0.5s linear forwards;
}

.progress[data-percentage="3"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="4"] .progress-right .progress-bar {
    animation: loading-4 0.5s linear forwards;
}

.progress[data-percentage="4"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="5"] .progress-right .progress-bar {
    animation: loading-5 0.5s linear forwards;
}

.progress[data-percentage="5"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="6"] .progress-right .progress-bar {
    animation: loading-6 0.5s linear forwards;
}

.progress[data-percentage="6"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="7"] .progress-right .progress-bar {
    animation: loading-7 0.5s linear forwards;
}

.progress[data-percentage="7"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="8"] .progress-right .progress-bar {
    animation: loading-8 0.5s linear forwards;
}

.progress[data-percentage="8"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="9"] .progress-right .progress-bar {
    animation: loading-9 0.5s linear forwards;
}

.progress[data-percentage="9"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-10 0.5s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="11"] .progress-right .progress-bar {
    animation: loading-11 0.5s linear forwards;
}

.progress[data-percentage="11"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="12"] .progress-right .progress-bar {
    animation: loading-12 0.5s linear forwards;
}

.progress[data-percentage="12"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="13"] .progress-right .progress-bar {
    animation: loading-13 0.5s linear forwards;
}

.progress[data-percentage="13"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="14"] .progress-right .progress-bar {
    animation: loading-14 0.5s linear forwards;
}

.progress[data-percentage="14"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="15"] .progress-right .progress-bar {
    animation: loading-15 0.5s linear forwards;
}

.progress[data-percentage="15"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="16"] .progress-right .progress-bar {
    animation: loading-16 0.5s linear forwards;
}

.progress[data-percentage="16"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="17"] .progress-right .progress-bar {
    animation: loading-17 0.5s linear forwards;
}

.progress[data-percentage="17"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="18"] .progress-right .progress-bar {
    animation: loading-18 0.5s linear forwards;
}

.progress[data-percentage="18"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="19"] .progress-right .progress-bar {
    animation: loading-19 0.5s linear forwards;
}

.progress[data-percentage="19"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
    animation: loading-20 0.5s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="21"] .progress-right .progress-bar {
    animation: loading-21 0.5s linear forwards;
}

.progress[data-percentage="21"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="22"] .progress-right .progress-bar {
    animation: loading-22 0.5s linear forwards;
}

.progress[data-percentage="22"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="23"] .progress-right .progress-bar {
    animation: loading-23 0.5s linear forwards;
}

.progress[data-percentage="23"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="24"] .progress-right .progress-bar {
    animation: loading-24 0.5s linear forwards;
}

.progress[data-percentage="24"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="25"] .progress-right .progress-bar {
    animation: loading-25 0.5s linear forwards;
}

.progress[data-percentage="25"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="26"] .progress-right .progress-bar {
    animation: loading-26 0.5s linear forwards;
}

.progress[data-percentage="26"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="27"] .progress-right .progress-bar {
    animation: loading-27 0.5s linear forwards;
}

.progress[data-percentage="27"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="28"] .progress-right .progress-bar {
    animation: loading-28 0.5s linear forwards;
}

.progress[data-percentage="28"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="29"] .progress-right .progress-bar {
    animation: loading-29 0.5s linear forwards;
}

.progress[data-percentage="29"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-30 0.5s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="31"] .progress-right .progress-bar {
    animation: loading-31 0.5s linear forwards;
}

.progress[data-percentage="31"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="32"] .progress-right .progress-bar {
    animation: loading-32 0.5s linear forwards;
}

.progress[data-percentage="32"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="33"] .progress-right .progress-bar {
    animation: loading-33 0.5s linear forwards;
}

.progress[data-percentage="33"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="34"] .progress-right .progress-bar {
    animation: loading-34 0.5s linear forwards;
}

.progress[data-percentage="34"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="35"] .progress-right .progress-bar {
    animation: loading-35 0.5s linear forwards;
}

.progress[data-percentage="35"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="36"] .progress-right .progress-bar {
    animation: loading-36 0.5s linear forwards;
}

.progress[data-percentage="36"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="37"] .progress-right .progress-bar {
    animation: loading-37 0.5s linear forwards;
}

.progress[data-percentage="37"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="38"] .progress-right .progress-bar {
    animation: loading-38 0.5s linear forwards;
}

.progress[data-percentage="38"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="39"] .progress-right .progress-bar {
    animation: loading-39 0.5s linear forwards;
}

.progress[data-percentage="39"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-40 0.5s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="41"] .progress-right .progress-bar {
    animation: loading-41 0.5s linear forwards;
}

.progress[data-percentage="41"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="42"] .progress-right .progress-bar {
    animation: loading-42 0.5s linear forwards;
}

.progress[data-percentage="42"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="43"] .progress-right .progress-bar {
    animation: loading-43 0.5s linear forwards;
}

.progress[data-percentage="43"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="44"] .progress-right .progress-bar {
    animation: loading-44 0.5s linear forwards;
}

.progress[data-percentage="44"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="45"] .progress-right .progress-bar {
    animation: loading-45 0.5s linear forwards;
}

.progress[data-percentage="45"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="46"] .progress-right .progress-bar {
    animation: loading-46 0.5s linear forwards;
}

.progress[data-percentage="46"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="47"] .progress-right .progress-bar {
    animation: loading-47 0.5s linear forwards;
}

.progress[data-percentage="47"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="48"] .progress-right .progress-bar {
    animation: loading-48 0.5s linear forwards;
}

.progress[data-percentage="48"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="49"] .progress-right .progress-bar {
    animation: loading-49 0.5s linear forwards;
}

.progress[data-percentage="49"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}

.progress[data-percentage="51"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="51"] .progress-left .progress-bar {
    animation: loading-1 0.5s linear forwards 0.5s;
}

.progress[data-percentage="52"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="52"] .progress-left .progress-bar {
    animation: loading-2 0.5s linear forwards 0.5s;
}

.progress[data-percentage="53"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="53"] .progress-left .progress-bar {
    animation: loading-3 0.5s linear forwards 0.5s;
}

.progress[data-percentage="54"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="54"] .progress-left .progress-bar {
    animation: loading-4 0.5s linear forwards 0.5s;
}

.progress[data-percentage="55"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="55"] .progress-left .progress-bar {
    animation: loading-5 0.5s linear forwards 0.5s;
}

.progress[data-percentage="56"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="56"] .progress-left .progress-bar {
    animation: loading-6 0.5s linear forwards 0.5s;
}

.progress[data-percentage="57"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="57"] .progress-left .progress-bar {
    animation: loading-7 0.5s linear forwards 0.5s;
}

.progress[data-percentage="58"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="58"] .progress-left .progress-bar {
    animation: loading-8 0.5s linear forwards 0.5s;
}

.progress[data-percentage="59"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="59"] .progress-left .progress-bar {
    animation: loading-9 0.5s linear forwards 0.5s;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-10 0.5s linear forwards 0.5s;
}

.progress[data-percentage="61"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="61"] .progress-left .progress-bar {
    animation: loading-11 0.5s linear forwards 0.5s;
}

.progress[data-percentage="62"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="62"] .progress-left .progress-bar {
    animation: loading-12 0.5s linear forwards 0.5s;
}

.progress[data-percentage="63"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="63"] .progress-left .progress-bar {
    animation: loading-13 0.5s linear forwards 0.5s;
}

.progress[data-percentage="64"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="64"] .progress-left .progress-bar {
    animation: loading-14 0.5s linear forwards 0.5s;
}

.progress[data-percentage="65"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="65"] .progress-left .progress-bar {
    animation: loading-15 0.5s linear forwards 0.5s;
}

.progress[data-percentage="66"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="66"] .progress-left .progress-bar {
    animation: loading-16 0.5s linear forwards 0.5s;
}

.progress[data-percentage="67"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="67"] .progress-left .progress-bar {
    animation: loading-17 0.5s linear forwards 0.5s;
}

.progress[data-percentage="68"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="68"] .progress-left .progress-bar {
    animation: loading-18 0.5s linear forwards 0.5s;
}

.progress[data-percentage="69"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="69"] .progress-left .progress-bar {
    animation: loading-19 0.5s linear forwards 0.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
    animation: loading-20 0.5s linear forwards 0.5s;
}

.progress[data-percentage="71"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="71"] .progress-left .progress-bar {
    animation: loading-21 0.5s linear forwards 0.5s;
}

.progress[data-percentage="72"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="72"] .progress-left .progress-bar {
    animation: loading-22 0.5s linear forwards 0.5s;
}

.progress[data-percentage="73"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="73"] .progress-left .progress-bar {
    animation: loading-23 0.5s linear forwards 0.5s;
}

.progress[data-percentage="74"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="74"] .progress-left .progress-bar {
    animation: loading-24 0.5s linear forwards 0.5s;
}

.progress[data-percentage="75"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="75"] .progress-left .progress-bar {
    animation: loading-25 0.5s linear forwards 0.5s;
}

.progress[data-percentage="76"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="76"] .progress-left .progress-bar {
    animation: loading-26 0.5s linear forwards 0.5s;
}

.progress[data-percentage="77"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="77"] .progress-left .progress-bar {
    animation: loading-27 0.5s linear forwards 0.5s;
}

.progress[data-percentage="78"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="78"] .progress-left .progress-bar {
    animation: loading-28 0.5s linear forwards 0.5s;
}

.progress[data-percentage="79"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="79"] .progress-left .progress-bar {
    animation: loading-29 0.5s linear forwards 0.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-30 0.5s linear forwards 0.5s;
}

.progress[data-percentage="81"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="81"] .progress-left .progress-bar {
    animation: loading-31 0.5s linear forwards 0.5s;
}

.progress[data-percentage="82"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="82"] .progress-left .progress-bar {
    animation: loading-32 0.5s linear forwards 0.5s;
}

.progress[data-percentage="83"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="83"] .progress-left .progress-bar {
    animation: loading-33 0.5s linear forwards 0.5s;
}

.progress[data-percentage="84"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="84"] .progress-left .progress-bar {
    animation: loading-34 0.5s linear forwards 0.5s;
}

.progress[data-percentage="85"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="85"] .progress-left .progress-bar {
    animation: loading-35 0.5s linear forwards 0.5s;
}

.progress[data-percentage="86"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="86"] .progress-left .progress-bar {
    animation: loading-36 0.5s linear forwards 0.5s;
}

.progress[data-percentage="87"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="87"] .progress-left .progress-bar {
    animation: loading-37 0.5s linear forwards 0.5s;
}

.progress[data-percentage="88"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="88"] .progress-left .progress-bar {
    animation: loading-38 0.5s linear forwards 0.5s;
}

.progress[data-percentage="89"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="89"] .progress-left .progress-bar {
    animation: loading-39 0.5s linear forwards 0.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-40 0.5s linear forwards 0.5s;
}

.progress[data-percentage="91"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="91"] .progress-left .progress-bar {
    animation: loading-41 0.5s linear forwards 0.5s;
}

.progress[data-percentage="92"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="92"] .progress-left .progress-bar {
    animation: loading-42 0.5s linear forwards 0.5s;
}

.progress[data-percentage="93"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="93"] .progress-left .progress-bar {
    animation: loading-43 0.5s linear forwards 0.5s;
}

.progress[data-percentage="94"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="94"] .progress-left .progress-bar {
    animation: loading-44 0.5s linear forwards 0.5s;
}

.progress[data-percentage="95"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="95"] .progress-left .progress-bar {
    animation: loading-45 0.5s linear forwards 0.5s;
}

.progress[data-percentage="96"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="96"] .progress-left .progress-bar {
    animation: loading-46 0.5s linear forwards 0.5s;
}

.progress[data-percentage="97"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="97"] .progress-left .progress-bar {
    animation: loading-47 0.5s linear forwards 0.5s;
}

.progress[data-percentage="98"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="98"] .progress-left .progress-bar {
    animation: loading-48 0.5s linear forwards 0.5s;
}

.progress[data-percentage="99"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="99"] .progress-left .progress-bar {
    animation: loading-49 0.5s linear forwards 0.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-50 0.5s linear forwards 0.5s;
}

@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(3.6);
        transform: rotate(3.6deg);
    }
}

@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(7.2);
        transform: rotate(7.2deg);
    }
}

@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(10.8);
        transform: rotate(10.8deg);
    }
}

@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(14.4);
        transform: rotate(14.4deg);
    }
}

@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(18);
        transform: rotate(18deg);
    }
}

@keyframes loading-6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(21.6);
        transform: rotate(21.6deg);
    }
}

@keyframes loading-7 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(25.2);
        transform: rotate(25.2deg);
    }
}

@keyframes loading-8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(28.8);
        transform: rotate(28.8deg);
    }
}

@keyframes loading-9 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(32.4);
        transform: rotate(32.4deg);
    }
}

@keyframes loading-10 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36);
        transform: rotate(36deg);
    }
}

@keyframes loading-11 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(39.6);
        transform: rotate(39.6deg);
    }
}

@keyframes loading-12 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(43.2);
        transform: rotate(43.2deg);
    }
}

@keyframes loading-13 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(46.8);
        transform: rotate(46.8deg);
    }
}

@keyframes loading-14 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(50.4);
        transform: rotate(50.4deg);
    }
}

@keyframes loading-15 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(54);
        transform: rotate(54deg);
    }
}

@keyframes loading-16 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(57.6);
        transform: rotate(57.6deg);
    }
}

@keyframes loading-17 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(61.2);
        transform: rotate(61.2deg);
    }
}

@keyframes loading-18 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(64.8);
        transform: rotate(64.8deg);
    }
}

@keyframes loading-19 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(68.4);
        transform: rotate(68.4deg);
    }
}

@keyframes loading-20 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(72);
        transform: rotate(72deg);
    }
}

@keyframes loading-21 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(75.6);
        transform: rotate(75.6deg);
    }
}

@keyframes loading-22 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(79.2);
        transform: rotate(79.2deg);
    }
}

@keyframes loading-23 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(82.8);
        transform: rotate(82.8deg);
    }
}

@keyframes loading-24 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(86.4);
        transform: rotate(86.4deg);
    }
}

@keyframes loading-25 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90);
        transform: rotate(90deg);
    }
}

@keyframes loading-26 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(93.6);
        transform: rotate(93.6deg);
    }
}

@keyframes loading-27 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(97.2);
        transform: rotate(97.2deg);
    }
}

@keyframes loading-28 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(100.8);
        transform: rotate(100.8deg);
    }
}

@keyframes loading-29 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(104.4);
        transform: rotate(104.4deg);
    }
}

@keyframes loading-30 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(108);
        transform: rotate(108deg);
    }
}

@keyframes loading-31 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(111.6);
        transform: rotate(111.6deg);
    }
}

@keyframes loading-32 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(115.2);
        transform: rotate(115.2deg);
    }
}

@keyframes loading-33 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(118.8);
        transform: rotate(118.8deg);
    }
}

@keyframes loading-34 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(122.4);
        transform: rotate(122.4deg);
    }
}

@keyframes loading-35 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(126);
        transform: rotate(126deg);
    }
}

@keyframes loading-36 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(129.6);
        transform: rotate(129.6deg);
    }
}

@keyframes loading-37 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(133.2);
        transform: rotate(133.2deg);
    }
}

@keyframes loading-38 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(136.8);
        transform: rotate(136.8deg);
    }
}

@keyframes loading-39 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(140.4);
        transform: rotate(140.4deg);
    }
}

@keyframes loading-40 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144);
        transform: rotate(144deg);
    }
}

@keyframes loading-41 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(147.6);
        transform: rotate(147.6deg);
    }
}

@keyframes loading-42 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(151.2);
        transform: rotate(151.2deg);
    }
}

@keyframes loading-43 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(154.8);
        transform: rotate(154.8deg);
    }
}

@keyframes loading-44 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(158.4);
        transform: rotate(158.4deg);
    }
}

@keyframes loading-45 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(162);
        transform: rotate(162deg);
    }
}

@keyframes loading-46 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(165.6);
        transform: rotate(165.6deg);
    }
}

@keyframes loading-47 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(169.2);
        transform: rotate(169.2deg);
    }
}

@keyframes loading-48 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(172.8);
        transform: rotate(172.8deg);
    }
}

@keyframes loading-49 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(176.4);
        transform: rotate(176.4deg);
    }
}

@keyframes loading-50 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180deg);
    }
}

.header_right .head_profile .progress {
    width: 40px;
    height: 40px;
    margin: 0;
}

header .header_main .nav-item {
    margin: 0 4px 0 0;
}

header .header_main .nav-link {
    font-family: 'Poppins';
    font-size: 12px;
    text-align: center;
    color: #494949;
    padding: 14px 9px 5px;
    border-radius: 13px;
    transition: 0.8s;
}

header .header_main .nav-link.active,
header .header_main .nav-link:hover {
    background: rgba(83, 178, 232, 0.1);
    color: #53B2E8;
}

header .header_main .nav-link .icon {
    width: 100%;
    display: inline-block;
    font-size: 25px;
    margin: 0 0 10px 0;
}

@media(max-width:991px) {
    header .navbar .navbar-collapse.show {
        padding: 12px 10px 0 14px !important;
        margin: 0 !important;
    }
    header .header_right a {
        width: 100% !important;
        margin: 9px 0 0 0 !important;
        text-align: center !important;
    }
    header .header_right {
        float: none !important;
    }
    header .header_right a.dropdown-item {
        text-align: left !important;
    }
    header .navbar-nav.mr-auto {
        margin-top: 30px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait) {
    header .header_main .nav-item {
        margin: 0 -20px 0 0;
    }
}


/* header changes update */

.headers_menu {
    display: inline-block;
    margin-right: 20px;
    margin-top: 4px;
}

.headers_menu ul {
    margin-top: 7px;
}

.headers_menu ul li {
    display: inline-block;
}

.headers_menu ul a {
    font-weight: normal;
    font-family: 'Poppins';
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0.001em;
    color: #494949;
}

.headers_menu ul a:hover {
    color: #53B2E8;
}

.progress-imagewith {
    display: flex;
    flex-direction: row-reverse;
}


/* .profile-completion {
    margin-top: -8px;
    margin-left: -18px;
} */

/* img.header-image-search {
    margin-left: -80px;
} */

.go_back_page {
    position: absolute;
    bottom: 27px;
}

.go_back_page p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    color: #748494;
}

.go_back_page p a {
    color: #53B2E8;
}

.sing_text {
    margin: 0;
}

.sing_text h1 {
    font-family: 'Poppins';
    font-size: 36px;
    line-height: 37px;
    color: #53B2E8;
    font-weight: 400;
    margin-top: 0;
}

.sing_text h3 {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.001em;
    color: #748494;
    margin-top: 10px;
}

.otp_outer .sign_outer {
    position: inherit;
}

.forgot_text p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: capitalize;
    color: #494949;
}

.forgot_text p a {
    color: #53B2E8;
}

.forgot_text.right {
    text-align: right;
}

.forgot_password {
    margin-top: 14px;
    padding: 0 5px;
    text-align: center;
}

.tab_outer {
    margin-top: 18px;
}

.tab_outer .nav-tabs {
    border: none;
}

.tab_outer .nav-tabs .nav-item {
    margin: 0 41px 0 0;
}

.tab_outer .nav-tabs .nav-item:last-child {
    margin: 0;
}

.tab_outer .nav-tabs .nav-link {
    text-align: center;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px 0;
    background-color: #fff;
    min-width: 198px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.001em;
    color: #494944;
    height: 100%;
}

.tab_outer .custom_select {
    min-height: 46px;
    line-height: 46px;
}

.tab_outer .form-group .form-control,
.tab_outer .form-group input {
    min-height: 47px;
    padding: 10px 14px;
}

.tab_outer .nav-tabs .nav-link span {
    width: 100%;
    display: inline-block;
    margin-top: 9px;
}

.tab_outer .nav-tabs .nav-link .svg_img path {
    stroke: #494949;
}

.tab_outer .nav-tabs .nav-link.active {
    color: #53B2E8;
    border: 1px solid #53B2E8;
}

.tab_outer .nav-tabs .nav-link.active .svg_img path {
    stroke: #53B2E8;
}

mat-icon.field-icon {
    float: right;
    margin-right: 5px;
    margin-top: -38px;
    position: relative;
    z-index: 2;
}

img.invite-gift {
    width: 23px;
}

.form-error-msg {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}
button[disabled] {
    background-color: #fa627d  !important;
    border: 1px solid #fa627d  !important;
}
@media(max-width:767px) {
    .tab_outer .nav-tabs .nav-link {
        padding: 15px 0 !important;
        min-width: 110px !important;
    }
    .tab-content .forgot_password .forgot_text {
        max-width: 100% !important;
    }
    .otp_outer {
        padding: 0 0 20px 0;
    }
    .tab_outer .nav-tabs .nav-item {
        margin: 0 20px 0 0;
    }
}

.far {
    font-variant: all-petite-caps;
    color: #beb4b4;
}

.popup_maintext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #494949;
    padding-top: 20px;
}

.popup_normal_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    color: #494949;
    PADDING-TOP: 30px;
}

.popup_img {
    display: flex;
    justify-content: center;
}

.review-pop {
    max-width: 550px !important;
}

.review-pop .popup_img img {
    width: 240px;
    object-fit: cover;
}

.review-pop .verification_outer {
    margin: 20px auto 0 !important;
}

.review-pop .popup_maintext {
    padding-bottom: 45px;
}

.review-pop .container.images-popup {
    display: flex;
    justify-content: center;
    align-content: center;
}

.review-pop .container.images-popup img {
    cursor: pointer;
}

.review-pop .container.images-popup h6 {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    cursor: pointer;
}

.review-pop .container.images-popup .active {
    filter: invert(68%) sepia(34%) saturate(1455%) hue-rotate(20deg) brightness(216%) contrast(91%) !important;
}

.review-pop button.Submit_btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    background: #53B2E8;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 15px;
    padding-left: 70px;
    padding-right: 70px;
}


/* dropdown program/provider */

.dropdownprogram {
    position: absolute;
    top: 0px;
}

.dropdownprogram .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 20px;
    width: 355px;
    min-height: auto;
    max-height: 450px;
    z-index: 999;
    top: 58px;
    left: -7px;
}

.dropdownprogram .card h6 span.search-programlist {
    float: right;
}

.dropdownprogram .card .program-list {
    padding: 10px;
}

.dropdownprogram .card h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.dropdownprogram .card .provider-list {
    padding: 10px;
}

.dropdownprogram .card h5 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.001em;
    color: #858585;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.left_search {
    margin-top: 0;
    background: #FFFFFF;
    width: 100%;
    position: relative;
    border: 1px solid #E0E0E0;
    border-radius: 40px;
    margin-left: 20px;
}

button.banner_button.cursor img {
    width: 60%;
}

.banner_form {
    display: flex;
    background: #FFFFFF;
    border-radius: 44px;
    padding: 0px 17px 0px 0px;
    align-items: center;
}

.banner_form .form-group {
    margin: 0;
}

.banner_form .form-group input {
    min-height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 25px;
    position: relative;
    z-index: 999;
}

.banner_form .form-group input.camp_input {
    max-width: 160px;
    min-width: 160px;
    /* min-width: 250px; */
    margin-top: 0px !important;
    min-height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    position: relative;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.001em;
    /* text-transform: capitalize; */
    color: #494949;
    height: 50px;
}

.banner_form .form-group input.date_input {
    background: #EFEFEF;
    border-radius: 30px;
    margin-left: 27px;
    max-width: 215px;
    min-width: auto;
}

.banner_form .form-group input::-webkit-input-placeholder,
.banner_form .form-group .form-control::-webkit-input-placeholder {
    color: #858585;
}

.banner_form .form-group input::-moz-placeholder,
.banner_form .form-group .form-control::-moz-placeholder {
    color: #858585;
}

.banner_form .form-group input::placeholder,
.banner_form .form-group .form-control::placeholder {
    color: #858585;
}

.banner_form .form-group.daterange input::placeholder,
.banner_form .form-group.daterange .form-control::placeholder {
    color: #494949 !important;
}

.banner_form .form-group .form-control.date_input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.banner_form .form-group input::placeholder {
    color: #D5DCE1;
}

.banner_form .form-group input::-webkit-input-placeholder {
    color: #D5DCE1;
}

.banner_form .form-group input:-moz-placeholder {
    color: #D5DCE1;
}

.banner_form .banner_button {
    background: #777CEA;
    border: 1px solid #777CEA;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    /* position: absolute;
    right: 14px;
    top: 7px; */
}

.search-results {
    max-height: calc(100vh - -736px);
    overflow: hidden;
    scrollbar-color: #ddd #ccc;
    scrollbar-width: thin;
    height: 100%;
    overflow-y: auto;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
}

.search-results::-webkit-scrollbar {
    width: 8px;
    height: 4px;
}


/* search location */
.search-location {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    padding-left: 20px;
}
.search-location input {
    max-width: 270px;
    min-width: 285px;
    /* min-width: 275px; */
    min-height: 50px;
    background-color: transparent;
    padding: 0px 20px 0px 7px;
}

/* .search-location:before {
    content: "";
    width: 1px;
    height: 30px;
    background-color: #E0E0E0;
    position: absolute;
    left: 0px !important;
} */


/* locatrion-popup */

.location-popup span img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.location-popup {
    padding-top: 25px;
    padding-bottom: 25px;
}

.location-popup h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #494949;
}

.location-popup h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #494949;
    padding-left: 40px;
    padding-right: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.location-popup h2 img {
    margin-top: 10px;
}

.header_main .left-searchpd {
    margin-right: auto;
    width: 512px;
}
/* 
.after-nav {
    margin-right: -84px;
} */

.Button-badge {
    position: absolute;
    bottom: 44%;
    right: -57%;
    background-color: #53B2E8;
    font-size: 10px;
    font-weight: 500;
    color: #fff;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    padding: 3px;
    text-align: center;
}

.Button-badge.noti {
    background-color: #F99964 !important;
}

span.icon.rel {
    position: relative;
}

h6.today-heading {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #748494;
}

.header-logoutdrop .active-head:hover {
    background: #EEF9FF;
    border-radius: 20px !important;
    color: #53B2E8;
}

.profile-completion {
    display: none;
}

.box {
    width: 305px;
    background-color: #53B2E8;
    color: #fff;
    padding: 10px;
    position: absolute;
    border-radius: 6px;
    right: -65px;
    top: 59px;
    display: none;
    transition: 0.5s;
}

.box.arrow-top button {
    background: #FFFFFF;
    border-radius: 20px;
    border: 0px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.001em;
    color: #53B2E8;
    padding: 3px 15px;
    margin-top: 5px;
    float: right;
}

.box.arrow-top h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin-top: 0px;
}

.box.arrow-top h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    text-transform: capitalize;
}

.box.arrow-top:after {
    content: " ";
    position: absolute;
    right: 36px;
    top: -10px;
    border-top: none;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #53B2E8;
}

span.icon.rel .box {
    display: block;
    transition: 0.5s;
}

.initial-alpha h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #53b2e8;
    font-size: 20px;
    font-family: "poppins";
    text-transform: capitalize;
}

.search-location input::placeholder {
    color: #494949;
}
.scroll-bar {
    height: calc(100vh - 35vh);
    max-height: 500px;
    overflow-y: auto;
}

 .submit-search button {
    background: #53b2e8;
    border: 1px solid #53b2e8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 12%);
    border-radius: 50px;
    color: #fff;
    width: 100%;
    height: 36px;
    margin-right: 11px;
  }
  .submit-search {
    margin-right: 10px;
}
@media screen and (min-width:850px) and (max-width:1023px) {
    /* img.header-image-search {
        margin-left: 0px;
    } */
    /* .after-nav {
        margin-right: 0px;
    } */
    .activity .media-left {
        max-width: 200px;
    }
    .banner_form .form-group input.camp_input {
        min-width: 130px;
    }
    .search-location:before {
        left: 44%;
    }
    .search-location input {
        min-width: 200px;
    }
}

@media only screen and (min-width:1024px) and (max-width:1200px) {
    /* .after-nav {
        margin-right: -17px;
    } */
    /* img.header-image-search {
        margin-left: 10px;
    } */
}

@media only screen and (min-width:1024px) and (max-width:1366px) and (orientation: portrait) {
    .search-location:before {
        left: 43%;
    }
    .search-location input {
        min-width: 200px;
    }
    .banner_form .form-group input.camp_input {
        min-width: 190px;
    }
    .activity .media-left {
        max-width: 200px;
        width: 200px;
        height: 200px;
        max-height: 200px;
        position: relative;
        border-radius: 20px;
        overflow: hidden;
    }
    /* .before-nav {
        margin-right: -15px;
    } */
    .banner_form .form-group input.date_input {
        background: #EFEFEF;
        border-radius: 30px;
        margin-left: 8px;
        max-width: 170px;
        min-width: auto;
        max-height: 53px;
        min-height: 53px;
    }
    .search-results {
        max-height: calc(100vh - -4px);
    }
    .main_collpases {
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        border-radius: 20px;
        padding: 20px 0 20px 0;
        z-index: 11;
        right: -42px;
        top: -24px;
        width: 255px;
        min-width: 176px;
        margin-top: 21px;
        text-align: left;
    }
    .banner_form .form-group input {
        min-height: 100%;
        background-color: transparent;
        border: none;
        border-radius: 0;
        padding: 0 0px 0px 25px;
    }
    .star-daialogbox {
        left: -48px;
        width: 270px;
    }
    .search-results.suggested {
        max-height: calc(100vh - 248px) !important;
    }
    .search-results.suggested.suggested-one {
        max-height: calc(100vh - 300px) !important;
    }
    .banner_form .form-group input.camp_input {
        min-width: 200px;
    }
    .list p {
        font-weight: normal;
        font-size: 11px;
    }
    .partcategory {
        min-width: 950px !important;
        padding: 0px;
    }
    #timess .form-group.typess label {
        font-size: 7px;
    }
    .search-location input {
        min-width: 115px;
    }
    .banner_form .form-group input.camp_input {
        max-width: 170px;
        min-width: 170px;
    }
    .banner_form .form-group {
        margin-left: 10px;
    }
}

::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible { 
    visibility: visible !important;
    background: white !important;
    border-radius: 20px !important; 
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%) !important; 
    position: relative !important;
   }
   ::ng-deep div.cdk-overlay-pane{
    position: relative;
    width: 100% !important;
    max-width: 530px;
    margin-top: 10px;
    z-index: inherit;
  }
 
  .autocomp{
    width: 100%;
  }
  ::ng-deep.mat-option-text{
   font-family: 'Poppins';
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   letter-spacing: 0.001em;
   color: #858585;
   padding-top: 10px;
   padding-bottom: 10px;
   cursor: pointer;
  }
 
  ::ng-deep.mat-option-text span.search-programlist {
   float: right;
 }
 
 ::ng-deep.mat-option.mat-active {
   background: #53B2E8 !important;
   color: #FFFFFF !important;
 }
 
 
 /* Hide scrollbar for Chrome, Safari and Opera */
 ::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible::-webkit-scrollbar {
   display: none !important;
 }
 
 /* Hide scrollbar for IE, Edge and Firefox */
 ::ng-deep.mat-autocomplete-panel.mat-autocomplete-visible{
   -ms-overflow-style: none !important;  /* IE and Edge */
   scrollbar-width: none !important;  /* Firefox */
 }

 .home-btn-header-info .home-btn-header a {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 16px;line-height: 18px;letter-spacing: 0.02em;color: #494949;}

.distance-search-field {display: flex;width: 100%;align-items: center;position: relative;}
.distance-search-field button {    max-width: 205px;min-width: 150px;font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 14px;line-height: 21px;color: #494949;border: none;background-color: #fff;}
.distance-search-field {position: relative;}
.distance-filter-content {position: absolute;top: 100%;left: 0;margin-top: 10px;}
.distance-filter-info {box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);border-radius: 12px;width: 100%;max-width: 167px;min-width: 167px;position: relative;padding: 15px;background-color: #fff;}
.dis-flex {display: flex;align-items: center;margin-bottom: 10px;-moz-column-gap: 9px;column-gap: 9px;}
.distance-filter-info input.k-checkbox {width: 14px;min-width: 14px;max-width: 14px;height: 14px;max-height: 14px;min-height: 14px;margin: 0px;border: 1px solid #494949;border-radius: 50px;box-sizing: border-box;display: inline-block;vertical-align: middle;position: relative;-webkit-appearance: none;cursor: pointer;padding: 0px;background-color: #fff;}
.distance-filter-info input.k-checkbox::before {width: 14px;height: 14px;font-size: 12px;line-height: 1;transform: scale(0) translate(-50%, -50%);overflow: hidden;position: absolute;top: 6px;left: 6px;content: "\2713";font-family: "poppins";display: flex;align-items: center;justify-content: center;}
.distance-filter-info input.k-checkbox:checked{border-radius: 50px; border: 1px solid #53B2E8;background-color: #53B2E8;}
.distance-filter-info label.k-checkbox-label {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em;color: #494949;padding: 0px;}
.dis-flex.circle-dot-checkbox:last-child {margin-bottom: 0px;}

.isActive{
    background-color: red;
}
.por-avg-grate-txt{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 18px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
color: #494949;
margin-top: 18px;
}
.review-pop .container.images-popup .active + p.por-avg-grate-txt {
  color: #53B2E8;
}

.notification-dropdown-info {min-width: 450px;}
button#close_notification_modal {top: 18px;position: absolute;right: 18px;opacity: 0.1;}
.distance-div{
    border-radius: 15px;
    padding: 0px;
    margin-top: 19px;
}

::ng-deep .pac-container {
        bottom: calc(100% - 250px) !important;
        top: unset !important;
        position: sticky !important;
}
span.cursor{
  margin-left: 5px;  
}