/*-----------------------------------------  signup modal css -----------------------------------------------------------*/


.otp_form {
    max-width: 440px;
    margin: 0 auto;
}

.otp_form .otp_logo {
    position: absolute;
    top: 40px;
}

.otp_form .form {
    margin-top: 13px;
}

.otp_form .form .form-group {
    margin: 0 0 10px 0;
}

.otp_form .form .form-group.email_text h2 {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.001em;
    color: #748494;
}

.otp_form .form .form-group .input_outer {
    position: relative;
}

.otp_form .form .form-group .input_outer:focus::after,
.otp_form .form .form-group .input_outer:focus-within::after {
    opacity: 1;
}

.otp_form .form .form-group .input_outer.password::after {
    content: none;
}

.otp_form .form .form-group .input_outer.password .password_view {
    position: absolute;
    right: 9px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ch-radio input[type="checkbox"]:checked+span:before,
.ch-radio input[type="checkbox"]:checked~span:before,
.ch-radio input[type="radio"]:checked+span:before,
.ch-radio input[type="radio"]:checked~span:before {
    border-color: #27AE60;
    background-color: #27AE60;
}

.sign_in_btn {
    text-align: center;
    margin: 20px 0 0 0;
}

.SignBtn {
    background: #53B2E8;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    min-width: 205px;
    min-height: 52px;
    line-height: 52px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    margin: 0 auto;
    text-transform: uppercase;
    transition: 0.8s;
}

.SignBtn:hover {
    background: #53B2E8;
}

.SignBtn.cancel {
    background: transparent;
    border: 1px solid #53B2E8;
    color: #53B2E8;
    margin: 0 auto 0 16px;
}

.SignBtn.cancel:hover {
    background: #53B2E8;
    color: #ffffff;
}

.otp_img {
    position: relative;
    overflow: hidden;
    max-height: 100vh;
}

.otp_img_overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    /* background: linear-gradient(214.99deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%); */
}

.otp_outer {
    position: relative;
}

.otp_outer .email_register {
    position: inherit;
}

.go_back_page {
    position: absolute;
    bottom: 27px;
}

.go_back_page p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #748494;
}

.go_back_page p a {
    color: #53B2E8;
}

.sing_text {
    margin: 0;
}

.sing_text h1 {
    font-family: 'Poppins';
    font-size: 36px;
    line-height: 37px;
    color: #53B2E8;
    font-weight: 400;
    margin-top: 0;
}

.sing_text h3 {
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.001em;
    color: #748494;
    margin-top: 10px;
}

.otp_outer .sign_outer {
    position: inherit;
}

.forgot_text p {
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
    color: #494949;
}

.forgot_text p a {
    color: #53B2E8;
}

.forgot_text.right {
    text-align: right;
}

.forgot_password {
    margin-top: 14px;
    padding: 0 5px;
    text-align: center;
}



.tab_outer {
    margin-top: 18px;
}

.tab_outer .nav-tabs {
    border: none;
}

.tab_outer .nav-tabs .nav-item {
    margin: 0 41px 0 0;
}

.tab_outer .nav-tabs .nav-item:last-child {
    margin: 0;
}

.tab_outer .nav-tabs .nav-link {
    text-align: center;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px 0;
    background-color: #fff;
    min-width: 198px;
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.001em;
    color: #494944;
    height: 100%;
}

.tab_outer .custom_select{
    min-height: 46px;
    line-height: 46px;
}
.tab_outer .form-group .form-control, .tab_outer .form-group input{
    min-height: 47px;
    padding: 10px 14px;
}

.tab_outer .nav-tabs .nav-link span {
    width: 100%;
    display: inline-block;
    margin-top: 9px;
}

.tab_outer .nav-tabs .nav-link .svg_img path {
    stroke: #494949;
}

.tab_outer .nav-tabs .nav-link.active {
    color: #53B2E8;
    border: 1px solid #53B2E8;
}

.tab_outer .nav-tabs .nav-link.active .svg_img path {
    stroke: #53B2E8;
}

mat-icon.field-icon {
    float: right;
    margin-right: 5px;
    margin-top: -38px;
    position: relative;
    z-index: 2;
}

.form-error-msg {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

@media(max-width:767px) {
    .tab_outer .nav-tabs .nav-link {
        padding: 15px 0 !important;
        min-width: 110px !important;
    }
    .tab-content .forgot_password .forgot_text {
        max-width: 100% !important;
    }
    .otp_outer {
        padding: 0 0 20px 0;
    }
    .tab_outer .nav-tabs .nav-item {
        margin: 0 20px 0 0;
    }
}

.far{
    font-variant: all-petite-caps;
    color: #beb4b4;
}


.fb_button {
    background: #4560B4;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 29px;
    cursor: pointer;
}
.fb_button a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #FFFFFF;
    padding-left: 16px;
}
.google_button {
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 14px;
    cursor: pointer;
}
.google_button a {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.001em;
    color: #494949;
    padding-left: 16px;
}


.popup_maintext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #494949;
    padding-top: 20px;
}
.popup_normal_text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    display: flex;
    justify-content: center;
    font-size: 20px;
    line-height: 30px;
    color: #494949;
    PADDING-TOP: 30px;
}
.popup_img{
    display: flex;
    justify-content: center;
}

/* blog-section */

section.blog-explore .box {
    width:100%;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 10%);
    border-radius: 20px;
    padding:40px;
}
.blog-explore h2.blog-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 18px;
    text-align: justify;
    color: #494949;
    padding-top: 30px;
    padding-bottom:50px;
}
h2.upper-blog-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #494949;
}
span.upper-blog-view {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #53B2E8;
    float: right;
}
.lower-content h2.lower-blog-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #494949;
    padding-top: 10px;
}
.lower-content h2.lower-blog-heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #53B2E8;
}
.lower-content {
    padding-left: 20px;
    padding-right: 40px;
}
.lower-blog {
    display: flex;
    align-items: center;
    padding-top: 20px;
}
.lower-img .lower-blog img {
    width: 110px;
    height: 94px;
    object-fit: cover;
}
  .lower-blog-sec {
    padding-top: 15px;
    padding-bottom: 15px;
}

.lower-img{
    width: 120px;
}

.blog_img{
    width: 118px;
}

.form-group .form-control::-webkit-input-placeholder {
    color: #858585;
}

.form-group .form-control::-moz-placeholder {
    color: #858585;

}
