.otp_form {max-width: 440px;margin: 0 auto;padding-top: 50px;}
.otp_form .form-group label {font-size: 14px;line-height: 21px;}

.otp_form .form .form-group {margin: 0 0 10px 0;}

.otp_form .form .form-group .input_outer:focus::after,
.otp_form .form .form-group .input_outer:focus-within::after {
    opacity: 1;
}
.otp_form .form .form-group .input_outer.password:after {
    content: none;
}
.beta-span {
    color: #53B2E8;
    cursor: pointer;
}

.otp_outer {
    position: relative;
}

.forgot_password {
    padding: 0px 5px;
    text-align: center;
    margin-top: 21px;
    margin-bottom: 20px;
}

.copyright_text {
    position: absolute;
    bottom: 20px;
    padding: 0;
}
.tab_outer .form-group .form-control,
.tab_outer .form-group input {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.001em;
    color: #494949;
    min-height: 47px;
    padding: 10px 14px;
    padding-right: 24px;
    position: relative;
    background-color: #fff;
}

.otp_outer .col-md-6 {padding: 0px;}

mat-icon.field-icon {
    float: right;
    margin-right: 5px;
    margin-top: -38px;
    position: relative;
    z-index: 2;
    font-size: 20px;
}

.form-error-msg {color: red;}
input.ng-invalid.ng-touched {border: 1px solid red;}
select.ng-invalid.ng-touched {border: 1px solid red;}

.checkbox-ask .form-check {padding: 8px;padding-top: 10px;}
.checkbox-ask .form-check label.form-check-label {font-family: "Poppins";font-style: normal;font-weight: normal;font-size: 14px; line-height: 21px;letter-spacing: 0.01em; color: #494949;margin-left: 25px;}


/*Checked checkbox*/

.k-checkbox {
    margin: 0px;
    padding: 0;
    width: 16px;
    height: 16px;
    line-height: initial;
    outline: 0px;
    box-sizing: border-box;
    position: absolute;
    -webkit-appearance: none;
    margin-right: 9px;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    border-radius: 4px;
    top: 13px;
    background-color: #fff;
}

/* .k-checkbox.k-checked::before,
.k-checkbox:checked::before {
    border-radius: 2px;
    -webkit-transform: scale(1) translate(-50%, -50%);
    -ms-transform: scale(1) translate(-50%, -50%);
    transform: scale(1) translate(-50%, -50%);
} */

.k-checkbox::before {
    width: 12px;
    height: 12px;
    font-size: 12px;
    line-height: 1;
    -webkit-transform: scale(0) translate(-50%, -50%);
    -ms-transform: scale(0) translate(-50%, -50%);
    transform: scale(0) translate(-50%, -50%);
    overflow: hidden;
    position: absolute;
    top: 54%;
    left: 48%;
    content: "\2713";
    font-family: 'poppins';
}

.k-checkbox:checked {
    background: #53B2E8;
    color: white !important;
}

#joinModal .modal-content {
    padding: 40px;
}

#joinModal .location-popup h1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.001em;
    color: #494949;
}

#joinModal .location-popup h2 {
    padding: 15px;
    justify-content: center;
}

.SignBtnss {
    background: #53B2E8;
    border: 1px solid #53B2E8;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 50px;
    min-width: 205px;
    max-height: 52px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    font-size: 13px;
    margin: 0 auto;
    text-transform: capitalize;
    transition: 0.8s;
}

.imgage-corners img {
    width: 130px;
    position: absolute;
    top: 3px;
    left: 6px;
}

.image-corners img {
    width: 130px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.form-group.choose-acti {
    position: relative;
}

.dropdown-activities h6:hover {
    background: #EEF9FF;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.dropdown-activities h6 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.001em;
    color: #494949;
    padding: 10px;
    text-transform: capitalize;
    padding-left: 15px;
}

.dropdown-activities {
    background: #FFFFFF;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    padding: 15px;
    z-index: 1;
    left: 0px;
    top: 80px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.ml-11{
    margin-left: 11px;
}
.form-check.booked {
    display: flex;
    padding-left: 3px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 30px;
    color: #494949;
    margin-bottom: 40px;
    margin-top: 20px;
}
.form-p-info select {
    margin-left: 6px;
}
label.label-occupation span {
    float: right;
    color: #AAAAAA;
}

label.label-occupation {
    width: 100%;
    margin-top: 30px;
}

.checkbox-ask {
    margin-top: 15px;
}

input.form-check-input.k-checkbox.bookeds {
    width: 30px;
    left: 34%;
    height: 30px;
    border-radius: 6px !important;
    top: 5px;
    border: 1px solid #E5E9EC;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}

.form-check.booked select {
    width: 55px;
    height: 35px;
    margin-right: 6px;
    border: 1px solid #E5E9EC;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #fff
}

.far {
    font-variant: all-petite-caps;
    color: #beb4b4;
}
#image-downArrow {
    display: block;
    margin-left: auto;
    position: relative;
    top: -30px;
    right: 10px;
    width: 15px;
}


/* Ask join page css */
.ask-join-top-logo {text-align: center;margin-bottom: 40px;}
h1.ask-heading {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 34px;line-height: 120%;text-align: center;letter-spacing: 0.001em;color: #777CEA; margin-bottom: 30px;}
h1.ask-heading a {color: #777CEA;text-decoration: underline;}

.otp_img {position: relative;overflow: hidden;height: 100%;}
.otp_img .img-fluid {width: 100%;height: 100%;object-fit: cover;}
.otp_img_overlay {position: absolute;width: 100%;height: 100%;left: 0;top: 0px;
    /* background: linear-gradient(214.99deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%); */
}

.sign_in_btn {text-align: center;margin: 20px 0 0 0;}
.SignBtn {background: #53B2E8;border: 1px solid #53B2E8;box-sizing: border-box;box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 50px;min-width: 205px;max-height: 52px;line-height: 50px;text-align: center;color: #ffffff;font-weight: 600;font-size: 14px; margin: 0 auto;text-transform: capitalize;transition: 0.8s;}
.SignBtn:hover {background: #53B2E8;}
.SignBtn.cancel {background: transparent;border: 1px solid #53B2E8;color: #53B2E8;margin: 0 auto 0 16px;}
.SignBtn.cancel:hover {background: #53B2E8;color: #ffffff;}

.ask-join-botom-txt {margin-top: 30px;text-align: center;margin-bottom: 20px;}
.ask-join-botom-txt p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 10px;line-height: 15px;letter-spacing: 0.01em;color: #494949;margin-bottom: 10px;}
.ask-join-botom-txt p a {font-weight: 600;color: #53B2E8;}
.copyright_text p {font-family: 'Poppins';font-style: normal;font-weight: 400;font-size: 12px;line-height: 18px;letter-spacing: 0.001em; color: #494949;margin-left: 30px;}

.bg-imgs-rcc{
  background-image: url(/assets/left-bottom-img.svg), url(/assets/right-bottom.svg);
  background-position: left bottom, right bottom;
  background-repeat: no-repeat, no-repeat;
  background-color: #E2F5FF;
}
.height-100vh{height: 100vh;}
.ask-join-rcc {padding: 50px 90px 170px 90px;}
.ask-join-rcc h2 {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 34px;line-height: 130%;letter-spacing: 0.001em;color: #53B2E8;margin-bottom: 40px;}
ul.ul-pci-info {position: relative;padding-left: 30px;}
ul.ul-pci-info li::before {content: url(/assets/purple-tick-icon.svg);position: absolute;left: 0px;}
ul.ul-pci-info li {font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 24px;line-height: 140%;letter-spacing: 0.001em;color: #53B2E8;margin-bottom: 30px;}
