<body>
    <div class="otp_outer">
        <div class="container-fluid">
            <div class="row height-100vh">
                <div class="col-md-6 sign_outer">
                    <div class="otp_form">
                        <div class="tab_outer">
                            <div class="tab-content">
                                <div class="tab-pane active" id="parent" role="tabpanel">
                                    <div class="form" [formGroup]="parentForm">
                                        <h1 class="ask-heading" target="_blank">Join our <a target="_blank" [routerLink]="['/about-beta']">Beta program!</a></h1>

                                        <div class="before-next" *ngIf="step1">
                                            <div class="form-group">
                                                <label>Full Name</label>
                                                <div class="input_outer">
                                                    <input type="text" class="form-control" placeholder="Type" [formControl]="parentForm.controls['name']" [(ngModel)]="userData.firstName">
                                                    <!-- <p class="cant_blank" *ngIf="parentForm.controls['name'].hasError('required') && parentForm.controls['name'].touched">
                                                        Can't Leave It Blank</p> -->
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Email</label>
                                                <div class="input_outer">
                                                    <input type="text" class="form-control" placeholder="Type" [formControl]="parentForm.controls['email']" [(ngModel)]="userData.email">
                                                    <!-- <p class="cant_blank" *ngIf="parentForm.controls['email'].hasError('required') && parentForm.controls['email'].touched">
                                                        Can't Leave It Blank</p> -->
                                                    <p class="cant_blank" *ngIf="parentForm.controls['email'].hasError('email') && parentForm.controls['email'].touched">
                                                        Invalid Email Address</p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Create Password</label>
                                                <div class="input_outer password">
                                                    <input type="password" class="form-control" placeholder="Type" placeholder="Select A Strong Password" [formControl]="parentForm.controls['password']" [(ngModel)]="userData.password" [type]="hide ? 'password' : 'text'">
                                                    <mat-icon class="field-icon" *ngIf="hide" (click)="onPassword()"><i class="far fa-eye"></i></mat-icon>
                                                    <mat-icon class="field-icon" *ngIf="!hide" (click)="onPassword()"> <i class="far fa-eye-slash"></i></mat-icon>

                                                    <!-- <p class="cant_blank" *ngIf="parentForm.controls['password'].hasError('required') && parentForm.controls['password'].touched">
                                                        Can't Leave It Blank</p> -->

                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>I’m looking for kids’ activities in...</label>
                                                <div class="input_outer">
                                                    <input type="text" class="form-control" placeholder="Your Location" (keydown.enter)="$event.preventDefault()" autocorrect="off" autocapitalize="off" spellcheck="off" #search value="" formControlName="lookingkidsActivityIn">
                                                    <!-- <p class="cant_blank" *ngIf="parentForm.controls['lookingkidsActivityIn'].hasError('required') && parentForm.controls['lookingkidsActivityIn'].touched">
                                                        Can't Leave It Blank</p> -->
                                                </div>
                                            </div>
                                            <div class="form-group choose-acti" style="display: none;">
                                                <label>I book activities for...​</label>
                                                <div class="input_outer" data-toggle="collapse" data-target="#choose-activ">
                                                    <input type="text" class="form-control" readonly placeholder="Select" [formControl]="parentForm.controls['bookedActivityFor']" [(ngModel)]="userData.bookedActivityFor">
                                                    <img src="assets/downarrow.png" alt="" id="image-downArrow">
                                                    <!-- <p class="cant_blank" *ngIf="parentForm.controls['bookedActivityFor'].hasError('required') && parentForm.controls['bookedActivityFor'].touched">
                                                        Can't Leave It Blank</p> -->
                                                </div>
                                                <div class="collapse dropdown-activities cursor" data-toggle="collapse" data-target="#choose-activ" id="choose-activ">
                                                    <h6 (click)="userData.bookedActivityFor='My kids'">My kids</h6>
                                                    <h6 (click)="userData.bookedActivityFor='Relative’s kids'">Relative’s kids</h6>
                                                    <h6 (click)="userData.bookedActivityFor='Friend’s kids'">Friend’s kids</h6>
                                                    <h6 (click)="userData.bookedActivityFor='Kids I take care of'">Kids I take care of</h6>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="after-next" [hidden]="!step2">
                                            <div class="form-check booked ml-11 form-p-info">
                                                <p>
                                            <label class="form-check-label k-checkbox-label booked-label" for="flexCheckChecked">
                                                I have booked 
                                                <select type="text" [formControl]="parentForm.controls['bookedActivityInLastMonths']" name="bookedActivityInLastMonths" [(ngModel)]="userData.bookedActivityInLastMonths">
                                                    <option value="" selected >0</option>
                                                    <option value="1-5">1-5</option>
                                                    <option value="6-10">6-10</option>
                                                    <option value="11-15">11-15</option>
                                                    <option value="15+">15+</option>

                                                </select>
                                                
                                                activities for kids in the last 6 months
                                          </label>
                                                </p>
                                            </div>

                                            <div class="form-group choose-acti">
                                                <label>I want to be a Wondrfly Beta User because</label>
                                                <div class="input_outer" data-toggle="collapse" data-target="#choose-activ">
                                                    <input type="text" class="form-control" readonly placeholder="Choose" [formControl]="parentForm.controls['wantWondrflyBetaUserBecause']" [(ngModel)]="userData.wantWondrflyBetaUserBecause">
                                                    <img src="assets/downarrow.png" alt="" id="image-downArrow">
                                                    <!-- <p class="cant_blank" *ngIf="parentForm.controls['wantWondrflyBetaUserBecause'].hasError('required') && parentForm.controls['wantWondrflyBetaUserBecause'].touched">
                                                        Can't Leave It Blank</p> -->
                                                </div>
                                                <div class="collapse dropdown-activities cursor" data-toggle="collapse" data-target="#choose-activ" id="choose-activ">
                                                    <h6 (click)="userData.wantWondrflyBetaUserBecause='I want to find the best kids activities near me'">I want to find the best kids' activities near me</h6>
                                                    <h6 (click)="userData.wantWondrflyBetaUserBecause='I want to play a role in developing a revolutionary product for parents.'">I want to play a role in developing a revolutionary product for parents. </h6>
                                                    <h6 (click)="userData.wantWondrflyBetaUserBecause='I want access to exclusive parenting resources.'">I want access to exclusive parenting resources.</h6>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="label-occupation">Occupation
                                          <span>Optional</span>
                                        </label>
                                                <div class="input_outer">
                                                    <textarea type="text" class="form-control" placeholder="e.g. Stay-at-home Parent, Designer, Consultant,  Etc." [formControl]="parentForm.controls['occupation']" [(ngModel)]="userData.occupation"></textarea>
                                                    <!-- <p class="cant_blank" *ngIf="parentForm.controls['occupation'].hasError('required') && parentForm.controls['occupation'].touched">
                                                        Can't Leave It Blank</p> -->
                                                </div>  
                                            </div>
                                            <div class="checkbox-ask">
                                                <div class="form-check">
                                                    <input class="form-check-input k-checkbox" type="checkbox" #forbetaactivity [checked]="userData.willActive" (change)="userData.willActive = !userData.willActive">
                                                    <label class="form-check-label k-checkbox-label" for="flexCheckChecked">
                                            I will be active in the <a target="_blank" [routerLink]="['/about-beta']"><span class="beta-span">Wondrfly beta program</span></a>
                                          </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sign_in_btn">
                                            <!-- <button class="SignBtn" *ngIf="step1" (click)="step2=true;step1=false" [disabled]="!userData.firstName || !userData.email || !userData.password || !userData.lat">Next</button> -->
                                            <button class="SignBtn"  (click)="askToJoin()" [disabled]="!parentForm.valid">Submit Request</button>
                                            <button style="display: none;" data-toggle="modal" data-target="#joinModal" id="openSuccessModal"></button>
                                            <button class="SignBtn cancel" *ngIf="step1" (click)="cancel()">Cancel</button>
                                            <button class="SignBtn cancel" *ngIf="step2" (click)="step1=true;step2=false">Back</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                          <div class="ask-join-botom-txt">
                            <p>By Clicking Submit Request I Hereby Agree To The WONDRFLY</p>
                            <p><a class="cursor" target="_blank" [routerLink]="['/term-condition']">Terms & Conditions</a> and <a class="cursor" [routerLink]="['/privacy-policy']" target="_blank">Privacy Policy</a></p>
                          </div>     
                        </div>
                    </div>
                    <div class="row forgot_password">
                        <div class="copyright_text">
                            <p>© {{currentYear}} Wondrfly Inc.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 bg-imgs-rcc" [hidden]="!step1">
                    <div class="step1-right-colm-info">
                        <div class="ask-join-rcc">
                            <div class="ask-join-top-logo">
                                <img routerLink="/" src="assets/logo-betawndr.png">
                            </div>
                            <!-- <h2>What you get with the Beta program:</h2> -->
                            <ul class="ul-pci-info">
                                <li>Unlimited Access to 1500+ Activities from 200+ Providers</li>
                                <li>The Ability to Save and Share your Favorite Activities </li>
                                <li>Personalized Activity Recommendations</li>
                                <li>Early Access to Brand New Features</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 img-box" [hidden]="!step2">
                    <div class="otp_img">
                        <img class="img-fluid" [defaultImage]="defaultImage" [errorImage]="errorImage" [lazyLoad]="signUpImage" />
                        <div class="otp_img_overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>


<!----------------------------------------- ask to join Modal ------------------------------------------------------->

<div class="modal fade verification_modal Location-Modal" id="joinModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="imgage-corners">
                <img src="assets/resouces-circle.png">
            </div>
            <button type="button" class="close" id='close_modal' data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="icon-close"></span>
            </button>
            <div class="modal-body">
                <div class="location-popup">
                    <h1>
                        Thank you for your interest
                    </h1>

                    <h2>
                        We will get back to you shortly!
                    </h2>
                </div>

                <div class="sign_in_btn">
                    <button class="SignBtnss" data-dismiss="modal" routerLink="/search">Explore Now</button>
                </div>
            </div>
            <div class="image-corners">
                <img src="assets/beta-image.png">
            </div>
        </div>
    </div>
</div>